<mat-card style="margin-bottom: 0">
  <mat-card-header class="padding-left-0">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>assignment</mat-icon>
        <span
          class="custom-title"> {{'evaluate-assignment.title'|translate}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-6">
        <form [formGroup]="formSave">
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'evaluate-assignment.evaluater'|translate}}</mat-label>
                <mat-select formControlName="evaluaterId" required id="evaluaterId">
                  <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
                  <mat-option *ngFor='let item of evaluaterList' [value]='item.id'>{{item.fullName}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formSave.get('evaluaterId').getError('required')">{{'validation.MSG0006' | translate}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'evaluate-assignment.channel'|translate}}</mat-label>
                <mat-select formControlName="channelId" required id="channelId">
                  <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
                  <mat-option *ngFor='let item of channelList' [value]='item.value'>{{item.label}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="formSave.get('channelId').getError('required')">{{'validation.MSG0006' | translate}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'evaluate-assignment.total-call'|translate}}</mat-label>
                <input matInput type="number" formControlName="totalCall" required (ngModelChange)="checkIsInteger()" id="totalCall"/>
                <mat-error
                  *ngIf="formSave.get('totalCall').getError('required')">{{'validation.MSG0006' | translate}}</mat-error>
                <mat-error
                  *ngIf="formSave.get('totalCall').getError('notInt')">{{'evaluate-assignment.validate.MSG0042' | translate:{field: ('evaluate-assignment.total-call'|translate)} }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'evaluate-assignment.total-user'|translate}}</mat-label>
                <input matInput type="number" formControlName="totalUserId" required
                       (ngModelChange)="onChangUserQuantity()" id="totalUserId"/>
                <mat-error
                  *ngIf="formSave.get('totalUserId').getError('required')">{{'validation.MSG0006' | translate}}</mat-error>
                <mat-error
                  *ngIf="formSave.get('totalUserId').getError('max')">{{'evaluate-assignment.validate.user-limit' | translate}}</mat-error>
                <mat-error
                  *ngIf="formSave.get('totalUserId').getError('notInt')">{{'evaluate-assignment.validate.MSG0042' | translate:{field: ('evaluate-assignment.total-user'|translate)} }}</mat-error>

              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'evaluate-assignment.call-time-from'|translate}}</mat-label>
                <input matInput [matDatepicker]='fromDatePicker' formControlName="startDate" required
                       (ngModelChange)="validateStartDate()" id="startDate"/>
                <mat-datepicker-toggle matSuffix [for]='fromDatePicker'></mat-datepicker-toggle>
                <mat-datepicker #fromDatePicker></mat-datepicker>
                <mat-error
                  *ngIf="formSave.get('startDate').getError('required')">{{'validation.MSG0006' | translate}}</mat-error>
                <mat-error
                  *ngIf="formSave.get('startDate').getError('less')">{{'evaluate-assignment.validate.date-invalid' | translate}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'evaluate-assignment.call-time-to'|translate}}</mat-label>
                <input matInput [matDatepicker]='toDatePicker' formControlName="endDate" required
                       (ngModelChange)="validateEndDate()" id="endDate"/>
                <mat-datepicker-toggle matSuffix [for]='toDatePicker'></mat-datepicker-toggle>
                <mat-datepicker #toDatePicker></mat-datepicker>
                <mat-error
                  *ngIf="formSave.get('endDate').getError('required')">{{'validation.MSG0006' | translate}}</mat-error>
                <mat-error
                  *ngIf="formSave.get('endDate').getError('less')">{{'evaluate-assignment.validate.date-invalid' | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
      <div class="col-6">
        <mat-card style="margin-top: 4px; margin-bottom: 0; padding: 0">
          <mat-card-header class="margin-0 padding-left-0">
            <strong class="font-16px">{{'evaluate-assignment.user-list.title'|translate}}</strong>
          </mat-card-header>
          <mat-card-content>
            <mtx-grid [showColumnMenuButton]='false' [data]='userList' [columns]='columns'
                      [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                      [columnHideable]='true' [columnMovable]='true' [showPaginator]='false'
                      [loading]='isLoading' [headerTemplate]='header1Tpl' [cellTemplate]='{login: loginTpl, number: numberTpl }'
                      [noResultText]="'common.notify.no-record-result' | translate" pageSize="999999999">
              <ng-template #header1Tpl let-header>
                <div>
                  {{header.i18n | translate}}
                </div>
              </ng-template>
              <ng-template #loginTpl let-row>
                <div style="text-align: left">
                  <mat-checkbox class="example-margin" style="width: 100%" [(ngModel)]="row.checked"
                                [ngModelOptions]="{standalone: true}"
                                [disabled]="row.disabled || !this.formSave.value.totalUserId || this.formSave.value.totalUserId <= 0"
                                (ngModelChange)="onCheckedReachLimit()">
                    {{row.login}}
                  </mat-checkbox>
                </div>
              </ng-template>
              <ng-template #numberTpl let-row>
                <div class="text-right">
                  {{row.number ? row.number : 0}}
                </div>
              </ng-template>
            </mtx-grid>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>{{'common.button.close'|translate}}</button>
    <button mat-raised-button color="primary" [disabled]="formSave.invalid"
            (click)="onReturnData()" *ngIf="!input.id">{{'evaluate-assignment.assign-button'|translate}}</button>
    <button mat-raised-button color="primary" [disabled]="formSave.invalid"
            (click)="onReturnData()" *ngIf="input.id">{{'evaluate-assignment.update-button'|translate}}</button>
  </mat-dialog-actions>
</mat-card>
