.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.font-16px {
  font-size: 16px;
}



:host ::ng-deep {
  .mtx-grid-layout {
    max-height: 350px !important;
  }
}
