<div style="height: fit-content; padding: 2%;box-sizing: border-box; width: 800px;">
    <h2 mat-dialog-title>{{'common.setting.permission.title' | translate}}</h2>
    <mat-dialog-content class="mat-typography">
        <h3><strong>{{'common.select.permission' | translate}}</strong></h3>
        <div *ngFor="let authority of authorityList" style="margin-left: 2%;">
            <mat-checkbox [color]="primary" [checked]="checkedValue(authority)"
                (change)="changeAuthority($event.checked, authority)">
                {{authority}}
            </mat-checkbox>
        </div>
        <br />
        <button type="submit" color="primary" mat-raised-button class="mr-3" (click)="setAuthorities()">
            {{'common.button.save' | translate}}
        </button>
        <button mat-button mat-dialog-close>{{"common.button.cancle"|translate}}</button>
    </mat-dialog-content>
</div>