<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">

        <form [formGroup]="formInput" >
          <div class="card-body">
            <mat-label><b>Tạo loại danh mục</b></mat-label>
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'code' | translate }}</mat-label>
                  <input matInput name="code" formControlName="code" type="text"/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Tên tiếng việt</mat-label>
                  <input matInput name="name" type="text" formControlName="name" />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Tên tiếng anh</mat-label>
                  <input matInput type="text" name="engName" formControlName="engName" />
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'effectDate' | translate }}</mat-label>
                  <input matInput [matDatepicker]="fromDate" formControlName="fromDate">
                  <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                  <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'expiredDate' | translate }}</mat-label>
                  <input matInput [matDatepicker]="toDate" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                  <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
                <mat-error *ngIf=" formInput.controls.endDate.errors
                        && formInput.controls.endDate.errors.dateNotBefore &&
                        formInput.controls.endDate.errors.dateNotBefore.dateNotBefore
                        === 'notBefore'">
                  {{'common.error.date.invalid'| translate}}
                </mat-error>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'status' | translate }}</mat-label>
                  <mat-select class="w-100" formControlName="status">
                    <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                    <mat-option  [value]="'0'">{{'common.select.normal'| translate}}</mat-option>
                    <mat-option  [value]="'1'">{{'common.select.prioritize'| translate}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4"></div>
              <div class="col-4">
                <button mat-raised-button color="primary" class="mr-2"
                        (click)="closeDialog()" >
                  {{'common.button.cancle' | translate}}
                </button>
                <button mat-raised-button color="primary" class="mr-2"
                        (click)="saveOptionSet()" [disabled]="!formInput.valid">
                  {{'common.button.save' | translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
