<div fxLayout="row wrap" class="matero-row cp-brand-search" xmlns="http://www.w3.org/1999/html">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form action="">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'contentHandling' | translate }}</mat-label>
                  <textarea style="width: 100%; height: 120px" name="contentHandling" matInput></textarea>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'dateHandling' | translate }}</mat-label>
                  <input matInput type="text" readonly name="dateHandling" />
                </mat-form-field>
              </div>
              <div class="col-6">
                  <mat-label>{{ 'historyHandling' | translate }}</mat-label>
                  <br>
                  <span *ngFor="let his of dataHistoryProcessTicket">
                    - {{his.createUser}} &nbsp; ({{his.createDatetime | date: 'dd/MM/yyyy hh:mm'}}) : {{his.content}}
                    <br>
                  </span>
                <br>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'file' | translate }}</mat-label>
                  <ngx-mat-file-input multiple ></ngx-mat-file-input>
                </mat-form-field>
              </div>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
              <button mat-raised-button color="primary" class="mr-2"
                      type="submit" >
                {{'closeHandling' | translate}}
              </button>
              <button  mat-raised-button color="primary" class="mr-2" (click)="createTicket()"
                       type="submit">{{'saveHandling' | translate}}</button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

