<mat-tab-group dynamicHeight>
  <mat-tab label="{{'configDeadline' | translate}}">
    <app-configuration-processing-term></app-configuration-processing-term>
  </mat-tab>
  <mat-tab label="{{'menu.authorization-infomation' | translate}}">
    <app-authorization-voc></app-authorization-voc>
  </mat-tab>
</mat-tab-group>
