<mat-tree #tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
  <mat-nested-tree-node *matTreeNodeDef="let data">
    <li>
      <div class="mat-treeo-node">
        <button mat-icon-button [attr.aria-label]="'toggle ' + data.name" (click)="changeState(data)">
          <mat-icon class="mat-icon-rtl-mirror">
            {{data.expanded ? 'remove_circle_outline' : 'add_circle_outline'}}
          </mat-icon>
        </button>
        <span style="vertical-align: middle;" class="label-tree" (click)="chooseNode(data)"
          [class.activated]="selectedData == data">
          <i class="material-icons" *ngIf="data.type ==1">person_outline</i>
          <i class="material-icons" *ngIf="data.type ==2">sd_storage</i>
          <i class="material-icons" *ngIf="data.type ==3">directions_car</i>

          &nbsp;
          <span style="vertical-align: middle;display: table-cell;" class="">{{data.name}}</span>
        </span>
      </div>
      <ul [class.example-tree-invisible]="!data.expanded">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
