.config-auto-email {
  ::ng-deep {
    .mat-checkbox-layout {
      margin-bottom: auto;
    }
  }


}

::ng-deep {
  .mtx-grid .mat-cell:last-of-type, .mtx-grid .mat-footer-cell:last-of-type, .mtx-grid .mat-header-cell:last-of-type {
    padding: 0 !important;
  }
}

.material-icons {
  font-size: 20px !important;
}
