.btn-group {
  display: flex;
  float: right;
}

.label-form {
  display: block;
  font-size: 16px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

mat-card {
  margin-bottom: 0px;
  padding-bottom: 0px;

  .mat-card-header {
    padding-left: 0px;
    padding-right: 0px;
  }
}

mat-form-field {
  width: 100%;
}

:host ::ng-deep {
  .custom-card-footer {
    border-top: 0.5px solid #d8d8d8;
    background: #f7f7f7;
    margin-bottom: 0px !important;
  }
}
