<mat-card>
  <mat-card-header>
    <div fxLayout='row wrap' fxLayoutGap='20px grid'>
      <div fxFlex='100' fxFlex.lt-sm='100'>
        <span class='title'>{{'common.form.title.update' | translate}}</span>
        <mat-icon mat-dialog-close class='icon-close'>close</mat-icon>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content [formGroup]='optionsSetValueForm'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'directoryType' | translate }}</mat-label>
            <input matInput formControlName='optionSetName' readonly>
          </mat-form-field>
        </div>
        <div class='col-6'>

          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'code' | translate}}</mat-label>
            <input matInput formControlName='code' readonly>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>Tên tiếng việt</mat-label>
            <input matInput formControlName='name'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>Tên tiếng anh</mat-label>
            <input matInput formControlName='englishName'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'index' | translate}}</mat-label>
            <input type='number' matInput formControlName='ord'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'group' | translate}}</mat-label>
            <input matInput formControlName='groupName'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{ 'effectDate' | translate }}</mat-label>
            <input matInput [matDatepicker]='fromDate' formControlName='fromDateView'>
            <mat-datepicker-toggle matSuffix [for]='fromDate'></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{ 'expiredDate' | translate }}</mat-label>
            <input matInput [matDatepicker]='endDate' formControlName='endDateView'>
            <mat-datepicker-toggle matSuffix [for]='endDate'></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
          <!-- Show error endDate must bigger than fromDate  -->
          <!-- <mat-error *ngIf=" optionsSetValueForm.controls.endDate.errors
&& optionsSetValueForm.controls.endDate.errors.dateNotBefore &&
optionsSetValueForm.controls.endDate.errors.dateNotBefore.dateNotBefore
=== 'notBefore'">
              {{'common.error.date.invalid'| translate}}
          </mat-error>
          <mat-error *ngIf=" optionsSetValueForm.controls.endDate.errors
&& optionsSetValueForm.controls.endDate.errors.dateNotBefore &&
optionsSetValueForm.controls.endDate.errors.dateNotBefore.dateNotBefore
=== 'notSelectBefore'">
              {{'common.error.fromDate.required'| translate}}
          </mat-error> -->
        </div>
        <br><br>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label> {{'status' | translate}}</mat-label>
            <mat-select formControlName='status' (selectionChange)='changeOptionStatus($event)'>
              <mat-option *ngFor='let o of listStatus' [value]='o.value'>
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>
  </mat-card-content>
  <mat-card-header class='custom-card-footer' fxLayout='row' fxLayoutAlign='center center'>
    <button mat-raised-button color='primary' class='mr-2' type='reset' (click)='close()' style='min-width: 7vw'>
      {{'common.button.cancle' | translate}}
    </button>
    <button mat-raised-button color='primary' class='mr-2' type='submit' (click)='update()' style='min-width: 7vw'>
      {{'common.button.save' | translate}}
    </button>
  </mat-card-header>
</mat-card>
