<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form [formGroup]="campaignScriptAnwser">
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.anwsers.column.codeAnwser' | translate }}</mat-label>
                  <input matInput name="code" formControlName="code" type="text"/>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.anwsers.column.codeQuestion' | translate }}</mat-label>
                  <input matInput name="questionCode"  formControlName="questionCode" type="text"/>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.anwsers.column.type' | translate }}</mat-label>
                  <select matNativeControl required formControlName="type" (click)="checkTypes()">
                    <option value="1">One</option>
                    <option value="2">Multil</option>
                    <option value="3">Text</option>
                    <option value="4">Rank</option>
                  </select>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.anwsers.column.position' | translate }}</mat-label>
                  <input matInput name="position" formControlName="position" onlyNumber type="number"/>
                </mat-form-field>
              </div>
              <div class="col-2" *ngIf="checkType">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.anwsers.min' | translate }}</mat-label>
                  <input matInput name="min" formControlName="min" type="number" onlyNumber/>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.anwsers.max' | translate }}</mat-label>
                  <input matInput name="max" formControlName="max" type="number" onlyNumber/>
                </mat-form-field>
              </div>
              <div class="col-12">
                  <mat-label>{{ 'campain-script.anwsers.column.content' | translate }}</mat-label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span [hidden]="checkND" style="color: red">*{{ 'campain-script.question.null-content' | translate }}</span>
                  <ejs-richtexteditor [toolbarSettings]='tools' formControlName="content"></ejs-richtexteditor>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-4">
                <button class="mr-2 btn btn-success" (click)="addScriptAnwser()"
                        [disabled]="!campaignScriptAnwser.valid">
                  {{'campain-script.anwsers.save' | translate}}
                </button>
                <button mat-raised-button color="primary" class="mr-2" (click)="reset()">
                  {{'campain-script.anwsers.reset' | translate}}
                </button>
                <button class="mr-2 btn btn-warning" (click)="closeDialog()">
                  {{'campain-script.anwsers.back' | translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mtx-grid [showColumnMenuButton]="false" [data]="dataAnwser" [columns]="columns" [multiSelectable]="true"
                  [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                  [pageIndex]="offset" [pageSize]="pagesize" [headerTemplate]="header1Tpl"
                  [cellTemplate]="{index: templateOrderNumber, content: contentTpl, type:typeTpl}"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChange($event)" [length]="total" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #contentTpl let-header>
          <div [innerHTML]="header?.content">
<!--            <ejs-richtexteditor [toolbarSettings]='tools' value="{{header?.content}}" [enabled]="false" maxLength="500">-->
<!--            </ejs-richtexteditor>-->
          </div>
        </ng-template>
        <ng-template #typeTpl let-header>
          <div>
            {{header?.type === '1' ? 'One' : header?.type === '2' ? 'Multil' : header?.type === '3' ? 'Text' : 'Rank'}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
          <div class="text-center">{{index + 1 + offset * pagesize}}</div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
