<div fxLayout="row wrap" class="matero-row cp-brand-search">
    <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <form [formGroup]="optionSetUpdateForm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <mat-label>{{ 'code' | translate }}</mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput formControlName="code" name="code" maxLength="255" type="text" #code required readonly>
                                </mat-form-field>
                                <span *ngIf="optionSetUpdateForm.controls.code.invalid &&
                optionSetUpdateForm.controls.code.touched" class="text-danger">
                  *Cần nhập mã
                </span>

                            </div>
                            <div class="col-6">
                                <mat-label>{{ 'name' | translate }}</mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput formControlName="name" maxLength="255" type="text" #name>
                                </mat-form-field>
                                <!-- <span *ngIf="optionSetUpdateForm.controls.name.invalid &&
                optionSetUpdateForm.controls.code.touched" class="text-danger">
                  *Cần nhập tên
                </span> -->

                            </div>
                            <div class="col-6">
                                <mat-label>{{ 'Tên tiếng anh' | translate }}</mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput formControlName="name" [maxLength]="255" type="text" #name>
                                </mat-form-field>
                                <span *ngIf="optionSetUpdateForm.controls.name.invalid &&
                                optionSetUpdateForm.controls.name.touched" class="text-danger">
                  *Cần nhập tên
                </span>

                            </div>
                            <div class="col-6">
                                <mat-label>{{ 'effectDate' | translate }}</mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput [matDatepicker]="fromDate" formControlName="fromDate">
                                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                                    <mat-datepicker #fromDate></mat-datepicker>
                                </mat-form-field>
                                <span *ngIf="optionSetUpdateForm.controls.fromDate.invalid &&
                                optionSetUpdateForm.controls.fromDate.touched" class="text-danger">
                  *Cần nhập ngày hiệu lực
                </span>

                            </div>
                            <div class="col-6">
                                <mat-label>{{ 'expiredDate' | translate }}</mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput [matDatepicker]="endDate" formControlName="endDate" required>
                                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                                    <mat-datepicker #endDate></mat-datepicker>
                                </mat-form-field>
                                <span *ngIf="optionSetUpdateForm.controls.endDate.invalid &&
                                optionSetUpdateForm.controls.endDate.touched" class="text-danger">
                  *Cần nhập ngày hết hiệu lực
                </span>

                            </div>
                            <div class="col-6">
                                <mat-label>{{ 'status' | translate }}</mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-select name="status" required>
                                        <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                                        <mat-option [value]="1">
                                            {{'Hiệu lực'}}
                                        </mat-option>
                                        <mat-option [value]="0">
                                            {{'Hết hiệu lực'}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 btn-group">
                        <button mat-raised-button color="primary" class="mr-2" type="reset" (click)="closeDialog()">
              {{'common.button.cancle' | translate}}</button>
                        <button mat-raised-button color="primary" class="mr-2" type="submit" (click)="update()" [disabled]="!optionSetUpdateForm.valid">
              {{'common.button.save' | translate}}</button>
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>