<mat-card>
  <mat-card-header>
    <mat-icon>list_alt</mat-icon>
    <h5>{{'send-sms-one.title'|translate}}</h5>
  </mat-card-header>
  <mat-card-content [formGroup]="sendSMSOne" >
    <div class="row">
      <div class="col-12">
        <h6>{{'send-sms-one.list-phone-number-title'|translate}}</h6>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'send-sms-one.list-phone-number' | translate }}</mat-label>
          <textarea matInput name="listPhoneNumber" formControlName="listPhoneNumber" type="text" style="min-height: 150px"></textarea>
        </mat-form-field>
        <h6>{{'send-sms-one.content'|translate}}</h6>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'send-sms-one.content-import' | translate }}</mat-label>
          <textarea matInput name="content" formControlName="content" type="text" style="min-height: 150px"></textarea>
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button style="margin-top: 10px" color="primary" class="mr-2"
            type="button" [disabled]="!sendSMSOne.valid" (click)="sendEmail()">
      {{'send-sms-one.title' | translate}}
    </button>
  </mat-card-content>
</mat-card>
