<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>assignment</mat-icon>
        <span
          class="custom-title"> {{(isSaving ? 'campaignTemplate.addTemplate' : 'campaignTemplate.copyTemplate')|translate}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content [formGroup]="formGroup">
    <mat-form-field *ngIf="!isSaving" appearance="outline">
      <mat-label>{{'campaignTemplate.chooseTemplate'|translate}}</mat-label>
      <select-lazy-load [data]="templates" [field]="field" formControlName="id"></select-lazy-load>
      <mat-error>
        <app-inline-message [message]="'campaignTemplate.chooseTemplate'" [formName]="formGroup.get('id')">
        </app-inline-message>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'campaignTemplate.templateName'|translate}}</mat-label>
      <input matInput type="text" formControlName="campaignName" [autoFocus]="isSaving"/>
      <mat-error>
        <app-inline-message [message]="'campaignTemplate.templateName'" [formName]="formGroup.get('campaignName')">
        </app-inline-message>
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-header class="custom-card-footer" fxLayout="row">
    <div fxFlex="20" fxFlex.lg="40">
      <button class="btn btn-primary addBtn" [disabled]="formGroup.invalid"
              (click)="save()">{{(isSaving ? 'common.button.insert' : 'common.button.copy')|translate}}</button>
    </div>
    <div fxFlex="20" fxFlex.lg="30" fxFlexOffset="60" fxFlexOffset.lg="30">
      <button class="btn btn-secondary icon-close" (click)="dismiss()">{{'common.button.close'|translate}}</button>
    </div>
  </mat-card-header>
</mat-card>
