input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
:host ::ng-deep {
  .unit .mat-form-field-wrapper {
    background: #e4e4e4;
    padding-bottom: 0.56375em;
  }
}
