<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form [formGroup]="formGroup" >
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'requestType' | translate }}</mat-label>
                  <mat-select formControlName="requestType" name="requestType" required>
                      <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                      <mat-option *ngFor="let data of selectRequest" [value]="data.code" >
                        {{data?.name}}
                      </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-inline-message-advance [formName]="formGroup.controls.requestType" [message]="'requestType'"></app-inline-message-advance>
                  </mat-error>
<!--                  <mat-error style="font-size: 13px" *ngIf="f.submitted && requestType.invalid" class="e-file-invalid">-->
<!--                    <span *ngIf="requestType.errors.required">{{'validation.requestType' | translate}}</span>-->
<!--                  </mat-error>-->
                </mat-form-field>
              </div>

              <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'businessType' | translate }}</mat-label>
                  <mat-select formControlName="bussinessType" required>
                    <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                    <mat-option *ngFor="let data of selectBusiness" [value]="data?.id">
                      {{data?.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-inline-message-advance [formName]="formGroup.controls.bussinessType" [message]="'businessType'"></app-inline-message-advance>
                  </mat-error>
<!--                  <mat-error style="font-size: 13px" *ngIf="f.submitted && bussinessType.invalid" class="invalid">-->
<!--                  <span *ngIf="bussinessType.errors.required">{{'validation.businessType' | translate}}</span>-->
<!--                </mat-error>-->
                </mat-form-field>
              </div>

              <div class="col-2" style="padding-right: unset">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'timeHandling' | translate }}</mat-label>
                  <input onlyNumberCharacterDirective formControlName="processTime" #processTime  matInput  name="processTime" type="number" [max]="confirmTime.value" required/>
<!--                  <mat-error style="font-size: 13px" *ngIf="f.submitted && processTime.invalid" class="invalid">-->
<!--                  <span *ngIf="processTime.errors.required">{{'validation.time' | translate}}</span>-->
<!--                </mat-error>-->
                  <mat-error>
                    <app-inline-message-advance [customMessage]="{
                      fromToDate: 'Thời gian xử lý phải nhỏ hơn thời gian xác nhận'
                    }" [formName]="formGroup.controls.processTime" [message]="'timeHandling'"></app-inline-message-advance>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-1" style="padding-left: unset">
                <mat-form-field appearance="outline" class="w-100 unit">
                  <mat-select formControlName="processTimeType"  name="processTimeType" required>
                    <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                    <mat-option *ngFor="let telco of timer" [value]="telco.code">
                      {{telco.time}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
<!--                -->
<!--                <span *ngIf="f.submitted && processTimeType.invalid" class="invalid">-->
<!--&lt;!&ndash;                  <div *ngIf="processTimeType.errors.required"></div>&ndash;&gt;-->
<!--                </span>-->
              </div>

              <div class="col-2" style="padding-right: unset">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'timeConfirm' | translate }}</mat-label>
                  <input  onlyNumberCharacterDirective matInput #confirmTime formControlName="confirmTime" name="confirmTime" type="number" required/>
<!--                  <mat-error style="font-size: 13px" *ngIf="f.submitted && confirmTime.invalid" class="invalid">-->
<!--                  <span *ngIf="confirmTime.errors.required">{{'validation.time' | translate}}</span>-->
<!--                </mat-error>-->
                  <mat-error>
                    <app-inline-message-advance [customMessage]="{
                      toFromDate: 'Thời gian xác nhận phải lớn hơn thời gian xử lý'
                    }" [formName]="formGroup.controls.confirmTime" [message]="'timeConfirm'"></app-inline-message-advance>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-1" style="padding-left: unset">
                <mat-form-field appearance="outline" class="w-100 unit">
                  <mat-select formControlName="confirmTimeType" name="confirmType" required>
                    <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                    <mat-option *ngFor="let telco of timer" [value]="telco.code" (select)="telco.code == '1'">
                      {{telco.time}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
<!--                <span *ngIf="f.submitted && confirmTimeType.invalid" class="invalid">-->
<!--&lt;!&ndash;                  <div *ngIf="confirmTimeType.errors.required"></div>&ndash;&gt;-->
<!--                </span>-->
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'file' | translate }}</mat-label>
                  <mat-toolbar style="height: auto !important; background: transparent">
                    <ngx-mat-file-input multiple (change)="uploadFile($event)" id="fileUpload"></ngx-mat-file-input>
                    <button type="button" mat-flat-button>Chọn file</button>
                  </mat-toolbar>
                </mat-form-field>
              </div>
              <div class="col-6" style="padding-top: 17px">
<!--                <input #inputElement type="file" name="file" style="display: none;" title="" (change)="handleFileInput($event.target.files)"/>-->
                <button mat-raised-button color="success" class="mr-2"
                        type="button" (click)="clickShowFileUpload()">
                  <img class="matero-avatar" src="../../../../assets/images/upload.png" width="25" alt="upload" />
                  {{'common.button.insert' | translate}}
                </button>
                <button mat-raised-button color="success" class="mr-2"
                        type="button" (click)="downloadFile()">
                  <img class="matero-avatar" src="../../../../assets/images/download.png" width="25" alt="edit" />
                  {{'common.button.downloadFileModel' | translate}}
                </button>
              </div>
              <div *ngIf="importComplete" class="col-12">
                <div class="col-6">
                  <a style="text-decoration: underline; cursor: pointer;" (click)="downloadResult()">{{'common.notify.import.downloadResult' | translate}}</a>
                </div>
              </div>
              <div class="col-6">
                <button *ngIf="!idConfig"  mat-raised-button color="primary" class="mr-2"
                        type="button" (click)="submit()">
                  {{'common.button.saveInformation' | translate}}
                </button>
                <button *ngIf="idConfig" mat-raised-button color="primary" class="mr-2"
                        type="button" (click)="submit()" >
                  {{'common.button.update' | translate}}
                </button>
                <button (click)="reset()" mat-raised-button color="primary" class="mr-2"
                        type="reset">{{'common.button.cancle' | translate}}</button>
              </div>

            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'configDeadlineList' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form action="" [formGroup]="formInput" (ngSubmit)="onSearch()">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <button mat-raised-button type="button" color="primary" (click)="exportExcel()">Export</button>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'common.filter.searchParam' | translate }}</mat-label>
                  <input matInput formControlName="keyword" [maxLength]="20" type="text" #keyword
                  >
                </mat-form-field>
              </div>

            </div>

          </div>
        </form>
        <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                  [loading]="isLoading" [pageIndex]="offset" [pageSize]="pagesize"
                  [headerTemplate]="header1Tpl" [cellTemplate]="{no: templateOrderNumber,
                createDateStr: createDateStr,timeRepeat : timeRepeat, rn : rn,processTime:proTime,confirmTime:confTime}"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChange($event)" [length]="totalRecord" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
          <!--          <div class="text-center">{{index + 1 + pageIndex * pagesize}}</div>-->
        </ng-template>
        <ng-template #createDateStr let-row let-index="index">
          <div class="text-center w-100">{{row?.createDateStr || ''}}</div>
        </ng-template>

        <ng-template #timeRepeat let-row let-index="index">
          <div class="text-right">{{row?.timeRepeat || ''}}</div>
        </ng-template>
        <ng-template #rn let-row let-index="index">
          <div class="text-center w-100">{{row?.rn || ''}}</div>
        </ng-template>
        <ng-template #proTime let-row let-index="index">
          <div class="text-center w-100">{{row?.processTime }}({{row?.processTimeType |valueToText:timer:'time':'code' }})</div>
        </ng-template>
        <ng-template #confTime let-row let-index="index">
          <div class="text-center w-100">{{row?.confirmTime }}({{row?.confirmTimeType |valueToText:timer:'time':'code' }})</div>
        </ng-template>
        <ng-template #reqType let-row let-index="index">
          <div *ngIf="row.requestType == 1">
            <span>{{'question' | translate}}</span>
          </div>
          <div *ngIf="row.requestType == 2">
            <span>{{'request' | translate}}</span>
          </div>
          <div *ngIf="row.requestType == 3">
            <span>{{'complain' | translate}}</span>
          </div>
        </ng-template>
        <ng-template #busType let-row let-index="index">
          <div *ngIf="row.bussinessType == 1">
            <span>{{'register' | translate}}</span>
          </div>
          <div *ngIf="row.bussinessType == 2">
            <span>{{'payment' | translate}}</span>
          </div>
          <div *ngIf="row.bussinessType == 3">
            <span>{{'bidding' | translate}}</span>
          </div>
          <div *ngIf="row.bussinessType == 4">
            <span>{{'cts' | translate}}</span>
          </div>
        </ng-template>
        <ng-template #index let-row let-index="index">
          <div *ngIf="row.id">
            <span>{{index+1}}</span>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
