<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'report-complaint.management.titleSearch' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form class="row card-body" [formGroup]="reportDetailForm">
          <div class="col-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint.management.column.chanelType' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="channelType">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of chanelTypes" [value]="data?.code">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint.management.column.requestType' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="requestType">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of requestTypes" [value]="data?.code">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint.management.column.businessType' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="bussinessType">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of businessTypes" [value]="data?.id + ''">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint.management.column.staffName' | translate }}</mat-label>
              <input matInput formControlName="receiveUser">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint.management.column.fromDate' | translate }}</mat-label>
              <input [readonly]="true" matInput [matDatepicker]="fromDate" formControlName="fromDate"
                     [max]="reportDetailForm.value.toDate || today" (ngModelChange)='onChangeFromDate()'>
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
              <mat-error>
                <app-inline-message [formName]="reportDetailForm.get('fromDate')">
                </app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint.management.column.toDate' | translate }}</mat-label>
              <input [readonly]="true" matInput [matDatepicker]="toDate" formControlName="toDate"
                     [min]="reportDetailForm.value.fromDate " [max]="today">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
              <mat-error>
                <app-inline-message [formName]="reportDetailForm.get('toDate')">
                </app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12">
            <button mat-raised-button color="primary" class="mr-2"
                    type="button" (click)="search(true)">
              {{'common.button.search' | translate}}
            </button>
            <button mat-raised-button color="primary" class="mr-2"
                    type="button" (click)="export()">
              {{'common.button.exportExcel' | translate}}
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'report-complaint.management.title' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                  [loading]="isLoading" [pageIndex]="offset" [pageSize]="pagesize"
                  [headerTemplate]="header1Tpl"
                  [cellTemplate]="{index: templateOrderNumber, notProcess: notProcess, processing: processing,
                  processed: processed, confirming: confirming, complete: complete
                  }"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChange($event)" [length]="total" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
          <div class="text-center">{{index + 1 + offset * pagesize}}</div>
        </ng-template>
        <ng-template #notProcess let-row let-index="index">
          <div class="text-center cus-pointer" (click)="showDetail(row , 1)">{{row?.notProcess}}</div>
        </ng-template>
        <ng-template #processing let-row let-index="index">
          <div class="text-center cus-pointer" (click)="showDetail(row , 2)">{{row?.processing}}</div>
        </ng-template>
        <ng-template #processed let-row let-index="index">
          <div class="text-center cus-pointer" (click)="showDetail(row , 3)">{{row?.processed}}</div>
        </ng-template>
        <ng-template #confirming let-row let-index="index">
          <div class="text-center cus-pointer" (click)="showDetail(row , 4)">{{row?.confirming}}</div>
        </ng-template>
        <ng-template #complete let-row let-index="index">
          <div class="text-center cus-pointer" (click)="showDetail(row , 5)">{{row?.complete}}</div>
        </ng-template>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div *ngIf="selectStaff" fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'report-complaint.management.titleDetail' | translate }}
            {{selectStaff?.staffName}}-{{('report-complaint.management.status.' + selectStaff?.status)|translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mtx-grid [showColumnMenuButton]="false" [data]="dataDetail" [columns]="columns2"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeListDetail"
                  [loading]="isLoadingDetail" [pageIndex]="offsetDetail" [pageSize]="pagesizeDetail"
                  [headerTemplate]="header2Tpl"
                  [cellTemplate]="{index: templateOrderNumber2}"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChangeDetail($event)" [length]="totalDetail" style="text-align: center">
        </mtx-grid>
        <ng-template #header2Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber2 let-row let-index="index">
          <div class="text-center">{{index + 1 + offsetDetail * pagesizeDetail}}</div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

