.title_cus {
  min-height: 48px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .15);
}

.custom-title {
  position: absolute;
  padding-top: 4px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
}

button[mat-icon-button] {
  $small-size-button: 24px;
  $small-size-icon: 18px;

  &.icon-button-small {
    width: $small-size-button;
    height: $small-size-button;
    line-height: $small-size-button;

    .mat-icon {
      font-size: $small-size-icon;
      width: $small-size-icon;
      height: $small-size-icon;
      line-height: $small-size-icon;
    }

    .mat-button-ripple {
      font-size: inherit;
      width: inherit;
      height: inherit;
      line-height: inherit;
    }
  }
}
