
<div mat-dialog-content>
  <h4>{{message}}</h4>
</div>

<div class="text-center">
  <button mat-raised-button color="primary" class="mr-2" (click)="onDismiss()">{{'common.button.close' | translate}}</button>
  <button mat-raised-button color="primary" class="mr-2" (click)="onSaveCommission()">{{'cp-brand-mn-confirm-save-commission' | translate}}</button>
  <button mat-raised-button color="primary" (click)="onSaveNormal()">{{'cp-brand-mn-confirm-save-normal' | translate}}</button>
</div>
