<div role="group" class="example-tel-input-container"
     [formGroup]="parts"
     (focusin)="onFocusIn($event)"
     (focusout)="onFocusOut($event)">
  <input class="example-tel-input-element"
         formControlName="hour" size="2"
         maxLength="2"
         onlyNumber
         (input)="_handleInput(parts.controls.hour, minute)"
         (keypress)="hourFilter($event)"
         #hour>
  <span class="example-tel-input-spacer">:</span>
  <input class="example-tel-input-element"
         formControlName="minute"
         maxLength="2"
         size="2"
         onlyNumber
         (keypress)="minuteFilter($event)"
         (input)="_handleInput(parts.controls.minute)"
         (keyup.backspace)="autoFocusPrev(parts.controls.minute, hour)"
         #minute>
</div>
