.QuestionComponent{
  width: 100%;
  border-radius: 5px;
  border:black 1px dashed;
}

.IndexQuestion{
  margin-left: 3%;
  transform: translate(0,60%);
}
.buttonIcon{
  margin-left: 3%;
  transform: translate(0,50%);
}
.QuestionContent{
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}

