<mat-card>
  <mat-card-header>
    <div fxLayout='row wrap' fxLayoutGap='20px grid'>
      <div fxFlex='100' fxFlex.lt-sm='100'>
        <span class='title'>{{'common.form.title.insert' | translate}}</span>
        <mat-icon mat-dialog-close class='icon-close'>close</mat-icon>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content [formGroup]='optionsSetValueForm'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'directoryType' | translate }}</mat-label>
            <mat-select formControlName='optionSetId' (selectionChange)='changeOptionSet($event)'>
              <mat-option [value]="''">{{'common.select' | translate}}</mat-option>
              <mat-option *ngFor='let o of optionSets' [value]='o.optionSetId'>
                {{o.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'code' | translate}}</mat-label>
            <input matInput formControlName='code'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>Tên tiếng việt</mat-label>
            <input matInput formControlName='name'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>Tên tiếng anh</mat-label>
            <input matInput formControlName='englishName'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'index' | translate}}</mat-label>
            <input type='number' matInput formControlName='ord'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'group' | translate}}</mat-label>
            <input matInput formControlName='groupName'>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{ 'effectDate' | translate }}</mat-label>
            <input matInput [matDatepicker]='fromDate' formControlName='fromDate'>
            <mat-datepicker-toggle matSuffix [for]='fromDate'></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{ 'expiredDate' | translate }}</mat-label>
            <input matInput [matDatepicker]='endDate' formControlName='endDate'>
            <mat-datepicker-toggle matSuffix [for]='endDate'></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
            <mat-error *ngIf=" optionsSetValueForm.controls.endDate.errors
                        && optionsSetValueForm.controls.endDate.errors.dateNotBefore &&
                        optionsSetValueForm.controls.endDate.errors.dateNotBefore.dateNotBefore
                        === 'notBefore'">
              {{'common.error.date.invalid'| translate}}
            </mat-error>
            <mat-error *ngIf=" optionsSetValueForm.controls.endDate.errors
                        && optionsSetValueForm.controls.endDate.errors.dateNotBefore &&
                        optionsSetValueForm.controls.endDate.errors.dateNotBefore.dateNotBefore
                        === 'notSelectBefore'">
              {{'common.error.fromDate.required'| translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <br><br>

        <div class='col-6'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label> {{'status' | translate}}</mat-label>
            <input matInput value='' type='text' disabled>
          </mat-form-field>
        </div>

      </div>
    </div>

    <mat-card-header class='custom-card-footer' fxLayout='row' fxLayoutAlign='center center'>
      <button class='mr-2' mat-raised-button color='primary' type='reset' (click)='save()' [disabled]='!optionsSetValueForm.valid' style='min-width: 7vw'>
        {{'common.button.save' | translate}}
      </button>
      <button class='ml-2' mat-raised-button color='primary' type='submit' (click)='close()' style='min-width: 7vw'>
        {{ 'common.button.cancle' | translate}}
      </button>
    </mat-card-header>
  </mat-card-content>
</mat-card>

