<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100">
    <mat-tab-group dynamicHeight>
      <mat-tab label="{{'roles-groups.title'|translate}}">
        <ng-template matTabContent>
          <app-roles-groups></app-roles-groups>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'role-category.title'|translate}}">
        <ng-template matTabContent>
          <app-roles-category></app-roles-category>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'roles-actions-recovery.title'|translate}}">
        <ng-template matTabContent>
          <app-roles-actions-recovery></app-roles-actions-recovery>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
