<div fxLayout='row wrap' class='matero-row'>
  <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    {{'menu.report-productivity-callout-campaign' | translate}}
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <form [formGroup]='formSearch' class='row card-body'>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-productivity-callout-campaign.campaign-name' | translate}}</mat-label>
          <mat-select formControlName='campaign'>
            <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of lstCampaign' [value]='item.value'>
              {{item.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-productivity-callout-campaign.operator' | translate}}</mat-label>
          <input matInput formControlName='operator'>
        </mat-form-field>
      </div>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-productivity-callout-campaign.from-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='fromDate' formControlName='fromDate' [max]='maxFromDate' (ngModelChange)='onChangeFromDate()'>
          <mat-datepicker-toggle matSuffix [for]='fromDate'></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
          <mat-error
            *ngIf="formSearch.get('fromDate').value > maxFromDate">
            {{'report-productivity-callout-campaign.validate.max-from-date' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-productivity-callout-campaign.to-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='toDate' formControlName='toDate' [min]='minToDate' (ngModelChange)='onChangeToDate()'>
          <mat-datepicker-toggle matSuffix [for]='toDate'></mat-datepicker-toggle>
          <mat-datepicker #toDate></mat-datepicker>
          <mat-error
            *ngIf="formSearch.get('toDate').value < minToDate">
            {{'report-productivity-callout-campaign.validate.min-to-date' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div style='width: 20%; padding: 8px'>
        <button mat-raised-button class='ml-1 mr-3' color='primary' type='button' style='min-width: 6vw; margin-top: 4px' (click)='search()'>
          {{'report-productivity-callout-campaign.search' | translate}}
        </button>
        <button mat-raised-button color='primary' type='button' style='min-width: 6vw; margin-top: 4px' (click)='export()'>
          {{'report-productivity-callout-campaign.export' | translate}}
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <mtx-grid [showColumnMenuButton]='false' [data]='lst' [columns]='columns'
              [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
              [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
              [pageSizeOptions]='pageSizeList' [loading]='isLoading'
              [pageIndex]='pageIndex' [pageSize]='pageSize'
              [headerTemplate]='header1Tpl' [cellTemplate]='{no: templateOrderNumber, totalCall: totalCall, statusConnect: statusConnect, statusCall: statusCall}'
              [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]='false'
              (page)='onPageChange($event)' [length]='totalRecord'>
      <ng-template #header1Tpl let-header>
        <div>
          {{header.i18n | translate}}
        </div>
      </ng-template>
      <ng-template #templateOrderNumber let-row let-index='index'>
        <span>{{index + 1 + pageSize * pageIndex}}</span>
      </ng-template>
      <ng-template #totalCall let-row let-index='index'>
        <div class='text-center'>
          {{row.totalCall}}
        </div>
      </ng-template>
      <ng-template #statusConnect let-row let-index='index'>
        <div class='text-center'>
          <span *ngIf="row.statusConnect === 'thanh cong'">{{'report-productivity-callout-campaign.success' | translate}}</span>
          <span *ngIf="row.statusConnect === 'that bai'">{{'report-productivity-callout-campaign.error' | translate}}</span>
        </div>
      </ng-template>
      <ng-template #statusCall let-row let-index='index'>
        <div class='text-center'>
          <span *ngIf="row.statusCall === 'thanh cong'">{{'report-productivity-callout-campaign.success' | translate}}</span>
          <span *ngIf="row.statusCall === 'that bai'">{{'report-productivity-callout-campaign.error' | translate}}</span>
        </div>
      </ng-template>
    </mtx-grid>
  </mat-card>
</div>
