<mat-card class="margin-bottom-0">
  <mat-card-header class="padding-left-0">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>assignment</mat-icon>
        <span
          class="custom-title"> {{('campaign-resource-assign.title')|translate}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formSave">

      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'campaign-resource-assign.form.number_data'|translate}}</mat-label>
            <input matInput type="text" [disabled]="true" [(ngModel)]="data.totalData"
                   [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
        </div>
        <div class="col-6" *ngFor="let item of data.lstGroupDto">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ item.name }}</mat-label>
            <input matInput type="number" [formControlName]="item.id.toString()"/>
            <mat-error *ngIf="formSave.get(item.id.toString()).invalid">{{'campaign-resource-assign.form.validate.invalid' | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>

  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>{{'campaign-resource-assign.form.btn_close'|translate}}</button>
    <button mat-raised-button color="primary" [disabled]="formSave.invalid" (click)="assignmentAction()">{{'campaign-resource-assign.form.btn_assign'|translate}}</button>
  </mat-dialog-actions>
</mat-card>
