<mat-card>
  <mat-card-header>
    <div class="card-body">
      <div class="row">
        <div class="col-11">
          <div class="row">
            <mat-icon>list_alt</mat-icon>
            <h5>{{'criteria_detail.title'|translate}}</h5>
          </div>
        </div>
        <div class="col-1">
          <mat-icon style="float: right; cursor: pointer" (click)="backCriteria()">close</mat-icon>
        </div>
      </div>
    </div>
  </mat-card-header>
  <br>
  <mat-card-content [formGroup]="criteriaDetailForm" >
    <div class="row">
      <div class="col-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'criteria_detail.criteria_group' | translate }}</mat-label>
          <mat-select class="w-100" formControlName="criteriaGroupId">
            <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
            <mat-option *ngFor="let item of criteriaGroup" [value]="item?.id" (click)="getCriteriaByCriteriaGroupId(item.id)">
              {{item?.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf=" criteriaDetailForm.controls.criteriaGroupId.errors?.required">
            {{'validation.MSG0006'| translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'criteria_detail.criteria' | translate }}</mat-label>
          <mat-select class="w-100" formControlName="criteriaId">
            <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
            <mat-option *ngFor="let item of criteria" [value]="item?.id" (click)="onSelectChange(item)">
              {{item?.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf=" criteriaDetailForm.controls.criteriaId.errors?.required">
            {{'validation.MSG0006'| translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'criteria_detail.criteria_scores_have' | translate }}</mat-label>
          <input matInput  type="number" readonly [value]="criteriaScores"/>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'criteria_detail.criteria_scores' | translate }}</mat-label>
          <input matInput name="scores" formControlName="scores" type="number"/>
          <mat-error *ngIf=" criteriaDetailForm.controls.scores.errors?.required">
            {{'validation.MSG0006'| translate}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-6">
        <mat-label>{{ 'criteria_detail.content' | translate }}</mat-label>
        <span *ngIf="criteriaDetailForm.get('content').errors?.required" style="color: red"> *
          {{'validation.MSG0006'| translate}}
        </span>
        <span *ngIf="criteriaDetailForm.get('content').hasError('maxlength')" style="color: red"> *
          {{'criteria_detail.validate500'| translate}}
        </span>
        <br>
        <ejs-richtexteditor [toolbarSettings]='tools' formControlName="content" style="min-height: 400px; max-height: 400px; overflow-y: scroll"></ejs-richtexteditor>
      </div>
      <div class="col-6">
        <mat-label>{{ 'criteria_detail.description' | translate }}</mat-label>
        <br>
        <ejs-richtexteditor [toolbarSettings]='tools' formControlName="description" style="min-height: 400px; max-height: 400px; overflow-y: scroll"></ejs-richtexteditor>
      </div>
    </div>
    <br>
    <div class="row">
      <button style="margin-top: 10px; margin-left: 8px" class="mr-2 btn btn-success"
              type="button" (click)="addCriteriaDetail()" [disabled]="criteriaDetailForm.invalid">
        {{buttonTitle}}
      </button>
      <button style="margin-top: 10px" class="mr-2 btn btn-success"
              type="button"  (click)="backCriteria()">
        {{buttonTitle2}}
      </button>
    </div>
  </mat-card-content>
</mat-card>
