<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <div fxLayout="row wrap" fxLayoutGap="8px grid">
      <div fxFlex="10" fxFlexOffset="90">
        <button mat-dialog-close style="margin-left: 38px;margin-bottom: 10px;" mat-stroked-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'customer.adjustCommissionHis' | translate }}</mat-card-title>
      </mat-card-header>
      <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"
                [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                [pageIndex]="pageIndex" [pageSize]="pageSize"
                [headerTemplate]="header1Tpl"
                [cellTemplate]="{no: templateOrderNumber,updatedDate:updatedDateTpl,content:contentTpl}"
                [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="true"
                (page)="pageChange($event)">
      </mtx-grid>
      <ng-template #header1Tpl let-header>
        {{header.i18n | translate}}
      </ng-template>
      <ng-template #templateOrderNumber let-row let-index="index">
        <span>{{index + 1 + pageIndex * pageSize}}</span>
      </ng-template>
      <ng-template #updatedDateTpl let-row>
        <span>{{row?.updatedDate ? (row?.updatedDate | date :'dd/MM/yyyy hh:mm') : ''}}</span>
      </ng-template>
      <ng-template #contentTpl let-row>
        <span>{{row?.oldValue && row?.newValue ? (row?.oldValue + ' => ' + row?.newValue) : ''}}</span>
      </ng-template>
    </mat-card>
  </div>
</div>
