<mat-card style="height: 100vh;margin-bottom: unset">
  <mat-card-header>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <span class="title">{{'kms-management.post.notApprove'|translate}}</span>
        <mat-icon (click)="onDismiss()" class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content style="height: 84vh;overflow-y: auto;padding: 5px;overflow-x: hidden">
    <mtx-grid [showColumnMenuButton]="false" [data]="posts"
              [columns]="postTable"
              [multiSelectable]="true" [rowHover]="true" [showToolbar]="false"
              [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
              [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
              [loading]="isLoading" [pageIndex]="pageIndex" [pageSize]="pageSize"
              [headerTemplate]="header1Tpl"
              [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
              (page)="onPageChange($event)" style="text-align: center; width: 100%"
              [cellTemplate]="{no: templateOrderNumber}"
              [rowSelectable]="true" (rowSelectionChange)="onRowSelect($event)" [length]="total">
    </mtx-grid>
    <ng-template #header1Tpl let-header>
      <div>
        {{header.i18n | translate}}
      </div>
    </ng-template>
    <ng-template #templateOrderNumber let-row let-index="index">
      <div class="text-center">{{index + 1 + offset * pageSize}}</div>
    </ng-template>
    <ng-template #sendDate let-row let-index="index">
      <div *ngIf="row.sendDate">
        <span>{{row.sendDate | date : 'dd/MM/yyyy'}}</span>
      </div>
    </ng-template>
  </mat-card-content>
  <mat-card-header class="custom-card-footer" fxLayout="row" fxLayoutAlign="left center"  style="margin-top: -7px !important;margin-bottom: unset">
    <button style="min-width: 100px" class="btn btn-primary mr-3" [disabled]="!selectLists?.length"
            (click)="save()">{{'kms-management.post.postApprove'|translate}}</button>
    <button style="min-width: 100px" class="btn btn-primary mr-3" [disabled]="!selectLists?.length"
            (click)="delete()">{{'kms-management.post.postDelete'|translate}}</button>
  </mat-card-header>
</mat-card>
