<mat-tab-group animationDuration="0ms" (selectedIndexChange)="select($event)">
    <mat-tab>
        <ng-template mat-tab-label>
            &nbsp;{{"user.management.active"|translate}}
        </ng-template>
        <ng-container *ngIf="selected===0">
            <app-user-list [active]="true"> </app-user-list>
        </ng-container>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            &nbsp;{{"user.management.locked"|translate}}
        </ng-template>
        <ng-container *ngIf="selected===1">
            <app-user-list [active]="false"> </app-user-list>
        </ng-container>
    </mat-tab>
</mat-tab-group>
