<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lg="100" class="matero-col">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="20" fxFlex.lg="30">
        <mat-card class="card-left">
          <mat-icon>assignment</mat-icon>
          <span class="custom-title">{{'record-call-result.campaignInfo' | translate}}</span>
          <div fxLayout="column" class="part">
            <mat-icon>record_voice_over</mat-icon>
            <span class="campaign-name">{{'campaign-resource.columns.campaign-name' | translate}}</span>
            <span class="text-danger font-weight-bold mt-1">{{campaignName}}</span>
          </div>
          <div fxLayout="column" class="part">
            <mat-icon>gps_fixed</mat-icon>
            <span class="campaign-name">{{'campaign.management.column.status' | translate}}</span>
            <span class="text-danger font-weight-bold mt-1">Khảo sát mới</span>
          </div>
          <div fxLayout="column" class="part">
            <mat-icon>edit</mat-icon>
            <span class="campaign-name">{{'common.action'|translate}}</span>
            <div fxLayout="row">
              <div fxFlex="100">
                <span class="badge bg-success"
                      (click)="getTheNextPhoneNumber(campaignId.value)">{{'record-call-result.newCall'|translate}}</span>
                <span class="badge bg-primary"
                      (click)="onOpenEnterOuterCall()">{{'record-call-result.outerCall'|translate}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="part">
            <mat-icon>sync</mat-icon>
            <span class="campaign-name">{{'record-call-result.changeCampaign'|translate}}</span>
            <mat-form-field appearance="outline">
              <select-lazy-load [formControl]="campaignId" [data]="campaign"
                                [field]="field" [touched]="true"
                                [placeholder]="'common.button.search'|translate"></select-lazy-load>
              <mat-error>
                <app-inline-message [formName]="campaignId"
                                    [message]="'campaign-resource.campaign'"></app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card>
      </div>
      <div fxFlex="80" fxFlex.lg="70">
        <mat-card class="card-right">
          <mat-icon>assignment</mat-icon>
          <span class="custom-title">{{'record-call-result.callInfo'|translate}}</span>
          <div *ngIf="arrControls.length>0" [formGroup]="formGroup" class="row form-group" style="padding-top: 25px">
            <ng-container *ngFor="let control of arrControls">
              <ng-container [ngSwitch]="control.type">
                <div *ngSwitchCase="Constant.DATETIME_TYPE_ID" class="col-3 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>{{control.name}}</mat-label>
                    <input matInput [formControlName]="control.id" [ngxMatDatetimePicker]="picker"
                           placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker>
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="Constant.CALL_PHONE_TYPE_ID" class="col-3 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>{{control.name}}</mat-label>
                    <input matInput [formControlName]="control.id">
                    <button [disabled]="control.editable===Constant.EDITABLE" mat-icon-button matSuffix>
                      <mat-icon>phone_in_talk</mat-icon>
                    </button>
                  </mat-form-field>

                </div>

                <div *ngSwitchCase="Constant.TEXT_AREA_TYPE_ID" class="col-3 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>{{control.name}}</mat-label>
                    <textarea rows="5" [formControlName]="control.id" matInput></textarea>
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="Constant.DATE_TYPE_ID" class="col-3 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>{{control.name}}</mat-label>
                    <input matInput [formControlName]="control.id" [matDatepicker]="datepicker">
                    <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="Constant.TEXT_BOX_TYPE_ID" class="col-3 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>{{control.name}}</mat-label>
                    <input matInput [formControlName]="control.id">
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="Constant.CBX_TYPE_ID" class="col-3 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>{{control.name}}</mat-label>
                    <mat-select [formControlName]="control.id">
                      <mat-option *ngFor="let opt of control.options" [value]="opt.code">
                        {{opt.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="Constant.TIME_TYPE_ID" class="col-3 col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>{{control.name}}</mat-label>
                    <app-time-picker (focusout)="handleTime(control.id)"
                                     [formControlName]="control.id"></app-time-picker>
                    <button mat-icon-button matSuffix>
                      <mat-icon>access_alarms</mat-icon>
                    </button>
                    <input matInput hidden/>
                  </mat-form-field>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lg="100" class="matero-col">
    <mat-card>
      <mat-icon>assignment</mat-icon>
      <span class="custom-title">{{'record-call-result.history'|translate}}</span>
      <mtx-grid *ngIf="isRenderTable" [showColumnMenuButton]="false" [data]="dataModel.dataSource"
                [columns]="columns"
                [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                [columnHideable]="true"
                [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                [loading]="isLoading" [pageIndex]="pageIndex" [pageSize]="pagesize"
                [headerTemplate]="headerTpl" (page)="pageChange($event)"
                [cellTemplate]="{no: templateOrderNumber,action:actionTpl}"
                [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="true"
                [length]="totalRecord">
      </mtx-grid>
      <ng-template #headerTpl let-header>
        {{header.i18n | translate}}
      </ng-template>
      <ng-template #templateOrderNumber let-row let-index="index">
        <span>{{index + 1 + pageIndex * pagesize}}</span>
      </ng-template>
      <ng-template #actionTpl let-row>
        <button mat-icon-button color="primary" (click)="onOpenAudioPlayer()">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </ng-template>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lg="100" class="matero-col">
    <mat-card class="scenario">
      <mat-icon>assignment</mat-icon>
      <span class="custom-title">{{'record-call-result.scenario'|translate}}</span><br>
      <span class="welcome">{{scenarios.length > 0 ? scenarios[0].startContent : ''}}</span>
      <mtx-grid *ngIf="isRenderQuestion" [showColumnMenuButton]="false" [data]="scenarios"
                [columns]="columnsScenario"
                [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                [columnHideable]="true"
                [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                [loading]="isLoading" [pageIndex]="pageIndex" [pageSize]="pagesize"
                [headerTemplate]="headerTpl" (page)="pageChange($event)"
                [cellTemplate]="{questions: questionsTml,answers:answersTml}"
                [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="true"
                [length]="totalRecord">
      </mtx-grid>
      <span class="welcome">{{scenarios.length > 0 ? scenarios[0].endContent : ''}}</span>
      <ng-template #headerTpl let-header>
        {{header.i18n | translate}}
      </ng-template>
      <ng-template #questionsTml let-row let-index="index">
        <span [innerHTML]="row?.question"></span>
      </ng-template>
      <ng-template #answersTml let-row let-index="index">
        <ng-container *ngFor="let a of row?.answers">
          <ng-container [ngSwitch]="a.type">
            <div *ngSwitchCase="Constant.ANSWER_TYPE_TEXT">
              <mat-form-field appearance="outline">
                <mat-label>{{a.content}}</mat-label>
                <input [(ngModel)]="questionAndAnswers[a.id]" matInput type="text">
              </mat-form-field>
            </div>
            <div *ngSwitchCase="Constant.ANSWER_TYPE_CHECKBOX">
              <mat-checkbox [(ngModel)]="questionAndAnswers[a.id]" class="checkbox">{{a.content}}</mat-checkbox>
            </div>
            <div *ngSwitchCase="Constant.ANSWER_TYPE_RADIO">
              <mat-radio-group [(ngModel)]="questionAndAnswers[a.radioValues[0].id]">
                <mat-radio-button class="mr-2" *ngFor="let radio of a.radioValues"
                                  [value]="radio.id+':'+radio.content">{{radio.content}}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div *ngSwitchCase="Constant.ANSWER_TYPE_RANKING">
              <span class="font-weight-bold">{{'record-call-result.evaluate'|translate}}</span><br><br>
              <mat-radio-group [(ngModel)]="questionAndAnswers[a.radioValues[0].id]">
                <mat-radio-button class="mr-3" *ngFor="let radio of a.radioValues"
                                  [value]="radio.content">{{radio.content}}</mat-radio-button>
              </mat-radio-group>
            </div>
          </ng-container>
        </ng-container>
      </ng-template>
      <div *ngIf="isRenderQuestion && isRenderTable" fxLayout="row wrap" class="matero-row"
           fxLayoutAlign="center center">
        <button class="btn btn-success mt-3" (click)="onSave()">{{'common.button.saveInformation'|translate}}</button>
      </div>
    </mat-card>
  </div>
</div>
