:host ::ng-deep {
  mat-form-field:not(.mat-paginator-page-size-select) {
    width: 100%;
  }

  mtx-grid {
    padding-top: 20px !important;
  }

  .scenario {
    .mat-paginator-outer-container > .mat-paginator-container {
      display: none !important;
    }

    mtx-grid.mtx-grid .mat-table .mat-row .mat-cell:first-child {
      text-align: left !important;
    }
  }

  .mtx-grid .mat-table .mat-cell:not(.mtx-grid-checkbox-cell), .mtx-grid .mat-table .mat-footer-cell:not(.mtx-grid-checkbox-cell), .mtx-grid .mat-table .mat-header-cell:not(.mtx-grid-checkbox-cell) {
    min-width: 160px;
  }

  mtx-grid {
    margin-bottom: 10px;
  }
}

.btn {
  min-width: 100px;
}

.card-right, .card-left {
  min-height: 50vh;
}

@media screen and (max-width: 1440px) {
  .card-right, .card-left {
    min-height: 60vh;
  }
}

.campaign-name {
  position: absolute;
  padding-top: 7px;
  padding-left: 25px;
  font-weight: 500;
}

.part:not(:last-child) {
  border-bottom: 0.5px solid #eaeaea;
}

.part {
  padding: 20px 0px;
}

.badge {
  font-size: 100%;
  cursor: pointer;
  margin-right: 3px;
  font-weight: 500 !important;
  margin-top: 5px;
}

.record-history {
  padding-top: 20px;
}

.welcome {
  font-size: 14px;
}
