<!--<div fxLayout="row wrap" class="matero-row">-->
<!--  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">-->
<!--    <div fxLayout="row wrap" fxLayoutGap="8px grid">-->
<!--      <div fxFlex="10" fxFlexOffset="90">-->
<!--        <button mat-dialog-close style="margin-left: 38px;margin-bottom: 10px;" mat-stroked-button>-->
<!--          <mat-icon>close</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--&lt;!&ndash;    <mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card-title>{{ 'customer.searchAccount' | translate }}</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;        <form [formGroup]="formSearch" class="form-field-full">&ndash;&gt;-->

<!--&lt;!&ndash;          <div fxLayout="row wrap" fxLayoutGap="8px grid">&ndash;&gt;-->
<!--&lt;!&ndash;            <div fxFlex="50" fxFlex.lt-sm="100">&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-form-field appearance="outline">&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-label>{{ 'customer.province' | translate }}</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-select formControlName="provinceId">&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-option [value]="'-1'">{{'customer.allOptions' | translate}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;                  <mat-option *ngFor="let s of lstProvince" [value]="s?.provinceId">&ndash;&gt;-->
<!--&lt;!&ndash;                    {{s?.provinceName | translate}}&ndash;&gt;-->
<!--&lt;!&ndash;                  </mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                  <app-inline-message [formName]="formSearch.get('provinceId')"&ndash;&gt;-->
<!--&lt;!&ndash;                                      [message]="'customer.province'"></app-inline-message>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;              </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div fxFlex="50" fxFlex.lt-sm="100">&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-form-field appearance="outline">&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-label>{{ 'Username' | translate }}</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input matInput formControlName="userName"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;                  <app-inline-message [formName]="formSearch.get('userName')"&ndash;&gt;-->
<!--&lt;!&ndash;                                      [message]="'Username'"></app-inline-message>&ndash;&gt;-->
<!--&lt;!&ndash;                </mat-error>&ndash;&gt;-->
<!--&lt;!&ndash;              </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->

<!--&lt;!&ndash;          <div fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px"&ndash;&gt;-->
<!--&lt;!&ndash;               fxLayoutGap.xs="0">&ndash;&gt;-->
<!--&lt;!&ndash;            <button mat-raised-button color="primary" style="margin-right: 8px;" (click)="search()"&ndash;&gt;-->
<!--&lt;!&ndash;                    type="submit">{{ 'common.button.search' | translate }}</button>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card>&ndash;&gt;-->
<!--    <div fxLayout fxLayoutAlign="end">-->
<!--      <button mat-raised-button color="primary" mat-dialog-close-->
<!--              style="margin-bottom: 10px;margin-right: 15px">{{ 'common.button.close' | translate }}</button>-->
<!--    </div>-->
<!--&lt;!&ndash;    <mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <mat-card-header>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <mat-card-title>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;          {{ ('customer.listAccount' | translate) + '(' + totalRecord + ')'}}&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </mat-card-title>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </mat-card-header>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;      <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                [loading]="isLoading" [pageIndex]="pageIndex" [pageSize]="pageSize"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                [headerTemplate]="header1Tpl"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                [cellTemplate]="{no: templateOrderNumber}"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                (page)="pageChange($event)" [length]="totalRecord">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </mtx-grid>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-template #header1Tpl let-header>&ndash;&gt;-->
<!--&lt;!&ndash;        {{header.i18n | translate}}&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;      <ng-template #templateOrderNumber let-row let-index="index">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <span>{{index + 1 + pageIndex * pageSize}}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
