<div fxLayout="row wrap" class="matero-row list-group-member">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-card class="mat-elevation-z3">
      <form #ngForm="ngForm" [formGroup]="form">
        <mat-card-header>
          <h6>{{"group_call_out.list_group_members_called_out"|translate}} {{groupUserInfo?.name}}</h6>
        </mat-card-header>
        <mat-card-content class="card-body">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Thêm thành viên' | translate }}</mat-label>
                <mat-select multiple formControlName="user">
                  <mat-option *ngFor="let item of lstUserNotInThisGroup"
                              [value]="item['id']">{{item["fullName"]}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="form.controls['user'].invalid">{{form.controls['user']
                  |formErrorMessage: ('Thành viên'|translate) }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3" style="padding-top: 4.5px">
              <button class="btn btn-outline-primary" [disabled]="form.invalid"
                      matTooltip="{{'Add_new'|translate}}"
                      (click)="create()">
                {{"Add_new"|translate}}
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'common.button.search'|translate}}</mat-label>
                <input matInput type="text" (keyup)="filterSearch($event)">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mtx-grid [showColumnMenuButton]="false"
                        [loading]="isLoading"
                        [data]="dataSource"
                        [columns]="columns"
                        [rowHover]="true"
                        [toolbarTitle]="'filter.listKeyWord' | translate | uppercase"
                        [pageSizeOptions]="pageSizeList"
                        [pageIndex]="0"
                        [pageSize]="pageSize"
                        [headerTemplate]="header1Tpl"
                        [noResultText]="'common.notify.no-record-result' | translate"
                        [pageOnFront]="true"
                        (page)="onPageChange($event)"
                        [cellTemplate]="{
                    no: index,
                    options: button
                    }"
                        style="text-align: center"
                        [length]="totalPage">
              </mtx-grid>
              <ng-template #header1Tpl let-header>
                <div>
                  {{header.i18n | translate}}
                </div>
              </ng-template>
              <ng-template #index let-row let-index="index">
                <div>
                  <span>{{index + 1 + page * pageSize}}</span>
                </div>
              </ng-template>

              <ng-template #button let-row let-index="index">
                <div class="text-center">
                  <button mat-icon-button
                          class="icon-button-small mr-1"
                          color='warn'
                          matTooltip="{{'common.button.delete' | translate}}"
                          (click)="delete(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
