<div fxLayout='row wrap' class='matero-row'>
  <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon>folder_open</mat-icon>
    <span style="margin-left: 4px; display: flex; align-items: center;">{{'campaign-resource.title' | translate}}</span>
  </div>
  <form [formGroup]='formControl' fxFlex='100' fxFlex.lt-sm='100'>
    <div fxFlex='30' fxFlex.lt-sm='100'>
      <mat-card style='min-height: 35vh; max-height: 35vh'>
        <mat-accordion>
          <div class='row card-body'>
            <div class='col-12' style='margin-bottom: 8px'>
              <mat-icon>backup</mat-icon>
              <label class='custom-title'>{{'campaign-resource.upload-title' | translate}}</label>
            </div>
            <div class='col-12'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'campaign-resource.select-file' | translate}}</mat-label>
                <ngx-mat-file-input formControlName='attachFile'
                                    [accept]="'application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                                    [(ngModel)]='file' #removableInput></ngx-mat-file-input>
                <mat-icon matSuffix *ngIf='file' style='cursor: pointer' (click)='clear(); removableInput.clear($event)'>clear</mat-icon>
              </mat-form-field>
            </div>
            <div class='col-12'>
              <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw'
                      (click)='downloadTemplate()'>{{'campaign-resource.download-template' | translate}}</button>
              <button mat-raised-button color='primary' type='button' style='min-width: 7vw'
                      (click)='doUpload()'>{{'campaign-resource.upload' | translate}}</button>
            </div>
          </div>
        </mat-accordion>
      </mat-card>
    </div>
    <div fxFlex='70' fxFlex.lt-sm='100'>
      <mat-card style='min-height: 35vh; max-height: 35vh'>
        <mat-accordion>
          <div class='row card-body'>
            <div class='col-12' style='margin-bottom: 8px'>
              <mat-icon>backup</mat-icon>
              <label class='custom-title'>{{'campaign-resource.import-title' | translate}}</label>
            </div>
            <div class='col-4'>
              <mat-form-field class='w-100' appearance='outline'>
                <mat-label>{{'campaign-resource.total-line' | translate}}</mat-label>
                <input matInput readonly formControlName='total'>
              </mat-form-field>
            </div>
            <div class='col-8'></div>
            <div class='col-4'>
              <mat-form-field class='w-100' appearance='outline'>
                <mat-label>{{'campaign-resource.campaign' | translate}}</mat-label>
                <mat-select formControlName='campaign'>
                  <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
                  <mat-option *ngFor='let item of lstCampaign' [value]='item.value'>{{item.label}}</mat-option>
                </mat-select>
                <mat-error>
                  <app-inline-message [formName]="formControl.get('campaign')"
                                      [message]="'campaign-resource.campaign'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class='col-4'>
              <mat-form-field class='w-100' appearance='outline'>
                <mat-label>{{'campaign-resource.distinct' | translate}}</mat-label>
                <mat-select formControlName='distinct'>
                  <mat-option *ngFor='let item of distinct' [value]='item.value'>{{item.label}}</mat-option>
                </mat-select>
                <mat-error>
                  <app-inline-message [formName]="formControl.get('distinct')"
                                      [message]="'campaign-resource.distinct'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class='col-4'>
              <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw; margin-top: 4px'
                      (click)='doImport()'>{{'campaign-resource.import' | translate}}</button>
            </div>
          </div>
        </mat-accordion>
      </mat-card>
    </div>
  </form>
  <form [formGroup]='formSearch' fxFlex='100' fxFlex.lt-sm='100' style='margin-top: 8px'>
    <mat-expansion-panel [expanded]='true'>
      <div class='row card-body' style='margin-top: 20px'>
        <div class='col-4'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'campaign-resource.campaign' | translate}}</mat-label>
            <mat-select formControlName='campaign'>
              <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
              <mat-option *ngFor='let item of lstCampaign' [value]='item.value'>{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class='col-4'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'campaign-resource.from-date' | translate}}</mat-label>
            <input matInput [matDatepicker]='fromDate' formControlName='fromDate' [max]='maxFromDate' (ngModelChange)='onChangeFromDate()'>
            <mat-datepicker-toggle matSuffix [for]='fromDate'></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
            <mat-error
              *ngIf="formSearch.get('fromDate').value > maxFromDate">
              {{'campaign-resource.validate.max-from-date' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class='col-4'>
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'campaign-resource.to-date' | translate}}</mat-label>
            <input matInput [matDatepicker]='toDate' formControlName='toDate' [min]='minToDate' (ngModelChange)='onChangeToDate()'>
            <mat-datepicker-toggle matSuffix [for]='toDate'></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
            <mat-error
              *ngIf="formSearch.get('toDate').value < minToDate">
              {{'campaign-resource.validate.min-to-date' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class='col-12'>
          <button mat-raised-button color='primary' style='min-width: 7vw'
                  (click)='search()' [disabled]='formSearch.invalid'>{{'campaign-resource.search' | translate}}</button>
        </div>
        <div class='col-12 mt-2'>
          <mtx-grid [showColumnMenuButton]='false' [data]='campaignResourceLst' [columns]='columns'
                    [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                    [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
                    [pageSizeOptions]='pageSizeList' [loading]='isLoading'
                    [pageIndex]='pageIndex' [pageSize]='pageSize'
                    [headerTemplate]='header1Tpl' [cellTemplate]='{no: templateOrderNumber, status: status, total: total}'
                    [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]='false'
                    (page)='onPageChange($event)' [length]='totalRecord'>
            <ng-template #header1Tpl let-header>
              <div>
                {{header.i18n | translate}}
              </div>
            </ng-template>
            <ng-template #templateOrderNumber let-row let-index='index'>
              <span>{{index + 1 + pageSize * pageIndex}}</span>
            </ng-template>
            <ng-template #total let-row let-index='index'>
              <span>{{row.total}}</span>
            </ng-template>
            <ng-template #status let-row let-index='index'>
              <div class='text-center'>
                <mat-slide-toggle color='primary' [checked]="row.status === '1'" [disabled]='disableToggle'
                                  matTooltip="{{row.status === '1' ? inactive : active}}" (change)='changeStatus(row, $event)'></mat-slide-toggle>
              </div>
            </ng-template>
          </mtx-grid>
        </div>
      </div>
    </mat-expansion-panel>
  </form>
</div>
