<mat-card style="margin-bottom: 0">
  <mat-card-header class="padding-left-0">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>assignment</mat-icon>
        <span
          class="custom-title"> {{'roles-groups.edit.title'|translate}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12">
        <form [formGroup]="formSave">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{'roles-groups.label.name' | translate}}</mat-label>
                <input matInput type="text" formControlName="name" id="name" maxlength="255"/>
                <mat-error *ngIf="formSave.get('name').getError('required')">{{'validation.MSG0006' | translate}}</mat-error>
                <mat-error *ngIf="formSave.get('name').getError('duplicate')">{{'roles-groups.validator.duplicate' | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>{{'common.button.close'|translate}}</button>
    <button mat-raised-button color="primary" [disabled]="formSave.invalid"
            (click)="onReturnData()">{{'common.button.save'|translate}}</button>
  </mat-dialog-actions>
</mat-card>
