//$char-w: 1ch;
//$gap: .5*$char-w;
//$n-char: 7;
//$in-w: $n-char*($char-w + $gap);
//
//input {
//  margin: 2em auto !important;
//  border: none !important;
//  padding: 0 !important;
//  width: $in-w !important;
//  background: repeating-linear-gradient(90deg,
//    dimgrey 0, dimgrey $char-w,
//    transparent 0, transparent $char-w + $gap)
//  0 100%/ #{$in-w - $gap} 2px no-repeat !important;
//  font: 5ch droid sans mono, consolas, monospace !important;
//  letter-spacing: $gap !important;
//
//  &:focus {
//    outline: none !important;
//    color: dodgerblue !important;
//  }
//}
#inputCharacter {
  border: none !important;
  padding: 0 !important;
  margin: 0 0.5ch;
  // width: auto;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/100% 2px no-repeat !important;
  font: 2.5ch droid sans mono, consolas, monospace !important;
  letter-spacing: 0.5ch;
}
#inputCharacter:focus {
  outline: none !important;
  color: dodgerblue !important;
}
#inputCharacter:hover{
  color:red !important;
  border: red !important;
}
