<div fxLayout="row wrap" class="matero-row cp-brand-search" xmlns="http://www.w3.org/1999/html">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-card style="position: sticky; top: 0; z-index: 999;padding-bottom: unset;padding-top: unset">
      <app-step-custom [currentStep]="getStep(ticketStatus)" (changeStep)="changeSteep($event)"></app-step-custom>
    </mat-card>
    <!--    <mat-accordion>-->
    <!--      <mat-expansion-panel [expanded]="true">-->
    <form action="" [formGroup]="formRequest" #form>
      <mat-card class="step-event mt-3" id="step1" #step1>
        <mat-card>
          <div class="card-body">
            <mat-label><b>{{ 'inforCustomer' | translate }}</b></mat-label>
            <div class="row">
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'channel' | translate }}</mat-label>
                  <mat-select [disabled]="ticketStatus" name="channelType" formControlName="channelType" required>
                    <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                    <mat-option *ngFor="let c of channel" [value]="c.code">
                      {{c.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formRequest.controls.channelType.errors">
                    {{'validation.typeChannel.require' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'eventCode' | translate }}</mat-label>
                  <input  matInput type="text" readonly name="eventCode" formControlName="ticketCode"/>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'phoneCall' | translate }}</mat-label>
                  <input [readOnly]="ticketStatus" matInput type="text" name="phoneCall" formControlName="phoneNumber" [maxLength]="15"/>
                  <button [disabled]="ticketStatus" type="button" mat-button matPrefix mat-icon-button (click)="viewTablePhone()">
                    <mat-icon>search</mat-icon>
                  </button>
                  <mat-error *ngIf="formRequest.controls.phoneNumber.errors">
                    {{ 'validation.phone' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'common.customerName' | translate }}</mat-label>
                  <input [readOnly]="ticketStatus" matInput type="text" name="customerName" formControlName="name" [maxLength]="255"/>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'email' | translate }}</mat-label>
                  <input [readOnly]="ticketStatus" matInput type="text" name="email" formControlName="email" [maxLength]="255"/>
                  <button [disabled]="ticketStatus" type="button" mat-button matPrefix mat-icon-button (click)="viewTableEmail()">
                    <mat-icon>search</mat-icon>
                  </button>
                  <mat-error *ngIf="formRequest.controls.email.errors">
                    {{'validation.email.require' | translate}}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-2">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'phoneContact' | translate }}</mat-label>
                  <input [readOnly]="ticketStatus" matInput type="text" name="phoneContact" formControlName="contactPhone" [maxLength]="15"/>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-label><b>{{ 'eventStatus' | translate }}</b></mat-label>
                <input [readOnly]="ticketStatus" type="text" matInput name="eventStatus" #inputStatus formControlName="status" readonly/>
              </div>
              <div class="col-2">
                <mat-checkbox name="fcr" formControlName="fcr" [disabled]= "isOverride"
                              (change)="onChangeEvent($event)">{{ 'fcr' | translate }}</mat-checkbox>
              </div>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div class="card-body">
            <mat-label><b>{{ 'inforAgency' | translate }}</b></mat-label>
            <div class="row">
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'identification' | translate }}</mat-label>
                  <input [readOnly]="ticketStatus" matInput name="identification" type="text" formControlName="cid" [maxLength]="12"/>
                  <button [disabled]="ticketStatus" type="button" (click)="getHistorySupport(true)" mat-button matPrefix mat-icon-button>
                    <mat-icon>search</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'taxCode' | translate }}</mat-label>
                  <input [readOnly]="ticketStatus" matInput name="taxCode" type="text" formControlName="taxCode" [maxLength]="10"/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'agencyName' | translate }}</mat-label>
                  <input [readOnly]="ticketStatus" matInput type="text" name="agencyName" formControlName="companyName" [maxLength]="1000"/>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'address' | translate }}</mat-label>
                  <input [readOnly]="ticketStatus" matInput type="text" name="address" formControlName="address" [maxLength]="1000"/>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <mat-tab-group>
                  <mat-tab label="{{'historySupport' | translate}}">
                    <mtx-grid [showColumnMenuButton]="false" [data]="dataHistorySupport" [columns]="columnsHistorySupp"
                              [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                              [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                              [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                              [loading]="isLoading" [pageIndex]="offset" [pageSize]="pagesize"
                              [headerTemplate]="header1Tpl" [cellTemplate]="{index: templateOrderNumber, ticketId: ticketTemplate}"
                              [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                              (page)="onPageChange($event)" [length]="total" style="text-align: center">
                    </mtx-grid>
                    <ng-template #header1Tpl let-header>
                      <div>
                        {{header.i18n | translate}}
                      </div>
                    </ng-template>
                    <ng-template #ticketTemplate let-row let-index="index">
                      <a style="cursor: pointer" (click)="navigateTo(row?.ticketId)">{{row.ticketCode}}</a>
                    </ng-template>
                    <ng-template #timeReceive let-row let-index="index">
                      <div *ngIf="row.createDatetime">
                        <span>{{row.createDatetime | date : 'dd-MM-yyyy hh:mm'}}</span>
                      </div>
                    </ng-template>
                    <ng-template #templateOrderNumber let-row let-index="index">
                      <div class="text-center">{{index + 1 + offset * pagesize}}</div>
                    </ng-template>
                    <ng-template #channelTypeView let-row let-index="index">
                      <div *ngIf="row.channelType == 1">
                        <span>{{'hotline' | translate}}</span>
                      </div>
                      <div *ngIf="row.channelType == 2">
                        <span>{{'chat' | translate}}</span>
                      </div>
                      <div *ngIf="row.channelType == 3">
                        <span>{{'email' | translate}}</span>
                      </div>
                      <div *ngIf="row.channelType == 4">
                        <span>{{'other' | translate}}</span>
                      </div>
                    </ng-template>
                    <ng-template #status let-row let-index="index">
                      <div *ngIf="row.status == 1">
                        <span>{{'noprocess' | translate}}</span>
                      </div>
                      <div *ngIf="row.status == 2">
                        <span>{{'processing' | translate}}</span>
                      </div>
                      <div *ngIf="row.status == 3">
                        <span>{{'processed' | translate}}</span>
                      </div>
                      <div *ngIf="row.status == 4">
                        <span>{{'confirm' | translate}}</span>
                      </div>
                      <div *ngIf="row.status == 5">
                        <span>{{'done' | translate}}</span>
                      </div>
                    </ng-template>
                    <ng-template #createdUser let-row let-index="index">
                      <div *ngIf="row.createUser == 1">
                        <span>Admin</span>
                      </div>
                      <div *ngIf="row.createUser == 2">
                        <span>User</span>
                      </div>
                    </ng-template>
                  </mat-tab>
                  <mat-tab label="{{'feeStatus' | translate}}">
                    <mtx-grid [showColumnMenuButton]="false" [data]="dataFeeStatus" [columns]="columnsFeeStatus"
                              [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                              [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                              [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                              [loading]="isLoading" [pageIndex]="1" [pageSize]="pagesize" [headerTemplate]="header1Tpl"
                              [noResultText]="'common.notify.no-record-result' | translate"
                              [cellTemplate]="{expiredDate:expiredDate}"
                              [pageOnFront]="false" (page)="onPageChange($event)" [length]="100"
                              style="text-align: center; width: 100%">
                    </mtx-grid>
                    <ng-template #header1Tpl let-header>
                      <div>
                        {{header.i18n | translate}}
                      </div>
                    </ng-template>
                    <ng-template #expiredDate let-row let-index="index">
                      <div *ngIf="row.expiredDate">
                        <span>{{row.expiredDate | date : 'dd-MM-yyyy hh:mm'}}</span>
                      </div>
                    </ng-template>
                  </mat-tab>
                  <mat-tab label="{{'certificate' | translate}}">
                    <mtx-grid [showColumnMenuButton]="false" [data]="dataCertificate" [columns]="columnsCertificate"
                              [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                              [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                              [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                              [loading]="isLoading" [pageIndex]="1" [pageSize]="pagesize" [headerTemplate]="header1Tpl"
                              [noResultText]="'common.notify.no-record-result' | translate"
                              [pageOnFront]="false" (page)="onPageChange($event)" [length]="100"
                              style="text-align: center; width: 100%">
                    </mtx-grid>
                    <ng-template #header1Tpl let-header>
                      <div>
                        {{header.i18n | translate}}
                      </div>
                    </ng-template>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </mat-card>
      </mat-card>
      <mat-card class="step-event" id="step2" #step2>
        <div class="card-body">
          <div class="row">
            <div class="col-1">
              <mat-label><b>{{ 'request' | translate }}</b></mat-label>
            </div>
          </div>
          <mat-tab-group dynamicHeight formArrayName="listTicketRequestDTOS" [(selectedIndex)]=selectTab (selectedTabChange)="onTabChanged($event)">
            <mat-tab *ngFor="let tab of formRequest.get('listTicketRequestDTOS')['controls']; let i = index"
                     [formGroupName]="i">
              <ng-template mat-tab-label>
                {{'ticket.request' | translate}} {{i + 1}} &nbsp;
                <mat-icon *ngIf="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value" style="font-size: 18px; padding-left: 25px" (click)='removeItem(i)'>
                  close
                </mat-icon>
              </ng-template>
              <br>
              <div class="row">
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'requestCode' | translate }}</mat-label>
                    <input [readOnly]="ticketStatus && checkDisable" matInput type="text" readonly formControlName="ticketRequestCode" name="requestCode"/>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'requestType' | translate }}</mat-label>
                    <mat-select [disabled]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" name="requestType" formControlName="requestType" required>
                      <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                      <mat-option *ngFor="let data of selectRequest" [value]="data.code">
                        {{data?.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formRequest.controls.listTicketRequestDTOS.get(i+'').get('requestType').invalid">
                      {{'validation.requestType'| translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'businessType' | translate }}</mat-label>
                    <mat-select [disabled]="!formRequest.controls.listTicketRequestDTOS.get(i +'').get('ticketRequestCode').value==''" name="bussinessType" required formControlName="bussinessType"
                                (selectionChange)="getProcessTime(i)">
                      <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                      <mat-option *ngFor="let data of selectBusiness" [value]="data?.id">
                        {{data?.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formRequest.controls.listTicketRequestDTOS.get(i + '').get('bussinessType').errors">
                      {{'validation.businessType' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'prioritize' | translate }}</mat-label>
                    <mat-select [disabled]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" name="prioritize" formControlName="priority" required>
                      <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                      <mat-option *ngFor="let pr of prioritize" [value]="pr.code">
                        {{pr.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formRequest.controls.listTicketRequestDTOS.get(i + '').get('priority')">
                      {{ 'validation.priority' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'moveToDepartment' | translate }}</mat-label>
                    <mat-select [disabled]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" name="moveToDepartment" formControlName="departmentId">
                      <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                      <mat-option *ngFor="let pr of dataDepartments" [value]="pr.departmentId">
                        {{pr.departmentName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'requestStatus' | translate }}</mat-label>
                    <input [readonly]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" matInput type="text" #inputTicketRequest readonly formControlName="status"
                           name="requestStatus"/>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'requestContent' | translate }}</mat-label>
                    <textarea [readonly]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" required name="requestContent" formControlName="content"
                              style="width: 100%; height: 130px" matInput [maxLength]="500"></textarea>
                    <mat-error *ngIf="formRequest.controls.listTicketRequestDTOS.get(i + '').get('content')">
                      {{'validation.content' | translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <div class="row" style="margin-left: unset;margin-right: unset">
                    <div class="col-9">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'file' | translate }}</mat-label>
                        <mat-toolbar style="height: auto !important; background: transparent">
                          <ngx-mat-file-input [disabled]="ticketStatus && checkDisable" multiple (change)="onChangeFileRequest($event, i)"
                                              [value]="fileSave"></ngx-mat-file-input>
                          <button [disabled]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" type="button" mat-flat-button>Chọn file</button>
                        </mat-toolbar>
                      </mat-form-field>
                    </div>
                    <div class="col-1" style="padding-top: 5px">
                      <button [disabled]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" mat-raised-button color="success" class="mr-2" type="button" (click)="insertFileRequest(i)">
                        <img class="matero-avatar" src="../../../../assets/images/upload.png" width="25" alt="upload"/>
                        {{'common.button.insert' | translate}}
                      </button>
                    </div>
                  </div>
                  <div class="col-12">
                    <mtx-grid [showColumnMenuButton]="false" [data]="dataListRequestAttachmentPagible[i]"
                              [columns]="columnsRequestAttachment"
                              [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                              [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                              [columnMovable]="true"
                              [loading]="isLoading"
                              [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                              [pageIndex]="0" [pageSize]="pagesize" (page)="onPageChangeRequest($event, i)"
                              [length]="totalAttachmentRequest"
                              [headerTemplate]="header1Tpl"
                              [noResultText]="'common.notify.no-record-result' | translate"
                              [pageOnFront]="false"
                              style="text-align: center; width: 100%">
                    </mtx-grid>
                  </div>
                </div>

              </div>
              <mat-label><b>{{ 'reminder' | translate }}</b></mat-label>
              <div class="row">
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'handlingDead' | translate }}</mat-label>
                    <input matInput [readonly]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" [ngxMatDatetimePicker]="picker"
                           formControlName="deadline" name="deadline" required
                           placeholder="Choose a date" disabled=true>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker>
                    </ngx-mat-datetime-picker>
                  </mat-form-field>

<!--                  <mat-form-field appearance="outline" class="w-100">-->
<!--                    <mat-label>{{ 'handlingDead' | translate }}</mat-label>-->
<!--                    -->
<!--                    <input [readonly]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" matInput formControlName="deadline" name="deadline" required/>-->
<!--                  </mat-form-field>-->
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'feedBackTime' | translate }}</mat-label>
                    <input matInput [readonly]="isOverride" type="datetime-local" formControlName="confirmDate" name="feedBackTime"/>
                  </mat-form-field>
                </div>
                <div class="col-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'feedBackRemind' | translate }}</mat-label>
                    <mat-select [disabled]="!formRequest.controls.listTicketRequestDTOS.get(i + '').get('ticketRequestCode').value==''" name="feedBackRemind" formControlName="timeNotify">
                      <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                      <mat-option *ngFor="let time of notify" [value]="time.code">
                        {{time.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'createTime' | translate }}</mat-label>
                    <input type="datetime-local" [readonly]="true" matInput formControlName="createDatetime" name="createTime">

                    <!--                    <input matInput type="datetime-local" readonly name="createTime" formControlName="createDatetime"/>-->
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'userCreate' | translate }}</mat-label>
                    <input matInput type="text" readonly name="createUser" formControlName="createUserName"/>
                  </mat-form-field>
                </div>
              </div>

              <br>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <button mat-raised-button color="primary" [disabled]="checkAddRequest || isOverride" class="mr-2" type="submit"
                          (click)="submit()">
                    {{'saveEvent' | translate}}
                  </button>
                  <button mat-raised-button color="primary" class="mr-2" type="button" (click)="addTab()"
                          [disabled]="checkAddRequest || isOverride">
                    {{'addRequest' | translate}}
                  </button>
                </div>
              </div>
              <br>
              <mat-card class="step-event" id="step3" #step3>
                <div class="row">
                  <div class="col-12">
                    <mat-label><b>{{'xuly_suvu'|translate}}</b></mat-label>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'contentHandling' | translate }}</mat-label>
                          <textarea style="width: 100%; height: 120px" name="contentHandling"
                                    [readonly]="checkStatusRequest[i] === '3' || checkStatusRequest[i] === '4' || checkStatusRequest[i] === '5' || isOverride"
                                    formControlName="contentHandling" matInput [maxLength]="500"></textarea>
                          <mat-error>
                            <app-inline-message [message]="'nội dung'"
                                                [formName]="formRequest.controls.listTicketRequestDTOS.get(i + '').get('contentHandling')">
                            </app-inline-message>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-label>{{ 'historyHandling' | translate }}</mat-label>
                        <br>
                        <span *ngFor="let his of dataHistoryProcessTicket[i]">
                    -{{his?.departmentName}} &nbsp; {{his.userName}} &nbsp; ({{his.createDatetime | date: 'dd/MM/yyyy hh:mm'}}) : {{his.content}}
                          <br>
                  </span>
                        <br>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                          <mat-label>{{ 'dateHandling' | translate }}</mat-label>
                          <!--                          <input matInput type="text" formControlName="deadlineHandling" readonly name="dateHandling"/>-->
                          <input matInput type="datetime-local" formControlName="deadlineHandling" readonly
                                 name="deadline"/>
                        </mat-form-field>
                      </div>
                      <div class="row" style="margin-right: unset;margin-left: unset">
                        <div class="col-9">
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-label>{{ 'file' | translate }}</mat-label>
                            <mat-toolbar style="height: auto !important; background: transparent">
                              <ngx-mat-file-input [disabled]="checkStatusRequest[i] === '3' || checkStatusRequest[i] === '4' || checkStatusRequest[i] === '5' || isOverride" multiple (change)="onChangeFileProcess($event, i)"></ngx-mat-file-input>
                              <button [disabled]="checkStatusRequest[i] === '3' || checkStatusRequest[i] === '4' || checkStatusRequest[i] === '5' || isOverride" type="button" mat-flat-button>Chọn file</button>
                            </mat-toolbar>
                          </mat-form-field>
                        </div>
                        <div class="col-1" style="padding-top: 5px">
                          <button [disabled]="checkStatusRequest[i] === '3' || checkStatusRequest[i] === '4' || checkStatusRequest[i] === '5' || isOverride" mat-raised-button color="success" class="mr-2" type="button"
                                  (click)="insertFileProcess(i)">
                            <img class="matero-avatar" src="../../../../assets/images/upload.png" width="25"
                                 alt="upload"/>
                            {{'common.button.insert' | translate}}
                          </button>
                        </div>
                      </div>
                      <!--                    <div class="col-6"></div>-->
                      <div class="col-12">
                        <mtx-grid [showColumnMenuButton]="false" [data]="dataListAttachmentPagible[i]"
                              [columns]="columnsAttachment"
                              [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                              [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                              [columnMovable]="true"
                              [loading]="isLoading"
                              [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                              [pageIndex]="0" [pageSize]="pagesize" (page)="onPageChangeProcess($event, i)"
                              [length]="totalAttachmentProcess"
                              [headerTemplate]="header1Tpl"
                              [noResultText]="'common.notify.no-record-result' | translate"
                              [pageOnFront]="false"
                              style="text-align: center; width: 100%">
                        </mtx-grid>
                      </div>
                    </div>
                    <div class="col-6"></div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                      <button mat-raised-button color="primary" class="mr-2" type="button"
                              [disabled]="checkStatusRequest.length<=0 || checkStatusRequest[i] === '3' || checkStatusRequest[i] === '4' || checkStatusRequest[i] === '5' || isOverride || checkPermission[i]"
                              (click)="closeTicket(i)">
                        {{'closeHandling' | translate}}
                      </button>
                      <button mat-raised-button color="primary" class="mr-2" (click)="createTicket(i)" type="button"
                              [disabled]="checkStatusRequest.length<=0 || checkStatusRequest[i] === '3' || checkStatusRequest[i] === '4' || checkStatusRequest[i] === '5' || isOverride || checkPermission[i]">{{'saveHandling' | translate}}</button>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-card>
      <mat-card class="step-event" id="step4" #step4 [hidden]="isShow != true">
        <div class="row">
          <div class="col-12">
            <mat-label><b>{{'xacnhan_khachhang'|translate}}</b></mat-label>
          </div>
        </div>
        <app-confirm-customer *ngIf="isShow==true" [confirmTicketDTO]="confirmTicketDTO"
                              [dataGetHistory]="dataGetHistory"
                              [isOverride]="isOverride"
                              (disableToParent)="disableAll($event)" [eventStatus]="ticketStatus" [isPermission]="ticketPermission">
        </app-confirm-customer>
      </mat-card>
    </form>
  </div>
</div>
