<div fxLayout='row wrap' class='matero-row'>
  <div fxFlex='100' fxFlex.lt-sm='100'>
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>assignment</mat-icon>
        <span class="card-title-font">{{'evaluate-assignment.list' | translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class='row'>
          <div class='col-4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-assignment.channel' | translate}}</mat-label>
              <mat-select [(ngModel)]="channelId" required id="channelId">
                <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of channelList' [value]='item.value'>{{item.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class='col-4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-assignment.evaluater' | translate}}</mat-label>
              <mat-select [(ngModel)]="evaluaterId">
                <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of evaluaterList' [value]='item.id'>{{item.fullName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class='col-4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-assignment.user' | translate}}</mat-label>
              <mat-select [(ngModel)]="userId">
                <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of userList' [value]='item.id'>{{item.fullName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class='col-4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-assignment.start-date' | translate}}</mat-label>
              <input matInput [matDatepicker]='fromDatePicker' [(ngModel)]="startDate" required id="startDate"/>
              <mat-datepicker-toggle matSuffix [for]='fromDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class='col-4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-assignment.end-date' | translate}}</mat-label>
              <input matInput [matDatepicker]='toDatePicker' [(ngModel)]="endDate" required id="endDate"/>
              <mat-datepicker-toggle matSuffix [for]='toDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class='col-12'>
            <button mat-raised-button color='primary' style='min-width: 7vw' class="mr-2"
                    (click)='onSearch()'>{{'campaign-resource.search' | translate}}</button>
            <button mat-raised-button color='primary' style='min-width: 7vw'
                    (click)='openEvaluateAssignmentDialog()'>{{'evaluate-assignment.assign-button' | translate}}</button>
          </div>
          <div class="col-12 mt-2">
            <mtx-grid [showColumnMenuButton]='false' [data]='assignList' [columns]='columns'
                      [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                      [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
                      [pageSizeOptions]='pageSizeList' [loading]='isLoading'
                      [pageIndex]='pageIndex' [pageSize]='pageSize'
                      [headerTemplate]='header1Tpl' [length]="totalRecord"
                      [cellTemplate]='{no: templateOrderNumber, callTime: calledTimeTpl, createDatetime: createDatetimeTpl, tools: toolsTpl,
                       totalUserId: totalUserTpl, totalCall: totalCallTpl}'
                      [noResultText]="'common.notify.no-record-result' | translate" (page)='onPageChange($event)' [pageOnFront]="false">
              <ng-template #header1Tpl let-header>
                <div>
                  {{header.i18n | translate}}
                </div>
              </ng-template>
              <ng-template #templateOrderNumber let-index='index'>
                <span>{{index + 1 + pageSize * pageIndex}}</span>
              </ng-template>
              <ng-template #toolsTpl let-row>
                <div class='text-center'>
                  <button mat-icon-button color="primary" aria-label=""
                          matTooltip="{{'evaluate-assignment.update-button' | translate}}" (click)="openEvaluateAssignmentUpdateDialog(row)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label=""
                          matTooltip="{{'evaluate-assignment.delete-button' | translate}}" (click)="openEvaluateAssignmentDeleteDialog(row.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </ng-template>
              <ng-template #calledTimeTpl let-row>
                <div class="text-center">
                  {{row.startDate | date: 'dd/MM/yyyy'}} - {{row.endDate | date: 'dd/MM/yyyy'}}
                </div>
              </ng-template>
              <ng-template #createDatetimeTpl let-row>
                <div class="text-center">{{row.createDatetime | date: 'dd/MM/yyyy'}}</div>
              </ng-template>
              <ng-template #totalCallTpl let-row>
                <div class="text-right">{{row.totalCall}}</div>
              </ng-template>
              <ng-template #totalUserTpl let-row>
                <div class="text-right">{{row.totalUserId}}</div>
              </ng-template>
            </mtx-grid>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
