<mat-card style="margin-bottom: 0">
  <mat-card-header class="padding-left-0">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>delete</mat-icon>
        <span
          class="custom-title"> {{'common.confirm.title.delete'|translate}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>{{'common.confirm.delete'|translate}}</div>
  </mat-card-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>{{'common.no'|translate}}</button>
    <button mat-raised-button color="primary" (click)="onConfirmClick()">{{'common.yes'|translate}}</button>
  </mat-dialog-actions>
</mat-card>
