<div fxLayout='row wrap' class='matero-row cp-brand-search'>
  <div fxFlex='100' fxFlex.lt-sm='100' class='matero-col'>
    <mat-accordion>
      <mat-expansion-panel [expanded]='true'>
        <form [formGroup]='searchParam'>
          <div class='card-body'>
            <mat-label><b>{{ 'directoryType' | translate }}</b></mat-label>
            <div class='row'>
              <div class='col-2'>
                <mat-form-field appearance='outline' class='w-100'>
                  <mat-label>{{ 'code' | translate }}</mat-label>
                  <input matInput formControlName='code' [maxLength]='20' type='text' #keyword>
                </mat-form-field>
              </div>
              <div class='col-2'>
                <mat-form-field appearance='outline' class='w-100'>
                  <mat-label>{{ 'name' | translate }}</mat-label>
                  <input matInput formControlName='name' [maxLength]='20' type='text' #keyword>
                </mat-form-field>
              </div>
              <div class='col-2'>
                <mat-form-field appearance='outline' class='w-100'>
                  <mat-label>{{ 'common.status' | translate }}</mat-label>
                  <mat-select class='w-100' formControlName='status'>
                    <mat-option [value]='null'>{{'common.select.select'| translate}}</mat-option>
                    <mat-option *ngFor='let item of listStatus' [value]="item?.value + ''">
                      {{item?.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class='col-2'>
                <button mat-raised-button color='primary' class='mr-2' type='submit' (click)='getListOptionSet(true)'
                        style='min-width: 7vw; margin-top: 4px'>
                  {{'common.button.search' | translate}}</button>
              </div>
              <div class='col-2'></div>
              <div class='col-2'>
                <button mat-raised-button color='primary' class='mr-2' type='submit' (click)="addOptionSet('add')"
                        style='min-width: 7vw; margin-top: 4px'>
                  {{'common.button.insert' | translate}}</button>
              </div>
            </div>
          </div>
        </form>

        <mtx-grid [showColumnMenuButton]='false' [data]='dataDirectoryType' [columns]='columns' [multiSelectable]='true'
                  [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]='true'
                  [columnMovable]='true' [showPaginator]='true' [pageSizeOptions]='pageSizeList' [loading]='isLoading'
                  [pageIndex]='offsetOptionSet' [pageSize]='pagesizeOptionSet' [headerTemplate]='header1Tpl'
                  [cellTemplate]='{no: templateOrderNumber,
                  createDateStr: createDateStr, status: status,
                  timeRepeat : timeRepeat, rn : rn,name: optionSetTemplate}'
                  [noResultText]="'common.notify.no-record-result' | translate"
                  [pageOnFront]='false' (page)='onPageChangeOptionSet($event)' [length]='totalOptionSet'
                  style='text-align: center'>
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #optionSetTemplate let-row let-index='index'>
          <a (click)='search(true,row.optionSetId)'>{{row.name}}</a>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index='index'>
          <!--          <div class="text-center">{{index + 1 + pageIndex * pagesize}}</div>-->
        </ng-template>
        <ng-template #createDateStr let-row let-index='index'>
          <div class='text-center w-100'>{{row?.createDateStr || ''}}</div>
        </ng-template>

        <ng-template #timeRepeat let-row let-index='index'>
          <div class='text-right'>{{row?.timeRepeat || ''}}</div>
        </ng-template>
        <ng-template #rn let-row let-index='index'>
          <div class='text-center w-100'>{{row?.rn || ''}}</div>
        </ng-template>
        <ng-template #index let-row let-index='index'>
          <div *ngIf='row.id'>
            <span>{{index + 1}}</span>
          </div>
        </ng-template>
        <ng-template #button let-row let-index='index'>
          <button type='submit' class='btn-outline-primary'
                  (click)="updateOptionSet(row, 'edit')">{{'common.button.edit' | translate}}</button>
        </ng-template>
        <ng-template #status let-row let-index='index'>
          <span>{{ (row.status === '1' ? 'common.active' : 'common.inactive') | translate }}</span>
        </ng-template>
        <ng-template #effectDate let-row let-index='index'>
          <div *ngIf='row.fromDate'>
            <span>{{row.fromDate | date : 'dd/MM/yyyy HH:mm'}}</span>
          </div>
        </ng-template>
        <ng-template #expiredDate let-row let-index='index'>
          <div *ngIf='row.endDate'>
            <span>{{row.endDate | date : 'dd/MM/yyyy HH:mm'}}</span>
          </div>
        </ng-template>
        <ng-template #createDate let-row let-index='index'>
          <div *ngIf='row.createDate'>
            <span>{{row.createDate | date : 'HH:mm:ss dd/MM/yyyy'}}</span>
          </div>
        </ng-template>
        <ng-template #updateDate let-row let-index='index'>
          <div *ngIf='row.updateDate'>
            <span>{{row.updateDate | date : 'HH:mm:ss dd/MM/yyyy'}}</span>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel [expanded]='true'>
        <form [formGroup]='searchSubParam'>
          <div class='card-body'>
            <mat-label><b>{{ 'directory' | translate }}</b></mat-label>
            <div class='row'>
              <div class='col-2'>
                <mat-form-field appearance='outline' class='w-100'>
                  <mat-label>{{ 'code' | translate }}</mat-label>
                  <input matInput formControlName='code' [maxLength]='20' type='text' #keyword>
                </mat-form-field>
              </div>
              <div class='col-2'>
                <mat-form-field appearance='outline' class='w-100'>
                  <mat-label>{{ 'name' | translate }}</mat-label>
                  <input matInput formControlName='name' [maxLength]='20' type='text' #keyword>
                </mat-form-field>
              </div>
              <div class='col-2'>
                <mat-form-field appearance='outline' class='w-100'>
                  <mat-label>{{ 'common.status' | translate }}</mat-label>
                  <mat-select class='w-100' formControlName='status'>
                    <mat-option [value]='null'>{{'common.select.select'| translate}}</mat-option>
                    <mat-option *ngFor='let item of listStatus' [value]="item?.value + ''">
                      {{item?.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class='col-1.7'>
                <button mat-raised-button color='primary' class='mr-2' (click)='search(true)'
                        type='submit'
                        style='min-width: 7vw; margin-top: 4px'>{{'common.button.search' | translate}}</button>
              </div>
              <div class='col-1 7'></div>
              <div class='col-1.7'>
                <button mat-raised-button color='primary' class='mr-2' (click)='export()'
                        type='submit' style='min-width: 7vw; margin-top: 4px'>{{'export' | translate}}</button>
              </div>
              <div class='col-1.7'>
                <input type='file' name='file' id='fileUpload' style='display: none;' title=''
                       (change)='handleFileInput($event.target.files)' />
                <button mat-raised-button color='primary' class='mr-2' (click)='clickShowFileUpload()'
                        type='submit'
                        style='min-width: 7vw; margin-top: 4px'>{{'common.button.import' | translate}}</button>

              </div>

              <div class='col-1.7'>
                <button mat-raised-button color='primary' class='mr-2' type='submit'
                        (click)="createOptionSetValue('add')"
                        style='min-width: 7vw; margin-top: 4px'> {{'common.button.insert' | translate}}</button>
              </div>

            </div>
          </div>
        </form>

        <mtx-grid [showColumnMenuButton]='false' [data]='dataDirectory' [columns]='columnsDirectory'
                  [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]='true'
                  [columnMovable]='true' [showPaginator]='true' [pageSizeOptions]='pageSizeList' [loading]='isLoading'
                  [pageIndex]='offset' [pageSize]='pagesize' [headerTemplate]='header1Tpl'
                  [cellTemplate]='{no: templateOrderNumber, createDateStr: createDateStr, timeRepeat : timeRepeat, rn : rn}'
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]='false'
                  (page)='onPageChangeOptionSetValue($event)' [length]='total' style='text-align: center'>
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index='index'>
          <!--          <div class="text-center">{{index + 1 + pageIndex * pagesize}}</div>-->
        </ng-template>
        <ng-template #createDateStr let-row let-index='index'>
          <div class='text-center w-100'>{{row?.createDateStr || ''}}</div>
        </ng-template>
        <ng-template #timeRepeat let-row let-index='index'>
          <div class='text-right'>{{row?.timeRepeat || ''}}</div>
        </ng-template>
        <ng-template #rn let-row let-index='index'>
          <div class='text-center w-100'>{{row?.rn || ''}}</div>
        </ng-template>
        <ng-template #index let-row let-index='index'>
          <div *ngIf='row.id'>
            <span>{{index + 1}}</span>
          </div>
        </ng-template>
        <ng-template #button let-row let-index='index'>
          <button type='submit' class='btn-outline-primary'>{{'common.button.save' | translate}}</button>
        </ng-template>
        <ng-template #effectDate1 let-row let-index='index'>
          <div *ngIf='row.fromDateView'>
            <span>{{row.fromDateView}}</span>
          </div>
        </ng-template>
        <ng-template #expiredDate1 let-row let-index='index'>
          <div *ngIf='row.endDateView'>
            <span>{{row.endDateView}}</span>
          </div>
        </ng-template>
        <ng-template #createDate1 let-row let-index='index'>
          <div *ngIf='row.createDateView'>
            <span>{{row.createDateView }}</span>
          </div>
        </ng-template>
        <ng-template #updateDate1 let-row let-index='index'>
          <div *ngIf='row.updateDateView'>
            <span>{{row.updateDateView }}</span>
          </div>
        </ng-template>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
