<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <span class="title">{{title}}</span>
        <mat-icon (click)="onDismiss()" class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{message}}</p>
  </mat-card-content>
  <mat-card-header class="custom-card-footer" fxLayout="row" fxLayoutAlign="center center">
    <button style="min-width: 100px" class="btn btn-primary mr-3"
            (click)="onConfirm()">{{ 'common.confirm-yes' | translate}}</button>
    <button style="min-width: 100px" class="btn btn-secondary"
            (click)="onDismiss()">{{ 'common.button.close' | translate}}</button>
  </mat-card-header>
</mat-card>
