<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form [formGroup]="formInput">
          <div class="card-body">
            <mat-label>{{'campain-script.question.title' | translate}}</mat-label>
            <div class="row" style="margin-top: 18px;">
              <div class="col-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.question.column.code' | translate }}</mat-label>
                  <input matInput name="code" formControlName="code" type="text"/>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.question.column.positon' | translate }}</mat-label>
                  <input matInput name="position" formControlName="position" type="number" onlyNumber/>
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-checkbox formControlName="checkbox">
                  {{ 'campain-script.question.column.display' | translate }}
                </mat-checkbox>
              </div>
              <div class="col-12">
                <mat-label>{{ 'campain-script.question.column.content' | translate }}</mat-label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <span [hidden]="checkContent" style="color: red">*{{ 'campain-script.question.null-content' | translate }}</span>
                <br>
                <ejs-richtexteditor [toolbarSettings]='tools' formControlName="content" style="min-height: 300px"></ejs-richtexteditor>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-12 text-center">
                <button mat-raised-button color="primary" class="mr-2" (click)="addScriptQuestion()"
                [disabled]="formInput.invalid">
                  {{'common.button.save' | translate}}
                </button>
                <button mat-raised-button color="primary" class="mr-2" (click)="closeDialog()">
                  {{'common.button.cancle' | translate}}
                </button>

              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
