<mat-card style="margin-bottom: 0">
  <mat-card-header class="padding-left-0">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>assignment</mat-icon>
        <span
          class="custom-title"> {{'role-config.title'|translate}}:&nbsp;{{input.name}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'role-config.label.menu' | translate}}</mat-label>
          <mat-select [(ngModel)]="menuId" id="menuId" (ngModelChange)="onGetMenuDetail($event)">
            <mat-option *ngFor='let item of menuList' [value]='item.id'>{{'menu.' + item.menuName | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <button mat-raised-button color='primary' style='min-width: 7vw' class="mr-2"
                [disabled]="isLoading" (click)="onUpdateRoles()">{{'common.button.update' | translate}}</button>
      </div>
      <div class="col-12">
        <div class="table-container">
          <table class="w-100 customers">
            <tr>
              <td colspan="2"></td>
              <td class="text-center">
                <mat-checkbox [checked]="allChecked"
                              [indeterminate]="onSomeMenuItemChecked()"
                              (change)="onAllChecked($event.checked)" id="allChecked">
                  {{'common.select.all'|translate}}
                </mat-checkbox>
              </td>
            </tr>
            <ng-container *ngFor='let menuItem of menuItemsList; let i= index;'>
              <tr [id]="menuItem.id.toString()">
                <td class="text-center" style="width: 10%">
                  <button mat-icon-button *ngIf="menuItem.roles" color="primary"
                          (click)="menuItem.expanded = !menuItem.expanded">
                    <span class="material-icons-outlined" *ngIf="!menuItem.expanded" style="font-size: 40px">arrow_drop_up</span>
                    <span class="material-icons-outlined" *ngIf="menuItem.expanded" style="font-size: 40px">arrow_drop_down</span>
                  </button>
                </td>
                <td style="width: 50%">
                  <strong>{{'menu.' + menuItem.name | translate}}
                  </strong>
                </td>
                <td class="text-center" style="width: 40%">
                  <mat-checkbox [checked]="menuItem.checked"
                                [(ngModel)]="menuItem.checked"
                                (ngModelChange)="onUpdateAllChecked()"
                                (change)="onMenuItemChecked($event.checked, menuItem)">
                    {{'common.select'|translate}}
                  </mat-checkbox>
                </td>
              </tr>
              <ng-container *ngFor='let role of menuItem.roles; let j= index;'>
                <tr *ngIf="menuItem.expanded">
                  <td colspan="2">
                    <span style="margin-left: 30%">
                      {{role.name | translate}}
                    </span>
                  </td>
                  <td class="text-center">
                    <mat-checkbox [(ngModel)]="role.checked"
                                  (ngModelChange)="onUpdateMenuItemChecked(menuItem)">
                    </mat-checkbox>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>{{'common.button.close'|translate}}</button>
  </mat-dialog-actions>
</mat-card>
