<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head>
<title>Chi tiết sản phẩm</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<base th:href="@{/}">
<link th:href="@{CSS/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
<link th:href="@{CSS/styles.css}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" th:src="@{JS/js/jquery-1.7.2.min.js}"></script> 
<script type="text/javascript" th:src="@{JS/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{JS/js/easing.js}"></script>
<script type="text/javascript" th:src="@{JS/detail.js}"></script>
<script type="text/javascript" th:src="@{JS/cart.js}"></script>
<!-- animation -->
<link th:href="@{CSS/Animate.css}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" th:src="@{JS/wow.js}"></script>
<script type="text/javascript" th:src="@{JS/wow.min.js}"></script>
<script>
    new WOW().init();
</script>
</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="call">
				 <p><span>Cần hỗ trợ?</span> hãy gọi chúng tôi <span class="number">0815-954-557</span></p>
			</div>
			<div class="account_desc">
				<ul style="font-size: 150%;">
					<li class="li-login"><a th:href="@{/login}"><button type="button" class="btn btn-danger">Đăng nhập</button> </a></li>
					<li style="border-left: none;">
						<a th:href="@{/account}" id="UserInfor" th:if="${UserInfor != null}" th:utext="${UserInfor}"></a>
					</li>
					<!-- 
					<li style="display: none;"><span th:utext="${#request.userPrincipal.name}"></span></li>
					 -->
					<li class="logoutBtn"> <a th:href="@{/cart}">Giỏ hàng</a></li>
					<li class="logoutBtn" style="display: inline-flex;">
					<form th:action="@{/j_spring_security_logout}" method="post">
					    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
					     <button type="submit" class="btn btn-danger">Đăng xuất</button> 
					 </form>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top" style="display: none;">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div>
			  <div class="cart">
			  	   <p style="color: black;font-size: 120%;">Chào mừng tới Pineapple-Shop <span> Mọi mặt hàng:</span><div style="color: black;font-size: 120%;" id="dd" class="wrapper-dropdown-2"> 0 item(s) - $0.00
			  	   	<ul class="dropdown">
							<li>Bạn chưa có bất kỳ sản phẩm nào trong giỏ hàng</li>
					</ul></div></p>
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li><a th:href="@{/home}">TRANG CHỦ</a></li>
			    	<li><a th:href="@{/about}">GIỚI THIỆU</a></li>
			    	<!--<li><a th:href="@{/delivery}">VẬN CHUYỂN</a></li>-->
			    	<!--<li><a th:href="@{/news}">TIN TỨC</a></li>-->
			    	<li><a th:href="@{/contact}">LIÊN HỆ</a></li>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form th:action="@{/searchProduct}">
	     			<input name="productName" type="text" value="Tìm sản phẩm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
	     			<input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     	
   </div>
 <div class="main">
    <div class="content">
    	<div class="container">
    		<p class="wow zoomIn" data-wow-duration="3s" style="font-size: 250%; font-weight: 700;
			color: black; text-shadow: 2px 2px 5px red; text-align: center;">GIỎ HÀNG CỦA BẠN</p>
			<table class="table">
			    <thead>
			      <tr style="color: red; font-size: 150%; font-weight: 600;">
			        <th>TÊN SẢN PHẨM</th>
			        <th>SIZE</th>
			        <th>MÀU SẮC</th>
			        <th>SỐ LƯỢNG</th>
			         <th>GIÁ</th>
			        <th></th>
			      </tr>
			    </thead>
			    <tbody>
				    <th:block th:each="cart : ${listCarts}">
				    	<tr>
				            <td style="display: none;">
					        	<p class="productDetailId" th:text="${cart.productDetail_id}" th:attr="data-productDetailId=${cart.productDetail_id}"></p>
					        </td>	
				    	
					        <td style="display: none;">
					        	<p class="productId" th:text="${cart.product_id}" th:attr="data-productId=${cart.product_id}"></p>
					        </td>
					        
					        <td style="display: none;">
					        	<p class="sizeId" th:text="${cart.size_id}" th:attr="data-sizeId=${cart.size_id}"></p>
					        </td>
					        
					        <td style="display: none;">
					        	<p class="colorId" th:text="${cart.color_id}" th:attr="data-colorId=${cart.color_id}"></p>
					        </td>
					        
					        <td>
					        	<p class="productName" th:text="${cart.productName}" th:attr="data-productName=${cart.productName}"></p>
					        </td>
					        
					        <td>
					        	<p class="sizeName" th:text="${cart.sizeName}" th:attr="data-sizeName=${cart.sizeName}"></p>
					        </td>
					        
					        <td>
					        	<p class="colorName" th:text="${cart.colorName}" th:attr="data-colorName=${cart.colorName}"></p>
					        </td>
					        
					        <td>
					        	<input class="amount" type="number" min="1" th:value="${cart.amount}"
					        	th:attr="data-amount=${cart.amount}">
					        </td>
					        
					        <td style="display: none;">
					        	<p class="price" th:text="${cart.price}" 
					        	th:attr="data-price=${cart.price}">
					        	</p>
					        </td>
					   
					        <td><p class="priceAmount"></p></td>
					        
					        <td><button class="btn btn-danger btnDeleteCart">Xóa</button></td>
					    </tr>
				    </th:block>
			    </tbody>
			  </table>
			  <div>
			  	<h3 style="text-align: center; font-weight: 700;">TỔNG TIỀN: <span id="totalMoney"></span></h3>
			  </div>
		</div>	
		
		
		<div style="margin-top: 5%;" class="container">
			<div class="row">
				<div class="col-md-6 col-lg-6 col-sm-12">
					<div id="form-update" class="form-group">
						<h2 style="text-align: center;">Thông tin giao hàng</h2>
						<div style="display: none;">	
						    <input type="text" id="userId" th:field="${userEntity.id}">
						</div>
				    	<div>	
					        <label style="margin-top: 5%;" class="label" for="id_group">Tên tài khoản:</label>
						    <input type="text" class="form-control" id="username" th:field="${userEntity.username}" readonly="readonly">
						</div>
						<div>	
					        <label class="label" for="id_group">Địa chỉ:</label>
						    <input type="text" class="form-control" id="address" th:field="${userEntity.address}" readonly="readonly">
						</div>
						<div>	
					        <label class="label" for="id_group">Số điện thoại:</label>
						    <input type="text" class="form-control" id="telephone" th:field="${userEntity.telephone}" readonly="readonly">
						</div>
						<div>	
					        <label class="label" for="id_group">Email:</label>
						    <input type="text" class="form-control" id="email" th:field="${userEntity.email}" readonly="readonly">
						</div>
						<div>	
					        <label class="label" for="id_group">Giới tính:</label>
						    <input type="text" class="form-control" th:field="${userEntity.gender}" readonly="readonly">
						</div>
						<a th:href="@{/account}" style="margin-top: 2%;" type="button" class="btn btn-success" >
							Sửa thông tin
						</a>
					</div>
				</div>
				
				<div class="col-md-6 col-lg-6 col-sm-12">
					<h2 style="text-align: center;">Chọn hình thức thanh toán</h2>
					<div style="font-size: 150%; margin-top: 5%; margin-left: 20%;" id="choosePayment" class="form-group">
						<div>	
							<input type="radio" id="payment1" name="payment" th:value="Cash">
					        <label >Thanh toán khi nhật hàng:</label>
						</div>
						<div>	
						    <input type="radio" id="payment2" name="payment" th:value="Banking">
						    <label >Thanh toán qua Internet Banking:</label>
						</div>
						<div>	
						    <input type="radio" id="payment3" name="payment" th:value="Airpay">
						    <label >Thanh toán qua Airpay:</label>
						</div>
						<div>	
							<label >Ghi chú: </label><br>
							<textarea id="note" rows="5" cols="30"></textarea>
						</div>
						<button id="btnBuy" class="btn btn-primary">MUA HÀNG</button>
					</div>
					
				</div>
			</div>
		</div>		
    </div>
 </div>
</div>
   <div style="background-color: black; color: white; text-align: center;" class="footer">
   	  <div class="container-fluid">	
	     <div class="section group">
				<div class="col_1_of_3 span_1_of_3">
						<h4>THÔNG TIN SHOP</h4>
						<p>Pineapple Shop là một thương hiệu thời trang đầy uy tín, luôn đảm bảo chất 
						lượng sản phẩm tốt nhất cho khách hàng</p>
					</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ</h4>
						<p>Địa chỉ: 113 phường Minh Khai, quận Bắc Từ Liêm, tp.Hà Nội</p>
						<p>SĐT: 0815954557</p>
						<p>Email: tungphongdo89@gmail.com</p>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ KHÁC</h4>
						<ul>
							<li><span>0815-921-220</span></li>
							<li><span>+00-123-000000</span></li>
						</ul>
						<div class="social-icons">
							<h4>Theo dõi chúng tôi</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>
				</div>
			</div>			
        </div>
      </div>
   <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

