<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head>
<title>Chi tiết sản phẩm</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<base th:href="@{/}">
<link th:href="@{CSS/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
<link th:href="@{CSS/styles.css}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" th:src="@{JS/js/jquery-1.7.2.min.js}"></script> 
<script type="text/javascript" th:src="@{JS/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{JS/js/easing.js}"></script>
<script type="text/javascript" th:src="@{JS/home.js}"></script>
<script type="text/javascript" th:src="@{JS/detail.js}"></script>
	<script type="text/javascript" th:src="@{JS/cart.js}"></script>
</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="call">
				 <p><span>Cần hỗ trợ?</span> hãy gọi chúng tôi <span class="number">0815-954-557</span></p>
			</div>
			<div class="account_desc">
				<ul style="font-size: 150%;">
					<li class="li-login"><a th:href="@{/login}"><button type="button" class="btn btn-danger">Đăng nhập</button> </a></li>
					<li style="border-left: none;">
						<a th:href="@{/account}" id="UserInfor" th:if="${UserInfor != null}" th:utext="${UserInfor}"></a>
					</li>
					<!-- 
					<li style="display: none;"><span th:utext="${#request.userPrincipal.name}"></span></li>
					 -->
					<li class="logoutBtn"> <a th:href="@{/cart}">Giỏ hàng</a></li>
					<li class="logoutBtn" style="display: inline-flex;">
					<form th:action="@{/j_spring_security_logout}" method="post">
					    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
					     <button type="submit" class="btn btn-danger">Đăng xuất</button> 
					 </form>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top" style="display: none;">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div>
			  <div class="cart">
			  	   <p style="color: black;font-size: 120%;">Chào mừng tới Pineapple-Shop <span> Mọi mặt hàng:</span><div style="color: black;font-size: 120%;" id="dd" class="wrapper-dropdown-2"> 0 item(s) - $0.00
			  	   	<ul class="dropdown">
							<li>Bạn chưa có bất kỳ sản phẩm nào trong giỏ hàng</li>
					</ul></div></p>
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li><a th:href="@{/home}">TRANG CHỦ</a></li>
			    	<li><a th:href="@{/about}">GIỚI THIỆU</a></li>
			    	<!--<li><a th:href="@{/delivery}">VẬN CHUYỂN</a></li>-->
			    	<!--<li><a th:href="@{/news}">TIN TỨC</a></li>-->
			    	<li><a th:href="@{/contact}">LIÊN HỆ</a></li>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form th:action="@{/searchProduct}">
	     			<input name="productName" type="text" value="Tìm sản phẩm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
	     			<input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     	
   </div>
 <div class="main">
    <div class="content">
    	<div class="container">
    	<div class="row">
    	<p class="wow zoomIn" data-wow-duration="3s" style="font-size: 250%; font-weight: 700;
			color: black; text-shadow: 2px 2px 5px red; text-align: center;">
			<span id="productName" th:text="${product.productName}"></span>
			<span id="productId" style="display: none;" th:text="${product.id}"></span>
			 </p>
			<div style="margin-bottom: 20%;" class="col-lg-4 col-md-4 col-sm-12">
				<div style="font-size: 120%;">
						<div style="text-align: center; margin-top: 0px;" class="product wow zoomIn" data-wow-duration="2s">
							<img style="height: 100%;" alt="ảnh hỏng" th:src="@{/images/product/} + ${product.image}">
							<div style="border: 1px solid gray; border-radius: 5px;text-align: center;
							padding-bottom: 5%; padding-left: 2%; padding-right: 2%;" class="description">
								<span style="font-size: 130%;" th:text="${product.productName}"></span><br>
								<span id="productPrice" style="color: red; font-size: 120%; font-weight: 500px;"
								th:text="${product.price}"></span>
								<span style="color: red; font-size: 120%; font-weight: 500px;">VNĐ</span>
								<br>
							</div>
						</div>
				</div>
			</div>
			<div style="text-align: center;" class="col-lg-2 col-md-2 col-sm-12">
				<h3 style="color: red; font-size: 150%; text-align: center; font-weight: 120%;">MÔ TẢ</h3>
				<span th:text="${product.description}"></span><br>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<table class="table">
				  <thead>
				    <tr style="color: red;font-size: 120%;">
				      <th scope="col">Màu</th>
				      <th scope="col">Size</th>
				      <th scope="col">Số lượng</th>
				      <th scope="col">Giỏ hàng</th>
				    </tr>
				  </thead>
				  <tbody>
					  <th:block th:each="productDetail : ${listDetail}">
					    <tr>
					      <th style="display: none;">
					      	<p class="productDetailId" th:text="${productDetail.id}"
					  			th:attr="data-productDetailId=${productDetail.id}">
					      	</p>
					      </th>
					      <th>
					      	<p class="colorName" th:text="${productDetail.colorEntity.colorName}"
					  			th:attr="data-colorName=${productDetail.colorEntity.colorName}">
					      	</p>
					      	<p style="display: none;" class="colorId" th:text="${productDetail.colorEntity.id}"
					      		th:attr="data-colorId=${productDetail.colorEntity.id}">
					      	</p>
					      </th>
					      <th>
					      	<p class="sizeName" th:text="${productDetail.sizeEntity.sizeName}"
					      		th:attr="data-sizeName=${productDetail.sizeEntity.sizeName}">
					      	</p>
					      	<p style="display: none;" class="sizeId" th:text="${productDetail.sizeEntity.id}"
					      		th:attr="data-sizeId=${productDetail.sizeEntity.id}">
					      	</p>
					      </th>
					      <th><p class="productAmount" th:text="${productDetail.productAmount}"></p></th>

					      <td><button class="btn btn-success btnAddCart">Thêm</button> </td>
					    </tr>
					  </th:block>
				  </tbody>
				</table>
			</div>
			
			</div>
		</div>			
    </div>
 </div>
</div>
   <div style="background-color: black; color: white; text-align: center;" class="footer">
   	  <div class="container-fluid">	
	     <div class="section group">
				<div class="col_1_of_3 span_1_of_3">
						<h4>THÔNG TIN SHOP</h4>
						<p>Pineapple Shop là một thương hiệu thời trang đầy uy tín, luôn đảm bảo chất 
						lượng sản phẩm tốt nhất cho khách hàng</p>
					</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ</h4>
						<p>Địa chỉ: 113 phường Minh Khai, quận Bắc Từ Liêm, tp.Hà Nội</p>
						<p>SĐT: 0815954557</p>
						<p>Email: tungphongdo89@gmail.com</p>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ KHÁC</h4>
						<ul>
							<li><span>0815-921-220</span></li>
							<li><span>+00-123-000000</span></li>
						</ul>
						<div class="social-icons">
							<h4>Theo dõi chúng tôi</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>
				</div>
			</div>			
        </div>
      </div>
   <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

