// style lại table
mtx-grid.mtx-grid {
  .mat-table {
    &.mat-table-striped {
      .mat-row-odd {
        background-color: $row-odd-bg;

        @include dark {
          background-color: $row-odd-bg-dark;
        }
      }
    }

    &.mat-table-hover {
      .mat-row {
        &:hover {
          background-color: $row-hover-bg;

          @include dark {
            background-color: $row-hover-bg-dark;
          }
        }
      }
    }

    .mat-row {
      &.selected {
        background-color: $row-selected-bg;

        @include dark {
          background-color: $row-selected-bg-dark;
        }
      }
    }
  }
}

.table-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
}

.table-toolbar-actions {
  text-align: right;
}

.ui-text-center {
  text-align: center;
}

.mat-tab-label-active {
  background-color: #ffe2cd;
}

.mat-tab-label {
  opacity: 1 !important;
}

.crm__table {
  overflow-x: auto;

  table {
    width: -webkit-fill-available;
    width: -moz-available;
    overflow-x: auto;

    td {
      //border-right: 1px solid #eee;
      padding-left: 5px !important;
    }

    th {
      //border-top: 1px solid #eee;
      //border-right: 1px solid #eee;
      padding-left: 5px !important;
      font-weight: 600 !important;
      font-size: 14px !important;
    }

    //td:first-child {
    //  border-left: 1px solid #eee;
    //}
    //
    //th:first-child {
    //  border-left: 1px solid #eee;
    //}

    .ui-table-wrapper {
      overflow-x: auto;
    }
  }
}

.table-toolbar-title {
  .table__totalRecord--color {
    color: #f48833;
  }
}

// button
.mat-raised-button.mat-primary {
  background-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  &:hover {
    background-color: #0b5ed7;
  }

  &:disabled {
    color: #bdbdbd;
    background-color: #ebebeb;
    border: none;
  }
}

.mat-raised-button.mat-secondary {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  &:disabled {
    color: #bdbdbd;
    border: none;
    background-color: #ebebeb;
  }
}

.mat-option {
  &:hover {
    background-color: #fbfbfb;
  }
}

//dropdown
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #f48833;
}

.mat-select-panel {

  //height: 215px;
  border: 1px solid #eee;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  font-size: 12pt !important;
}

//checkbox
.mat-checkbox .mat-checkbox-frame {
  border-color: #757575;

  &:disabled {
    border-color: #d5d5d5;
  }
}

.mat-checkbox {
  &:hover {
    .mat-checkbox-frame {
      border-color: #f48833
    }
  }
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: transparent;
}

.mat-checkbox-checkmark-path {
  stroke: #f48833 !important;

  &:disabled {
    stroke: #fbdac2 !important;
  }
}

.mat-checkbox-checkmark {
  top: -7px !important;
  left: 1px !important;
  width: 138% !important;
}

//radio
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #f48833;

  &:hover {
    background: #fbdac2;
  }
}

.mat-radio-button.mat-accent .mat-radio-outer-circle {
  border-color: #757575;

  &:hover {
    border-color: #f48833
  }

  &:disabled {
    border-color: #d5d5d5;
  }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #757575;

  &:disabled {
    border-color: #d5d5d5;
  }
}

//input
// đổi font các thẻ input
$line-height: 0.875;
$line-spacing: ($line-height - 1) / 2;
$infix-padding: 0.1216em;
$subscript-font-scale: 0.75;
$infix-margin-top: 1em * $line-height * $subscript-font-scale;

input.mat-input-element {
  margin-top: -$line-spacing * 1em;
}

.mat-form-field-infix {
  font-size: 12pt;
}

.mat-form-field-infix {
  padding: $infix-padding 0;
  // Throws off the baseline if we do it as a real margin, so we do it as a border instead.
  border-top: $infix-margin-top solid transparent;
}

.mat-form-field-label-wrapper {
  top: -$infix-margin-top;
  padding-top: $infix-margin-top;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  min-height: 40px;
}

$outline-appearance-label-offset: 0.2em;
.mat-form-field-appearance-outline {
  .mat-form-field-infix {
    padding: $infix-padding + 0.2 0 $infix-padding 0;
  }

  .mat-form-field-label {
    top: $infix-margin-top + $infix-padding;
    margin-top: $outline-appearance-label-offset;
  }

  &.mat-form-field-can-float {
    &.mat-form-field-should-float .mat-form-field-label,
    .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
      @include _mat-form-field-outline-label-floating(
          $subscript-font-scale, $infix-padding + $outline-appearance-label-offset,
          $infix-margin-top +0.035);
    }

    .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
    .mat-form-field-label {
      @include _mat-form-field-outline-label-floating(
          $subscript-font-scale, $infix-padding + $outline-appearance-label-offset,
          $infix-margin-top);
    }
  }
}

.mat-form-field-appearance-outline .mat-form-field-label {
  font-size: 12pt;
  color: #666;

}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #f48833;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #f48833;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: .25em 0 13.6833px 0 !important;
}

// error
.mat-form-field-subscript-wrapper {
  margin-top: 12px;
  color: red;
  font-size: 9pt;
}

// // icon
// .material-icons{
//     color: #757575;
//   &:hover{
//     color: #f48833 ;
//   }
//   &:disabled{
//     color: #e1e1e1;
//   }
// }
// tooltip
.mat-tooltip {
  font-size: 12 dp;
  height: 24px;
  color: white !important;
}

.matero-header {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.matero-branding-logo-expanded {
  width: 100px;
  height: 100px;
}

.matero-sidenav .matero-sidemenu .matero-sidemenu-item.active > a {
  color: #ff7b1f;
}

.mat-select-arrow-wrapper {
  display: inherit !important;
}

.matero-header-white .matero-toolbar, .matero-header-white .matero-topmenu {
  background: linear-gradient(90deg, #f48833 0, #eb2957);
}

.mat-card-header-text {
  margin-left: 0 !important;

  .mat-card-title {
    font-size: 1em;
    font-weight: bold;
  }
}

.mat-card {
  .mat-card-header {
    background: rgba(0, 0, 0, .03);
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    margin: -1em -1em 1em -1em !important;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;

    .mat-card-title {
      transform: translate(0px, 7px);
    }
  }
}

.mat-expansion-panel {
  .mat-expansion-panel-header {
    background: rgba(0, 0, 0, .03) !important;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;

    .mat-expansion-panel-header-title {
      font-size: 16px !important;
    }
  }

  .mat-expanded {
    margin-bottom: 1em !important;
  }

  .mat-expansion-panel-header:hover {
    background: rgba(0, 0, 0, .03) !important;
  }
}
