mat-radio-button {
  margin-left: 16px;
}

.attachFile {
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    color: #4354c6;
  }
}

:host {
  ::ng-deep {
    .upload-direc {
      height: 10px;
    }
  }
}
