<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ titlePopup | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formGroup" class="form-field-full">

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <label id="type">{{'customer.type' | translate}}<span style="margin-left: 2px;color:red;">*</span></label>
          <mat-radio-group aria-labelledby="type" formControlName="chargeType" (change)="onChargeTypeChange($event)">
            <mat-radio-button *ngFor="let c of lstChargeType" id="{{c.value}}" [value]="c.value">
              {{c.label | translate}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-error>
            <app-inline-message [formName]="formGroup.get('chargeType')"
                                [message]="'customer.type'"></app-inline-message>
          </mat-error>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <label id="curType">{{ 'customer.curType' | translate }}<span
            style="margin-left: 2px;color:red;">*</span></label>
          <mat-radio-group aria-labelledby="curType" formControlName="currency">
            <mat-radio-button (change)="onChangeCurrency($event)" *ngFor="let c of lstCurrency" [value]="c.value">
              {{c.label | translate}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-error>
            <app-inline-message [formName]="formGroup.get('currency')"
                                [message]="'customer.curType'"></app-inline-message>
          </mat-error>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.block' | translate }}</mat-label>
            <input matInput onlyNumber formControlName="limitedDays" maxlength="3"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('limitedDays')"
                                  [message]="'customer.block'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.receiveEmail' | translate }}<span style="margin-left: 2px;color:red;">*</span>
            </mat-label>
            <input matInput type="text" formControlName="email" maxlength="100"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('email')"
                                  [message]="'customer.receiveEmail'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.code' | translate }}<span style="margin-left: 2px;color:red;">*</span></mat-label>
            <input style="text-transform: uppercase" matInput normalChar id="errorControls" formControlName="cpCode"
                   maxlength="20"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('cpCode')"
                                  [message]="'customer.code'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.name' | translate }}<span style="margin-left: 2px;color:#ff0000;">*</span>
            </mat-label>
            <input matInput type="text" formControlName="cpName" maxlength="200"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('cpName')"
                                  [message]="'customer.name'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.taxCode' | translate }}<span style="margin-left: 2px;color:#ff0000;">*</span>
            </mat-label>
            <input matInput taxCode formControlName="taxCode" maxlength="50"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('taxCode')"
                                  [message]="'customer.taxCode'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.president' | translate }}<span style="margin-left: 2px;color:red;">*</span>
            </mat-label>
            <input matInput type="text" formControlName="representative" maxlength="100"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('representative')"
                                  [message]="'customer.president'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.alarmNumber' | translate }}<span style="margin-left: 2px;color:red;">*</span>
            </mat-label>
            <input matInput formControlName="warnContact" onlyNumber maxlength="12"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('warnContact')"
                                  [message]="'customer.alarmNumber'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.province' | translate }}<span style="margin-left: 2px;color:red;">*</span>
            </mat-label>
            <mat-select formControlName="provinceId" (selectionChange)="onProvinceChange($event)">
              <mat-option [value]="'-1'">{{'common.selectDefault'|translate}}</mat-option>
              <mat-option *ngFor="let c of lstProvince" [value]="c?.provinceId">
                {{c?.provinceName | translate}}
              </mat-option>
            </mat-select>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('provinceId')"
                                  [message]="'customer.province'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.district' | translate }}</mat-label>
            <mat-select formControlName="districtId">
              <mat-option *ngFor="let s of lstDistrict" [value]="s?.districtId">
                {{s?.districtName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.address' | translate }}<span style="margin-left: 2px;color:red;">*</span>
            </mat-label>
            <input matInput type="text" formControlName="address" maxlength="500"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('address')"
                                  [message]="'customer.address'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.contractNo' | translate }}<span style="margin-left: 2px;color:red;">*</span>
            </mat-label>
            <input matInput type="text" formControlName="orderNo" maxlength="100"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('orderNo')"
                                  [message]="'customer.contractNo'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.startDate' | translate }}<span style="margin-left: 2px;color:red;">*</span>
            </mat-label>
            <input matInput [matDatepicker]="startDate" formControlName="beginDate" (dateChange)="validDate()">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('beginDate')"
                                  [message]="'customer.startDate'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.endDate' | translate }}</mat-label>
            <input matInput [matDatepicker]="endDate" formControlName="expireDate" (dateChange)="validDate()">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
            <mat-error
              *ngIf="formGroup.get('expireDate').errors?.isAfterToday && formGroup.get('expireDate').touched">{{'customer.isAfterToDay' | translate}}
            </mat-error>
            <mat-error
              *ngIf="formGroup.get('expireDate').errors?.isSmallThanBegin && formGroup.get('expireDate').touched">{{'customer.isSmallThanBegin' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.username' | translate }}<span style="margin-left: 2px;color:red;">*</span>
            </mat-label>
            <input style="text-transform: lowercase" matInput formControlName="userName" normalChar
                   (blur)="validUserName()" maxlength="50"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('userName')"
                                  [message]="'customer.username'"></app-inline-message>
            </mat-error>
            <mat-error
              *ngIf="formGroup.get('userName').errors?.isMinMax">{{'customer.minMaxUserNameValid' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.wsPass' | translate }}<span style="margin-left: 2px;color:red;">*</span></mat-label>
            <input matInput formControlName="password" type="password" maxlength="50"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('password')"
                                  [message]="'customer.wsPass'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.cpCapTren' | translate }}</mat-label>
            <mat-select formControlName="parentCpId">
              <mat-option [value]="'-1'">{{'common.selectDefault'|translate}}</mat-option>
              <mat-option *ngFor="let c of lstCpParent" [value]="c?.cpId">
                {{c?.cpCode + '-' + c?.cpName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.apiUsername' | translate }}</mat-label>
            <input style="text-transform: lowercase" normalChar matInput formControlName="wsUsername"
                   (blur)="validApiUserAndSmppUser(1)" maxlength="50"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('wsUsername')"
                                  [message]="'customer.apiUsername'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.apiPass' | translate }}</mat-label>
            <input matInput type="password" formControlName="wsPassword" maxlength="50"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('wsPassword')"
                                  [message]="'customer.apiPass'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>Tps</mat-label>
            <input matInput onlyNumber formControlName="tps" maxlength="3"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('tps')"
                                  [message]="'Tps'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.smppUsername' | translate }}</mat-label>
            <input matInput style="text-transform: lowercase" normalChar formControlName="cpSysid"
                   (blur)="validApiUserAndSmppUser(2)" maxlength="50"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('cpSysid')"
                                  [message]="'customer.smppUsername'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.smppPass' | translate }}</mat-label>
            <input matInput formControlName="passSmpp" type="password" maxlength="9"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('passSmpp')"
                                  [message]="'customer.smppPass'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>IP</mat-label>
            <input matInput type="text" formControlName="ip"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('ip')" maxlength="500"
                                  [message]="'IP'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <label id="accountType">{{ 'customer.accountType' | translate }}</label>
          <mat-radio-group aria-labelledby="accountType" formControlName="accountType">
            <mat-radio-button *ngFor="let c of lstAccountType" [value]="c.value">
              {{c.label | translate}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <label id="status">{{ 'customer.status' | translate }}<span
            style="margin-left: 2px;color:red;">*</span></label>
          <mat-radio-group aria-labelledby="status" formControlName="status">
            <mat-radio-button *ngFor="let c of lstStatus" [value]="c.value">
              {{c.label | translate}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{'customer.freeSms' | translate}}</mat-label>
            <input matInput onlyNumber formControlName="freeSms" maxlength="10"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('freeSms')"
                                  [message]="'customer.freeSms'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.levelCardPay' | translate }}</mat-label>
            <input matInput onlyNumber formControlName="topupLimit" maxlength="20"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('topupLimit')"
                                  [message]="'customer.levelCardPay'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.alarmBalance' | translate }}</mat-label>
            <input matInput onlyNumber formControlName="warnBalance" maxlength="20"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('warnBalance')"
                                  [message]="'customer.alarmBalance'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{'customer.alarmAdBalance' | translate}}</mat-label>
            <input matInput onlyNumber formControlName="adWarnBalance" maxlength="20"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('adWarnBalance')"
                                  [message]="'customer.alarmAdBalance'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.smsVuotNguong' | translate }}</mat-label>
            <input matInput onlyNumber formControlName="alertSmstotal" (blur)="validAlertSmstotal()" maxlength="18"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('alertSmstotal')"
                                  [message]="'customer.smsVuotNguong'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.sdtVuotNGuong' | translate }}</mat-label>
            <input matInput onlyCommasNumber formControlName="alertTel" (blur)="validAlertTel()" maxlength="2000"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('alertTel')"
                                  [message]="'customer.sdtVuotNGuong'"></app-inline-message>
              <span
                *ngIf="formGroup.get('alertTel').errors?.invalidArrAlertTel">{{'customer.invalidArrAlertTel' | translate}}</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{'customer.emailVuotNGuong' | translate}}</mat-label>
            <input matInput type="text" formControlName="alertEmail" (blur)="validAlertEmail()" maxlength="2000"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('alertEmail')"
                                  [message]="'customer.emailVuotNGuong'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <label id="realtimePermit">{{ 'customer.lbsProgram' | translate }}</label>
          <mat-radio-group aria-labelledby="realtimePermit" formControlName="realtimePermit">
            <mat-radio-button *ngFor="let c of lstLbsPr" [value]="c.value">
              {{c.label | translate}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.limitAmongAcc' | translate }}</mat-label>
            <input matInput onlyNumber formControlName="transferLimit" maxlength="17"/>
            <mat-error>
              <app-inline-message [formName]="formGroup.get('transferLimit')"
                                  [message]="'customer.limitAmongAcc'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <span>{{'customer.exampleDesc' | translate}}</span>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.projectCode' | translate }}</mat-label>
            <mat-select formControlName="projectCode" (selectionChange)="onProjectChange($event)">
              <mat-option [value]="'-1'">{{'common.selectDefault'|translate}}</mat-option>
              <mat-option *ngFor="let c of lstProject" [value]="c?.value">
                {{c?.value | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="33" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'customer.projectName' | translate }}</mat-label>
            <input matInput type="text" readonly formControlName="projectName"/>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutGap="8px grid">
        <div>
          <button mat-stroked-button color="basic" (click)="advInfoClick()"
                  style="margin-right: 8px;">{{ 'customer.advInfo' | translate }}</button>
        </div>
      </div>

      <div *ngIf="isAdvInfo" style="margin-top: 10px">
        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-checkbox class="example-margin" formControlName="approveType">{{'customer.approveReq' | translate}}
            </mat-checkbox>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-checkbox class="example-margin" formControlName="sendWithOther">{{'customer.allowSendSms' | translate}}
            </mat-checkbox>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-checkbox class="example-margin" formControlName="allowBiProg">{{'customer.allowSendBI' | translate}}
            </mat-checkbox>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-checkbox class="example-margin" formControlName="filterVip">{{'customer.vipFilter' | translate}}
            </mat-checkbox>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-checkbox class="example-margin" formControlName="notFilter">{{'customer.noFilerContent' | translate}}
            </mat-checkbox>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-checkbox class="example-margin" formControlName="syncRevenueBccs">{{'customer.autoSync' | translate}}
            </mat-checkbox>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-checkbox class="example-margin" formControlName="filter1313">{{'customer.1313Filter' | translate}}
            </mat-checkbox>
          </div>
        </div>
      </div>

      <div style="margin-top: 1.8rem;">
        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="100" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.contact' | translate}}<span style="margin-left: 2px;color:red;">*</span>
              </mat-label>
              <textarea matInput rows="5" formControlName="cpinfo" maxlength="500"></textarea>
              <mat-error>
                <app-inline-message [formName]="formGroup.get('cpinfo')"
                                    [message]="'customer.contact'"></app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div style="margin-top: 0.5rem;">
        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.hhFee' | translate}}<span style="margin-left: 2px;color:red;">*</span></mat-label>
              <input matInput onlyNumber formControlName="monthCommission" (blur)="validMonthCommission()"
                     maxlength="2"/>
              <mat-error>
                <app-inline-message [formName]="formGroup.get('monthCommission')"
                                    [message]="'customer.hhFee'"></app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.reasonChange' | translate}}</mat-label>
              <!--              <input matInput type="text" formControlName="monthCommissionNote" maxlength="450"/>-->
              <textarea matInput rows="5" type="text" formControlName="monthCommissionNote" maxlength="450"></textarea>
              <mat-error>
                <app-inline-message [formName]="formGroup.get('monthCommissionNote')"
                                    [message]="'customer.reasonChange'"></app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.attachDocxHH' | translate}}</mat-label>
              <!--              <ngx-mat-file-input placeholder="Choose file"-->
              <!--                                  formControlName="monthCommissionAttachFile"-->
              <!--                                  [accept]="ALLOW_FILE_TYPE"-->
              <!--                                  (change)="onFileChange($event,2)"-->
              <!--              ></ngx-mat-file-input>-->
              <!--              <mat-icon matSuffix>folder</mat-icon>-->
              <upload-file [isDisplayToolBar]="false" formControlName="monthCommissionAttachFile"
                           (onFileChange)="onFileChange($event,2)"
                           [accept]="ALLOW_FILE_TYPE"></upload-file>
              <mat-error
                *ngIf="formGroup.get('monthCommissionAttachFile').errors?.maxContentSize">{{'customer.maxSizeUpload' | translate}}</mat-error>
            </mat-form-field>
          </div>
          <!--          <div fxFlexAlign="center" fxFlex="16" fxFlex.lt-sm="100">-->
          <!--            <span class="attachFile"-->
          <!--                  (click)="downloadFiles(monthCommissionAttachFile)">{{ monthCommissionAttachFile ? monthCommissionAttachFile : ''}}</span>-->
          <!--          </div>-->
        </div>

        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.roseFeeCode' | translate}}</mat-label>
              <mat-select formControlName="commissionPercentCode">
                <mat-option *ngFor="let c of lstCommissionCode" [value]="c?.percentCode">
                  {{c?.percentCode | translate}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.reasonChange' | translate}}</mat-label>
              <!--              <input matInput type="text" formControlName="reason" maxlength="450"/>-->
              <textarea matInput rows="5" type="text" formControlName="reason" maxlength="450"></textarea>
              <mat-error>
                <app-inline-message [formName]="formGroup.get('monthCommissionNote')"
                                    [message]="'customer.reasonChange'"></app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="attachFile" fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.attachDocx' | translate}}<span style="margin-left: 2px;color:red;">*</span>
              </mat-label>
              <!--              <ngx-mat-file-input placeholder="Choose file"-->
              <!--                                  formControlName="attachFile"-->
              <!--                                  [accept]="ALLOW_FILE_TYPE"-->
              <!--                                  (change)="onFileChange($event,1)">-->
              <!--              </ngx-mat-file-input>-->
              <!--              <mat-icon matSuffix>folder</mat-icon>-->
              <upload-file [isDisplayToolBar]="false" formControlName="attachFile"
                           [accept]="ALLOW_FILE_TYPE" (onFileChange)="onFileChange($event,1)"></upload-file>
            </mat-form-field>
          </div>
          <!--          <div fxFlexAlign="center" fxFlex="16" fxFlex.lt-sm="100">-->
          <!--            <span class="attachFile"-->
          <!--                  (click)="downloadFiles(attachFile)">{{ attachFile ? attachFile : ''}}</span>-->
          <!--          </div>-->
        </div>

        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="33" fxFlex.lt-sm="100">
            <div fxLayout="row wrap" style="margin-top: 4px">
              <div fxFlex="70">
                <mat-label>{{'customer.manageAcc' | translate}}</mat-label>
                <span *ngIf="searchAccount?.userName"
                      style="margin-left: 15px;font-weight: bold">{{searchAccount?.userName}}</span>
              </div>
              <div fxFlex="30">
                <button mat-stroked-button color="basic" (click)="openSearchAccountDialog()"
                        style="margin-right: 8px;">{{ 'customer.choose' | translate }}</button>
                <button mat-stroked-button color="basic" (click)="cancelChoose(1)"
                        style="margin-right: 8px;">{{ 'customer.cancel' | translate }}</button>
              </div>
            </div>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <div fxLayout="row wrap" style="margin-top: 4px">
              <div fxFlex="70">
                <mat-label>{{'customer.dev' | translate}}</mat-label>
                <span *ngIf="searchDev?.name"
                      style="margin-left: 15px;font-weight: bold">{{searchDev?.staffCode + '-' + searchDev?.name}}</span>
              </div>
              <div fxFlex="30">
                <button mat-stroked-button color="basic" (click)="openSearchDevDialog()"
                        style="margin-right: 8px;">{{ 'customer.choose' | translate }}</button>
                <button mat-stroked-button color="basic" (click)="cancelChoose(2)"
                        style="margin-right: 8px;">{{ 'customer.cancel' | translate }}</button>
              </div>
            </div>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.devEmail' | translate}}<span style="margin-left: 2px;color:red;">*</span>
              </mat-label>
              <input matInput type="text" formControlName="staffEmail"/>
              <mat-error>
                <app-inline-message [formName]="formGroup.get('staffEmail')"
                                    [message]="'customer.devEmail'"></app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="8px grid">
          <div fxFlex="33" fxFlex.lt-sm="100">
            <div fxLayout="row wrap" style="margin-top: 4px">
              <div fxFlex="70">
                <mat-label>{{'customer.teleSale' | translate}}</mat-label>
                <span *ngIf="searchTeleSale?.name"
                      style="margin-left: 15px;font-weight: bold">{{searchTeleSale?.staffCode + '-' + searchTeleSale?.name}}</span>
              </div>
              <div fxFlex="30">
                <button mat-stroked-button color="basic" (click)="openSearchTeleSaleDialog()"
                        style="margin-right: 8px;">{{ 'customer.choose' | translate }}</button>
                <button mat-stroked-button color="basic" (click)="cancelChoose(3)"
                        style="margin-right: 8px;">{{ 'customer.cancel' | translate }}</button>
              </div>
            </div>
          </div>
          <div fxFlex="33" fxFlex.lt-sm="100">
            <mat-form-field appearance="outline">
              <mat-label>{{'customer.percentAMCTV' | translate}}</mat-label>
              <input matInput onlyNumber formControlName="amPercent" maxlength="3"/>
              <mat-error>
                <app-inline-message [formName]="formGroup.get('amPercent')"
                                    [message]="'customer.percentAMCTV'"></app-inline-message>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

    </form>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div>
      <button mat-raised-button color="primary" routerLink="/cp-management"
              style="margin-right: 8px;">{{ 'common.button.close' | translate }}</button>
      <button mat-raised-button color="primary" (click)="save()"
              style="margin-right: 8px;">{{ isSaving ? ('common.button.insert' | translate) : ('common.button.update' | translate)  }}</button>
    </div>
  </mat-card-actions>
</mat-card>
