<div style="width: 800px; height: fit-content; padding: 2%;box-sizing: border-box;">
    <h2 mat-dialog-title>{{"common.changePassword"|translate}}</h2>
    <mat-dialog-content class="mat-typography">
  
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <mat-form-field appearance="outline" class="col-md-4">
          <mat-label>{{'user.management.column.password'|translate}}</mat-label>
          <input matInput formControlName="password" type="password" >
          <mat-error *ngIf="changePasswordForm.controls['password'].invalid">
            {{changePasswordForm.controls['password']|formErrorMessage: ('user.management.column.password'|translate)}}
          </mat-error>
        </mat-form-field>
        <br />
        <button type="submit" color="primary" mat-raised-button class="mr-3" [disabled]="this.changePasswordForm.invalid">
          {{"common.button.save" | translate}}
        </button>
        <button mat-button mat-dialog-close>{{"common.button.cancle"|translate}}</button>
      </form>
    </mat-dialog-content>
  </div>