<div class="card cp-brand-search" *ngIf="cpAliasData">

  <div class="card-header">
    <div class="card-title">
      <mat-panel-title>{{ 'cp-brand-mn.edit' | translate }}</mat-panel-title>
    </div>
  </div>
  <form [formGroup]="formCreate" (ngSubmit)="create('0', 'DEFAULT')">
    <div class="card-body" [formGroup]="formCreate">
      <div class="row">

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.brandName' | translate }}<span class="required">*</span></mat-label>
            <input type="text" #brandName matInput formControlName="brandName" (change)="checkSameBrandName()" [maxLength]="11">
            <mat-error *ngIf="!sameBrandName">
            <span *ngIf="hasError('brandName', 'customRequired')">
              {{'cp-brand-mn.validator.brand.name.required' | translate}}
            </span>
              <span *ngIf="hasError('brandName', 'maxlength')">
              {{ 'validation.maxLength' | translate: {
                field: 'cp-brand-mn.brandName' | translate,
                value: formCreate.get('brandName').errors.maxlength.requiredLength
              }
                }}
            </span>
              <span *ngIf="!hasError('brandName', 'customRequired') && hasError('brandName', 'pattern')">
              {{'cp-brand-mn.validator.brand.name.pattern' | translate}}
            </span>

              <span *ngIf="hasError('brandName', 'sameBrandName')">
              {{'cp-brand-mn.validator.brand.name.same.telco' | translate}}
            </span>
            </mat-error>
          </mat-form-field>

        </div>

        <div class="col-6">
          <mat-label class="mr-2">{{ 'cp-brand-mn.create.status' | translate }}<span class="required">*</span>
          </mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="state">
            <mat-radio-button class="mr-2" name="aliasType"
                              [value]="1">{{'filter.active' | translate}}</mat-radio-button>
            <mat-radio-button class="mr-2" name="aliasType"
                              [value]="0">{{'filter.inactive' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.company.name' | translate }}<span class="required">*</span></mat-label>
            <input matInput formControlName="companyName" [maxLength]="500">
            <mat-error>
              <app-inline-message *ngIf="!hasError('companyName', 'maxlength')"
                                  [formName]="formCreate.get('companyName')"
                                  [message]="'cp-brand-mn.create.company.name'">
              </app-inline-message>

              <span *ngIf="hasError('companyName', 'maxlength')">
              {{ 'validation.maxLength' | translate: {
                field: 'cp-brand-mn.create.company.name' | translate,
                value: formCreate.get('companyName').errors.maxlength.requiredLength
              } }}
            </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.tax.code' | translate }}<span class="required">*</span></mat-label>
            <input matInput formControlName="taxCode" [maxLength]="50" onlyNumberCharacterDirective>
            <mat-error>
              <app-inline-message [formName]="formCreate.get('taxCode')"
                                  [message]="'cp-brand-mn.create.tax.code'">

              </app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <mat-label class="mr-2">{{ 'cp-brand-mn.brandType' | translate }}<span class="required">*</span></mat-label>
          <mat-radio-group aria-label="Select an option" formControlName="aliasType" (change)="changeAliasType($event)">
            <mat-radio-button class="mr-2" name="aliasType"
                              [value]="0">{{'cp-brand-mn.brandType.customer' | translate}}</mat-radio-button>
            <mat-radio-button name="aliasType"
                              [value]="1">{{'cp-brand-mn.brandType.Advertisement' | translate}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.group' | translate }}<span class="required">*</span></mat-label>
            <mat-select formControlName="groupId">
              <mat-option [value]="''">
                {{'common.select' | translate}}
              </mat-option>
              <mat-option *ngFor="let aliasGroup of aliasGroups" [value]="aliasGroup.value">
                {{aliasGroup.label}}
              </mat-option>
            </mat-select>
            <mat-error>
            <span *ngIf="formCreate.get('groupId').touched && hasError('groupId','customRequired')">
                {{'cp-brand-mn.group.required' | translate}}
              </span>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.Telco' | translate }}<span class="required">*</span></mat-label>
            <mat-select formControlName="telco">
              <mat-option *ngFor="let telco of telcos" [value]="telco.telcoCode">
                {{telco.telcoName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.main.ws' | translate }}<span class="required">*</span></mat-label>
            <mat-select formControlName="mainWS" (selectionChange)="changeMainWS($event)">
              <mat-option [value]="''">{{'common.select' | translate}}</mat-option>
              <mat-option *ngFor="let mainWS of mainWSs" [value]="mainWS.value">
                {{mainWS.label}}
              </mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="formCreate.get('mainWS').touched && hasError('mainWS','customRequired')">
                {{'cp-brand-mn.main.ws.required' | translate}}
              </span>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{ 'cp-brand-mn.create.expiration.date' | translate }}</mat-label>
            <input matInput [matDatepicker]="fromDate" formControlName="expirationDate">
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
            <mat-error>
              <small *ngIf="hasError('expirationDate', 'matDatepickerParse')">
                {{'cp-brand-mn.search.date.notValid' | translate}}
              </small>
              <small
                *ngIf="!hasError('expirationDate', 'matDatepickerParse') && hasError('expirationDate', 'lessThanNow')">
                {{'cp-brand-mn.validator.tax.expiration.date.less.now' | translate}}
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.extra.ws' | translate }}</mat-label>
            <mat-select formControlName="extraWS">
              <mat-option [value]="''">{{'common.select' | translate}}</mat-option>
              <mat-option *ngFor="let extraWS of extraWSs" [value]="extraWS.value">
                {{extraWS.label}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>

      </div>

      <div class="row">

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.time.repeat' | translate }}<span class="required">*</span></mat-label>
            <input matInput formControlName="timeRepeat" onlyNumber [maxLength]="5">
            <mat-error>
              <small *ngIf="hasError('timeRepeat', 'required')">
                {{'cp-brand-mn.validator.repeat.time.required' | translate}}
              </small>
              <small *ngIf="hasError('timeRepeat', 'min')">
                {{'cp-brand-mn.validator.repeat.time.between' | translate}}
              </small>

              <small *ngIf="hasError('timeRepeat', 'max')">
                {{'cp-brand-mn.validator.repeat.time.between' | translate}}
              </small>

            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row mb-2">

        <div class="col-3">
          <mat-checkbox formControlName="checkSpam" (change)="onChangeBlockSmppp($event)">
            {{'cp-brand-mn.create.check.spam' | translate}}
          </mat-checkbox>
        </div>

        <div class="col-3">
          <mat-checkbox formControlName="feeRegister" (change)="onChangeCustomFee($event, false)">
            {{'cp-brand-mn.create.fee.register' | translate}}
          </mat-checkbox>
        </div>

        <div class="col-3">
          <mat-checkbox formControlName="blockSMPP" >
            {{'cp-brand-mn.create.block.smpp' | translate}}
          </mat-checkbox>
        </div>

        <div class="col-3">
          <mat-checkbox formControlName="superiorsCp">
            {{'cp-brand-mn.create.superiors.cp' | translate}}
          </mat-checkbox>
        </div>

      </div>

      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.maintaining.fee' | translate }}</mat-label>
            <mat-select formControlName="keepFee">
              <mat-option [value]="null">{{'common.select' | translate}}</mat-option>
              <mat-option *ngFor="let keepFee of keepFees" [value]="keepFee.label">
                {{keepFee.label}}
              </mat-option>
            </mat-select>
            <mat-error>
              <span *ngIf="formCreate.get('keepFee').touched && hasError('keepFee','required')">
                {{'cp-brand-mn.fee.required' | translate}}
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.message.spam' | translate }}</mat-label>
            <input matInput formControlName="numberSpam" onlyNumber [maxlength]="19">
            <mat-error>
              <small *ngIf="hasError('numberSpam', 'max')">
                {{'cp-brand-mn.validator.spam.message.between' | translate}}
              </small>
              <small *ngIf="hasError('numberSpam', 'min')">
                {{'cp-brand-mn.validator.spam.message.between' | translate}}
              </small>
              <small *ngIf="hasError('numberSpam', 'required')">
                {{'cp-brand-mn.validator.spam.message.between' | translate}}
              </small>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'cp-brand-mn.create.month.apply.fee' | translate }}</mat-label>
            <input matInput formControlName="feeMonth" onlyNumber [maxLength]="3">
            <mat-error>
              <small *ngIf="hasError('feeMonth', 'max')">
                {{'cp-brand-mn.validator.month.between' | translate}}
              </small>
              <small *ngIf="hasError('feeMonth', 'min')">
                {{'cp-brand-mn.validator.month.between' | translate}}
              </small>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field appearance="outline" class="input-file w-100">
            <mat-label>{{'customer.attachDocx' | translate}}</mat-label>
            <upload-file formControlName="attachFile"
                         [control]="formCreate.get('attachFile')"
                         [accept]="listEndFile">

            </upload-file>

            <mat-error class="mat-error-custom"
                       *ngIf="formCreate.get('attachFile').errors?.fileSize && (formCreate.get('attachFile').touched || formCreate.get('attachFile').dirty)">
              {{ 'cp-brand-mn.validator.file.max.size' | translate }}
            </mat-error>
            <mat-error class="mat-error-custom"
                       *ngIf="formCreate.get('attachFile').errors?.fileType && !formCreate.get('attachFile').errors?.fileSize
                   && (formCreate.get('attachFile').touched || formCreate.get('attachFile').dirty)">
              {{ 'cp-brand-mn.validator.file.format' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-12 text-center mt-3">
        <button mat-raised-button color="primary" class="mr-2"
                (click)="goBack()">{{'common.button.close' | translate}}
        </button>
        <button mat-raised-button color="primary" class="mr-2" [disabled]="disableCreate" type="submit">
          {{'common.button.update' | translate}}
        </button>
      </div>
    </div>
  </form>
</div>
