<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'cp-brand-mn.searchTitle' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form action="" [formGroup]="formSearch" (ngSubmit)="search()">
          <div class="card-body">
            <div class="row">

              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'cp-brand-mn.brandName' | translate }}</mat-label>
                  <input matInput formControlName="brandName" [maxLength]="20" type="text" #brandName
                         >
                  <mat-error>
                <span *ngIf="hasError('brandName', 'pattern')">
                  {{'cp-brand-mn.brandName.error.character' | translate}}
                </span>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'cp-brand-mn.Telco' | translate }}</mat-label>
                  <mat-select formControlName="telco">
                    <mat-option [value]="''">{{'common.select' | translate}}</mat-option>
<!--                    <mat-option *ngFor="let telco of telcos" [value]="telco.telcoCode">-->
<!--                      {{telco.telcoName}}-->
<!--                    </mat-option>-->
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-6">
                <mat-label class="mr-2">{{ 'cp-brand-mn.brandType' | translate }}</mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="aliasType">
                  <mat-radio-button class="mr-2" name="aliasType"
                                    [value]="-1">{{'filter.allOptions' | translate}}</mat-radio-button>
                  <mat-radio-button class="mr-2" name="aliasType"
                                    [value]="0">{{'cp-brand-mn.brandType.customer' | translate}}</mat-radio-button>
                  <mat-radio-button name="aliasType"
                                    [value]="1">{{'cp-brand-mn.brandType.Advertisement' | translate}}</mat-radio-button>
                </mat-radio-group>
              </div>

            </div>

            <div class="row mt-3 text-right">
              <div class="col-4"></div>
              <div class="col-4"></div>
              <div class="col-4">
                <button mat-raised-button color="primary" class="mr-2"
                        type="submit">{{'common.button.search' | translate}}</button>
                <button type="button" mat-raised-button color="primary"
                        (click)="export()">{{'Export-excel' | translate}}</button>
              </div>

            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
