<div fxLayout='row wrap' class='matero-row'>
  <div fxFlex='100' fxFlex.lt-sm='100'>
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>folder_open</mat-icon>
        <span class="card-title-font">{{'campaign-group-user.group.title' | translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <mtx-grid [showColumnMenuButton]='false' [data]='groupList' [columns]='columnsGroup'
                  [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                  [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
                  [pageSizeOptions]='pageSizeList' [loading]='isLoading'
                  [pageIndex]='pageIndex' [pageSize]='pageSize'
                  [headerTemplate]='header1Tpl'
                  [cellTemplate]='{no: templateOrderNumber, total: total, callReturn: callReturnTpl,
                called: calledTpl, assigned: assignedTpl, received: receivedTpl, yetCall: yetCallTpl,
                yetAssign: yetAssignTpl }'
                  [noResultText]="'common.notify.no-record-result' | translate" (page)='onPageChange($event)'>
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #templateOrderNumber let-index='index'>
            <span>{{index + 1 + pageSize * pageIndex}}</span>
          </ng-template>
          <ng-template #total let-row>
            <span>{{row.total}}</span>
          </ng-template>
          <ng-template #callReturnTpl let-row>
            <div class='text-center'>
              <button mat-icon-button color="primary" aria-label="" (click)="openRestoreCampaignResourceDialog(row)"
                      matTooltip="{{'campaign-group-user.group.button.data-return' | translate}}">
                <mat-icon>redo</mat-icon>
              </button>
            </div>
          </ng-template>
          <ng-template #calledTpl let-row>
            <div class="text-right">{{row.called}}</div>
          </ng-template>
          <ng-template #receivedTpl let-row>
            <div class="text-right">{{row.received}}</div>
          </ng-template>
          <ng-template #yetCallTpl let-row>
            <div class="text-right">{{row.yetCall}}</div>
          </ng-template>
          <ng-template #assignedTpl let-row>
            <div class="text-right">{{row.assigned}}</div>
          </ng-template>
          <ng-template #yetAssignTpl let-row>
            <div class="text-right">{{row.yetAssign}}</div>
          </ng-template>
        </mtx-grid>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex='100' fxFlex.lt-sm='100'>
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>description</mat-icon>
        <span class="card-title-font">{{'campaign-group-user.assign.title' | translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formSave">
          <div class='row'>
            <div class='col-4'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'campaign-resource.campaign' | translate}}</mat-label>
                <mat-select [(ngModel)]="campaignId" (ngModelChange)="onGetGroupUser(campaignId)" [ngModelOptions]="{standalone: true}">
                  <mat-option value=0>{{'campaign-resource.select' | translate}}</mat-option>
                  <mat-option *ngFor='let item of campaignList' [value]='item.value'>{{item.label}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class='col-4'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'campaign-group-user.group.select' | translate}}</mat-label>
                <mat-select [(ngModel)]="groupId" (ngModelChange)="onGetCampaignData()" [ngModelOptions]="{standalone: true}">
                  <mat-option value=0>{{'campaign-resource.select' | translate}}</mat-option>
                  <mat-option *ngFor='let item of userGroupList' [value]='item.id'>{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class='col-4'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'campaign-group-user.assign.un-assign-data' | translate}}</mat-label>
                <input matInput type="number" [(ngModel)]="yetAssign" disabled [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
            <!--          -->
            <div class='col-12' style='margin-bottom: 8px'>
              <mat-icon>people</mat-icon>
              <label class='custom-title'>{{'campaign-group-user.assign.assign-user' | translate}}</label>
              <mat-divider></mat-divider>
            </div>

            <div class="col-12">
              <mat-checkbox class="example-margin" style="display: flex; justify-content: flex-end"
                            [(ngModel)]="selectAll"
                            (ngModelChange)="onSelectAllUserChange()" [ngModelOptions]="{standalone: true}">
                {{'campaign-group-user.assign.select-all' | translate}}
              </mat-checkbox>
            </div>

            <div class='col-lg-3 col-md-4 col-sm-6' *ngFor="let user of userList; let id = index">
              <mat-card>
                <mat-checkbox class="example-margin" style="width: 100%" [(ngModel)]="user.checked"
                              (ngModelChange)="onSelectUserChange(user)" [ngModelOptions]="{standalone: true}">
                  {{user.fullName}}
                </mat-checkbox>
                <mat-form-field appearance='outline' style="width: 100%">
                  <input matInput type="number" [formControlName]="user.id.toString()">
                  <mat-error
                    *ngIf="formSave.get(user.id.toString()).invalid">{{'campaign-resource-assign.form.validate.invalid' | translate}}</mat-error>
                </mat-form-field>
              </mat-card>
            </div>

            <div class='col-12'>
              <button mat-raised-button color='primary' class="mr-2" style='min-width: 7vw'
                      (click)='doEqualAssign()'>{{'campaign-group-user.assign.button.equally' | translate}}</button>
              <button mat-raised-button color='primary' style='min-width: 7vw'
                      (click)='doAssign()'
                      [disabled]="formSave.invalid">{{'campaign-group-user.assign.button.assign' | translate}}</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex='100' fxFlex.lt-sm='100'>
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>description</mat-icon>
        <span class="card-title-font">{{'campaign-group-user.user.title' | translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class='row'>
          <!--            <div class='col-12 mt-4 mb-4'>-->
          <!--              <mat-icon>list_alt</mat-icon>-->
          <!--              <label class='custom-title'>{{'campaign-group-user.user.title' | translate}}</label>-->
          <!--              <mat-divider></mat-divider>-->
          <!--            </div>-->
          <div class='col-4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'campaign-group-user.user.columns.username' | translate}}</mat-label>
              <input matInput [(ngModel)]="nameSearch" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
          <div class='col-4' style="margin-top: 4px">
            <button mat-raised-button color='primary' style='min-width: 7vw'
                    (click)='onSearch()'>{{'campaign-resource.search' | translate}}</button>
          </div>
          <div class='col-12'>
            <mtx-grid [showColumnMenuButton]='false' [data]='campaignUserList' [columns]='columns'
                      [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                      [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
                      [pageSizeOptions]='pageSizeList' [loading]='isLoading'
                      [pageIndex]='pageIndexTb2' [pageSize]='pageSizeTb2'
                      [headerTemplate]='header1Tpl'
                      [cellTemplate]='{no: templateOrderNumberTpl2, total: total, callReturn: callReturnTpl2, called: calledTpl, received: receivedTpl, yetCall: yetCallTpl}'
                      [noResultText]="'common.notify.no-record-result' | translate"
                      (page)='onUserPageChange($event)'>
              <ng-template #templateOrderNumberTpl2 let-index='index'>
                <span>{{index + 1 + pageSizeTb2 * pageIndexTb2}}</span>
              </ng-template>
              <ng-template #callReturnTpl2 let-row>
                <div class='text-center'>
                  <button mat-icon-button color="primary" aria-label="" (click)="openRestoreCampaignGroupDialog(row)"
                          matTooltip="{{'campaign-group-user.user.button.data-return' | translate}}">
                    <mat-icon>redo</mat-icon>
                  </button>
                </div>
              </ng-template>
            </mtx-grid>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
