<mat-card class="margin-bottom-0">
  <mat-card-header class="padding-left-0">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>assignment</mat-icon>
        <span
          class="custom-title"> {{'campaign-group-user.user.columns.data-yet-call-return'|translate}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="formSave">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'campaign-group-user.user.columns.username'|translate}}</mat-label>
            <input matInput type="text" [disabled]="true" [(ngModel)]="input.userName" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'campaign-group-user.user.current'|translate}}</mat-label>
            <input matInput type="text" [disabled]="true" [(ngModel)]="input.yetCall" [ngModelOptions]="{standalone: true}"/>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'campaign-group-user.user.return'|translate}}</mat-label>
            <input matInput type="number" formControlName="numberData"/>
            <mat-error *ngIf="formSave.get('numberData').invalid">{{'campaign-resource-assign.form.validate.invalid' | translate}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>{{'campaign-group-user.user.button.close'|translate}}</button>
    <button mat-raised-button color="primary" [disabled]="formSave.invalid" (click)="onReturnData()">{{'campaign-group-user.user.button.data-return'|translate}}</button>
  </mat-dialog-actions>
</mat-card>
