<div class="text-editor pt-4 pb-2">
  <form [formGroup]="form">
    <input matInput class="invisible" formControlName="editorValue" readonly name="name"/>
    <ejs-richtexteditor #textEditor formControlName="editorContent" [toolbarSettings]='tools'>
    </ejs-richtexteditor>
  </form>
</div>
