@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";

.container {
  width: 90% !important;


}

body {
  font-weight: normal !important;
}

.btn {
  cursor: pointer
}

div > div.container {
  margin: auto;
}

.descriptionDictionary {
  // display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px !important;
}

.descriptionDictionary > p {
  // display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px !important;
}

// .descriptionDictionary  ol   {
//   display: inline-block;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   width: 100px !important;
// }
.descriptionDictionary ol li { //strong,em
  // display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px !important;
}

.descriptionDictionary ul li {
  // display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px !important;
}

* {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif !important;
}
.ant-table-thead > tr > th {
  font-weight: bold !important;
}
.MuiTableCell-head{
  font-weight: bold !important;
}

