<div fxLayout="row wrap" class="matero-row cp-brand-search config-auto-email">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <mat-icon>receipt_long</mat-icon>&nbsp;<h5>{{"config_auto_email.configure_automatic_email"|translate}}</h5>
      </mat-card-header>
      <mat-card-content class="card-body">
        <form [formGroup]="form" #ngForm="ngForm">
          <div class="row mt-1">
            <div class='col-12' style='margin-bottom: 8px'>
              <mat-icon>edit</mat-icon>
              <label class='custom-title'>{{'config_auto_email.data_for_configuration' | translate}}</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'email_blacklist.Campaign' | translate }} *</mat-label>
                <mat-select formControlName="campaignEmailId">
                  <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                  <mat-option *ngFor="let item of lstCampaignEmailMarketing"
                              [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="form.controls['campaignEmailId'].invalid">{{form.controls['campaignEmailId']|formErrorMessage: ('email_blacklist.Campaign'|translate) }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{"config_auto_email.configuration_auto_name"|translate}} *</mat-label>
                <input matInput formControlName="name">
                <mat-error
                  *ngIf="form.controls['name'].invalid">{{form.controls['name']|formErrorMessage: ('config_auto_email.configuration_name'|translate) }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'config_auto_email.time_type' | translate }} *</mat-label>
                <mat-select (selectionChange)="changeTimeType()" formControlName="timeType">
                  <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                  <mat-option *ngFor="let item of lstTimeType" [value]="item['code']">{{item["value"]}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="form.controls['timeType'].invalid">{{form.controls['timeType']
                  |formErrorMessage: ('config_auto_email.time_type'|translate) }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3" *ngIf="form.get('timeType').value === 'W'">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'config_auto_email.Weekdays' | translate }}</mat-label>
                <mat-select formControlName="dateOfWeek" multiple>
                  <mat-option *ngFor="let item of lstDateOfWeek" [value]="item['code']">{{item["value"]}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3" *ngIf="form.get('timeType').value === 'O'">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'config_auto_email.sent_date' | translate }}</mat-label>
                <input [readonly]="true"
                       matInput
                       [matDatepicker]="sentDate"
                       formControlName="dateSend"
                       [min]="today"
                >
                <mat-datepicker-toggle matSuffix [for]="sentDate"></mat-datepicker-toggle>
                <mat-datepicker #sentDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{ 'config_auto_email.sending_time' | translate }} *</mat-label>
                <input matInput [ngxTimepicker]="fullTime" [format]="24" readonly formControlName="timeSend">
                <mat-error
                  *ngIf="form.controls['timeSend'].invalid">{{form.controls['timeSend']
                  |formErrorMessage: ('config_auto_email.sending_time'|translate) }}</mat-error>
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <h6>{{"config_auto_email.Status"|translate}}: </h6>
              <mat-checkbox class="custom-mat-checkbox" formControlName="status" name="fcr">
                <span *ngIf="form.get('status').value"
                      class="text-success">{{ 'config_auto_email.Activate' | translate }}</span>
                <span *ngIf="!form.get('status').value">{{ 'config_auto_email.Inactive' | translate }}</span>
              </mat-checkbox>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <button (click)="create()" class="btn btn-success">
                {{"Add_new"|translate}}
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="ml-3 ">list_alt
            </mat-icon>&nbsp;&nbsp;<h5>{{ 'config_auto_email.configuration_list' | translate }}</h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="col-12">
          <mtx-grid [showColumnMenuButton]="false"
                    [data]="lstConfigAutoEmail"
                    [columns]="columns"
                    [rowHover]="true"
                    [toolbarTitle]="'filter.listKeyWord' | translate | uppercase"
                    [pageSizeOptions]="pageSizeList"
                    [pageIndex]="0"
                    [pageSize]="pageSize"
                    [headerTemplate]="header1Tpl"
                    [noResultText]="'common.notify.no-record-result' | translate"
                    [pageOnFront]="false"
                    (page)="onPageChange($event)"
                    [length]="totalPage"
                    [cellTemplate]="{no: index,
                    options: button,
                    time: createTime,
                    type: timeTypeName,
                    day: dateOfWeek,
                    dateS: dateSend,
                    trangThai: status
                    }"
                    style="text-align: center">
          </mtx-grid>
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #index let-row let-index="index">
            <div>
              <span>{{index + 1 + page* pageSize}}</span>
            </div>
          </ng-template>
          <ng-template #button let-row let-index="index">
            <div class="text-center">
              <button mat-icon-button
                      class="icon-button-small mr-1"
                      color='primary'
                      matTooltip="{{'common.button.edit' | translate}}"
                      (click)='update(row)'>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button
                      class="icon-button-small mr-1"
                      color='warn'
                      matTooltip="{{'common.button.delete' | translate}}"
                      (click)='delete(row)'>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
          <ng-template #createTime let-row let-index="index">
            {{row["createDateTime"] |date: 'dd-MM-yyyy HH:mm:ss'}}
          </ng-template>
          <ng-template #timeTypeName let-row let-index="index">
            {{row["timeTypeName"]|translate}}
          </ng-template>
          <ng-template #dateOfWeek let-row let-index="index">
            {{row["dateOfWeekValue"|translate]}}
          </ng-template>
          <ng-template #dateSend let-row let-index="index">
            {{row["dateSend"]|date: 'dd-MM-yyyy'}}
          </ng-template>
          <ng-template #status let-row let-index="index">
            {{((row["status"] === 'true') ? 'config_auto_email.Activate' : 'config_auto_email.Inactive')|translate}}
          </ng-template>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
