<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100">
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>assignment</mat-icon>
        <span class="card-title-font">{{'evaluate-list.title' | translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-list.search.channel' | translate}}</mat-label>
              <mat-select [(ngModel)]="channelId" required id="channelId">
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of channelList' [value]='item.value'>{{item.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-list.search.evaluater' | translate}}</mat-label>
              <mat-select [(ngModel)]="evaluaterId">
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of evaluaterList' [value]='item.id'>{{item.fullName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-list.search.evaluated' | translate}}</mat-label>
              <mat-select [(ngModel)]="evaluatedId">
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of evaluatedList' [value]='item.id'>{{item.fullName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-list.search.phone-number' | translate}}</mat-label>
              <input matInput type="text" [(ngModel)]="phoneNumber" id="phoneNumber"/>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-list.search.start-date' | translate}}</mat-label>
              <input matInput [matDatepicker]='fromDatePicker' [(ngModel)]="startDate" required id="startDate"/>
              <mat-datepicker-toggle matSuffix [for]='fromDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-list.search.end-date' | translate}}</mat-label>
              <input matInput [matDatepicker]='toDatePicker' [(ngModel)]="endDate" required id="endDate"/>
              <mat-datepicker-toggle matSuffix [for]='toDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-list.search.rating' | translate}}</mat-label>
              <mat-select [(ngModel)]="criteriaRatingId" required id="criteriaRatingId">
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of criteriaRatingList' [value]='item.id'>{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class='col-12'>
            <button mat-raised-button color='primary' style='min-width: 7vw' class="mr-2"
                    (click)="onSearch()" [disabled]="isLoading">{{'common.button.search' | translate}}</button>
            <button mat-raised-button color='primary' style='min-width: 7vw'
                    (click)="onExportExcel()" [disabled]="isExport">{{'common.button.excel' | translate}}</button>
          </div>
          <div class="col-12 mt-2">
            <mtx-grid [showColumnMenuButton]="false" [data]="dataList" [columns]="columns"
                      [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                      [columnHideable]="true" [columnMovable]="true" [showPaginator]="true"
                      [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                      [pageIndex]="pageIndex" [pageSize]="pageSize"
                      [headerTemplate]="header1Tpl" [length]="totalRecord"
                      [cellTemplate]="{no: templateOrderNumber, tools: toolsTpl, evaluateDate: evaluateDateTpl, recordDate: recordDateTpl,
                      totalScores: totalScoresTpl, totalScoresNew: totalScoresNewTpl}"
                      [noResultText]="'common.notify.no-record-result' | translate" (page)="onPageChange($event)"
                      [pageOnFront]="false">
              <ng-template #header1Tpl let-header>
                <div>
                  {{header.i18n | translate}}
                </div>
              </ng-template>
              <ng-template #templateOrderNumber let-index='index'>
                <span>{{index + 1 + pageSize * pageIndex}}</span>
              </ng-template>
              <ng-template #toolsTpl let-row>
                <div class="text-center">
                  <button mat-icon-button color="primary" aria-label=""
                          matTooltip="{{'evaluate-list.button.view' | translate}}" (click)="onViewEvaluateDetail(row.id)">
                    <mat-icon>info</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label=""
                          matTooltip="{{'evaluate-list.button.re-evaluate' | translate}}" (click)="onRedoEvaluateDetail(row.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label=""
                          matTooltip="{{'evaluate-list.button.feedback' | translate}}" (click)="onReplyEvaluateDetail(row.id)">
                    <mat-icon>reply</mat-icon>
                  </button>
                </div>
              </ng-template>
              <ng-template #recordDateTpl let-row>
                <div class="text-center">
                  {{row.recordDate | date: 'dd/MM/yyyy'}}
                </div>
              </ng-template>
              <ng-template #evaluateDateTpl let-row>
                <div class="text-center">{{row.createDatetime | date: 'dd/MM/yyyy'}}</div>
              </ng-template>
              <ng-template #totalScoresTpl let-row>
                <div class="text-right">{{row.totalScores ? row.totalScores : 0}}</div>
              </ng-template>
              <ng-template #totalScoresNewTpl let-row>
                <div class="text-right">{{row.totalScoresNew ? row.totalScoresNew : 0}}</div>
              </ng-template>
            </mtx-grid>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
