.topicName{
  margin-left: 20%;
  font-size: 200%;
}
.titleModal{
	background-color: #02a1ed;
  margin: 0 12%;
  height: 50px;
  border-radius: 8px;
  color: white;
  position: relative;
}
.titleModalChild{
  margin-left: 2%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 180%;
}
.bodySnp{
  padding-left: 0px;
  padding-right: 0px;
}
.bodyModal{
	background-color: white;
    margin: 0 6px;
    border: 1px solid #02a1ed;
}
.paragraphEng{
	background-color: #e5e3e3;
    padding: 3%;
    margin: 3% 10% 3% 10%;
    height: 350px;
}
.textareaEng{
	width: 100%;
    border: none;
    height: 300px;
    background-color: #e5e3e3;
    color: black;
}
.paragraphViet{
    margin: 3% 10% 3% 10%;
}
.divSubmit{
	text-align: center;
	margin: 5% 0 5% 0;
}
#btnSubmit{
	background-color: #02a1ed !important;
}
.inputParagraphViet{
	height: 350px !important;
	border-color: gray;
	border-radius: 0px;
}
/*
@media (max-width: 6144px) {
	.inputParagraphViet{
		height: 272px !important;
		border: 0.5px solid gray;
		border-radius: 0px;
	}
}
@media (max-width: 1187px) {
	.inputParagraphViet{
		height: 292px !important;
		border-color: gray;
		border-radius: 0px;
	}
}
@media (max-width: 980px) {
	.inputParagraphViet{
		height: 407px !important;
		border-color: gray;
		border-radius: 0px;
	}
}
@media (max-width: 750px) {
	.inputParagraphViet{
		height: 272px !important;
		border-color: gray;
		border-radius: 0px;
	}
}*/


.divAnswer{
	text-align: center;
	margin: 0 5% 5% 0;
}
.legend{
	color: white;
	text-align: left;
    background-color: green;
    width: auto;
    padding: 5px 20px;
    font-size: medium;
}
.fieldset{
	border: 2px solid green;
    padding: 0 2% 2% 2%;
    margin: 0 5%;
    text-align: left;
    color: green;
}
.nextQuestion{
	text-align: right;
    padding: 0px;
}
#iconNextQuestion{
	margin: 0px !important;
	cursor: pointer;
	color: #b2aeae ;
}
#iconNextQuestion:hover{
	color: green;
}

