<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'report-complaint-detail.management.titleSearch' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form class="row card-body" [formGroup]="reportDetailForm">
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.chanelType' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="channelType">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of chanelTypes" [value]="data?.code">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.requestType' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="requestType">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of requestTypes" [value]="data?.code">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.priority' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="priority">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option  [value]="'0'">{{'common.select.normal'| translate}}</mat-option>
                <mat-option  [value]="'1'">{{'common.select.prioritize'| translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.businessType' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="bussinessType">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of businessTypes" [value]="data?.id + ''">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.ticketRequestStatus' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="requestStatus">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of ticketRequestStatus" [value]="data?.code">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.ticketStatus' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="ticketStatus" (selectionChange)='onChangeTicketStatus()'>
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of ticketStatus" [value]="data?.code">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.department' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="departmentId">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of departments" [value]="data?.departmentId + ''">
                  {{data?.departmentName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
<!--          <div class="col-2">-->
<!--            <mat-form-field appearance="outline" class="w-100">-->
<!--              <mat-label>{{ 'report-complaint-detail.management.column.fromDate' | translate }}</mat-label>-->
<!--              <mat-date-range-input-->
<!--                [formGroup]="reportDetailForm"-->
<!--                [rangePicker]="campaignOnePicker">-->
<!--                <input matStartDate placeholder="Start date" formControlName="fromDate">-->
<!--                <input matEndDate placeholder="End date" formControlName="toDate">-->
<!--              </mat-date-range-input>-->
<!--              <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>-->
<!--              <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>-->
<!--            </mat-form-field>-->
<!--          </div>-->
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.fromDate' | translate }}</mat-label>
              <input [readonly]="true" matInput [matDatepicker]="fromDate" formControlName="fromDate" [max]="reportDetailForm.value.toDate || today">
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report-complaint-detail.management.column.toDate' | translate }}</mat-label>
              <input [readonly]="true" matInput [matDatepicker]="toDate" formControlName="toDate" [min]="reportDetailForm.value.fromDate " [max]="today">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-12">
            <button mat-raised-button color="primary" class="mr-2"
                    type="button" (click)="search(true)">
              {{'common.button.search' | translate}}
            </button>
            <button mat-raised-button color="primary" class="mr-2"
                    type="button" (click)="export()">
              {{'common.button.exportExcel' | translate}}
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'report-complaint-detail.management.title' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                  [loading]="isLoading" [pageIndex]="offset" [pageSize]="pagesize"
                  [headerTemplate]="header1Tpl"
                  [cellTemplate]="{index: templateOrderNumber}"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChange($event)" [length]="total" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
                    <div class="text-center">{{index + 1 + offset * pagesize}}</div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
