<div fxLayout="row wrap" class="matero-row cp-brand-search">
    <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true">

          <form [formGroup]="campaignUpdateForm">
            <div class="card-body">
              <mat-label><b>Cập nhật chiến dịch</b></mat-label>
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'campaignName' | translate }}</mat-label>
                    <input matInput name="code" formControlName="name" type="text"/>
                  </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'campaign.management.campaignTemplate' | translate }}</mat-label>
                        <mat-select class="w-100" formControlName="campaignTemplateId">
                            <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                            <mat-option *ngFor="let item of campaignTemplate" [value]="item?.id">
                                {{item?.campaignTemplateName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'campaignStartDate' | translate }}</mat-label>
                        <input matInput [matDatepicker]="fromDate" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                        <mat-datepicker #fromDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'campaignEndDate' | translate }}</mat-label>
                        <input matInput [matDatepicker]="toDate" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                        <mat-datepicker #toDate></mat-datepicker>
                      <mat-error *ngIf=" campaignUpdateForm.controls.endDate.errors?.required">
                        {{'validation.MSG0006'| translate}}
                      </mat-error>
                    </mat-form-field>
                  <mat-error *ngIf=" campaignUpdateForm.controls.endDate.errors
                        && campaignUpdateForm.controls.endDate.errors.dateNotBefore &&
                        campaignUpdateForm.controls.endDate.errors.dateNotBefore.dateNotBefore
                        === 'notBefore'">
                    {{'common.error.date.invalid'| translate}}
                  </mat-error>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'campaignScript' | translate }}</mat-label>
                        <mat-select class="w-100" formControlName="campaignScriptId">
                            <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                            <mat-option *ngFor="let item of campaignScript" [value]="item?.id">
                                {{item?.campaignScriptName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'campaign.management.group-user' | translate }}</mat-label>
                    <mat-select class="w-100" formControlName="lstGroupUser" multiple>
                      <mat-option *ngFor="let item of groupUsers" [value]="item?.id">
                        {{item?.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf=" campaignUpdateForm.controls.lstGroupUser.errors?.required">
                      {{'validation.MSG0006'| translate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-radio-group formControlName="displayPhone">
                        <mat-radio-button value="1">
                            <mat-label>{{ 'campaign.management.display-phone-false' | translate }}</mat-label>
                        </mat-radio-button>
                        <br>
                        <mat-radio-button value="2">
                            <mat-label>{{ 'campaign.management.display-phone-true' | translate }}</mat-label>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-6">
                    <mat-radio-group formControlName="status">
                        <mat-radio-button value="1">
                            <mat-label>{{ 'campaign.management.radio-status-true' | translate }}</mat-label>
                        </mat-radio-button>
                        <br>
                        <mat-radio-button value="2">
                            <mat-label>{{ 'campaign.management.radio-status-false' | translate }}</mat-label>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <button mat-raised-button color="primary" class="mr-2"
                          (click)="closeDialog()" >
                    {{'common.button.cancle' | translate}}
                  </button>
                  <button mat-raised-button color="primary" class="mr-2"
                          (click)="update()" [disabled]="!campaignUpdateForm.valid">
                    {{'common.button.save' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
