<div fxLayout='row wrap' class='matero-row'>
  <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon style='margin-right: 8px'>email</mat-icon>
    {{title}}
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <form [formGroup]='formControl' class='row card-body'>
      <div class='col-3'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.campaign-name' | translate}} <span style="color: red">*</span></mat-label>
          <input matInput formControlName='name'>
          <mat-error>
            <app-inline-message [formName]="formControl.get('name')"
                                [message]="'campaign-sms-marketing.campaign-name'"></app-inline-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-3'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.start-date' | translate}} <span style="color: red">*</span></mat-label>
          <input matInput [matDatepicker]='startDate' [min]='minStartDate' [max]='maxStartDate'
                 formControlName='startDate' (dateChange)='onChangeStartDate()' (input)='onChangeStartDate()'>
          <mat-datepicker-toggle matSuffix [for]='startDate'></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
          <mat-error>
            <app-inline-message [formName]="formControl.get('startDate')"
                                [message]="'campaign-sms-marketing.start-date'"></app-inline-message>
            <mat-error
              *ngIf="(formControl.get('startDate').value < minStartDate && !formControl.get('startDate').hasError('required')) || !checkStartDate">
              {{'campaign-sms-marketing.start-date.error.min' | translate}}
            </mat-error>
            <mat-error *ngIf="(formControl.get('startDate').value > minStartDate && !formControl.get('startDate').hasError('required')) || !checkStartDate">
              <mat-error *ngIf="formControl.get('startDate').value > formControl.get('endDate').value && !formControl.get('startDate').hasError('required')">
                {{'campaign-sms-marketing.start-date.error.max' | translate}}
              </mat-error>
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-3'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.end-date' | translate}} <span style="color: red">*</span></mat-label>
          <input matInput [matDatepicker]='endDate' [min]='minEndDate' formControlName='endDate'
                 (dateChange)='onChangeEndDate()' (input)='onChangeEndDate()'>
          <mat-datepicker-toggle matSuffix [for]='endDate'></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
          <mat-error>
            <app-inline-message [formName]="formControl.get('endDate')"
                                [message]="'campaign-sms-marketing.end-date'"></app-inline-message>
            <mat-error
              *ngIf="(formControl.get('startDate').value > formControl.get('endDate').value && !formControl.get('endDate').hasError('required')) || !checkEndDate">
              {{'campaign-sms-marketing.end-date.error.min' | translate}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-3'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.status' | translate}} <span style="color: red">*</span></mat-label>
          <mat-select formControlName='status'>
            <mat-option *ngFor='let item of status' [value]='item.value'>
              {{item.label}}
            </mat-option>
          </mat-select>
          <mat-error>
            <app-inline-message [formName]="formControl.get('status')"
                                [message]="'campaign-sms-marketing.status'"></app-inline-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-6'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.title' | translate}} <span style="color: red">*</span></mat-label>
          <input matInput formControlName='title'>
          <mat-error>
            <app-inline-message [formName]="formControl.get('title')"
                                [message]="'campaign-sms-marketing.title'"></app-inline-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-9'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.content' | translate}} <span style="color: red">*</span></mat-label>
          <textarea matInput style='min-height: 55vh' formControlName='content'></textarea>
          <mat-error>
            <app-inline-message [formName]="formControl.get('content')"
                                [message]="'campaign-sms-marketing.content'"></app-inline-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-3' style='font-size: 14px'>
        <span style='font-weight: bold; text-decoration: underline' class='ml-2'>{{'campaign-sms-marketing.caution' | translate}}</span><br /><br />
        <span class='ml-2'>{{'campaign-sms-marketing.note1' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom0' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom1' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom2' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom3' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom4' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom5' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom6' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom7' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom8' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-sms-marketing.custom9' | translate}}</span><br /><br />
        <span class='ml-2' style='margin-top: 3px'>{{'campaign-sms-marketing.note2' | translate}}</span><br /><br />
        <span class='ml-2' style='margin-top: 3px'>{{'campaign-sms-marketing.note3' | translate}}</span><br /><br />
      </div>
      <div class='col-12' style='margin-top: 1.34375em'>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='onSave()'
                [disabled]='formControl.invalid'>
          {{button}}
        </button>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='close()'>
          {{'campaign-sms-marketing.cancel' | translate}}
        </button>
      </div>
    </form>
  </mat-card>
</div>
