<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Đăng nhập</title>
</head>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">

<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
<!--Thêm thư viện angular js-->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/js/login.js}"></script>


<body id="loginBody" th:ng-app="myApp" th:ng-controller="myController">
	<div class="container" id="loginContainer">
		<div id="loginForm">
		  <h2>ĐĂNG NHẬP TÀI KHOẢN</h2>
		  <form th:action="@{/home}" name="myLoginForm" ng-submit="myLoginForm.$valid"> <!--  && doSubmitLoginForm($event) -->
		  
		    <div class="form-group">
		      <label for="username">Tên đăng nhập:</label>
		      <input type="text" name="username" class="form-control" placeholder="Nhập tên đăng nhập" 
		      ng-model="account.username"  ng-required="true">
		     
		    </div>
		    
		    <div class="form-group">
		      <label for="pwd">Mật khẩu:</label>
		      <input type="password" name="password"  class="form-control" placeholder="Nhập mật khẩu" 
		      ng-model="account.password" ng-required="true">
		    </div>
		    
		    <div class="checkbox">
		      <label><input type="checkbox" name="remember">Nhắc tôi đăng nhập vào lần tiếp theo</label>
		    </div>
		    
		    <div>
		    	<button type="submit" class="btn btn-primary" ng-disabled="myLoginForm.$invalid">ĐĂNG NHẬP</button>
		    	<button type="button" class="btn btn-primary" ng-click="resetLoginForm()">NHẬP LẠI</button>
		    </div>
		    
		    <div id="goToChangePass" style="margin-top: 10px;" >
		      doi mat khau
		    </div>
		    
		  </form>
		</div>
		
		<div id="changePassForm" style="display: none;">
		  <h2>ĐỔI MẬT KHẨU</h2>
		  <form action="#" name="myChangePassForm" ng-submit="myChangePassForm.$valid">
		    <div class="form-group">
		      <label>Tên đăng nhập:</label>
		      <input name="username" type="text" class="form-control"  placeholder="Nhập tên đăng nhập"
		      ng-model="newAccount.username" ng-required="true"> <!--  ng-pattern="/^([0-9A-Za-z_]*)$/" -->
		      <!-- 
		      <span style="color: #e8bd20f5" ng-show="myLoginForm.username.$error.pattern">
		     	<i>username phải viết liền và không được chứa ký tự đặc biệt, trừ dấu gạch dưới "_"</i>
		     </span>
		       -->
		    </div>
		    <div class="form-group">
		      <label>Mật khẩu hiện tại:</label>
		      <input name="password" type="password" class="form-control" placeholder="Nhập mật khẩu"
		      ng-model="newAccount.password" ng-required="true">
		    </div>
		    <div class="form-group">
		      <label>Mật khẩu mới:</label>
		      <input name="newPassword" type="password" class="form-control" placeholder="Nhập mật khẩu mới"
		      ng-model="newAccount.newPassword" ng-minlength= "5" ng-maxlength= "10" ng-required="true">
		      <span style="color: #e8bd20f5" ng-show="myChangePassForm.newPassword.$error.minlength">
				<i>Password phải có ít nhất 5 ký tự</i>
			  </span>
			  <span style="color: #e8bd20f5" ng-show="myChangePassForm.newPassword.$error.maxlength">
				<i>Password không được quá 10 ký tự</i>
			  </span>
		    </div>
		    
		    <div class="form-group">
		      <label>Nhập lại mật khẩu:</label>
		      <input name="rePassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu"
		      ng-model="newAccount.rePassword" ng-focus="confirmPass()" ng-required="true">
		      <span style="color: #e8bd20f5" ng-show="myLoginForm.password.$error.focus">
				<i>Mật khẩu không khớp</i>
			  </span>
		    </div>
		    <div>
		    	<button type="submit" class="btn btn-primary" ng-disabled="myChangePassForm.$invalid">ĐỔI MẬT KHẨU</button>
		    	<button type="button" class="btn btn-primary" ng-click="resetChangePassForm()">NHẬP LẠI</button>
		    </div>
		   <div id="goToLogin" style="margin-top: 10px;">
		    	Quay lại
		    </div>
		  </form>
		</div>
	</div>
	
	
</body>
</html>