<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100">
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>assignment</mat-icon>
        <span class="card-title-font">{{'report-evaluate-score.title' | translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'report-evaluate-score.search.evaluater' | translate}}</mat-label>
              <mat-select [(ngModel)]="evaluaterId">
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of evaluaterList' [value]='item.id'>{{item.fullName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'report-evaluate-score.search.evaluated' | translate}}</mat-label>
              <mat-select [(ngModel)]="evaluatedId">
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of evaluatedList' [value]='item.id'>{{item.fullName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'report-evaluate-score.search.evaluate-date' | translate}}</mat-label>
              <input matInput [matDatepicker]='evaluateDatePicker' [(ngModel)]="evaluateDate" id="startDate"/>
              <mat-datepicker-toggle matSuffix [for]='evaluateDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #evaluateDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class='col-12'>
            <button mat-raised-button color='primary' style='min-width: 7vw' class="mr-2"
                    (click)="onSearch()" [disabled]="isLoading">{{'common.button.search' | translate}}</button>
            <button mat-raised-button color='primary' style='min-width: 7vw'
                    (click)="onExportExcel()" [disabled]="isExport">{{'common.button.excel' | translate}}</button>
          </div>
          <div class="col-12 mt-2">
            <mtx-grid [showColumnMenuButton]="false" [data]="dataList" [columns]="columns"
                      [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                      [columnHideable]="true" [columnMovable]="true" [showPaginator]="true"
                      [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                      [pageIndex]="pageIndex" [pageSize]="pageSize"
                      [headerTemplate]="header1Tpl" [length]="totalRecord"
                      [cellTemplate]="{no: templateOrderNumber, tools: toolsTpl, evaluateDate: evaluateDateTpl,
                      totalScores: totalScoresTpl, totalScoresNew: totalScoresNewTpl}"
                      [noResultText]="'common.notify.no-record-result' | translate" (page)="onPageChange($event)"
                      [pageOnFront]="false">
              <ng-template #header1Tpl let-header>
                <div>
                  {{header.i18n | translate}}
                </div>
              </ng-template>
              <ng-template #templateOrderNumber let-index='index'>
                <span>{{index + 1 + pageSize * pageIndex}}</span>
              </ng-template>
              <ng-template #toolsTpl let-row>
                <div class="text-center">
                  <button mat-icon-button color="primary" aria-label=""
                          matTooltip="{{'report-evaluate-score.button.edit' | translate}}" (click)="onRedoEvaluateDetail(row.id)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </ng-template>
              <ng-template #evaluateDateTpl let-row>
                <div class="text-center">{{row.createDatetime | date: 'dd/MM/yyyy'}}</div>
              </ng-template>
              <ng-template #totalScoresTpl let-row>
                <div class="text-right">{{row.totalScores ? row.totalScores : 0}}</div>
              </ng-template>
              <ng-template #totalScoresNewTpl let-row>
                <div class="text-right">{{row.totalScoresNew ? row.totalScoresNew : 0}}</div>
              </ng-template>
            </mtx-grid>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
