<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" >
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <li class="mat-tree-node">

      <div style="cursor: pointer;margin-left: 18px" (contextmenu)="matMenu.click()" [hidden]="node?.isLeaf">
        {{node.name}}
      </div>
      <div style="cursor: pointer;margin-left: 18px" [hidden]="!node?.isLeaf">
        {{node.name}}
      </div>
      <button style="width: 0;height: 0;border: unset;padding: unset" #matMenu [matMenuTriggerFor]="menu" [matMenuTriggerData]="{dataCategory: node}">
      </button>
    </li>
  </mat-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'indeterminate_check_box' :  'add_box' }}
          </mat-icon>
        </button>
        <div style="cursor: pointer" (contextmenu)="matMenu2.click()">
          {{node.name}}
        </div>
        <button style="width: 0;height: 0;border: unset;padding: unset" #matMenu2 [matMenuTriggerFor]="menu" [matMenuTriggerData]="{dataCategory: node}">
        </button>
      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
<mat-menu #menu="matMenu" style="max-width: 200px" >
  <ng-template matMenuContent let-dataCategory="dataCategory">
  <button mat-menu-item (click)="openUpdate()">
    <mat-icon>create_new_folder</mat-icon>
    <span>{{'kms-management.menu.create'|translate}}</span>
  </button>
  <button mat-menu-item (click)="edit(dataCategory)">
    <mat-icon>folder_open</mat-icon>
    <span>{{'kms-management.menu.update' |translate}}</span>
  </button>
  <button mat-menu-item (click)="move(dataCategory)">
    <mat-icon>compare_arrows</mat-icon>
    <span>{{'kms-management.menu.move'|translate}}</span>
  </button>
  <button mat-menu-item (click)="delete(dataCategory)">
    <mat-icon>delete</mat-icon>
    <span>{{'kms-management.menu.delete'|translate}}</span>
  </button>
  </ng-template>
</mat-menu>
