<mat-card>
    <mat-card-header style="height: 50px; padding: 5px 2%;">
        <mat-card-title>
            <mat-icon>lock</mat-icon>{{"common.changePassword" | translate}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding-left: 20%;">
        <form [formGroup]="changeMyPasswordForm" (ngSubmit)="changePassword()" style="text-align: right;">
            <div class="form-group row" >
                <label class="col-sm-2 col-form-label"><b>{{'user.management.column.oldpassword'|translate}}</b></label>
                <div class="col-sm-5">
                    <input type="password" class="form-control"
                        [placeholder]="'user.management.column.oldpassword' | translate" formControlName="oldPassword">
                    <app-inline-message [formName]="changeMyPasswordForm.get('oldPassword')"
                        [message]="'user.management.column.oldpassword'|translate">
                    </app-inline-message>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>{{'user.management.column.newPassword'|translate}}</b></label>
                <div class="col-sm-5">
                    <input type="password" class="form-control"
                        [placeholder]="'user.management.column.newPassword' | translate" formControlName="newPassword">
                    <app-inline-message [formName]="changeMyPasswordForm.get('newPassword')"
                        [message]="'user.management.column.newPassword'|translate">
                    </app-inline-message>
                </div>
            </div>
            <div class="form-group row">
                <label
                    class="col-sm-2 col-form-label"><b>{{'user.management.column.confirmNewPassword'|translate}}</b></label>
                <div class="col-sm-5">
                    <input type="password" class="form-control"
                        [placeholder]="'user.management.column.confirmNewPassword' | translate"
                        formControlName="confirmNewPassword">
                    <app-inline-message [formName]="changeMyPasswordForm.get('confirmNewPassword')"
                        [message]="'user.management.column.confirmNewPassword'|translate">
                    </app-inline-message>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <button type="submit" mat-raised-button style="background-color: forestgreen; color: white; margin-left: 8px;">
                    <mat-icon style="font-weight: 600;">arrow_right</mat-icon> {{"common.changePassword" | translate}}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>