<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lg="100" class="matero-col">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="40" fxFlex.lg="40">
        <mat-card class="card-left">
          <mat-icon>assignment</mat-icon>
          <span class="custom-title">{{'campaignTemplate.tempListTitle' | translate}}</span>
          <div *ngIf="!isUpdate else updateTpl">
            <div fxLayout="row wrap" fxLayoutGap="8px grid">
              <div class="pr-0" fxFlex="80" fxFlex.lg="60">
                <mat-form-field appearance="outline" [formGroup]="templateForm">
                  <select-lazy-load [data]="templates" [field]="field" [placeholder]="'common.button.search'|translate"
                                    formControlName="template"></select-lazy-load>
                </mat-form-field>
              </div>
              <div fxFlex="auto">
                <mat-button-toggle-group [disabled]="isDisable">
                  <mat-button-toggle [matTooltip]="'common.button.update' | translate" (click)="editTemp()"
                                     [class.disable]="isDisable">
                    <mat-icon>edit</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle [matTooltip]="'common.button.delete' | translate" (click)="deleteTemp()"
                                     [class.disable]="isDisable">
                    <mat-icon>delete</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              </div>
            </div>
            <div fxLayout="row wrap">
              <button class="btn btn-success" (click)="copy()">
                {{'common.button.copy'|translate}}
              </button>
              <button class="btn btn-success ml-2" (click)="add()">
                {{'common.button.insert'|translate}}
              </button>
            </div>
          </div>
          <ng-template #updateTpl>
            <div fxLayout="row wrap" fxLayoutGap="8px grid">
              <div class="pr-0" fxFlex="100" fxFlex.lg="100">
                <mat-form-field appearance="outline" [formGroup]="updateTemplateForm">
                  <input matInput type="text" formControlName="campaignName"/>
                  <mat-error>
                    <app-inline-message [formName]="updateTemplateForm.get('campaignName')"
                                        [message]="'campaignTemplate.templateName'"></app-inline-message>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row wrap">
              <button [matTooltip]="'common.button.update'|translate" class="btn btn-success"
                      (click)="update()">{{'common.button.update'|translate}}
              </button>
              <button [matTooltip]="'common.button.return'|translate" class="btn btn-primary ml-2"
                      (click)="back()">{{'common.button.return'|translate}}
              </button>
            </div>
          </ng-template>
          <div style="padding-top: 25px;" [innerHTML]="'campaignTemplate.notices'|translate">
          </div>
        </mat-card>
      </div>
      <div fxFlex="60" fxFlex.lg="60">
        <mat-card class="card-right" [formGroup]="detailForm">
          <mat-icon>assignment</mat-icon>
          <span class="custom-title">{{'campaignTemplate.tempPropsTitle' |translate}}</span>
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <div fxFlex="50" fxFlex.lg="50">
              <mat-form-field appearance="outline">
                <mat-label>{{'campaignTemplate.propType' |translate}}</mat-label>
                <mat-select formControlName="type" (selectionChange)="onTemplateTypeChange($event)">
                  <mat-option *ngFor="let temp of templatesType" [value]="temp?.id">
                    {{temp?.name}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <app-inline-message [message]="'campaignTemplate.propType'"
                                      [formName]="detailForm.get('type')"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lg="50">
              <mat-form-field appearance="outline">
                <mat-label>{{'campaignTemplate.propName' |translate}}</mat-label>
                <input matInput type="text" formControlName="name"/>
                <mat-error>
                  <app-inline-message [message]="'campaignTemplate.propName'"
                                      [formName]="detailForm.get('name')"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div *ngIf="isShow" fxFlex="50" fxFlex.lg="50">
              <mat-form-field appearance="outline">
                <mat-label>{{'campaignTemplate.optionValue' |translate}}</mat-label>
                <textarea matInput rows="5" formControlName="optionValue"></textarea>
                <mat-error>
                  <app-inline-message [message]="'campaignTemplate.optionValue'"
                                      [formName]="detailForm.get('optionValue')"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lg="50">
              <mat-form-field appearance="outline">
                <mat-label>{{'campaignTemplate.propCode' |translate}}</mat-label>
                <mat-select formControlName="code">
                  <mat-option *ngFor="let c of infoCode" [value]="c.code">
                    {{c.name}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <app-inline-message [message]="'campaignTemplate.propCode'"
                                      [formName]="detailForm.get('code')"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lg="50">
              <mat-form-field appearance="outline">
                <mat-label>{{'campaignTemplate.ord' |translate}}</mat-label>
                <mat-select formControlName="ord">
                  <mat-option *ngFor="let ord of ord" [value]="ord">
                    {{ord}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <app-inline-message [message]="'campaignTemplate.ord'"
                                      [formName]="detailForm.get('ord')"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lg="50">
              <mat-form-field appearance="outline">
                <mat-label>{{'campaignTemplate.defaultValue' |translate}}</mat-label>
                <input matInput type="text" formControlName="defaultValue"/>
                <mat-error>
                  <app-inline-message [message]="'campaignTemplate.defaultValue'"
                                      [formName]="detailForm.get('defaultValue')"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lg="100">
              <mat-checkbox class="example-margin"
                            formControlName="exportExcel">{{'campaignTemplate.exportExcel' | translate}}</mat-checkbox>
              <mat-checkbox class="example-margin ml-5"
                            formControlName="display">{{'campaignTemplate.display' | translate}}</mat-checkbox>
              <mat-checkbox class="example-margin ml-5"
                            formControlName="editable">{{'campaignTemplate.editable' | translate}}</mat-checkbox>
            </div>
          </div>
          <div *ngIf="selectedTemp" fxLayoutAlign="start center">
            <button class="btn btn-success" (click)="saveTempDetail()"
                    [disabled]="isDisable || detailForm.invalid || isUpdate || processing">{{(!isUpdateDetail ? 'campaignTemplate.add' : 'common.button.update') | translate}}
            </button>
            <button [disabled]="isUpdate" class="btn btn-success ml-2"
                    (click)="resetForm()">{{'campaignTemplate.cancel' | translate}}</button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row" fxLayoutGap="20px grid">
  <div fxFlex="100" fxFlex.lg="100" class="matero-col">
    <mat-card>
      <div fxLayout="row wrap">
        <div fxFlex="40" fxFlex.lg="40">
          <mat-icon>assignment</mat-icon>
          <span class="custom-title">{{'campaignTemplate.tempPropsList'|translate}}</span>
        </div>
        <div fxFlex="20" fxFlex.lg="40" fxFlexOffset="40" fxFlexOffset.lg="20">
          <mat-form-field appearance="outline">
            <mat-label>{{'common.button.search'|translate}}</mat-label>
            <input matInput type="text" [formControl]="filterInput">
          </mat-form-field>
        </div>
      </div>
      <mtx-grid [showColumnMenuButton]="false" [data]="dataModel.dataSource" [columns]="columns"
                [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                [columnHideable]="true"
                [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                [loading]="isLoading" [pageIndex]="pageIndex" [pageSize]="pagesize"
                [headerTemplate]="header1Tpl" (page)="pageChange($event)"
                [cellTemplate]="{no: templateOrderNumber,exportExcel:exportExcelTpl,editable:editableTpl,display:displayTpl,action:actionTpl,ord:ordTpl}"
                [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="true"
                [length]="totalRecord">
      </mtx-grid>
      <ng-template #header1Tpl let-header>
        {{header.i18n | translate}}
      </ng-template>
      <ng-template #templateOrderNumber let-row let-index="index">
        <span>{{index + 1 + pageIndex * pagesize}}</span>
      </ng-template>
      <ng-template #ordTpl let-row>
        <span>{{row?.ord || row?.ord === 0 ? row?.ord : '--'}}</span>
      </ng-template>
      <ng-template #exportExcelTpl let-row>
        <span>{{(row?.exportExcel === '1' ? 'common.yes' : 'common.no') | translate}}</span>
      </ng-template>
      <ng-template #editableTpl let-row>
        <span>{{(row?.editable === '1' ? 'common.yes' : 'common.no') | translate}}</span>
      </ng-template>
      <ng-template #displayTpl let-row>
        <span>{{(row?.display === '1' ? 'common.yes' : 'common.no') | translate}}</span>
      </ng-template>
      <ng-template #actionTpl let-row>
        <button [matTooltip]="'common.button.update'|translate" [disabled]="selectedTemp?.isUsed!=='0'||isUpdate"
                mat-icon-button
                color="primary"
                (click)="updateTemplateDetail(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button [matTooltip]="'common.button.delete'|translate"
                [disabled]="row?.isDefault==='1'||selectedTemp?.isUsed!=='0'||isUpdate"
                mat-icon-button
                color="warn"
                (click)="deleteTemplateDetail(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </mat-card>
  </div>
</div>
