:host ::ng-deep {
  .mtx-grid .mat-table .mat-cell:not(.mtx-grid-checkbox-cell), .mtx-grid .mat-table .mat-footer-cell:not(.mtx-grid-checkbox-cell), .mtx-grid .mat-table .mat-header-cell:not(.mtx-grid-checkbox-cell) {
    min-width: 160px;
  }

  .mat-form-field-suffix {
    display: inherit;
  }

  .pr-0 {
    padding-right: 0px !important;
  }

  mat-form-field:not(.mat-paginator-page-size-select) {
    width: 100%;
  }

  mat-button-toggle-group {
    height: 40px;
    margin-top: 4px;

    mat-button-toggle {
      background: #e0e0e0 !important;

      mat-icon {
        margin-bottom: 12px;
      }
    }
  }
}

.btn {
  min-width: 100px;
}

.card-right, .card-left {
  min-height: 40vh;
}

@media screen and (max-width: 1280px) {
  .card-right, .card-left {
    min-height: 60vh;
  }
}

@media screen and (max-width: 1440px) {
  .card-right, .card-left {
    min-height: 50vh;
  }
}

.disable {
  pointer-events: none;
  cursor: none;
  color: rgba(0, 0, 0, 0.26) !important;
}

