<mat-card>
  <mat-card-header>
    <h5>Danh sách số điện thoại và email</h5>
  </mat-card-header>
  <mat-card-content>
    <mtx-grid [showColumnMenuButton]="false" [data]="data.lstPhoneEmail"
              [columns]="phoneEmail"
              [multiSelectable]="false" [rowHover]="true" [showToolbar]="false"
              [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
              [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList" [pageIndex]="0"
              [pageSize]="pagesize" [rowSelectable]="false"
              [headerTemplate]="header1Tpl"
              [cellTemplate]="{no: index,orgCode:orgCode,recEmail:recEmail,recName:recName,recPhone:recPhone}"
              [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="true"
              style="text-align: center; width: 100%" [length]="total" (page)="onPageChange($event)">
    </mtx-grid>
    <ng-template #index let-row let-index="index">
      <div>
        <span>{{index + 1 + pagesize * pageIndex}}</span>
      </div>
    </ng-template>
    <ng-template #orgCode let-row let-index="index">
      <div (click)="closeData(row)" style="cursor: pointer">
        <span>{{row.orgCode}}</span>
      </div>
    </ng-template>
    <ng-template #recEmail let-row let-index="index">
      <div (click)="closeData(row)">
        <span>{{row.recEmail}}</span>
      </div>
    </ng-template>
    <ng-template #recName let-row let-index="index">
      <div (click)="closeData(row)">
        <span>{{row.recName}}</span>
      </div>
    </ng-template>
    <ng-template #recPhone let-row let-index="index">
      <div (click)="closeData(row)">
        <span>{{row.recPhone}}</span>
      </div>
    </ng-template>
    <ng-template #header1Tpl let-header>
      <div>
        {{header.i18n | translate}}
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
