<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Responsive_table :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<base th:href="@{/}">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" th:href="@{/CSS/css2/bootstrap.min.css}" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link th:href="@{/CSS/css2/style.css}" rel='stylesheet' type='text/css' />
<link th:href="@{/CSS/css2/style-responsive.css}" rel="stylesheet"/>
<!-- font CSS -->
<link th:href='@{//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic}' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" th:href="@{/CSS/css2/font.css}" type="text/css"/>
<link th:href="@{/CSS/css2/font-awesome.css}" rel="stylesheet"> 
<!-- Add icon library -->
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- //font-awesome icons -->
<script type="text/javascript" th:src="@{/JS/js2/jquery2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{JS/manageContact.js}"></script>

</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->

<div class="brand">
    <a th:href="@{/admin}">
		<div class="brand" style="background: white;">
		    <!--<img alt="logoVNPOST" th:src="@{/images/img_vnpost.png}" style="display: block;-->
		    			<!--margin-left: auto; margin-right: auto; width: 60%; margin-top: auto;">-->
		
		</div>
	</a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->

<div class="nav notify-row" id="top_menu">
    <ul class="nav top-menu">
        
    </ul>
</div>

<div class="top-nav clearfix">
	<a th:href="@{/home}" type="button" class="btn btn-success"><i class="fa fa-home"></i> Về Trang Chủ</a>
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <!-- user login dropdown start-->
        <form th:action="@{/j_spring_security_logout}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button type="submit" class="btn btn-secondary"  value="Đăng xuất">
				<span class="glyphicon glyphicon-off"></span>  Đăng xuất
			</button>
		</form>
        <!-- user login dropdown end -->
       
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-user"></i>Quản lý tài khoản </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/manageUser/0/5}">Quản trị người dùng</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-product-hunt"></i>Quản lý sản phẩm </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/manageCategory/0/5}">Danh mục sản phẩm</a></li>
                        <li><a th:href="@{/manageProduct/0/5}">Sản phẩm</a></li>
                        <li><a th:href="@{/manageProductDetail/0/5}">Chi tiết sản phẩm</a></li>
                        <li><a th:href="@{/manageSize/0/5}">Size sản phẩm</a></li>
                        <li><a th:href="@{/manageColor/0/5}">Màu sản phẩm</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-cart-plus"></i>Quản lý hóa đơn </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/manageBill/0/5}">Đơn hàng</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-tags"></i>Quản Lý Khuyến Mại </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/admin2/0/5}">Danh sách khuyến mại</a></li>
                        <li><a th:href="@{/admin3/0/5}">Sản phẩm</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-envelope"></i>Quản Lý Liên Hệ </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/admin2/0/5}">Giới thiệu</a></li>
                        <li><a th:href="@{/manageContact/0/5}">Liên hệ</a></li>
                    </ul>
                </li>
            </ul>           
          </div>
        <!-- sidebar menu end-->
    </div>
</aside>

<!--sidebar end-->
<section id="main-content">
	<section class="wrapper">
		<div class="container">
			<h2 style="text-align: center;">QUẢN LÝ LIÊN HỆ</h2>
			<form style="display: inline-flex;" th:action="@{/manageContact/search/} + ${0} + @{/} + ${5}">
				  <input type="text" class="form-control" name="name" placeholder="tìm kiếm size"><br>
				  <button id="btnSearch" type="submit" class="btn btn-info" >
			       	  <i class="fa fa-search"></i> Tìm kiếm
			      </button>
		 	</form>
			<div class="row">
				<div style="font-size: 120%; text-align: center;" class="col-md-12 col-lg-12 col-sm-12">
					<table style="" class="table">
					  <thead>
					    <tr style="font-size: 150%">
					      <td>Mã liên hệ</td>
					      <td>Họ tên</td>
					      <td>Email</td>
					      <td>Số điện thoại</td>
					      <td>Thao tác</td>
					    </tr>
					  </thead>
					  <th:block th:each="contact : ${listContacts}">
					  		<tbody>
							    <tr>
							      <td><span id="contactId" th:text="${contact.id}"></span></td>
							      <td><span th:text="${contact.name}"></span></td>
							      <td><span th:text="${contact.email}"></span></td>
							      <td><span th:text="${contact.phone}"></span></td>
							      <!--  --> 
							      <td style="display: none;">
							      	<input type="hidden" id="comment" th:value="${contact.comment}">
							      </td>
							     
							      <td>
							      	<button class="btn btn-success btnViewContact" data-toggle="modal" data-target="#viewContact">
							      		<i class="fa fa-eye"></i> Nội dung góp ý
							      	</button> 
							      	<button class="btn btn-danger btnDeleteContact" data-toggle="modal" data-target="#deleteContact">
							      		<i class="fa fa-trash"></i> Xóa
							      	</button> 
							      </td>
							    </tr>
							</tbody>
					  </th:block>
					</table>
				</div>
				
				
				<!-- Modal view contact-->
				<div class="modal fade" id="viewContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLabel">Nội dung góp ý</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      	<div class="form-group">
					      <textarea id="comment" rows="7" cols="76" readonly="readonly"></textarea>
					    </div>
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				<!-- Modal delete size-->
				<div class="modal fade" id="deleteContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLabel">Xóa Size</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      	<h3>Bạn có chắc muốn xóa góp ý này không ?</h3>
				      	<div class="form-group">
					      <input type="hidden" class="form-control" id="contactId">
					    </div>
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
				        <button type="button" id="btnDelete" class="btn btn-danger" data-dismiss="modal">Xóa</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				
		</div>
		<!-- Pagination -->
			<span id="searchOption" style="display: none;" th:text="${search}"></span>
			<nav id="navPagination" aria-label="Page navigation example" style="text-align: center;">
			  <ul class="pagination">
			    <li class="page-item">
			    	<span id="pageNumberPre" style="display: none;" th:text="${pageNumber}"></span>
			      <a id="paginationURLPre" class="page-link" 
			      	th:if="${pageNumber == 0}"
			      	th:href="@{/manageContact/} + ${pageNumber} + @{/} + ${pageSize}" 
			      	
			      	aria-label="Previous">
			      	<span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			      
			      <a class="page-link"
			      	th:if="${pageNumber > 0}"
			      	th:href="@{/manageContact/} + ${pageNumber-1} + @{/} + ${pageSize}"  aria-label="Previous">
			      	
			      	<span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      	</a>
			    </li>
			    
			    <li class="page-item">
			    	<a class="page-link" th:href="@{/manageContact/} + ${pageNumber} + @{/} + ${pageSize}">
			    		<span>Trang </span>
			    		<span style="display: none;" id="currentPage" th:text="${pageNumber}"></span>
			    		<span th:text="${pageNumber+1}"></span>
			    	</a>
			    </li>
			    
			    <li class="page-item">
			    	<span id="pageNumberNext" style="display: none;" th:text="${totalPage}"></span>
			    	<span id="pageNumber" style="display: none;" th:text="${pageNumber}"></span>
			      <a id="paginationURLNext" class="page-link" th:href="@{/manageContact/} + ${pageNumber+1} + @{/} + ${pageSize}" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	</section>
</section>

</section>
<script th:src="@{/JS/js2/bootstrap.js}"></script>
<script th:src="@{/JS/js2/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/JS/js2/scripts.js}"></script>
<script th:src="@{/JS/js2/jquery.slimscroll.js}"></script>
<script th:src="@{/JS/js2/jquery.nicescroll.js}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script th:src="@{/JS/js2/jquery.scrollTo.js}"></script>
</body>
</html>
