<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Responsive_table :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<base th:href="@{/}">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link rel="stylesheet" th:href="@{/CSS/css2/bootstrap.min.css}" >
<link rel="stylesheet" th:href="@{/CSS/styles.css}" >
<!-- //bootstrap-css -->
<!-- Custom CSS -->
<link th:href="@{/CSS/css2/style.css}" rel='stylesheet' type='text/css' />
<link th:href="@{/CSS/css2/style-responsive.css}" rel="stylesheet"/>
<!-- font CSS -->
<link th:href='@{//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic}' rel='stylesheet' type='text/css'>
<!-- font-awesome icons -->
<link rel="stylesheet" th:href="@{/CSS/css2/font.css}" type="text/css"/>
<link th:href="@{/CSS/css2/font-awesome.css}" rel="stylesheet"> 
<!-- Add icon library -->
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- //font-awesome icons -->
<script type="text/javascript" th:src="@{/JS/js2/jquery2.0.3.min.js}"></script>
<script type="text/javascript" th:src="@{/JS/manageProductDetail.js}"></script>



</head>
<body>
<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->

<div class="brand">
    <a th:href="@{/admin}">
		<div class="brand" style="background: white;">
		    <!--<img alt="logoVNPOST" th:src="@{/images/img_vnpost.png}" style="display: block;-->
		    			<!--margin-left: auto; margin-right: auto; width: 60%; margin-top: auto;">-->
		
		</div>
	</a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->

<div class="nav notify-row" id="top_menu">
    <ul class="nav top-menu">
        
    </ul>
</div>

<div class="top-nav clearfix">
	<a th:href="@{/home}" type="button" class="btn btn-success"><i class="fa fa-home"></i> Về Trang Chủ</a>
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <!-- user login dropdown start-->
        <form th:action="@{/j_spring_security_logout}" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button type="submit" class="btn btn-secondary"  value="Đăng xuất">
				<span class="glyphicon glyphicon-off"></span>  Đăng xuất
			</button>
		</form>
        <!-- user login dropdown end -->
       
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-user"></i>Quản lý tài khoản </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/manageUser/0/5}">Quản trị người dùng</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-product-hunt"></i>Quản lý sản phẩm </span>
                    </a>
                    <ul class="sub">
                       <li><a th:href="@{/manageCategory/0/5}">Danh mục sản phẩm</a></li>
                        <li><a th:href="@{/manageProduct/0/5}">Sản phẩm</a></li>
                        <li><a th:href="@{/manageProductDetail/0/5}">Chi tiết sản phẩm</a></li>
                        <li><a th:href="@{/manageSize/0/5}">Size sản phẩm</a></li>
                        <li><a th:href="@{/manageColor/0/5}">Màu sản phẩm</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-cart-plus"></i>Quản lý hóa đơn </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/manageBill/0/5}">Đơn hàng</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-tags"></i>Quản Lý Khuyến Mại </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/admin2/0/5}">Danh sách khuyến mại</a></li>
                        <li><a th:href="@{/admin3/0/5}">Sản phẩm</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a class="active" th:href="@{/admin}">
                        <span><i class="fa fa-envelope"></i>Quản Lý Liên Hệ </span>
                    </a>
                    <ul class="sub">
                        <li><a th:href="@{/admin2/0/5}">Giới thiệu</a></li>
                        <li><a th:href="@{/manageContact/0/5}">Liên hệ</a></li>
                    </ul>
                </li>
            </ul>           
          </div>
        <!-- sidebar menu end-->
    </div>
</aside>

<!--sidebar end-->
<section id="main-content">
	<section class="wrapper">
		<div class="container">
			<h2 style="text-align: center;">QUẢN LÝ CHI TIẾT SẢN PHẨM</h2>
			<button id="btnInsert" 
		    type="button" class="btn btn-warning" data-toggle="modal" data-target="#insertProductDetail">
					<i class="fa fa-plus"></i> Thêm chi tiết
			</button><br><br>
			<form style="display: inline-flex;" th:action="@{/manageProductDetail/search/} + ${0} + @{/} + ${5}">
				  <input type="text" class="form-control" name="productName" placeholder="tìm kiếm sản phẩm"><br>
				  <button id="btnSearch" type="submit" class="btn btn-info" >
			       	  <i class="fa fa-search"></i> Tìm kiếm
			      </button>
		 	</form>
			<div class="row">
				<div style="font-size: 120%; text-align: center;" class="col-md-12 col-lg-12 col-sm-12">
					<table style="" class="table table-image">
					  <thead>
					    <tr style="font-size: 150%">
					      <td >Mã chi tiết SP</td>
					      <td >Tên sản phẩm</td>
					      
					      <td>Các thao tác</td>
					    </tr>
					  </thead>
					  <th:block th:each="productDetail : ${listProductDetails}">
					  		<tbody>
							    <tr>
							      <td><span th:text="${productDetail.id}"></span></td>
							      <td><span th:text="${productDetail.productEntity.productName}"></span></td>
							      <td style="display: none;">
							      	<span id="productDetailId" th:text="${productDetail.id}"></span>
							        <span id="productId" th:text="${productDetail.productEntity.id}"></span>
							        <span id="productName" th:text="${productDetail.productEntity.productName}"></span>
							        <span id="colorId" th:text="${productDetail.colorEntity.id}"></span>
							        <span id="colorName" th:text="${productDetail.colorEntity.colorName}"></span>
							        <span id="sizeId" th:text="${productDetail.sizeEntity.id}"></span>
							        <span id="sizeName" th:text="${productDetail.sizeEntity.sizeName}"></span>
							        <span id="amount" th:text="${productDetail.productAmount}"></span>
							        <span id="date" th:text="${productDetail.date}"></span>
							      <td>
							        <button class="btn btn-success btnViewProductDetail" data-toggle="modal" data-target="#viewProductDetail">
							      		<i class="fa fa-eye"></i> Xem chi tiết
							      	</button> 
							      	<button class="btn btn-primary btnUpdateProductDetail" data-toggle="modal" data-target="#updateProductDetail">
							      		<i class="fa fa-edit"></i> Cập nhật
							      	</button> 
							      	<button class="btn btn-danger btnDeleteProductDetail" data-toggle="modal" data-target="#deleteProductDetail">
							      		<i class="fa fa-trash"></i> Xóa
							      	</button> 
							      </td>
							      
							    </tr>
							</tbody>
					  </th:block>
					</table>
				</div>
				
				<!-- Modal insert productDetail-->
				<div class="modal fade" id="insertProductDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLabel">Nhập thông tin chi tiết cho sản phẩm</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
					    <div class="form-group">
					      <label for="productName">nhập mã sản phẩm:</label>
					      <input type="text" class="form-control" id="productId">
					    </div>
					    <div class="form-group">
					      <label for="productPrice">nhập mã màu:</label>
					      <input type="text" class="form-control" id="colorId">
					    </div>
					    <div class="form-group">
					      <label for="productDesc">nhập mã size:</label><br>
					      <input type="text" class="form-control" id="sizeId">
					    </div>
					   <div class="form-group">
					      <label for="productDesc">nhập số lượng:</label><br>
					      <input type="text" class="form-control" id="amount">
					    </div>
					    <div class="form-group">
					      <label for="productCategoryId">Nhập ngày nhập sản phẩm (Năm-ngày-tháng))</label>
					      <input type="text" class="form-control" id="date" placeholder="ví dụ: 2019-08-31">
					    </div>
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-warning" data-dismiss="modal">Đóng</button>
				        <button type="button" id="btnInsert" class="btn btn-warning" data-dismiss="modal">Thêm</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				<!-- Modal view productDetail-->
				<div class="modal fade" id="viewProductDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLabel">Chi tiết sản phẩm</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <div class="form-group">
					      <label for="productId">Mã chi tiết sản phẩm:</label>
					      <input type="text" class="form-control" id="productDetailId" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">mã sản phẩm:</label>
					      <input type="text" class="form-control" id="productId" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">Tên sản phẩm:</label>
					      <input type="text" class="form-control" id="productName" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">mã màu:</label>
					      <input type="text" class="form-control" id="colorId" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">Tên màu:</label>
					      <input type="text" class="form-control" id="colorName" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">mã size:</label>
					      <input type="text" class="form-control" id="sizeId" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">Tên size:</label>
					      <input type="text" class="form-control" id="sizeName" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">số lượng:</label>
					      <input type="text" class="form-control" id="amount" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">ngày nhập:</label>
					      <input type="text" class="form-control" id="date" readonly="readonly">
					    </div>
					    
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				
				
				<!-- Modal update category-->
				<div class="modal fade" id="updateProductDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin sản phẩm</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <div class="form-group">
					      <label for="productId">Mã chi tiết sản phẩm:</label>
					      <input type="text" class="form-control" id="productDetailId" readonly="readonly">
					    </div>
					    <div class="form-group">
					      <label for="productName">Mã sản phẩm</label>
					      <input type="text" class="form-control" id="productId">
					    </div>
					    <div class="form-group">
					      <label for="productPrice">Mã màu:</label>
					      <input type="text" class="form-control" id="colorId">
					    </div>
					    <div class="form-group">
					      <label for="productPrice">Mã size:</label>
					      <input type="text" class="form-control" id="sizeId">
					    </div>
					    <div class="form-group">
					      <label for="productPrice">Số lượng:</label>
					      <input type="text" class="form-control" id="amount">
					    </div>
					    <div class="form-group">
					      <label for="productPrice">Ngày nhập:</label>
					      <input type="text" class="form-control" id="date">
					    </div>
					    
				      </div>
				      <div class="modal-footer">
				      	<button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
				        <button type="button" id="btnSaveUpdateProductDetail" class="btn btn-primary" data-dismiss="modal">Lưu</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				<!-- Modal delete productDetail-->
				<div class="modal fade" id="deleteProductDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h3 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h3>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
					    Bạn có chắc muốn xóa sản phẩm này không ?
					    <input type="hidden" class="form-control" id="productDetailId">
					    <input type="hidden" class="form-control" id="productId">
					    <input type="hidden" class="form-control" id="colorId">
					    <input type="hidden" class="form-control" id="sizeId">
				      <div class="modal-footer">
				        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
				        <button type="button" id="btnConfirmDelete" class="btn btn-danger" data-dismiss="modal">Xóa</button>
				      </div>
				    </div>
				  </div>
				 </div>
				</div>
		</div>
		<!-- Pagination -->
			<span id="searchOption" style="display: none;" th:text="${search}"></span>
			<nav id="navPagination" aria-label="Page navigation example" style="text-align: center;">
			  <ul class="pagination">
			    <li class="page-item">
			    	<span id="pageNumberPre" style="display: none;" th:text="${pageNumber}"></span>
			      <a id="paginationURLPre" class="page-link" 
			      	th:if="${pageNumber == 0}"
			      	th:href="@{/manageProductDetail/} + ${pageNumber} + @{/} + ${pageSize}" 
			      	
			      	aria-label="Previous">
			      	<span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      </a>
			      
			      <a class="page-link"
			      	th:if="${pageNumber > 0}"
			      	th:href="@{/manageProductDetail/} + ${pageNumber-1} + @{/} + ${pageSize}"  aria-label="Previous">
			      	
			      	<span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
			      	</a>
			    </li>
			    
			    <li class="page-item">
			    	<a class="page-link" th:href="@{/manageProductDetail/} + ${pageNumber} + @{/} + ${pageSize}">
			    		<span>Trang </span>
			    		<span style="display: none;" id="currentPage" th:text="${pageNumber}"></span>
			    		<span th:text="${pageNumber+1}"></span>
			    	</a>
			    </li>
			    
			    <li class="page-item">
			    	<span id="pageNumberNext" style="display: none;" th:text="${totalPage}"></span>
			    	<span id="pageNumber" style="display: none;" th:text="${pageNumber}"></span>
			      <a id="paginationURLNext" class="page-link" th:href="@{/manageProductDetail/} + ${pageNumber+1} + @{/} + ${pageSize}" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			        <span class="sr-only">Next</span>
			      </a>
			    </li>
			  </ul>
			</nav>
	</section>
</section>

</section>
<script th:src="@{/JS/js2/bootstrap.js}"></script>
<script th:src="@{/JS/js2/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/JS/js2/scripts.js}"></script>
<script th:src="@{/JS/js2/jquery.slimscroll.js}"></script>
<script th:src="@{/JS/js2/jquery.nicescroll.js}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
<script th:src="@{/JS/js2/jquery.scrollTo.js}"></script>
</body>
</html>
