<mat-card style="padding-bottom: unset">
  <form class="row" [formGroup]="reportDetailForm">
    <div class="col-2" style="text-align: right">
      <button type="button" style="margin-top: 5px" mat-raised-button color="primary" (click)="addNewPost()">
        {{'kms-management.post.new'|translate}}
      </button>
    </div>
    <div class="col-8">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label></mat-label>
        <input matInput formControlName="title" (keydown.enter)="search(true)">
      </mat-form-field>
    </div>
    <div class="col-1">
      <button mat-raised-button color="primary" style="margin-top: 5px"
              type="button" (click)="search(true)">
        {{'common.button.search' | translate}}
      </button>
    </div>

  </form>
</mat-card>
<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'kms-management.post.postList'|translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                  [loading]="isLoading" [pageIndex]="offset" [pageSize]="pagesize"
                  [headerTemplate]="header1Tpl"
                  [cellTemplate]="{index: templateOrderNumber, createDatetime: createDatetime , button: button, viewTotal: viewTotal, title: title}"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChange($event)" [length]="total" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #button let-row let-index="index">
          <button mat-icon-button color="warn" [title]="'kms-management.post.button.viewer'|translate" (click)="history(row, true)">
            <mat-icon>history</mat-icon>
          </button>
          <button mat-icon-button color="warn" [title]="'kms-management.post.button.edit'|translate" (click)="edit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <!--          <button mat-icon-button color="warn" title="Hết hiệu lực" (click)="block(row)"><mat-icon>block</mat-icon></button>-->
          <button mat-icon-button color="warn" [title]="'kms-management.post.button.delete'|translate" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="warn" [title]="'kms-management.post.button.move'|translate" (click)="move(row)">
            <mat-icon>compare_arrows</mat-icon>
          </button>
        </ng-template>
        <ng-template #createDatetime let-row let-index="index">
          {{row.createDatetime |date: 'dd/MM/yyyy HH:mm:ss'}}
        </ng-template>
        <ng-template #viewTotal let-row>
          <div>
            {{row?.viewTotal}}
          </div>
        </ng-template>
        <ng-template #title let-row>
          <div style="cursor: pointer;text-align: left" (click)="viewPost(row)">
            <a>{{row?.title}}</a>
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
          <div class="text-center">{{index + 1 + offset * pagesize}}</div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row cp-brand-search" *ngIf="selectedPost">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'kms-management.post.viewerList'|translate}} {{selectedPost?.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mtx-grid [showColumnMenuButton]="false" [data]="dataUser" [columns]="columnsUser"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                  [loading]="isLoadingUser" [pageIndex]="offsetUser" [pageSize]="pagesizeUser"
                  [headerTemplate]="header2Tpl"
                  [cellTemplate]="{index: templateOrderNumber, createDatetime: createDatetime, fullName: fullName, title: title}"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChangeUser($event)" [length]="totalUser" style="text-align: center">
        </mtx-grid>
        <ng-template #header2Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>

        <ng-template #createDatetime let-row let-index="index">
          {{row.createDatetime |date: 'dd/MM/yyyy HH:mm:ss'}}
        </ng-template>
        <ng-template #viewTotal let-row>
          <div>
            {{row?.viewTotal}}
          </div>
        </ng-template>
        <ng-template #fullName let-row>
          <div>
            {{row?.firstName + ' ' + row?.lastName }}
          </div>
        </ng-template>
        <ng-template #title let-row>
          <div style="text-align: left">
            {{row?.title}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
          <div class="text-center">{{index + 1 + offset * pagesize}}</div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
