<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'customer.searchTitle' | translate }}</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="formSearch" class="form-field-full">

          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <div fxFlex="33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.code' | translate }}</mat-label>
                <input matInput type="text" formControlName="cpCode" id="cpCode" (blur)="validSpecialChar('cpCode')"/>
                <mat-error>
                  <app-inline-message [formName]="formSearch.get('cpCode')"
                                      [message]="'customer.code'"></app-inline-message>
                  <span
                    *ngIf="formSearch.get('cpCode').errors?.invalidChar">{{'customer.invalidChar' | translate:{field: 'customer.code' | translate} }}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.name' | translate }}</mat-label>
                <input matInput type="text" formControlName="cpName"/>
                <mat-error>
                  <app-inline-message [formName]="formSearch.get('cpName')"
                                      [message]="'customer.name'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.username' | translate }}</mat-label>
                <input matInput type="text" formControlName="userName" (blur)="validSpecialChar('userName')"/>
                <mat-error>
                  <app-inline-message [formName]="formSearch.get('userName')"
                                      [message]="'customer.username'"></app-inline-message>
                  <span
                    *ngIf="formSearch.get('userName').errors?.invalidChar">{{'customer.invalidChar' | translate:{field: 'customer.username' | translate} }}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div style="margin-bottom: 1.3rem">
            <div fxLayout="row wrap" fxLayoutGap="8px grid">
              <div fxFlex="33" fxFlex.lt-sm="100">
                <label id="type">{{'customer.type' | translate}}</label>
                <mat-radio-group aria-labelledby="type" formControlName="chargeType">
                  <mat-radio-button *ngFor="let c of lstChargeType" [value]="c.value"
                                    [checked]="c.value==='-1'?true:false">
                    {{c.label | translate}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div fxFlex="33" fxFlex.lt-sm="100">
                <label id="curType">{{ 'customer.curType' | translate }}</label>
                <mat-radio-group aria-labelledby="curType" formControlName="currency">
                  <mat-radio-button *ngFor="let c of lstCurrency" [value]="c.value"
                                    [checked]="c.value==='-1'?true:false">
                    {{c.label | translate}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div fxFlex="33" fxFlex.lt-sm="100">
                <label id="status">{{ 'customer.status' | translate }}</label>
                <mat-radio-group aria-labelledby="status" formControlName="status">
                  <mat-radio-button *ngFor="let c of status" [value]="c.value"
                                    [checked]="c.value==='-1'?true:false">
                    {{c.label | translate}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>

          <div *ngIf="checked" fxLayout="row wrap" fxLayoutGap="8px grid">
            <div fxFlex="33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>Brandname</mat-label>
                <input matInput formControlName="cpAlias" type="text"/>
                <mat-error>
                  <app-inline-message [formName]="formSearch.get('cpAlias')"
                                      [message]="'Brandname'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="33" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.province' | translate }}</mat-label>
                <mat-select formControlName="provinceId">
                  <mat-option *ngFor="let s of lstProvince" [value]="s?.provinceId">
                    {{s?.provinceName | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px"
               fxLayoutGap.xs="0">
            <mat-checkbox class="example-margin"
                          (change)="onCheckboxChange($event)">{{'customer.advSearch' | translate}}
            </mat-checkbox>
            <button mat-raised-button color="primary" style="margin-right: 8px;" (click)="search()"
                    type="submit">{{ 'common.button.search' | translate }}</button>
            <button mat-raised-button color="primary" style="margin-right: 8px;" (click)="export()"
                    type="submit">{{ 'common.button.exportExcel' | translate }}</button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout fxLayoutAlign="end">
      <button mat-raised-button color="primary" (click)="prepareSaveOrUpdate()"
              class="sms-custom-button">{{ 'common.button.insert' | translate }}</button>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ ('customer.list' | translate) + ' (' + totalRecord + ')'}}
        </mat-card-title>
      </mat-card-header>

      <mtx-grid [showColumnMenuButton]="false" [data]="dataModel.dataSource" [columns]="columns"
                [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                [loading]="isLoading" [pageIndex]="pageIndex" [pageSize]="pagesize"
                [headerTemplate]="header1Tpl"
                [cellTemplate]="{no: templateOrderNumber, status: statusTpl,chargeType:chargeTypeTpl,approveType:approveTypeTpl}"
                [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                (page)="pageChange($event)" [length]="totalRecord">
      </mtx-grid>
      <ng-template #header1Tpl let-header>
        {{header.i18n | translate}}
      </ng-template>
      <ng-template #templateOrderNumber let-row let-index="index">
        <span>{{index + 1 + pageIndex * pagesize}}</span>
      </ng-template>
      <ng-template #chargeTypeTpl let-row>
        <span>{{row?.chargeType === 'PRE' ? ('customer.pre' |translate) : ('customer.pos'  |translate)}}</span>
      </ng-template>
      <ng-template #approveTypeTpl let-row>
        <span>{{row?.approveType === 1 ? ('customer.approveType1' |translate) : ('customer.approveType0' |translate)}}</span>
      </ng-template>
      <ng-template #statusTpl let-row>
                        <span>
                            {{ row?.status === 1 ? ('filter.active' | translate) :
                          ('filter.inactive' | translate) }}
                        </span>
      </ng-template>
    </mat-card>
  </div>
</div>
