<mat-card>
  <mat-card-header>
    <div class="card-body">
      <div class="row">
        <div class="col-11">
          <div class="row">
            <mat-icon>list_alt</mat-icon>
            <h5>{{'campain-script.copy.title'|translate}}</h5>
          </div>
        </div>
        <div class="col-1">
          <mat-icon style="float: right; cursor: pointer" (click)="closeDialof()">close</mat-icon>
        </div>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content [formGroup]="formInput">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'campain-script.copy.odl_name' | translate }}</mat-label>
          <mat-select class="w-100" formControlName="id">
            <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
            <mat-option *ngFor="let item of campaignScript" [value]="item?.id">
              {{item?.campaignScriptName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'campain-script.copy.new_name' | translate }}</mat-label>
          <input matInput name="scores" formControlName="newName" type="text"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button style="margin-top: 10px; margin-left: 8px" class="mr-2 btn btn-success"
                type="button" (click)="checkCopy()" >
          {{ 'common.button.insert' | translate }}
        </button>
        <button style="margin-top: 10px" class="mr-2 btn btn-success"
                type="button" (click)="closeDialof()"  >
          {{ 'common.button.back' | translate }}
        </button>
      </div>
    </div>
  </mat-card-content>

</mat-card>
