<div fxLayout='row wrap' class='matero-row '>
  <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon style='margin-right: 8px'>inbox</mat-icon>
    {{'criteria.title' | translate}}
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <mat-tab-group mat-align-tabs='end'>
      <mat-tab label="{{'criteria.still-validated' | translate}}">
        <mat-card fxFlex='100' fxFlex.lt-sm='100'>
          <form [formGroup]='formControl' class='row card-body'>
            <div class='col-3'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'criteria.criteria-group' | translate}}</mat-label>
                <mat-select formControlName='criteriaGroupId' (selectionChange)='onChangeCriteriaGroup()'
                            (ngModelChange)='onChangeCriteriaGroup()'>
                  <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
                  <mat-option *ngFor='let item of lstCriteriaGroup' [value]='item.id'>
                    {{item.name}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <app-inline-message [formName]="formControl.get('criteriaGroupId')"
                                      [message]="'criteria.criteria-group'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class='col-3'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'criteria.criteria' | translate}}</mat-label>
                <input matInput formControlName='name'>
                <mat-error>
                  <app-inline-message [formName]="formControl.get('name')"
                                      [message]="'criteria.criteria'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class='col-6'></div>
            <div class='col-3'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'criteria.remaining-points' | translate}}</mat-label>
                <input matInput readonly formControlName='remainingScore'>
              </mat-form-field>
            </div>
            <div class='col-3'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'criteria.point' | translate}}</mat-label>
                <input matInput onlyNumber formControlName='scores'>
                <mat-error>
                  <app-inline-message [formName]="formControl.get('scores')"
                                      [message]="'criteria.point'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class='col-6'>
              <button class='ml-2 mr-2 btn btn-success'
                      style='min-width: 7vw; margin-top: 5px'
                      (click)='save()'>{{(isUpdate ? 'common.button.update' : 'common.button.insert') | translate}}</button>
              <button class='ml-2 mr-2 btn btn-success'
                      style='min-width: 7vw; margin-top: 5px'
                      (click)='cancel()'>{{'common.button.cancle' | translate}}</button>
            </div>
          </form>
        </mat-card>
        <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
          <mat-icon style='margin-right: 8px'>assignment</mat-icon>
          {{'criteria.title-list' | translate}}
        </div>
        <mat-card fxFlex='100' fxFlex.lt-sm='100'>
          <form [formGroup]='formSearch' class='row card-body'>
            <div class='col-3'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'criteria.criteria-group' | translate}}</mat-label>
                <mat-select formControlName='criteriaGroupId'>
                  <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
                  <mat-option *ngFor='let item of lstCriteriaGroup' [value]='item.id'>
                    {{item.name}}
                  </mat-option>
                </mat-select>
<!--                <mat-error>-->
<!--                  <app-inline-message [formName]="formSearch.get('criteriaGroupId')"></app-inline-message>-->
<!--                </mat-error>-->
              </mat-form-field>
            </div>
            <div class='col-3'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'criteria.content-for-search' | translate}}</mat-label>
                <input matInput formControlName='keyWord'>
              </mat-form-field>
            </div>
            <div class='col-6'>
              <button class='ml-2 mr-2 btn btn-success'
                      style='min-width: 7vw; margin-top: 5px'
                      (click)='search()'>{{'common.button.search' | translate}}</button>
              <button class='ml-2 mr-2 btn btn-success'
                      style='min-width: 7vw; margin-top: 5px' (click)="addCriteriaDetail()">{{'common.button.insert' | translate}}</button>
            </div>
            <div class='col-12'>
              <table class='w-100 custom-table'>
                <ng-container>
                  <tr>
                    <th style='padding: 20px'>{{'criteria.columns.index' | translate}}</th>
                    <th style='padding: 20px'>{{'criteria.columns.content' | translate}}</th>
                    <th style='padding: 20px'>{{'criteria.columns.point' | translate}}</th>
                    <th style='padding: 20px'>{{'criteria.columns.explain' | translate}}</th>
                    <th style='padding: 20px'>{{'criteria.columns.tools' | translate}}</th>
                  </tr>
                </ng-container>
                <ng-container *ngFor='let data of criteriaLst; let i = index;'>
                  <tr>
                    <td [attr.rowspan]='data.criteriaDetailDTOList.length + 1'
                        style='width: 25px; vertical-align: top;'>
                      <div class='text-center' style='margin-top: 4px'>{{i + 1 + pageSize * pageIndex}}</div>
                    </td>
                    <td style='min-width: 300px'>{{data.name}}</td>
                    <td style='width: 50px'>
                      <div class='text-center'><span class='scores'>{{data.scores}}</span></div>
                    </td>
                    <td></td>
                    <td style='width: 150px'>
                      <div class='text-center'>
                        <button mat-icon-button class='icon-button-small mr-1' color='warn'
                                matTooltip="{{'criteria.update' | translate}}" (click)='edit(data)'>
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button class='icon-button-small mr-1' color='warn'
                                matTooltip="{{'common.button.delete' | translate}}" (click)='changeStatus(data, true)'>
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button class='icon-button-small mr-1' color='warn'
                                matTooltip="{{'criteria.change-status' | translate}}"
                                (click)='changeStatus(data, false)'>
                          <mat-icon>autorenew</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <ng-container *ngFor='let number of data.criteriaDetailDTOList; let j = index;'>
                    <tr>
                      <td>
                        <div class='row ml-4' [innerHTML]="(j+1) + '.' +number.content"></div>
                      </td>
                      <td>
                        <div class='text-center'><span class='scores'>{{number.scores}}</span></div>
                      </td>
                      <td>
                        <div [innerHTML]='number.description'></div>
                      </td>
                      <td>
                        <div class='text-center'>
                          <button mat-icon-button class='icon-button-small mr-1' color='warn'
                                  matTooltip="{{'criteria.update-content' | translate}}" (click)="updateCriteriaDetail(number)">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button class='icon-button-small mr-1' color='warn'
                                  matTooltip="{{'common.button.delete' | translate}}" (click)="deleteTemp(number)">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>
              <div *ngIf='criteriaLst.length === 0' class='no-result-found'>
                <span>{{'common.notify.no-record-result' | translate}}</span>
              </div>
              <mat-paginator *ngIf='criteriaLst.length > 0'
                             [length]='totalRecord'
                             [showFirstLastButtons]='true'
                             [pageSize]='pageSize'
                             [pageIndex]='pageIndex'
                             [pageSizeOptions]='pageSizeList'
                             (page)='onPageChange($event)'>
              </mat-paginator>
            </div>
          </form>
        </mat-card>
      </mat-tab>
      <mat-tab label="{{'criteria.expire' | translate}}">
        <mat-card fxFlex='100' fxFlex.lt-sm='100'>
          <form [formGroup]='formSearchExpire' class='row card-body'>
            <div class='col-3'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'criteria.criteria-group' | translate}}</mat-label>
                <mat-select formControlName='criteriaGroupId'>
                  <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
                  <mat-option *ngFor='let item of lstCriteriaGroup' [value]='item.id'>
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class='col-3'>
              <mat-form-field appearance='outline' class='w-100'>
                <mat-label>{{'criteria.content-for-search' | translate}}</mat-label>
                <input matInput formControlName='keyWord'>
              </mat-form-field>
            </div>
            <div class='col-6'>
              <button class='ml-2 mr-2 btn btn-success'
                      style='min-width: 7vw; margin-top: 5px' (click)='searchExpire()'>{{'common.button.search' | translate}}</button>
            </div>
            <div class='col-12'>
              <table class='w-100 custom-table'>
                <ng-container>
                  <tr>
                    <th style='padding: 20px'>{{'criteria.columns.index' | translate}}</th>
                    <th style='padding: 20px'>{{'criteria.columns.content' | translate}}</th>
                    <th style='padding: 20px'>{{'criteria.columns.point' | translate}}</th>
                    <th style='padding: 20px'>{{'criteria.columns.explain' | translate}}</th>
                    <th style='padding: 20px'>{{'criteria.columns.tools' | translate}}</th>
                  </tr>
                </ng-container>
                <ng-container *ngFor='let data of criteriaLstExpire; let i = index;'>
                  <tr>
                    <td [attr.rowspan]='data.criteriaDetailDTOList.length + 1'
                        style='width: 25px; vertical-align: top;'>
                      <div class='text-center'
                           style='margin-top: 4px'>{{i + 1 + pageSizeExpire * pageIndexExpire}}</div>
                    </td>
                    <td style='min-width: 300px'>{{data.name}}</td>
                    <td style='width: 50px'>
                      <div class='text-center'><span class='scores'>{{data.scores}}</span></div>
                    </td>
                    <td></td>
                    <td style='width: 150px'>
                      <div class='text-center'>
                        <button mat-icon-button class='icon-button-small mr-1' color='warn'
                                matTooltip="{{'common.button.delete' | translate}}" (click)='changeStatus(data, true)'>
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button class='icon-button-small mr-1' color='warn'
                                matTooltip="{{'criteria.change-status' | translate}}"
                                (click)='changeStatus(data, false)'>
                          <mat-icon>autorenew</mat-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <ng-container *ngFor='let number of data.criteriaDetailDTOList; let j = index;'>
                    <tr>
                      <td>
                        <div class='row ml-4' [innerHTML]="(j+1) + '.' +number.content"></div>
                      </td>
                      <td>
                        <div class='text-center'><span class='scores'>{{number.scores}}</span></div>
                      </td>
                      <td>
                        <div [innerHTML]='number.description'></div>
                      </td>
                      <td>
                        <div class='text-center'>
                          <button mat-icon-button class='icon-button-small mr-1' color='warn'
                                  matTooltip="{{'common.button.delete' | translate}}">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </table>
              <div *ngIf='criteriaLstExpire.length === 0' class='no-result-found'>
                <span>{{'common.notify.no-record-result' | translate}}</span>
              </div>
              <mat-paginator *ngIf='criteriaLstExpire.length > 0'
                             [length]='totalRecordExpire'
                             [showFirstLastButtons]='true'
                             [pageSize]='pageSizeExpire'
                             [pageIndex]='pageIndexExpire'
                             [pageSizeOptions]='pageSizeListExpire'
                             (page)='onPageChangeExpire($event)'>
              </mat-paginator>
            </div>
          </form>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
