.title_cus {
  min-height: 48px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .15);
}

.custom-title {
  position: absolute;
  padding-top: 4px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
}

.scores {
  border-radius: 15px;
  background: #0b5ed7;
  padding: 5px 10px;
  color: white
}

button[mat-icon-button] {
  $small-size-button: 24px;
  $small-size-icon: 18px;

  &.icon-button-small {
    width: $small-size-button;
    height: $small-size-button;
    line-height: $small-size-button;

    .mat-icon {
      font-size: $small-size-icon;
      width: $small-size-icon;
      height: $small-size-icon;
      line-height: $small-size-icon;
    }

    .mat-button-ripple {
      font-size: inherit;
      width: inherit;
      height: inherit;
      line-height: inherit;
    }
  }
}

.custom-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.custom-table td, .custom-table th {
  border: 1px solid #ddd;
  padding: 15px;
}

.custom-table tr:nth-child(even) {
  background-color: #fafafa;
}

.custom-table tr:hover {
  background-color: #f2f2f2;
}

.custom-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.no-result-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  font-size: 14px;
}
