.textHeader{
	text-align: center;
}

#table{
	text-align: center;
}
.th{
	text-align: center;
}

/*login page*/
#background{
  	background: linear-gradient(rgba(0,0,0,0.42), rgba(0,0,0,0.42)),
  	url(https://cameronscookware.com/wp-content/uploads/2019/12/anime-classroom-background-beautiful-artstation-anime-classroom-steven-kent-lomtong-this-year-of-anime-classroom-background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed; 
 	width: 100%;
  	height: 100%;
    
}
.loginFormChild{
	margin: 5% 20% 5% 20%;
	color: white;
	text-align: center;
	
}
.loginFormFather{
	margin: 10% 22% 0 22%;
	border: 3px solid gray;
	border-radius: 20px;
	background-color: black;
}

.title{
	font-size: 250%; 
	font-weight: 700;
	color: #d56c6c; 
	text-shadow: 2px 2px 5px red;
	text-align: center;
	
}