.content-body:hover {
  background-color: #b3c7dc;
}
.not-read {
  font-weight: 500 !important;
}
.header-notify {
  background: white;
  position: sticky;
  top: 0;
  z-index: 5;
  padding-top: 8px;
}
