<button mat-icon-button class="matero-toolbar-button" [matMenuTriggerFor]="menu" >
  <mat-icon>notifications</mat-icon>
  <span class="badge bg-red-500">{{total}}</span>
</button>
<mat-menu #menu="matMenu" [classList]="'notification'">
  <mat-nav-list >
    <div class="col-12 mb-2 header-notify">
      <label class="text-danger">Bạn có {{total||0}} thông báo mới</label>
    </div>
    <div *ngFor="let message of messages" class=" border-top content-body" (click)="navigate(message)">
      <div class="row " style="margin: unset !important;padding: 10px">
        <div class="col-2" style="justify-content: center;align-content: center;display: grid;" >
            <img *ngIf="message.type === '1'" src="assets/icons/notification.png" style="height: 50px;width: 50px">
            <img *ngIf="message.type === '2'" src="assets/icons/new.jpg" style="height: 50px;width: 50px">
            <img *ngIf="message.type === '3'" src="assets/icons/expired-96.png" style="height: 50px;width: 50px">
            <img *ngIf="message.type === '4'" src="assets/icons/experied.jpg" style="height: 50px;width: 50px">
        </div>
        <div class="col-6">
          <label class="{{message?.isRead === '0' ? 'not-read' : '' }}" style="font-weight: 200">{{message?.title}}</label><br>
<!--          <small style="width: 100%">Mã sự vụ: {{message?.refId}}</small>-->
<!--          <br>-->
          <small [innerHTML]="message?.content"></small>
        </div>
        <div class="col-4">
          <small style="display: inline-flex"><mat-icon>alarms</mat-icon> {{message?.createDatetime| date:'dd/MM/yyyy HH:mm:ss'}}</small>
        </div>
      </div>
    </div>
  </mat-nav-list>
</mat-menu>
