<div class="form-text"  *ngIf="(formName.invalid && formName.touched)">
  <mat-error *ngIf="formName.errors.required">
    {{ 'validation.MSG0006' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.minlength">
    {{ 'validation.minLength' | translate: {
    field: message | translate,
    value: formName.errors.minlength.requiredLength
  } }}
  </mat-error>
  <mat-error *ngIf="formName.errors.maxlength && !formName.errors?.max">
    {{ 'validation.maxLength' | translate: {
    field: message | translate,
    value: formName.errors.maxlength.requiredLength
  } }}
  </mat-error>
  <mat-error *ngIf="formName.errors.pattern">
    {{ 'validation.pattern' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.onlyNaturalNumber">
    {{ 'validation.onlyNaturalNumber' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.onlyNumber">
    {{ 'validation.onlyNumber' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.onlyDoubleNumber">
    {{ 'validation.onlyDoubleNumber' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.onlyCharacter">
    {{ 'validation.onlyCharacter' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.mustMatch">
    {{ 'validation.mustMatch' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.passwordMustMatchChange">
    {{ 'validation.mustMatch' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.email">
    {{ 'validation.email' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.existCheck">
    {{ 'validation.existCheck' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.max">
    {{ 'validation.maxValue' | translate: {field: message | translate, value: formName.errors.max.max} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.min">
    {{ 'validation.minValue' | translate: {field: message | translate, value: formName.errors.min.min} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.invalidBrand">
    {{ 'validation.invalidBrand' | translate: {field: message} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.customRequired">
    {{ 'validation.customRequired' | translate: {field: message | translate} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.invalidCpCode">
    {{ 'validation.invalidCpCode' | translate: {field: message} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.invalidPhoneNumber">
    {{ 'validation.invalidPhoneNumber' | translate: {field: message} }}
  </mat-error>
  <mat-error *ngIf="formName.errors.invalidPassword">
    {{ 'validation.invalidPassword' | translate: {field: message} }}
  </mat-error>
  <error class="form-text text-danger" *ngIf="formName.errors.isValidInput">
    {{ 'validation.isValidInput' | translate: {field: message | translate} }}
  </error>
  <error class="form-text text-danger" *ngIf="formName.errors.requiredCb">
    {{ 'validation.requiredCb' | translate: {field: message | translate} }}
  </error>
  <mat-error *ngIf="formName.errors.dateFull">
    {{'validation.dateFull' | translate }}
  </mat-error>

</div>
