@charset "UTF-8";

#loginBody{
	background-color: #d3f3eb;
}

#loginContainer {
	background-color: #0f2473e3;
	color: white;
	margin-top: 7%;
	border: 5px solid gray;
	border-radius: 10px;
	text-align: center;
	padding: 0 20% 5% 20%;
}

#loginContainer h2 {
	border-bottom: 2px solid blue;
}

#goToChangePass{
	color: #e8bd20f5;
	margin-top: 5px;
	cursor: pointer;
}

#goToChangePass:hover{
	color: white;
}

#goToLogin{
	color: #e8bd20f5;
	margin-top: 5px;
	cursor: pointer;
}

#goToLogin:hover{
	color: white;
}



