<mat-card>
    <mat-card-header style="height: 50px; padding: 5px 2%;">
        <mat-card-title>
            <mat-icon>info</mat-icon> {{"user.management.profile" | translate}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding-left: 20%;">
        <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()" style="text-align: right;">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>{{'user.management.column.fullName'|translate}}</b></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control"
                        [placeholder]="'user.management.column.fullName' | translate" formControlName="firstName">
                    <app-inline-message [formName]="updateProfileForm.get('firstName')"
                        [message]="'user.management.column.fullName'|translate">
                    </app-inline-message>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>{{'user.management.column.email'|translate}}</b></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" [placeholder]="'user.management.column.email' | translate"
                        formControlName="email">
                    <app-inline-message [formName]="updateProfileForm.get('email')"
                        [message]="'user.management.column.email'|translate">
                    </app-inline-message>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>{{'user.management.column.phoneNumber'|translate}}</b></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control"
                        [placeholder]="'user.management.column.phoneNumber' | translate" formControlName="phoneNumber">
                    <app-inline-message [formName]="updateProfileForm.get('phoneNumber')"
                        [message]="'user.management.column.phoneNumber'|translate">
                    </app-inline-message>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><b>{{'user.management.column.permission'|translate}}</b></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control permissionShow"
                        
                        formControlName="authorities" readonly>
                    <app-inline-message [formName]="updateProfileForm.get('authorities')"
                        [message]="'user.management.column.permission'|translate">
                    </app-inline-message>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <button type="submit" color="primary" mat-raised-button class="mr-3" style="background-color: forestgreen; color: white; margin-left: 8px;">
                    <mat-icon style="font-weight: 600;">arrow_right</mat-icon> {{"common.button.saveInformation" |
                    translate}}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>