.topicName{
  text-align: center;
  font-size: 130%;
}
.titleModal{
	background-color: #1da9ed;
  margin: 0 12%;
  height: 50px;
  border-radius: 8px;
  color: white;
  position: relative;
}
.titleModal2{
  background-color: #1da9ed;
  margin-left: 12%;
  margin-right: 12%;
  height: 50px;
  border-radius: 5px;
}
.totalQuesion{
  position: relative;
}
.totalQuesionChild{
  color: white;
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 170%
}
.totalQuesionChild2{
  color: white;
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
  width: 100%;
  padding-right: 10%;
  font-size: 150%
}
.titleModalChild{
  margin-left: 2%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 180%;
}
.bodySnp{
  padding-left: 0px;
  padding-right: 0px;
}
.bodyModal{
	background-color: white;
    margin: 0 6px;
    border: 1px solid #0f7aae;
}


/*css question*/
.audio{
  width: 40%;
  height: 100px;
}
.bodyQuestion{
  margin-left: 3%;
}
.questionMargin{
  margin-bottom: 3%;
  color: black;
}
.answerToChooseMargin{
  margin-bottom: 3%;
  padding-left: 5%;
}
.labelRadioButton{
  display: contents;
  font-size: 100%;
}
.divSubmit{
  text-align: center;
  margin: 5% 0 5% 0;
}

#btnSubmit{
  background-color: #02a1ed !important;
}


/*css answer*/
.legend{
  color: black;
  text-align: left;
  background-color: lightgray;
  width: auto;
  padding: 5px 20px;
  font-size: medium;
}
.fieldset{
  border: 2px solid lightgray;
  padding: 0 2% 2% 2%;
  text-align: left;
  color: gray;
}
.questionName{
  padding-left: 0px !important;
  margin-bottom: 2%;
  color: black;
}
.legendDescription{
  color: white;
  text-align: left;
  background-color: green;
  width: auto;
  padding: 3px 15px;
  font-size: medium;
}
.fieldsetDescription{
  border: 2px solid green;
  padding: 0 2% 2% 2%;
  text-align: left;
  color: green;
}

.nextQuestion{
  text-align: center;
  padding: 0px;
}
#iconNextQuestion{
  margin: 0px !important;
  cursor: pointer;
  color: #b2aeae ;
}
#iconNextQuestion:hover{
  color: green;
}
.btnRepeat{
  background-color: white;
  border: 2px solid orange;
  color: orange;
  height: 80%;
  font-size: 80%;
  border-radius: 5px;
  display: flex;
  height: 20px !important;
  width: 75px;
}
.iconPlay{
  margin: auto;
}

/*css total result*/
.colTable{
  margin: 5% 20%;
  text-align: center;
}
#tableTotal{
  border: 2px solid gray;
  background-color: white;
  margin-top: 3%;
}
#tableTotal th{
  font-size: 120%;
  color: black;
  border: 1px solid gray;
}
#tableTotal td{
  border: 1px solid gray;
}

.footerTotalResult{
  text-align: center;
  color: black;
  font-size: 150%;
  font-weight: 600;
}
