<div fxLayoutAlign="end" class="pr-2">
  <button mat-raised-button color="primary" style="margin-bottom: 10px; margin-right: 30px"
          (click)="createBrand()">{{'cp-brand-mn.create' | translate}}</button>
</div>
<div class="card cp-brand-search">
  <div class="card-header">
    <div class="card-title">
      <mat-panel-title>{{ 'cp-brand-mn.result' | translate }} ({{totalRow}})</mat-panel-title>
    </div>
  </div>
  <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"
            [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
            [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
            [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
            [loading]="isLoading" [pageIndex]="pageIndex" [pageSize]="pagesize"
            [headerTemplate]="header1Tpl" [cellTemplate]="{no: templateOrderNumber,
            createDateStr: createDateStr,
            timeRepeat : timeRepeat, rn : rn}"
            [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
            (page)="onPageChange($event)" [length]="totalRow">
  </mtx-grid>
  <ng-template #header1Tpl let-header>
    <div>
      {{header.i18n | translate}}
    </div>
  </ng-template>

  <ng-template #rn let-row let-index="index">
    <div class="text-center w-100">{{row?.rn || ''}}</div>
  </ng-template>

  <ng-template #createDateStr let-row let-index="index">
    <div class="text-center w-100">{{row?.createDateStr || ''}}</div>
  </ng-template>

  <ng-template #timeRepeat let-row let-index="index">
    <div class="text-right">{{row?.timeRepeat || ''}}</div>
  </ng-template>

  <ng-template #templateOrderNumber let-row let-index="index">
    <div class="text-center">{{index + 1 + pageIndex * pagesize}}</div>
  </ng-template>
</div>

