<mat-card>
  <mat-card-header class="card-header-custom">
    <mat-icon>assignment</mat-icon>
    <span class="card-title-font">{{'roles-groups.title' | translate}}</span>
  </mat-card-header>
  <mat-card-content class="mb-0">
    <form [formGroup]="formSave">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'roles-groups.label.name' | translate}}</mat-label>
            <input matInput type="text" formControlName="name" id="name" maxlength="255"/>
            <mat-error
              *ngIf="formSave.get('name').getError('duplicate')">{{'roles-groups.validator.duplicate' | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <button mat-raised-button color='primary' style='min-width: 7vw'
                  (click)="onAdd()" [disabled]="isAdding || !formSave.value.name">{{'common.button.insert' | translate}}</button>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content class="mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'roles-groups.label.name' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="searchName" id="searchName"/>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <button mat-raised-button color='primary' style='min-width: 7vw' class="mr-2"
                (click)="onSearch()" [disabled]="isSearching">{{'common.button.search' | translate}}</button>
      </div>
      <div class="col-12 mt-2">
        <mtx-grid [showColumnMenuButton]="false" [data]="dataList" [columns]="columns"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [columnHideable]="true" [columnMovable]="true" [showPaginator]="true"
                  [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                  [pageIndex]="pageIndex" [pageSize]="pageSize"
                  [headerTemplate]="header1Tpl" [length]="totalRecord"
                  [cellTemplate]="{no: templateOrderNumber, tools: toolsTpl, createDatetime: createDatetimeTpl, totalUser: totalUserTpl}"
                  [noResultText]="'common.notify.no-record-result' | translate" (page)="onPageChange($event)"
                  [pageOnFront]="false">
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #templateOrderNumber let-index='index'>
            <span>{{index + 1 + pageSize * pageIndex}}</span>
          </ng-template>
          <ng-template #toolsTpl let-row>
            <div class="text-center">
              <button mat-icon-button color="primary" aria-label=""
                      matTooltip="{{'roles-groups.button.user-list' | translate}}" (click)="openUserRole(row)">
                <mat-icon>assignment</mat-icon>
              </button>
              <button mat-icon-button color="primary" aria-label=""
                      matTooltip="{{'roles-groups.button.edit' | translate}}" (click)="openRoleEditDialog(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <mat-slide-toggle (toggleChange)="openRoleChangeStatus(row)" [checked]="row.checked"
                                matTooltip="{{'roles-groups.button.status'|translate}}" color="primary"></mat-slide-toggle>
              <button mat-icon-button color="primary" aria-label=""
                      matTooltip="{{'roles-groups.button.config' | translate}}" (click)="openRoleConfigDialog(row)">
                <mat-icon>settings</mat-icon>
              </button>
            </div>
          </ng-template>
          <ng-template #createDatetimeTpl let-row>
            <div class="text-center">{{row.createDatetime | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
          </ng-template>
          <ng-template #totalUserTpl let-row>
            <div class="text-right">{{row.totalUser ? row.totalUser : 0}}</div>
          </ng-template>
        </mtx-grid>
      </div>
    </div>
  </mat-card-content>
</mat-card>
