.topicName{
  text-align: center;
  font-size: 150%;
}
.titleModal{
  background-color: #1da9ed;
  margin: 0 12%;
  height: 50px;
  border-radius: 8px;
  color: white;
  position: relative;
}
.titleModalChild{
  margin-left: 2%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 180%;
}
.bodySnp{
  padding-left: 0px;
  padding-right: 0px;
}
.bodyModal{
  background-color: white;
  margin: 0 6px;
  border: 1px solid #0f7aae;
}


/*css question*/
.audio{
  width: 40%;
  height: 100px;
}
.bodyQuestion{
  margin-left: 3%;
}
.questionMargin{
  margin-bottom: 3%;
  color: black;
}
.answerToChooseMargin{
  margin-bottom: 3%;
  padding-left: 5%;
}
.labelRadioButton{
  display: contents;
  font-size: 100%;
}
.divSubmit{
  text-align: center;
  margin: 5% 0 5% 0;
}

#btnSubmit{
  background-color: #02a1ed !important;
}


/*css answer*/
.legend{
  color: black;
  text-align: left;
  background-color: lightgray;
  width: auto;
  padding: 5px 20px;
  font-size: medium;
}
.fieldset{
  padding: 0 2% 2% 2%;
  text-align: left;
  background-color: #d3d3d347;
}
.questionName{
  padding-left: 0px !important;
  margin-bottom: 2%;
  color: black;
}
.legendDescription{
  color: white;
  text-align: left;
  background-color: green;
  width: auto;
  padding: 1px 20px;
  font-size: small;
}
.fieldsetDescription{
  border: 2px solid green;
  padding: 0 2% 2% 2%;
  text-align: left;
  color: green;
}

.nextQuestion{
  text-align: center;
  padding: 0px;
  margin-top: 10%;
}
#iconNextQuestion{
  margin: 0px !important;
  cursor: pointer;
  color: #b2aeae ;
}
/*#iconNextQuestion:hover{*/
  /*color: green;*/
/*}*/
.btnRepeat{
  background-color: white;
  border: 2px solid orange;
  color: orange;
  height: 80%;
  font-size: 80%;
  border-radius: 5px;

}
