<mat-card>
  <mat-card-header>
    <mat-icon>list_alt</mat-icon>
    <h5>{{'criteria_rating.title'|translate}}</h5>
  </mat-card-header>
  <mat-card-content [formGroup]="criteriaRatingForm">
    <div class="row">
      <div class="col-3">
        <h6>{{'criteria_rating.name_rating'|translate}}</h6>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'criteria_rating.import_name_rating' | translate }}</mat-label>
          <input matInput name="name" formControlName="name" type="text"/>
        </mat-form-field>
      </div>
      <div class="col-2">
        <h6>{{'criteria_rating.form_scores'|translate}}</h6>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'criteria_rating.import_form_scores' | translate }}</mat-label>
          <input matInput name="fromScores" formControlName="fromScores" type="number" max="9999"/>
        </mat-form-field>
      </div>
      <div class="col-2">
        <h6>{{'criteria_rating.to_scores'|translate}}</h6>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ 'criteria_rating.import_to_scores' | translate }}</mat-label>
          <input matInput name="toScores" formControlName="toScores" type="number" min="0" max="9999"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <button mat-raised-button style="margin-top: 10px" color="primary" class="mr-2"
              type="button" (click)="addCriteriaRating()" [disabled]="criteriaRatingForm.invalid">
        {{buttonTitle}}
      </button>
      <button mat-raised-button style="margin-top: 10px" color="primary" class="mr-2"
              type="button" (click)="btnBack()">
        {{buttonTitle2}}
      </button>
    </div>
    <br style="color: orange">
    <hr style="border-width: 5px; border-color: orange ">
    <br style="color: orange">
    <div fxLayout="row wrap" class="matero-row cp-brand-search">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'criteria_rating.list' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form action="" >
              <div class="card-body">
                <div class="row">
                  <div class="col-6"></div>
                  <div class="col-6">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'criteria_rating.search' | translate }}</mat-label>
<!--                      <input matInput type="text" name="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" autocomplete="off">-->
                      <input matInput type="text" [formControl]="filterInput">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </form>
            <mtx-grid [showColumnMenuButton]="false" [data]="dataModel.dataSource" [columns]="columns"
                      [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                      [columnHideable]="true"
                      [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                      [pageIndex]="offset" [pageSize]="pagesize" [headerTemplate]="header1Tpl"
                      [cellTemplate]="{index: templateOrderNumber, name:nameTpl, fromScores:fromScoresTpl, toScores:toScoresTpl}"
                      [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                      (page)="onPageChange($event)" [length]="total" style="text-align: center">
            </mtx-grid>
            <ng-template #header1Tpl let-header>
              <div>
                {{header.i18n | translate}}
              </div>
            </ng-template>
            <ng-template #templateOrderNumber let-row let-index="index">
              <div class="text-center">{{index + 1 + offset * pagesize}}</div>
            </ng-template>
            <ng-template #nameTpl let-row>
              <div class="text-left">{{row?.name}}</div>
            </ng-template>
            <ng-template #fromScoresTpl let-row>
              <div class="text-center">{{row?.fromScores}}</div>
            </ng-template>
            <ng-template #toScoresTpl let-row>
              <div class="text-center">{{row?.toScores}}</div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
</mat-card>
