<mat-tab-group >
  <mat-tab label="{{'cp-ticket.no-process-and-processing-ticket.title'|translate}}">
    <app-no-process-and-processing-ticket [tabType]="1"></app-no-process-and-processing-ticket>
  </mat-tab>
  <mat-tab label="{{'cp-ticket.processed-and-confirming-ticket.title'|translate}}">
  <app-processed-and-confirming-ticket [tabType]="2"></app-processed-and-confirming-ticket>
  </mat-tab>
  <mat-tab label="{{'cp-ticket.finish-ticket.title'|translate}}">
  <app-finish-ticket [tabType]="3"></app-finish-ticket>
  </mat-tab>
</mat-tab-group>
