
<mat-card>
    <mat-card-content>
        <mat-expansion-panel [expanded]="true" style="margin-bottom: 20px;">
            <mat-expansion-panel-header style="padding: 0; height: fit-content; padding: 0 2%;">
                <mat-panel-title style='font-weight: bold; font-size: 16px; margin: 0; height: fit-content; '>
                    <mat-icon>search</mat-icon>&nbsp;{{"Search"|translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="searchForm">
                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>{{'user.management.column.login'|translate}}</mat-label>
                    <input matInput formControlName="login">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>{{'user.management.column.fullName'|translate}}</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>{{'user.management.column.email'|translate}}</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>{{'user.management.column.serverVoice'|translate}}</mat-label>
                    <input matInput formControlName="serverVoice">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>{{'user.management.column.connectionChannel'|translate}}</mat-label>
                    <input matInput formControlName="connectionChannel">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>{{'user.management.column.internalNumber'|translate}}</mat-label>
                    <input matInput formControlName="internalNumber">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>{{'user.management.column.department'|translate}}</mat-label>
                    <mat-select class="w-100" formControlName="departmentId">
                        <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                        <mat-option *ngFor="let item of departmentList" [value]="item.departmentId">
                            {{item.departmentName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md-4">
                    <mat-label>{{'user.management.column.type'|translate}}</mat-label>
                    <mat-select class="w-100" formControlName="type">
                        <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                        <mat-option *ngFor="let item of typeList" [value]="item.value">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br />
                <button type="submit" (click)="search()" color="primary" mat-raised-button class="mr-3">
                    {{"Search"|translate}}
                </button>
                <button mat-button (click)="openDialog({})" color="primary" mat-raised-button
                    class="mr-3">{{"common.button.insert"|translate}}</button>
            </form>
        </mat-expansion-panel>

        <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns" [rowHover]="true"
            [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [pageIndex]="0" [pageSize]="pagesize"
            [headerTemplate]="header1Tpl" [noResultText]="'common.notify.no-record-result' | translate"
            [pageOnFront]="false" [rowHover]="true" [pageSizeOptions]="pageSizeList" [showPaginator]="true"
            [pageOnFront]="false" (page)="onPageChangeScript($event)" [length]="total" [cellTemplate]="{
        index: index,
        createdDate: createDateTpl,
        lastModifiedDate: updateDatetimeTpl,
        action: actionTpl,
        type: typeTpl
    }" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
            <div>
                {{header.i18n | translate}}
            </div>
        </ng-template>
        <ng-template #index let-row let-index="index">
            <div>
                <span>{{offset*pagesize+index + 1}}</span>
            </div>
        </ng-template>
        <ng-template #createDateTpl let-row let-index="index">
            <div class="text-center w-100">{{row?.createdDate | date:'dd/MM/yyyy'}}</div>
        </ng-template>
        <ng-template #updateDatetimeTpl let-row let-index="index">
            <div class="text-center w-100">{{row?.lastModifiedDate | date:'dd/MM/yyyy'}}</div>
        </ng-template>
        <ng-template #actionTpl let-row let-index="index">
            <div>
                <span>{{row?.firstName===null?"":row?.firstName}} {{row?.lastName===null?"":row?.lastName}}</span>
            </div>
        </ng-template>
        <ng-template #typeTpl let-row let-index="index">
            <div>
                <span>{{row?.type === '1'? this.translateService.instant('user.management.type.tdv')
                    :row?.type ==='2'?this.translateService.instant('user.management.type.leader'):row?.type ==='3'?
                    this.translateService.instant('user.management.type.admin'):''}}</span>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>