html {
  scroll-behavior: smooth;
}

.title_cus {
  min-height: 48px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .15);
}

.custom-title {
  position: absolute;
  padding-top: 4px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
}

.scores {
  border-radius: 15px;
  background: #0b5ed7;
  padding: 5px 10px;
  color: white
}

button[mat-icon-button] {
  $small-size-button: 24px;
  $small-size-icon: 18px;

  &.icon-button-small {
    width: $small-size-button;
    height: $small-size-button;
    line-height: $small-size-button;

    .mat-icon {
      font-size: $small-size-icon;
      width: $small-size-icon;
      height: $small-size-icon;
      line-height: $small-size-icon;
    }

    .mat-button-ripple {
      font-size: inherit;
      width: inherit;
      height: inherit;
      line-height: inherit;
    }
  }
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.customers td, .customers th {
  border: 1px solid #ddd;
  padding: 15px;
}

.customers tr:nth-child(even) {
  background-color: #fafafa;
}

.customers tr:hover {
  background-color: #f2f2f2;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.col-2_4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.text-bold {
  font-weight: bold;
}

.color-red {
  color: orangered;
}
