<h5>{{'common.confirm.delete' | translate}}</h5>
<br>
<div class="confirm">
    <button class="btn btn-danger" (click)="doAction()">{{'common.confirm.title.delete' | translate}}</button>
    <button class="btn btn-success" (click)="closeDialog()">{{'common.button.cancle' | translate}}</button>
</div>
