<div fxLayout='row wrap' class='matero-row'>
  <div fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <label class='custom-title'>{{'menu.report-sent-email-marketing' | translate}}</label>
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <form [formGroup]='formSearch' class='row card-body'>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-sent-email-marketing.campaign' | translate}}</mat-label>
          <mat-select formControlName='campaign'>
            <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of lstCampaign' [value]='item.id'>
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-sent-email-marketing.from-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='fromDate' formControlName='fromDate' [max]='maxFromDate' (ngModelChange)='onChangeFromDate()'>
          <mat-datepicker-toggle matSuffix [for]='fromDate'></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
          <mat-error
            *ngIf="formSearch.get('fromDate').value > maxFromDate">
            {{'report-sent-email-marketing.validate.max-from-date' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-sent-email-marketing.to-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='toDate' formControlName='toDate' [min]='minToDate' (ngModelChange)='onChangeToDate()'>
          <mat-datepicker-toggle matSuffix [for]='toDate'></mat-datepicker-toggle>
          <mat-datepicker #toDate></mat-datepicker>
          <mat-error
            *ngIf="formSearch.get('toDate').value < minToDate">
            {{'report-sent-email-marketing.validate.min-to-date' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-sent-email-marketing.email' | translate}}</mat-label>
          <input matInput formControlName='email'>
        </mat-form-field>
      </div>
      <div style='width: 20%; padding: 8px'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-sent-email-marketing.status' | translate}}</mat-label>
          <mat-select formControlName='status'>
            <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of statusLst' [value]='item.value'>
              {{item.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class='col-12'>
        <button class='btn btn-primary mr-2' type='button' style='min-width: 7vw;'>
          <div class='row'>
            <mat-icon class='mr-1 ml-1'>search</mat-icon>
            {{'report-sent-email-marketing.search' | translate}}
          </div>
        </button>
        <button class='btn btn-warning mr-2' type='button' style='min-width: 7vw; color: white'>
          <div class='row'>
            <mat-icon class='mr-1 ml-1'>description</mat-icon>
            {{'report-sent-email-marketing.export' | translate}}
          </div>
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <mtx-grid [showColumnMenuButton]='false' [data]='lst' [columns]='columns'
              [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
              [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
              [pageSizeOptions]='pageSizeList' [loading]='isLoading'
              [pageIndex]='pageIndex' [pageSize]='pageSize'
              [headerTemplate]='header1Tpl'
              [cellTemplate]='{no: templateOrderNumber, email: email, sentDate: sentDate, status: status, content: content}'
              [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]='false'
              (page)='onPageChange($event)' [length]='totalRecord'>
      <ng-template #header1Tpl let-header>
        <div>
          {{header.i18n | translate}}
        </div>
      </ng-template>
      <ng-template #templateOrderNumber let-row let-index='index'>
        <span>{{index + 1 + pageSize * pageIndex}}</span>
      </ng-template>
      <ng-template #email let-row let-index='index'>
        <div class='text-center'>
          {{row.email}}
        </div>
      </ng-template>
      <ng-template #sentDate let-row let-index='index'>
        <div class='text-center'>
          {{row.sentDate}}
        </div>
      </ng-template>
      <ng-template #status let-row let-index='index'>
        <div class='text-center'>
          <span *ngIf="row.status === '1'">{{'report-sent-email-marketing.success' | translate}}</span>
          <span *ngIf="row.status === '0'">{{'report-sent-email-marketing.error' | translate}}</span>
        </div>
      </ng-template>
      <ng-template #content let-row let-index='index'>
        <div class='text-center'>
          <button class='btn btn-success' style='font-size: 14px; width: 100px;'
                  (click)='openDialog(row)'>{{'report-sent-email-marketing.detail' | translate}}</button>
        </div>
      </ng-template>
    </mtx-grid>
  </mat-card>
</div>
