

//duong hai duong 
// css cho từ vựng 


.flex {
    display: flex;
  }

.flex-space-between {
    justify-content: space-between !important;
  }
 
  .flex-middle {
    align-items: center;

  }


  .text-centesr{
    margin: 0 auto  !important;
  
  }
  

  .ql-toolbar.ql-snow {
 
    border-radius: 5px 5px 0px 0px ;
}

.ql-container {
  border-radius:0px 0px 5px 5px  ;
}

.ql-editor:focus {
 
  box-shadow: 0 0 0 0.08rem #7367f0 !important;
}