<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form class="row card-body" [formGroup]="campainScriptForm">
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'campain-script.management.column.code' | translate }}</mat-label>
              <input matInput type="text" formControlName="code" id="code"/>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'campain-script.management.column.name' | translate }}</mat-label>
              <input matInput type="text" formControlName="name" id="name"/>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{
                'campain-script.management.column.startContent' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="startContent" id="startContent"/>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'campain-script.management.column.endContent' | translate }}</mat-label>
              <input matInput type="text" formControlName="endContent" id="endContent"/>
            </mat-form-field>
          </div>

          <div class="col-12">
            <button mat-raised-button color="primary" class="mr-2" type="button" (click)="add()"
                    [disabled]="!campainScriptForm.valid">
              {{buttonTitle}}
            </button>
            <button mat-raised-button color="primary" class="mr-2" type="button" (click)="copy()">
              {{buttonTitle2}}
            </button>
          </div>
        </form>
        <form class="row card-body" [formGroup]="formImport">
          <div class="col-12">
            <mat-label><b>{{ 'campain-script.management.list-question' | translate }}</b></mat-label>
          </div>
          <div class="col-12">
            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'campain-script.management.excel' | translate }}</mat-label>
                <ngx-mat-file-input multiple formControlName="file" [disabled]="checkQuesttion"
                                    [accept]="'application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                                    [(ngModel)]='file' #removableInput></ngx-mat-file-input>
                <mat-icon matSuffix *ngIf='file' style='cursor: pointer' (click)='removableInput.clear($event)'>clear</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="col-12">
            <div class="col-2">
              <mat-checkbox name="fcr" formControlName="checkDetele" [disabled]="checkQuesttion">{{
                'campain-script.management.delete-old-question' | translate
                }}</mat-checkbox>
            </div>
          </div>
          <div class="col-12">
            <div class="row" style="margin-bottom: 10px">
              <button mat-raised-button color="primary" class="mr-2" type="button" (click)="import()" [disabled]="checkQuesttion">
                {{ 'common.button.import' | translate }}
              </button>
              <button
                mat-raised-button
                color="primary"
                class="mr-2"
                type="button"
                (click)="downloadTemplate()"
                [disabled]="checkQuesttion"
              >
                {{ 'campain-script.management.download' | translate }}
              </button>
              <button
                mat-raised-button
                color="primary"
                class="mr-2"
                type="button"
                (click)="addQuestion('add')"
                [disabled]="checkQuesttion"
              >
                {{ 'campain-script.management.add-question' | translate }}
              </button>
            </div>
          </div>

        </form>





        <div class="col-12">
          <mtx-grid
            [showColumnMenuButton]="false"
            [data]="dataQuestion"
            [columns]="columns"
            [multiSelectable]="true"
            [rowHover]="true"
            [rowStriped]="true"
            [showToolbar]="false"
            [toolbarTitle]="'filter.listKeyWord' | translate | uppercase"
            [columnHideable]="true"
            [columnMovable]="true"
            [showPaginator]="true"
            [pageSizeOptions]="pageSizeList"
            [loading]="isLoading"
            [pageIndex]="offset2"
            [pageSize]="pagesize2"
            [headerTemplate]="header1Tpl"
            [cellTemplate]="{
            index: template,
            content: contentTpl,
            createDatetime: createDateTpl,
            updateDatetime: updateDatetimeTpl,
            code: codeTpl,
            rn: rn
          }"
            [noResultText]="'common.notify.no-record-result' | translate"
            [pageOnFront]="false"
            (page)="onPageChange($event)"
            [length]="total2"
            style="text-align: center"
          >
          </mtx-grid>
          <ng-template #header1Tpl let-header>
            <div>
              {{ header.i18n | translate }}
            </div>
          </ng-template>
          <ng-template #contentTpl let-header>
            <div class="text-left" [innerHTML]="header?.content">
<!--              <ejs-richtexteditor [toolbarSettings]='tools' value="{{header?.content}}" [enabled]="false" maxLength="500">-->
<!--              </ejs-richtexteditor>-->
            </div>
          </ng-template>
          <ng-template #template let-row let-index="index">
            <div>
              <span>{{ index + 1 }}</span>
            </div>
          </ng-template>
          <ng-template #codeTpl let-row let-index="index">
            <div class="text-left">
              {{row?.code}}
            </div>
          </ng-template>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'campain-script.question.list-script' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form action="" [formGroup]="formSearch" (ngSubmit)="search()">
          <div class="card-body">
            <div class="row">
              <div class="col-6"></div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campain-script.search-key' | translate }}</mat-label>
                  <input matInput type="text" name="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" autocomplete="off">
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
        <mtx-grid
          [showColumnMenuButton]="false"
          [data]="dataScript | filter:searchText"
          [columns]="columnsScript"
          [multiSelectable]="true"
          [rowHover]="true"
          [rowStriped]="true"
          [showToolbar]="false"
          [toolbarTitle]="'filter.listKeyWord' | translate | uppercase"
          [columnHideable]="true"
          [columnMovable]="true"
          [showPaginator]="true"
          [pageSizeOptions]="pageSizeList"
          [loading]="isLoading"
          [pageIndex]="offset"
          [pageSize]="pagesize"
          [headerTemplate]="header1Tpl"
          [cellTemplate]="{
            index: templateOrderNumber,
            createDatetime: createDateTpl,
            updateDatetime: updateDatetimeTpl,
            code: codeTpl,
            name: nameTpl,
            options:optionsTpl,
            rn: rn
          }"
          [noResultText]="'common.notify.no-record-result' | translate"
          [pageOnFront]="false"
          (page)="onPageChangeScript($event)"
          [length]="total"
          style="text-align: center"
        >
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{ header.i18n | translate }}
          </div>
        </ng-template>
        <ng-template #createDateTpl let-row let-index="index">
          <div class="text-center w-100">{{row?.createDatetime | date:'dd/MM/yyyy'}}</div>
        </ng-template>
        <ng-template #updateDatetimeTpl let-row let-index="index">
          <div class="text-center w-100">{{row?.updateDatetime | date:'dd/MM/yyyy'}}</div>
        </ng-template>

        <ng-template #timeRepeat let-row let-index="index">
          <div class="text-right">{{ row?.timeRepeat || '' }}</div>
        </ng-template>
        <ng-template #rn let-row let-index="index">
          <div class="text-center w-100">{{ row?.rn || '' }}</div>
        </ng-template>
        <ng-template #button let-row let-index="index">
          <button type="submit" class="btn-outline-primary">
            {{ 'common.button.edit' | translate }}
            <!--            (click)="getConfigScheduleById(row.id)"-->
          </button>
        </ng-template>
        <ng-template #reqType let-row let-index="index">
          <div *ngIf="row.requestType == 1">
            <span>{{ 'question' | translate }}</span>
          </div>
          <div *ngIf="row.requestType == 2">
            <span>{{ 'request' | translate }}</span>
          </div>
          <div *ngIf="row.requestType == 3">
            <span>{{ 'complain' | translate }}</span>
          </div>
        </ng-template>
        <ng-template #busType let-row let-index="index">
          <div *ngIf="row.bussinessType == 1">
            <span>{{ 'register' | translate }}</span>
          </div>
          <div *ngIf="row.bussinessType == 2">
            <span>{{ 'payment' | translate }}</span>
          </div>
          <div *ngIf="row.bussinessType == 3">
            <span>{{ 'bidding' | translate }}</span>
          </div>
          <div *ngIf="row.bussinessType == 4">
            <span>{{ 'cts' | translate }}</span>
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
          <div>
            <span>{{ index + 1 }}</span>
          </div>
        </ng-template>
<!--        <ng-template #statusTpl let-row let-index="index">-->
<!--          <div>-->
<!--            {{row?.status === '1' ? 'Sử dụng' : 'Chưa sử dụng'}}-->
<!--          </div>-->
<!--        </ng-template>-->
        <ng-template #codeTpl let-row let-index="index">
          <div class="text-left">
            {{row?.code}}
          </div>
        </ng-template>
        <ng-template #nameTpl let-row let-index="index">
          <div class="text-left">
            {{row?.name}}
          </div>
        </ng-template>
        <ng-template #optionsTpl let-row>
          <div class="text-left">
            <button mat-icon-button [disabled]="iconStatus1" (click)="updateCampaignScript(row)" color="primary"> <mat-icon>edit</mat-icon> </button>
            <button mat-icon-button [disabled]="iconStatus1" (click)="deleteCampaignScript(row, 'confirm')" color="primary"> <mat-icon>delete</mat-icon> </button>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
