<div class="row">
  <div class="col-md-12 mx-0">
    <form id="msform">
      <!-- progressbar -->
      <ul id="progressbar" class="progressbar">
        <li class="{{currentStep === 0 ? 'active' : ''}}" id="account" (click)="selectSteep(0)">
          <div>
            <label style="font-weight: 500;font-size: 1rem">
            {{'event-receive.step.1.label'|translate}}
            </label>
            <br><small>{{'event-receive.step.1.sub-label'|translate}}</small>
          </div>
        </li>
        <li id="personal" class="{{currentStep === 1 ? 'active' : ''}}" (click)="selectSteep(1)">
          <div >
            <label style="font-weight: 500;font-size: 1rem">
              {{'event-receive.step.2.label'|translate}}</label>
            <br><small>{{'event-receive.step.2.sub-label'|translate}}</small>
          </div>
        </li>
        <li id="payment" class="{{currentStep === 2 ? 'active' : ''}}" (click)="selectSteep(2)">
          <div >
            <label style="font-weight: 500;font-size: 1rem">
              {{'event-receive.step.3.label'|translate}}</label>
            <br><small>{{'event-receive.step.3.sub-label'|translate}}</small>
          </div>
        </li>
        <li id="confirm" class="{{currentStep === 3 ? 'active' : ''}}" (click)="selectSteep(3)">
          <div>
            <label style="font-weight: 500;font-size: 1rem">
              {{'event-receive.step.4.label'|translate}}
            </label>
            <br><small>{{'event-receive.step.4.sub-label'|translate}}</small>
          </div>
        </li>
      </ul> <!-- fieldsets -->
    </form>
  </div>
</div>
