<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head>
<title>Liên hệ</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link th:href="@{CSS/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
<link th:href="@{CSS/styles.css}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" th:src="@{JS/js/jquery-1.7.2.min.js}"></script> 
<script type="text/javascript" th:src="@{JS/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{JS/js/easing.js}"></script>
<script type="text/javascript" th:src="@{JS/home.js}"></script>
<script type="text/javascript" th:src="@{JS/contact.js}"></script>


</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="call">
				 <p><span>Cần hỗ trợ?</span> hãy gọi chúng tôi <span class="number">0815-954-557</span></p>
			</div>
			<div class="account_desc">
				<ul style="font-size: 150%;">
					<li class="li-login"><a th:href="@{/login}"><button type="button" class="btn btn-danger">Đăng nhập</button> </a></li>
					<li style="border-left: none;">
						<a th:href="@{/account}" id="UserInfor" th:if="${UserInfor != null}" th:utext="${UserInfor}"></a>
					</li>
					<!-- 
					<li style="display: none;"><span th:utext="${#request.userPrincipal.name}"></span></li>
					 -->
					<li class="logoutBtn"> <a href="#">Giỏ hàng</a></li>
					<li class="logoutBtn" style="display: inline-flex;">
					<form th:action="@{/j_spring_security_logout}" method="post">
					    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
					     <button type="submit" class="btn btn-danger">Đăng xuất</button> 
					 </form>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div>
			  <div class="cart">
			  	   <p style="color: black;font-size: 120%;">Chào mừng tới Pineapple-Shop <span> Mọi mặt hàng:</span><div style="color: black;font-size: 120%;" id="dd" class="wrapper-dropdown-2"> 0 item(s) - $0.00
			  	   	<ul class="dropdown">
							<li>Bạn chưa có bất kỳ sản phẩm nào trong giỏ hàng</li>
					</ul></div></p>
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li><a th:href="@{/home}">TRANG CHỦ</a></li>
			    	<li><a th:href="@{/about}">GIỚI THIỆU</a></li>
			    	<!--<li><a th:href="@{/delivery}">VẬN CHUYỂN</a></li>-->
			    	<!--<li><a th:href="@{/news}">TIN TỨC</a></li>-->
			    	<li><a th:href="@{/contact}">LIÊN HỆ</a></li>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form th:action="@{/searchProduct}">
	     			<input name="productName" type="text" value="Tìm sản phẩm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
	     			<input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     	
   </div>
 <div class="main">
    <div class="content">
    	<div class="section group">
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h2>Liên hệ với chúng tôi</h2>
				    <div class="form-group">
					   <label for="name">Họ tên:</label>
					   <input type="text" class="form-control" id="name">
					</div>
					<div class="form-group">
					   <label for="email">Email:</label>
					   <input type="email" class="form-control" id="email">
					</div>
					<div class="form-group">
					   <label for="phone">Số điện thoại:</label>
					   <input type="text" class="form-control" id="phone">
					</div>
					<div class="form-group">
					   <label for="comment">Nội dung góp ý:</label>
					   <textarea rows="4" cols="30" id="comment"></textarea>
					</div>
					<div class="form-group">
					   <button type="button" class="btn btn-danger" id="btnSend">Gửi</button>
					</div>
				  </div>
  				</div>
				<div class="col span_1_of_3">
					<div class="contact_info">
    	 				<h3>Tìm chúng tôi ở đây</h3>
					    	 <div class="googleMap">
							   	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2595.203250873507!2d105.73830571810494!3d21.05046601914587!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454f0d6347175%3A0x9769e9dbc4ccfb5c!2zTWnhur91IMSQ4buTbmcgQ-G7lQ!5e0!3m2!1svi!2s!4v1586788673890!5m2!1svi!2s" 
							   	  width="300" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
							   	  <br>
      						 </div>
      			<div class="company_address">
				     	<h3>Thông tin shop :</h3>
						    	<p>Miếu Đồng Cổ,</p>
						   		<p>134/44/4 Đường Cầu Diễn</p>
						   		<p>VietNam</p>
				   		<p>SĐT:(84) 15 954 557</p>
				 	 	<p>Email: <span><a href="">tungphongdo89@gmail.com</a></span></p>
				   		<p>Follow chúng tôi: <span>Facebook</span>, <span>Zalo</span></p>
				   </div>
				 </div>
			  </div>		
         </div> 
    </div>
 </div>
  <div style="background-color: black; color: white;" class="footer">
   	  <div class="container-fluid">	
	     <div class="section group">
				<div class="col_1_of_3 span_1_of_3">
						<h4>THÔNG TIN SHOP</h4>
						<p>Pineapple Shop là một thương hiệu thời trang đầy uy tín, luôn đảm bảo chất 
						lượng sản phẩm tốt nhất cho khách hàng</p>
					</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ</h4>
						<p>Địa chỉ: 113 phường Minh Khai, quận Bắc Từ Liêm, tp.Hà Nội</p>
						<p>SĐT: 0815954557</p>
						<p>Email: tungphongdo89@gmail.com</p>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ KHÁC</h4>
						<ul>
							<li><span>0815-921-220</span></li>
							<li><span>+00-123-000000</span></li>
						</ul>
						<div class="social-icons">
							<h4>Theo dõi chúng tôi</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>
				</div>
			</div>			
        </div>
      </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

