<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head>
<title>Trang chủ</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link th:href="@{CSS/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
<link th:href="@{CSS/css/slider.css}" rel="stylesheet" type="text/css" media="all"/>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
<link href="src/main/resources/static/CSS/styles.css" th:href="@{CSS/styles.css}" rel="stylesheet" type="text/css" media="all"/>
<script src="src/main/resources/static/JS/js/jquery-1.7.2.min.js" type="text/javascript" th:src="@{JS/js/jquery-1.7.2.min.js}"></script> 
<script type="text/javascript" th:src="@{JS/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{js/easing.js}"></script>
<script type="text/javascript" th:src="@{JS/js/startstop-slider.js}"></script>
<script type="text/javascript" th:src="@{JS/home.js}"></script>
<!-- animation -->
<link th:href="@{CSS/Animate.css}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" th:src="@{JS/wow.js}"></script>
<script type="text/javascript" th:src="@{JS/wow.min.js}"></script>
<script>
    new WOW().init();
</script>
</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="call">
				 <p><span>Cần hỗ trợ?</span> hãy gọi chúng tôi <span class="number">0815-954-557</span></p>
			</div>
			<div class="account_desc">
				<ul style="font-size: 150%;">
					<li class="li-login"><a th:href="@{/login}"><button type="button" class="btn btn-danger">Đăng nhập</button> </a></li>
					<li class="li-admin"><a th:href="@{/admin}"><button type="button" class="btn btn-primary">Trang Quản lý</button> </a></li>
					<li style="border-left: none;">
						<a th:href="@{/account}" id="UserInfor" th:if="${UserInfor != null}" th:utext="${UserInfor}"></a>
					</li>
					<li style="border-left: none; display: none;">
						<span id="roleAdmin" th:text="${roleAdmin}"></span>
					</li>
					<!-- 
					<li style="display: none;"><span th:utext="${#request.userPrincipal.name}"></span></li>
					 -->
					<li class="logoutBtn"> <a th:href="@{/cart}">Giỏ hàng</a></li>
					<li class="logoutBtn" style="display: inline-flex;">
					<form th:action="@{/j_spring_security_logout}" method="post">
					    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		
					     <button type="submit" class="btn btn-danger">Đăng xuất</button> 
					 </form>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active"><a th:href="@{/home}">TRANG CHỦ</a></li>
			    	<li><a th:href="@{/about}">GIỚI THIỆU</a></li>
			    	<!--<li><a th:href="@{/delivery}">VẬN CHUYỂN</a></li>-->
			    	<!--<li><a th:href="@{/news}">TIN TỨC</a></li>-->
			    	<li><a th:href="@{/contact}">LIÊN HỆ</a></li>
			    
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<form th:action="@{/searchProduct}">
	     			<input name="productName" type="text" value="Tìm sản phẩm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
	     			<input type="submit" value="">
	     		</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>	     
		<div id="header-top" class="header_top">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div>
			  <div class="cart wow heartBeat" data-wow-duration="2s">
			  	   <p style="color: white;font-size: 120%;">Chào mừng tới Pineapple-Shop <span> Mọi mặt hàng:</span><div style="color: white;font-size: 120%;" id="dd" class="wrapper-dropdown-2"> 0 item(s) - $0.00
			  	   	<ul class="dropdown">
							<li>Bạn chưa có bất kỳ sản phẩm nào trong giỏ hàng</li>
					</ul></div></p>
			  </div>
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	
	<div class="header_slide">
			<div class="header_bottom_left">				
				<div style="font-size: 130%;" class="categories wow bounceInLeft" data-wow-duration="2s">
					<h3 style="text-align: center;">DANH MỤC SẢN PHẨM</h3>
					<ul>
						 <th:block th:each="category : ${listCategories}">
						      <li><a th:href="@{/product/} + ${category.id}" th:text="${category.categoryName}"></a></li>
						 </th:block>
					</ul>
				</div>					
	  	     </div>
					 <div class="header_bottom_right wow bounceInRight" data-wow-duration="2s">					 
					 	 <div class="slider">					     
							 <div id="slider">
			                    <div id="mover">
			                    	<div id="slide-1" class="slide">			                    
									 <div class="slider-img">
									     <a href="preview.html"><img th:src="@{/images/BgLogin.PNG}" alt="learn more" /></a>
									  </div>
						             	<div class="slider-text">
		                                 <h1>Sale khủng<br><span>SALE</span></h1>
		                                 <h2>Giảm tới 20%</h2>
									   <div class="features_list">
									   	<h4>Tìm hiểu thêm về shop của chúng tôi</h4>							               
							            </div>
							             <a th:href="@{/saleoff}" class="button">Ghé thăm ngay</a>
					                   </div>			               
									  <div class="clear"></div>				
									  
				                  </div>	
						             	<div class="slide">
						             		<div class="slider-text">
		                                 <h1>Sale khủng<br><span>SALE</span></h1>
		                                 <h2>Giảm tới 40%</h2>
									   <div class="features_list">
									   	<h4>Tìm hiểu thêm về shop của chúng tôi</h4>							               
							            </div>
							             <a th:href="@{/saleoff}" class="button">Ghé thăm ngay</a>
					                   </div>		
						             	 <div class="slider-img">
									     <a href="preview.html"><img th:src="@{/images/BgLogin.PNG}" alt="learn more" /></a>
									  </div>						             					                 
									  <div class="clear"></div>				
				                  </div>
				                  <div class="slide">						             	
					                  <div class="slider-img">
									     <a href="preview.html"><img th:src="@{/images/BgLogin.PNG}" alt="learn more" /></a>
									  </div>
									  <div class="slider-text">
		                                 <h1>Sale khủng<br><span>SALE</span></h1>
		                                 <h2>Giảm tới 10%</h2>
									   <div class="features_list">
									   	<h4>Tìm hiểu thêm về shop của chúng tôi</h4>							               
							            </div>
							             <a th:href="@{/saleoff}" class="button">Ghé thăm ngay</a>
					                   </div>	
									  <div class="clear"></div>				
				                  </div>												
			                 </div>		
		                </div>
					 <div class="clear"></div>					       
		         </div>
		      </div>
		   <div class="clear"></div>
		</div>
   </div>
 <div class="main">
    <div class="content">
    	<div class="content_top wow zoomIn" data-wow-duration="2s" >
    		<div class="heading">
    		<h3>SẢN PHẨM MỚI</h3>
    		</div>
    		<div style="margin-left: 60%; display: inline-block;">
    			<p><a type="button" class="btn btn-danger" href="#">Xem toàn bộ sản phẩm</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      <div class="section group wow zoomIn" data-wow-duration="2s">
			<th:block th:each="product : ${limitProducts}">
				<div class="grid_1_of_4 images_1_of_4">
					 <a th:href="@{/product/detail/} + ${product.id}">
					 	<img th:src="@{/images/product/} + ${product.image}" alt="ảnh hỏng" />
					 </a>					
					 <h2 th:text="${product.productName}"></h2>
					<div class="price-details">
				       <div style="text-align: center;">
							<p>
								<span class="rupees" th:text="${product.price}" ></span>
								<span class="rupees"> VNĐ</span>
							 </p>
					    </div>
					</div>
				</div>
			</th:block>
		</div>
		
			<div class="content_bottom wow zoomIn" data-wow-duration="2s">
    		<div class="heading">
    		<h3>SẢN PHẨM BÁN CHẠY</h3>
    		</div>
    		<div style="margin-left: 60%; display: inline-block;">
    			<p><a type="button" class="btn btn-danger" href="#">Xem toàn bộ sản phẩm</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
			<div class="section group wow zoomIn" data-wow-duration="2s">
			<th:block th:each="productdetail : ${limitProductDetails}">
				<div class="grid_1_of_4 images_1_of_4">
					 <a th:href="@{/product/detail/} + ${productdetail.productEntity.id}">
					 	<img th:src="@{/images/product/} + ${productdetail.productEntity.image}" alt="ảnh hỏng" />
					 </a>					
					 <h2 th:text="${productdetail.productEntity.productName}"></h2>
					<div class="price-details">
				       <div style="text-align: center;">
							<p>
								<span class="rupees" th:text="${productdetail.productEntity.price}" ></span>
								<span class="rupees"> VNĐ</span>
							 </p>
					    </div>
					</div>
				</div>
			</th:block>
			</div>
    </div>
 </div>
</div>

<div style="background-color: black; color: white; text-align: center;" class="footer">
   	  <div class="container-fluid">	
	     <div class="section group wow zoomIn" data-wow-duration="2s">
				<div class="col_1_of_3 span_1_of_3">
						<h4>THÔNG TIN SHOP</h4>
						<p>Pineapple Shop là một thương hiệu thời trang đầy uy tín, luôn đảm bảo chất 
						lượng sản phẩm tốt nhất cho khách hàng</p>
					</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ</h4>
						<p>Địa chỉ: 113 phường Minh Khai, quận Bắc Từ Liêm, tp.Hà Nội</p>
						<p>SĐT: 0815954557</p>
						<p>Email: tungphongdo89@gmail.com</p>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h4>LIÊN HỆ KHÁC</h4>
						<ul>
							<li><span>0815-921-220</span></li>
							<li><span>+00-123-000000</span></li>
						</ul>
						<div class="social-icons">
							<h4>Theo dõi chúng tôi</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="images/facebook.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="images/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="images/dribbble.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"> <img src="images/linkedin.png" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>
				</div>
			</div>			
        </div>
      </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

