<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form [formGroup]="campaignForm">
          <title>Danh sách chiến dịch</title>
          <div class="card-body">
            <mat-label><b>{{ 'campaignList' | translate }}</b></mat-label>
            <div class="row">
              <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campaignName' | translate }}</mat-label>
                  <input matInput formControlName="name" [maxLength]="20" type="text" #keyword>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campaignScript' | translate }}</mat-label>
                  <mat-select class="w-100" formControlName="campaignScriptId">
                    <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                    <mat-option *ngFor="let item of campaignScript" [value]="item?.id + ''">
                      {{item?.campaignScriptName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campaign.management.campaignTemplate' | translate }}</mat-label>
                  <mat-select class="w-100" formControlName="campaignTemplateId">
                    <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                    <mat-option *ngFor="let item of campaignTemplate" [value]="item?.id + ''">
                      {{item?.campaignTemplateName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col"></div>
              <div class="col-2">
                <button mat-raised-button color="primary" class="mr-2" type="submit"
                        (click)="addCampaign('add')">
                  {{'common.button.insert' | translate}}</button>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campaignStartDate' | translate }}</mat-label>
                  <input matInput [matDatepicker]="fromDate" formControlName="startDate">
                  <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                  <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campaignEndDate' | translate }}</mat-label>
                  <input matInput [matDatepicker]="toDate" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                  <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campaign.status' | translate }}</mat-label>
                  <mat-select class="w-100" formControlName="status">
                    <mat-option value="1">
                      <mat-label>{{ 'campaign.management.radio-status-true' | translate }}</mat-label>
                    </mat-option>
                    <mat-option value="2">
                      <mat-label>{{ 'campaign.management.radio-status-false' | translate }}</mat-label>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-2">
                <button mat-raised-button color="primary" class="mr-2" type="submit"
                        (click)="search(true)">
                  {{'common.button.search' | translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'campaign.question.list-campaign' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form action="" [formGroup]="formInput" (ngSubmit)="getAllCampaign()">
          <div class="card-body">
            <div class="row">
              <div class="col-6"></div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'campaign.searchEnter' | translate }}</mat-label>
                  <input matInput type="text" name="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" autocomplete="off">
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
        <mtx-grid [showColumnMenuButton]="false" [data]="data | filter:searchText" [columns]="columns" [multiSelectable]="true"
                  [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                  [pageIndex]="offset" [pageSize]="pagesize" [headerTemplate]="header1Tpl"
                  [cellTemplate]="{index: templateOrderNumber,endDate:endDateTpl, createDatetime:createDateTimeTpl, status:statusTpl}"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChange($event)" [length]="total" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #endDateTpl let-row>
          <div>
            {{row?.endDate | date:'dd/MM/yyyy'}}
          </div>
        </ng-template>
        <ng-template #createDateTimeTpl let-row>
          <div>
            {{row?.createDatetime | date:'dd/MM/yyyy'}}
          </div>
        </ng-template>
        <ng-template #statusTpl let-row>
          <div>
            {{row?.status === '1' ? 'Hoạt động' : 'Dừng'}}
          </div>
        </ng-template>
<!--        <ng-template #nameTpl let-row>-->
<!--          <div>-->
<!--            {{row?.name | filter:term}}-->
<!--          </div>-->
<!--        </ng-template>-->
        <ng-template #templateOrderNumber let-row let-index="index">
          <div class="text-center">{{index + 1 + offset * pagesize}}</div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
