<div style="text-align: center; padding-top: 10%; background-color: #FAFAFA; width: 100%; height: 100%;">
    <p style="font-size: 50px; margin-bottom: 30px; letter-spacing: -1.5px;">{{"login.password-retrieval" | translate}}</p>
    <!-- <p><strong>{{"login.username" | translate}}</strong></p> -->
    <form [formGroup]="passwordRetrievalForm" (ngSubmit)="submit()" style="margin-bottom: 10px;">
        <mat-form-field appearance="outline" style="width: 30%;">
            <mat-label>{{"login.username" | translate}}</mat-label>
            <input matInput type="text" formControlName="username">
            <mat-icon style="cursor: pointer; font-weight: 600;" matSuffix (click)="submit()" [matTooltip]="'login.password-retrieval' | translate">arrow_forward</mat-icon>
            <mat-error>
                <app-inline-message [formName]="passwordRetrievalForm.get('username')" [message]="'Password'">
                </app-inline-message>
            </mat-error>
        </mat-form-field>
    </form>
    <a [routerLink]="['/login']">{{"login.login-by-another-account" | translate}}</a>
</div>