<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>assignment</mat-icon>
        <span class="custom-title"> {{'record-call-result.enterOuterCall' | translate}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content [formGroup]="formGroup">
    <mat-form-field appearance="outline">
      <mat-label>{{'campaign_blacklist.phoneNumber'|translate}}</mat-label>
      <input matInput onlyNumber formControlName="phoneNumber">
      <button mat-icon-button matSuffix>
        <mat-icon>phone_in_talk</mat-icon>
      </button>
      <mat-error>
        <app-inline-message [message]="'campaign_blacklist.phoneNumber'" [formName]="formGroup.get('phoneNumber')">
        </app-inline-message>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{'record-call-result.relateCID'|translate}}</mat-label>
      <input matInput formControlName="cid">
      <mat-error>
        <app-inline-message [message]="'record-call-result.relateCID'" [formName]="formGroup.get('cid')">
        </app-inline-message>
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-header class="custom-card-footer" fxLayout="row">
    <div fxFlex="20" fxFlex.lg="40">
      <button class="btn btn-primary addBtn" (click)="save()">{{'common.button.confirm' | translate}}</button>
    </div>
    <div fxFlex="20" fxFlex.lg="30" fxFlexOffset="60" fxFlexOffset.lg="30">
      <button (click)="dismiss()" class="btn btn-secondary icon-close">{{'common.button.close'|translate}}</button>
    </div>
  </mat-card-header>
</mat-card>
