<div fxLayout='row wrap' class='matero-row'>
  <div fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon>description</mat-icon>
    <label class='custom-title'>{{'menu.report-campaign-sms-marketing' | translate}}</label>
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <form [formGroup]='formSearch' class='row card-body'>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-campaign-sms-marketing.campaign' | translate}}</mat-label>
          <mat-select formControlName='campaign'>
            <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of lstCampaign' [value]='item.id'>
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-campaign-sms-marketing.from-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='fromDate' formControlName='fromDate' [max]='maxFromDate' (ngModelChange)='onChangeFromDate()'>
          <mat-datepicker-toggle matSuffix [for]='fromDate'></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
          <mat-error
            *ngIf="formSearch.get('fromDate').value > maxFromDate">
            {{'report-campaign-sms-marketing.validate.max-from-date' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'report-campaign-sms-marketing.to-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='toDate' formControlName='toDate' [min]='minToDate' (ngModelChange)='onChangeToDate()'>
          <mat-datepicker-toggle matSuffix [for]='toDate'></mat-datepicker-toggle>
          <mat-datepicker #toDate></mat-datepicker>
          <mat-error
            *ngIf="formSearch.get('toDate').value < minToDate">
            {{'report-campaign-sms-marketing.validate.min-to-date' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-12'>
        <button class='btn btn-primary mr-2' type='button' style='min-width: 7vw;' (click)='search()'>
          <div class='row'>
            <mat-icon class='mr-1 ml-1'>search</mat-icon>
            {{'report-campaign-sms-marketing.search' | translate}}
          </div>
        </button>
        <button class='btn btn-warning mr-2' type='button' style='min-width: 7vw; color: white' (click)='export()'>
          <div class='row'>
            <mat-icon class='mr-1 ml-1'>description</mat-icon>
            {{'report-campaign-sms-marketing.export' | translate}}
          </div>
        </button>
      </div>
    </form>
  </mat-card>
  <div fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon>assignment</mat-icon>
    <label class='custom-title'>{{'report-campaign-sms-marketing.title' | translate}}</label>
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <mtx-grid [showColumnMenuButton]='false' [data]='lst' [columns]='columns'
              [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
              [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
              [pageSizeOptions]='pageSizeList' [loading]='isLoading'
              [pageIndex]='pageIndex' [pageSize]='pageSize'
              [headerTemplate]='header1Tpl'
              [cellTemplate]='{no: templateOrderNumber, totalSms: totalSms, sent: sent, unsent: unsent, sentSuccess: sentSuccess, sentError: sentError}'
              [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]='false'
              (page)='onPageChange($event)' [length]='totalRecord'>
      <ng-template #header1Tpl let-header>
        <div>
          {{header.i18n | translate}}
        </div>
      </ng-template>
      <ng-template #templateOrderNumber let-row let-index='index'>
        <span>{{index + 1 + pageSize * pageIndex}}</span>
      </ng-template>
      <ng-template #totalSms let-row let-index='index'>
        <div class='text-center'>
          {{row.totalSms}}
        </div>
      </ng-template>
      <ng-template #sent let-row let-index='index'>
        <div class='text-center'>
          {{row.sent}}
        </div>
      </ng-template>
      <ng-template #unsent let-row let-index='index'>
        <div class='text-center'>
          {{row.unsent}}
        </div>
      </ng-template>
      <ng-template #sentSuccess let-row let-index='index'>
        <div class='text-center'>
          {{row.sentSuccess}}
        </div>
      </ng-template>
      <ng-template #sentError let-row let-index='index'>
        <div class='text-center'>
          {{row.sentError}}
        </div>
      </ng-template>
    </mtx-grid>
  </mat-card>
</div>
