<app-cp-brand-management-search>
</app-cp-brand-management-search>

<!--<app-cp-brand-management-result [data]="cpBrandResult"-->
<!--                                (pageChange)="changePage($event)"-->
<!--                                (activeOrInactiveBrand)="activeOrInactiveBrand($event)"-->
<!--                                (deleteBrand)="openDialogConfirm($event)"-->
<!--                                (viewCreate)="viewManagementBrandCreate($event)"-->
<!--                                (viewEdit)="viewManagementBrandEdit($event)"-->
<!--                                (downloadFile)="downloadFile($event)">-->
<!--</app-cp-brand-management-result>-->


<div class="col-12 text-left mt-3">
  <button mat-raised-button color="primary" class="mr-2"
          (click)="goBack()">{{'common.button.back' | translate}}
  </button>
</div>
