<mat-card>
  <mat-card-header>
    <mat-icon>list_alt</mat-icon>
    <h5>{{'report_render_statistics.title'|translate}}</h5>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report_render_statistics.campaign_name' | translate }}</mat-label>
              <mat-select class="w-100">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let item of campaign" [value]="item?.id">
                  {{item?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report_render_statistics.list_question' | translate }}</mat-label>
              <input matInput type="text"/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report_render_statistics.from_date_call' | translate }}</mat-label>
              <input matInput [matDatepicker]='fromDatePicker' required id="startDate"/>
              <mat-datepicker-toggle matSuffix [for]='fromDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'report_render_statistics.to_date_call' | translate }}</mat-label>
              <input matInput [matDatepicker]='toDatePicker' required id="endDate"/>
              <mat-datepicker-toggle matSuffix [for]='toDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <button mat-raised-button style="margin-top: 5px; float: right" color="primary" class="mr-2"
                    type="button" >
              {{'common.button.search'| translate}}
            </button>
          </div>
          <div class="col-6">
            <button mat-raised-button style="margin-top: 5px" color="primary" class="mr-2"
                    type="button" >
              {{'common.button.exportExcel'| translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" class="matero-row cp-brand-search">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ 'report_render_statistics.title' | translate }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mtx-grid [showColumnMenuButton]="false" [data]="" [columns]="columns"
                      [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                      [columnHideable]="true"
                      [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                      [pageIndex]="offset" [pageSize]="pagesize" [headerTemplate]="header1Tpl"
                      [cellTemplate]="{index: templateOrderNumber}"
                      [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                      (page)="onPageChange($event)" [length]="total" style="text-align: center">
            </mtx-grid>
            <ng-template #header1Tpl let-header>
              <div>
                {{header.i18n | translate}}
              </div>
            </ng-template>
            <ng-template #templateOrderNumber let-row let-index="index">
              <div class="text-center">{{index + 1 + offset * pagesize}}</div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

  </mat-card-content>
</mat-card>
