<mat-card>
  <mat-card-header>
    <div fxLayout='row wrap' fxLayoutGap='20px grid'>
      <div fxFlex='100' fxFlex.lt-sm='100'>
        <span class='title'>{{'report-sent-sms-marketing.detail-title' | translate}}</span>
        <mat-icon mat-dialog-close class='icon-close'>close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content [formGroup]='formGroup'>
    <div class='row card-body'>
      <div class='col-6'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'report-sent-sms-marketing.columns.campaign-name' | translate}}</mat-label>
          <input matInput readonly formControlName='campaignName'>
        </mat-form-field>
      </div>
      <div class='col-6'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'report-sent-sms-marketing.columns.title' | translate}}</mat-label>
          <input matInput readonly formControlName='title'>
        </mat-form-field>
      </div>
      <div class='col-6'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'report-sent-sms-marketing.columns.phone-number' | translate}}</mat-label>
          <input matInput readonly formControlName='phoneNumber'>
        </mat-form-field>
      </div>
      <div class='col-6'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'report-sent-sms-marketing.columns.sent-user' | translate}}</mat-label>
          <input matInput readonly formControlName='sentUser'>
        </mat-form-field>
      </div>
      <div class='col-6'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'report-sent-sms-marketing.columns.sent-date' | translate}}</mat-label>
          <input matInput readonly formControlName='sentDate'>
        </mat-form-field>
      </div>
      <div class='col-6'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'report-sent-sms-marketing.columns.status' | translate}}</mat-label>
          <input matInput readonly formControlName='status'>
        </mat-form-field>
      </div>
      <div class='col-12'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'report-sent-sms-marketing.columns.content' | translate}}</mat-label>
          <textarea matInput readonly formControlName='content' style='min-height: 10vh'></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-header class='custom-card-footer' fxLayout='row' fxLayoutAlign='center center'>
    <button mat-dialog-close class='btn btn-secondary'>{{'common.button.close'| translate}}</button>
  </mat-card-header>
</mat-card>
