.custom-error {
  font-size: 9pt;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

.required {
  color: #f44336;
}

.mat-radio-button {
  margin: 12px 15px;
  transform: translate(0, 4px);
}

