<div style="height: fit-content; padding: 2%;box-sizing: border-box;">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content class="mat-typography">

    <form [formGroup]="createForm" (ngSubmit)="show?createNewUser():updateUser()">
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.fullName'|translate}}</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.login'|translate}}</mat-label>
        <input matInput formControlName="login" [value]="userData?.login">
        <mat-error *ngIf="createForm.controls['login'].invalid">
          {{createForm.controls['login']|formErrorMessage: ('user.management.column.login'|translate)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="show" appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.password'|translate}}</mat-label>
        <input matInput formControlName="password" type="password" [value]="userData?.password">
        <mat-error *ngIf="createForm.controls['password'].invalid">
          {{createForm.controls['password']|formErrorMessage: ('user.management.column.password'|translate)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.serverVoice'|translate}}</mat-label>
        <input matInput formControlName="serverVoice" [value]="userData?.serverVoice">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.connectionChannel'|translate}}</mat-label>
        <input matInput formControlName="connectionChannel" [value]="userData?.connectionChannel">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.internalNumber'|translate}}</mat-label>
        <input matInput formControlName="internalNumber" [value]="userData?.internalNumber">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.internalNumberPassword'|translate}}</mat-label>
        <input matInput type="password" formControlName="internalNumberPassword"
          [value]="userData?.internalNumberPassword">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.email'|translate}}</mat-label>
        <input matInput formControlName="email" [value]="userData?.email">
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.type'|translate}}</mat-label>
        <mat-select class="w-100" formControlName="type" [value]="userData?.type">
          <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
          <mat-option *ngFor="let item of typeList" [value]="item.value">{{item.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="createForm.controls['type'].invalid">
          {{createForm.controls['type']|formErrorMessage: ('user.management.column.type'|translate)}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-md-3">
        <mat-label>{{'user.management.column.department'|translate}}</mat-label>
        <mat-select class="w-100" formControlName="departments" multiple [value]="userData?.departments">
          <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
          <mat-option *ngFor="let item of departmentList" [value]="item.departmentId.toString()">{{item.departmentName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="createForm.controls['departments'].invalid">
          {{createForm.controls['departments']|formErrorMessage: ('user.management.column.department'|translate)}}
        </mat-error>
      </mat-form-field>
      <br />
      <button type="submit" color="primary" mat-raised-button class="mr-3">
        {{button}}
      </button>
      <button mat-button mat-dialog-close>{{"common.button.cancle"|translate}}</button>
    </form>
  </mat-dialog-content>
</div>