<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <span class="title">{{dataDialog?.id ? ('kms-management.category.edit'|translate) : ('kms-management.category.new'|translate)}}</span>
        <mat-icon (click)="onDismiss()" class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="row" [formGroup]="formGroup">
      <div class="col-6" [hidden]="dataDialog?.id">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'kms-management.category.parentId'|translate}}</mat-label>
          <app-tree-select [dataSource]="dataSource" [documents]="documents" [form]="formGroup" [controlName]="'parentId'"></app-tree-select>
          <input matInput type="text" [hidden]="true" formControlName="parentId">
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.parentId" [message]="'kms-management.category.parentId'"></app-inline-message-advance>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="{{dataDialog?.id ? 'col-12' : 'col-6'}}" >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'kms-management.category.name'|translate}}</mat-label>
          <input type="text" matInput trim="blur" formControlName="name" [maxLength]="255">
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.name" [message]="'kms-management.category.name'"></app-inline-message-advance>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-header class="custom-card-footer" fxLayout="row" fxLayoutAlign="center center">
    <button style="min-width: 100px;margin-left: auto" class="btn btn-primary mr-3"
            (click)="save()">{{dataDialog?.id ? ('common.button.edit'|translate) : ('common.button.insert'|translate)}}</button>
  </mat-card-header>
</mat-card>
