:host ::ng-deep {
  .custom-card-footer {
    border-top: 0.5px solid #d8d8d8;
    background: #f7f7f7;
    margin-bottom: 0px !important;
  }

  mat-card {
    margin-bottom: 0px;
    padding-bottom: 0px;

    .mat-card-header {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .title {
    font-size: 20px;
    font-weight: 500;
  }

  mat-card-content {
    min-height: 50px;
  }

  p {
    font-size: 16px;
  }
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
