<nav aria-label="breadcrumb">
  <ol class="matero-breadcrumb">
    <li class="matero-breadcrumb-item" *ngFor="let item of nav; trackBy: trackByNavlink; first as isFirst;">
      <a routerLink="/" class="link" *ngIf="isFirst">{{item.label | translate}}</a>
      <ng-container *ngIf="!isFirst">
        <mat-icon class="chevron">chevron_right</mat-icon>
        <span class="link"  *ngIf="!item.link">{{item.label | translate}}</span>
        <a (click)="routerLink(item.link)" class="link" *ngIf="item.link">{{item.label | translate}}</a>
      </ng-container>
    </li>
  </ol>
</nav>
