<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form action="" [formGroup]="formSearch" (ngSubmit)="onSearch(true)">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
              </div>
              <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'common.filter.searchParam' | translate }}</mat-label>
                  <input matInput formControlName="keyword" [maxLength]="20" type="text" #keyword
                  >
                </mat-form-field>
              </div>

            </div>

          </div>
        </form>

        <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                  [loading]="isLoading" [pageIndex]="offset" [pageSize]="pagesize"
                  [headerTemplate]="header1Tpl" [cellTemplate]="{no: templateOrderNumber,
                createDateStr: createDateStr,
                timeRepeat : timeRepeat, rn : rn}"
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                  (page)="onPageChange($event)" [length]="total" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
          <!--          <div class="text-center">{{index + 1 + pageIndex * pagesize}}</div>-->
        </ng-template>
        <ng-template #createDateStr let-row let-index="index">
          <div class="text-center w-100">{{row?.createDateStr || ''}}</div>
        </ng-template>

        <ng-template #timeRepeat let-row let-index="index">
          <div class="text-right">{{row?.timeRepeat || ''}}</div>
        </ng-template>
        <ng-template #rn let-row let-index="index">
          <div class="text-center w-100">{{row?.rn || ''}}</div>
        </ng-template>
        <ng-template #createTicket let-row let-index="index">
          <mat-checkbox (change)="onChangeEvent($event)" [(ngModel)]="row.createTicket">
          </mat-checkbox>
        </ng-template>
        <ng-template #processTicket let-row let-index="index">
          <mat-checkbox (change)="onChangeEvent($event)" [(ngModel)]="row.processTicket">
          </mat-checkbox>
        </ng-template>
        <ng-template #confirmTicket let-row let-index="index">
          <mat-checkbox (change)="onChangeEvent($event)" [(ngModel)]="row.confirmTicket">
          </mat-checkbox>
        </ng-template>
        <ng-template #button let-row let-index="index">
          <button type="submit" [disabled]="!buttonStatus" (click)="updateAuthorVOC(row)" class="btn-outline-primary">{{'common.button.save' | translate}}</button>
        </ng-template>
        <ng-template #index let-row let-index="index">
          <div *ngIf="row.id">
            <span>{{index+1}}</span>
          </div>
        </ng-template>
        <app-confirm-dialog *ngIf="confirmDialog"></app-confirm-dialog>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
