<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100">
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>assignment</mat-icon>
        <span class="card-title-font">{{'report-evaluate-criteria.title' | translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'report-evaluate-criteria.search.group-criteria' | translate}}</mat-label>
              <mat-select [(ngModel)]="criteriaGroupId" id="criteriaGroupId" required>
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of criteriaGroupList' [value]='item.id'>{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'report-evaluate-criteria.search.start-date' | translate}}</mat-label>
              <input matInput [matDatepicker]='fromDatePicker' [(ngModel)]="startDate" id="startDate"/>
              <mat-datepicker-toggle matSuffix [for]='fromDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'report-evaluate-criteria.search.end-date' | translate}}</mat-label>
              <input matInput [matDatepicker]='toDatePicker' [(ngModel)]="endDate" id="endDate"/>
              <mat-datepicker-toggle matSuffix [for]='toDatePicker'></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class='col-12'>
            <button mat-raised-button color='primary' style='min-width: 7vw' class="mr-2"
                    (click)="onSearch()" [disabled]="isLoading">{{'common.button.search' | translate}}</button>
            <button mat-raised-button color='primary' style='min-width: 7vw'
                    (click)="onExportExcel()" [disabled]="isExport">{{'common.button.excel' | translate}}</button>
          </div>
          <div class="col-12 mt-2">
            <mtx-grid [showColumnMenuButton]="false" [data]="dataList" [columns]="columns"
                      [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                      [columnHideable]="true" [columnMovable]="true" [showPaginator]="true"
                      [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                      [pageIndex]="pageIndex" [pageSize]="pageSize"
                      [headerTemplate]="header1Tpl" [length]="totalRecord"
                      [cellTemplate]="{no: templateOrderNumber, rate: rateTpl, criteriaPerCall: numberDataTpl, criteriaName: criteriaNameTpl}"
                      [noResultText]="'common.notify.no-record-result' | translate" (page)="onPageChange($event)"
                      [pageOnFront]="false">
              <ng-template #header1Tpl let-header>
                <div>
                  {{header.i18n | translate}}
                </div>
              </ng-template>
              <ng-template #templateOrderNumber let-index='index'>
                <span>{{index + 1 + pageSize * pageIndex}}</span>
              </ng-template>
              <ng-template #numberDataTpl let-row>
                <div class="text-right">{{row.criteriaPerCall ? row.criteriaPerCall : 0}}</div>
              </ng-template>
              <ng-template #criteriaNameTpl let-row>
                <div [innerHTML]="row.criteriaName">
                </div>
              </ng-template>
              <ng-template #rateTpl let-row>
                <div>
                  <mat-chip-list>
                    <mat-chip color="primary" selected>{{row.rate}} %</mat-chip>
                  </mat-chip-list>
                </div>
                <div class="mt-2">
                  <mat-progress-bar mode="determinate" [value]="row.rate"></mat-progress-bar>
                </div>
              </ng-template>
            </mtx-grid>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
