<div class="upload-direc" (click)="choose()" appDrag [multiple]="multiple" (files)="filesDropped($event)">
  <div class="col-md-12 mt-6 mb-4 upload-file">
    <form [formGroup]="form">
      <mat-toolbar *ngIf="isDisplayToolBar">
        <h6 style="color: #C5C1C1; font-size: 1.5em"
            class="mt-3 mb-2 w-100 text-center">{{'common.content.drag-file' | translate}}</h6>
      </mat-toolbar>
      <input matInput class="invisible" formControlName="file" readonly name="name"/>
      <input type="file" #fileInput title=" " id="uploadFile" name="uploadFile" class="uploadFile"
             (change)="uploadFileEvt($event)" [multiple]="multiple"
             [accept]="accept || '*'"/>
    </form>
  </div>
  <div class="row m-2" style="min-height: 50px; transform: translate(0px, -20px)">
    <span *ngFor="let item of getValueControl(); index as i" fxFlex="100" style="cursor: pointer" class="text-center">
      {{item.name}}
      <mat-icon (click)="remove(i)" class="close-icon">close</mat-icon>
    </span>
  </div>
</div>
