.upload-direc{
  .upload-file {
    .mat-form-field {
      margin: 40px 0;
      width: 500px !important;
    }

    .mat-toolbar-single-row {
      height: auto !important;
      background: transparent;
    }

    .mat-toolbar-single-row button {
      width: 200px;
    }

    .mat-form-field {
      width: 100%;
    }

    .invisible {
      display: block;
      visibility: hidden;
      height: 0;
      width: 0;
    }

    #uploadFile {
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: 9;
      opacity: 0;
      height: 100%;
      cursor: pointer;
      position: absolute;
    }

  }

  .close-icon {
    font-size: 12px;
  }

  .close-icon:hover {
    color: red;
  }
}
