<div fxLayout="row wrap" class="matero-row campaign-perform-information">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-1">search</mat-icon>
            {{ 'campaign_perform_information.Look_up_campaign_information' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container class="card-body">
          <form [formGroup]="form">
            <div class="row">
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{ 'email_blacklist.Campaign' | translate }} *</mat-label>
                <mat-select (selectionChange)="changeCampaign()" class="w-100" formControlName="campaign_id">
                  <mat-option *ngFor="let item of lstCampaigns"
                              [value]="item['id']">{{item["name"]}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="form.controls['campaign_id'].invalid">
                  {{form.controls['campaign_id']|formErrorMessage: ('email_blacklist.Campaign'|translate)}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{ 'campaign_perform_information.campaign_data_source' | translate }}</mat-label>
                <mat-select class="w-100" formControlName="campaign_resource_id">
                  <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                  <mat-option *ngFor="let item of lstCampaignResource"
                              [value]="item['id']">{{item["resourceName"]}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{ 'campaign_perform_information.Operator' | translate }}</mat-label>
                <mat-select class="w-100" formControlName="assign_user_id">
                  <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                  <mat-option *ngFor="let item of lstAccountTDV"
                              [value]="item['id']">{{item["fullName"]}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{ 'campaign_perform_information.calling_date_from' | translate }} *</mat-label>
                <input [readonly]="true"
                       matInput
                       [matDatepicker]="fromDate"
                       formControlName="call_time_from"
                >
                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
                <mat-error
                  *ngIf="form.controls['call_time_from'].invalid">
                  {{form.controls['call_time_from']|formErrorMessage: ('campaign_perform_information.calling_date_from'|translate)}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{ 'campaign_perform_information.calling_date_to' | translate }} *</mat-label>
                <input [readonly]="true"
                       matInput
                       [matDatepicker]="toDate"
                       formControlName="call_time_to"
                       [min]="form.controls['call_time_from']?.value"
                >
                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
                <mat-error
                  *ngIf="form.controls['call_time_to'].invalid">
                  {{form.controls['call_time_to']|formErrorMessage: ('campaign_perform_information.calling_date_to'|translate)}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row text-center">
              <div class="col-md-12" style="margin-top: 3.5px">
                <button (click)="search()" type="submit" class="btn btn-primary mr-3">
                  {{"Search"|translate}}
                </button>
                <button (click)="export()" type="submit" class="btn btn-success">
                  {{"Export_excel"|translate}}
                </button>
              </div>
            </div>
          </form>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-1">description</mat-icon>
            {{ 'campaign_perform_information.call_out_data_information' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table class="w-100">
                <thead>
                <tr>
                  <th class="w-15">
                    <span>{{"campaign_perform_information.total_data"|translate}}</span>
                  </th>
                  <th class="w-15">
                    <span>{{"campaign_perform_information.Called"|translate}}</span>
                  </th>
                  <th class="w-15">
                    <span>{{"campaign_perform_information.not_called_yet"|translate}}</span>
                  </th>
                  <th>
                    <span>{{"campaign_perform_information.call_status"|translate}}</span>
                  </th>
                  <th>
                    <span>{{"campaign_perform_information.survey_status"|translate}}</span>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center">
                    <span class="high-light-orange" (click)="typeClick('1')"
                          title="{{'campaign_perform_information.list_call_out_data'|translate}}">
                      {{lstDataInformation[0]?.total}}</span>
                  </td>
                  <td class="text-center">
                    <span class="high-light-orange" (click)="typeClick('2')"
                          title="{{'campaign_perform_information.who_have_been_called'|translate}}">
                      {{lstDataInformation[0]?.called}}</span>
                  </td>
                  <td class="text-center">
                    <span class="high-light-orange" (click)="typeClick('3')"
                          title="{{'campaign_perform_information.show_uncalled_customers'|translate}}">
                      {{lstDataInformation[0]?.nonCalled}}</span>
                  </td>
                  <td>
                    <div class="pl-4" *ngFor="let item of lstCallStatus">
                      <span class="col-md-12 high-light-green"
                            (click)="callStatusClick(item)"
                            title="{{'campaign_perform_information.customers_by_status'|translate}}">
                        {{item?.name}}</span>
                    </div>
                  <td>
                    <div class="pl-4" *ngFor="let item of lstSurveyStatus">
                      <span class="col-md-12 high-light-green"
                            (click)="surveyStatusClick(item)"
                            title="{{'campaign_perform_information.customers_by_status'|translate}}">
                        {{item?.name}}</span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-1">list_alt
            </mat-icon>
            {{ 'campaign_perform_information.call_out_data_list' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'common.button.search'|translate}}</mat-label>
              <input matInput type="text" [formControl]="filterInput">
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 custom-align-grid">
          <mtx-grid [showColumnMenuButton]="false"
                    [data]="dataModel.dataSource"
                    [columns]="columns"
                    [rowHover]="true"
                    [toolbarTitle]="'filter.listKeyWord' | translate | uppercase"
                    [pageSizeOptions]="pageSizeList"
                    [pageIndex]="0"
                    [pageSize]="pageSize"
                    [headerTemplate]="header1Tpl"
                    [noResultText]="'common.notify.no-record-result' | translate"
                    [pageOnFront]="true"
                    (page)="onPageChange($event)"
                    [cellTemplate]="{
                    no: templateOrderNumber,
                    cidx: cidTemp
                    }"
                    style="text-align: center"
                    [length]="totalRecord">
          </mtx-grid>
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #templateOrderNumber let-row let-index="index">
            <span>{{index + 1 + pageIndex * pagesize}}</span>
          </ng-template>
          <ng-template #cidTemp let-row>
            <button class="btn btn-outline-primary custom-btn" size="small" (click)="openDetail(row)">
              {{row["CID"]}}
            </button>
          </ng-template>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
