.campaign-perform-information {
  table {
    border: solid 1px #6bd882;

    thead {
      background-color: #8de19fbd;

      th {
        text-align: center;
        padding: 1rem;
        border: solid 1px #6bd882;
      }

      th span {
        cursor: pointer;
      }
    }

    tbody {
      td {
        padding: 0.5rem;
        border: solid 1px #6bd882;

        .high-light-orange {
          background-color: orangered;
          color: white;
          width: 30px;
          display: inline-block;
          cursor: pointer;
        }

        .high-light-green {
          background-color: #008000eb;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  ::ng-deep .mat-select-value {
    text-align: left !important;
  }

  .w-5 {
    width: 5%;
  }

  .w-10 {
    width: 10%;
  }

  .w-15 {
    width: 15%;
  }

  .custom-btn{
    padding: 0 6px;
    font-size: 14px;
  }

  .custom-align-grid{
    .ng-star-inserted {
      text-align: center !important;
    }
  }
}
