<mat-card>
  <mat-card-header>
    <mat-icon>list_alt</mat-icon>
    <h5>{{'search_work_list.title' | translate}}</h5>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-3">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'evaluate-assignment.channel' | translate}}</mat-label>
          <mat-select [(ngModel)]="channelId" required id="channelId">
            <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of channelList' [value]='item.value'>{{item.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'evaluate-assignment.user' | translate}}</mat-label>
          <mat-select [(ngModel)]="userId" [ngModelOptions]="{standalone: true}">
            <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of userList' [value]='item.id'>{{item.fullName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'evaluate-assignment.evaluater' | translate}}</mat-label>
          <mat-select [(ngModel)]="evaluaterId">
            <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of evaluaterList' [value]='item.id'>{{item.fullName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'search_work_list.rating_status' | translate}}</mat-label>
          <mat-select [(ngModel)]="evaluateStatus">
            <mat-option>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of listStatus' [value]='item.value'>{{item.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'evaluate-assignment.start-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='fromDatePicker' [(ngModel)]="startDate" required id="startDate"/>
          <mat-datepicker-toggle matSuffix [for]='fromDatePicker'></mat-datepicker-toggle>
          <mat-datepicker #fromDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'evaluate-assignment.end-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='toDatePicker' [(ngModel)]="endDate" required id="endDate"/>
          <mat-datepicker-toggle matSuffix [for]='toDatePicker'></mat-datepicker-toggle>
          <mat-datepicker #toDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <button style="margin-top: 10px; margin-left: 8px" class="mr-2 btn btn-success"
              type="button" (click)="onSearch()">
        {{'common.button.search' | translate}}
      </button>
    </div>

    <br>

    <div fxLayout="row wrap" class="matero-row cp-brand-search">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns" [multiSelectable]="true"
                      [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                      [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                      [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                      [pageIndex]="offset" [pageSize]="pagesize" [headerTemplate]="header1Tpl"
                      [cellTemplate]="{
                      index: templateOrderNumber,
                      callTime:calledTimeTpl,
                      createDatetime:createDatetimeTpl,
                      channelName:channelNameTpl,
                      names:namesTpl,
                      evaluaterName:evaluaterNameTpl,
                      totalCall:totalCallTpl,
                      totalCalledNot:totalCalledNotTpl,
                      totalCalled:totalCalledTpl}"
                      [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                      (page)="onPageChange($event)" [length]="total" style="text-align: center">
            </mtx-grid>
            <ng-template #header1Tpl let-header>
              <div>
                {{header.i18n | translate}}
              </div>
            </ng-template>
            <ng-template #templateOrderNumber let-row let-index="index">
              <div class="text-center">{{index + 1 + offset * pagesize}}</div>
            </ng-template>
            <ng-template #calledTimeTpl let-row>
              <span>{{row.startDate | date: 'dd/MM/yyyy'}} - {{row.endDate | date: 'dd/MM/yyyy'}}</span>
            </ng-template>
            <ng-template #createDatetimeTpl let-row>
              <span>{{row.createDatetime | date: 'dd/MM/yyyy'}}</span>
            </ng-template>
            <ng-template #channelNameTpl let-row>
              <div class="text-left">
                <span>{{row.channelName}}</span>
              </div>
            </ng-template>
            <ng-template #namesTpl let-row>
              <div class="text-left">
                <span>{{row.names}}</span>
              </div>
            </ng-template>
            <ng-template #evaluaterNameTpl let-row>
              <div class="text-left">
                <span>{{row.evaluaterName}}</span>
              </div>
            </ng-template>
            <ng-template #totalCallTpl let-row>
              <div class="text-right">
                <span>{{row.totalCall}}</span>
              </div>
            </ng-template>
            <ng-template #totalCalledNotTpl let-row>
              <div class="text-right">
                <span>{{row.totalCall - row.totalCalled}}</span>
              </div>
            </ng-template>
            <ng-template #totalCalledTpl let-row>
              <div class="text-right">
                <span>{{row.totalCalled}}</span>
              </div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

  </mat-card-content>
</mat-card>
