:host ::ng-deep {
  .mat-card {
    margin-bottom: 0px !important;
  }

  .mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
    background-color: #212121;
  }
}
