.title_cus {
  min-height: 48px;
  padding: 10px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .15);
}

.custom-title {
  position: absolute;
  padding-top: 4px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
}
