<div fxLayout='row wrap' class='matero-row'>
  <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon style='margin-right: 8px'>email</mat-icon>
    {{title}}
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <form [formGroup]='formControl' class='row card-body'>
      <div class='col-3'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-email-marketing.campaign-name' | translate}}<span class='text-danger'>*</span></mat-label>
          <input matInput formControlName='name' type='text' maxlength='200' (input)='onInputName()'>
          <mat-error>
            <app-inline-message [formName]="formControl.get('name')"
                                [message]="'campaign-email-marketing.campaign-name'"></app-inline-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-3'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-email-marketing.start-date' | translate}}<span class='text-danger'>*</span></mat-label>
          <input matInput dateInput [matDatepicker]='startDate' [min]="minStartDate" [max]='maxStartDate' formControlName='startDate' (dateChange)='onChangeStartDate()' (input)='onChangeStartDate()' (change)="validateDate('startDate', $event)">
          <mat-datepicker-toggle matSuffix [for]='startDate'></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
          <mat-error>
            <app-inline-message [formName]="formControl.get('startDate')"
                                [message]="'campaign-email-marketing.start-date'"></app-inline-message>
            <mat-error *ngIf="(formControl.get('startDate').value < minStartDate && !formControl.get('startDate').hasError('required')) || !checkStartDate">
              {{'campaign-email-marketing.start-date.error.min' | translate}}
            </mat-error>
            <mat-error *ngIf="formControl.get('startDate').value > formControl.get('endDate').value && !formControl.get('startDate').hasError('required')">
              {{'campaign-email-marketing.start-date.error.max' | translate}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-3'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-email-marketing.end-date' | translate}}<span class='text-danger'>*</span></mat-label>
          <input matInput dateInput [matDatepicker]='endDate' [min]="minEndDate" formControlName='endDate' (dateChange)='onChangeEndDate()' (input)='onChangeEndDate()' (change)="validateDate('endDate', $event)">
          <mat-datepicker-toggle matSuffix [for]='endDate'></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
          <mat-error>
            <app-inline-message [formName]="formControl.get('endDate')"
                                [message]="'campaign-email-marketing.end-date'"></app-inline-message>
            <mat-error *ngIf="(formControl.get('startDate').value > formControl.get('endDate').value && !formControl.get('endDate').hasError('required')) || !checkEndDate">
              {{'campaign-email-marketing.end-date.error.min' | translate}}
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-3'>
      </div>
      <div class='col-6'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-email-marketing.title' | translate}}<span class='text-danger'>*</span></mat-label>
          <input matInput formControlName='title' type='text' maxlength='500' (input)='onInputTitle()'>
          <mat-error>
            <app-inline-message [formName]="formControl.get('title')"
                                [message]="'campaign-email-marketing.title'"></app-inline-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-12' style='margin-bottom: 8px'>
        <mat-label>{{'campaign-email-marketing.content' | translate}}<span class='text-danger'>*</span></mat-label>
      </div>
      <div class='col-9'>
        <ejs-richtexteditor [toolbarSettings]='tools' height='55vh' formControlName='content'>
        </ejs-richtexteditor>
        <mat-error>
          <app-inline-message [formName]="formControl.get('content')"
                              [message]="'campaign-email-marketing.content'"></app-inline-message>
        </mat-error>
      </div>
      <div class='col-3' style='font-size: 14px'>
        <span style='font-weight: bold; text-decoration: underline' class='ml-2'>{{'campaign-email-marketing.caution' | translate}}</span><br /><br />
        <span class='ml-2'>{{'campaign-email-marketing.note1' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom0' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom1' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom2' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom3' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom4' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom5' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom6' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom7' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom8' | translate}}</span><br /><br />
        <span class='ml-4' style='margin-top: 3px'>{{'campaign-email-marketing.custom9' | translate}}</span><br /><br />
        <span class='ml-2' style='margin-top: 3px'>{{'campaign-email-marketing.note2' | translate}}</span><br /><br />
        <span class='ml-2' style='margin-top: 3px'>{{'campaign-email-marketing.note3' | translate}}</span><br /><br />
      </div>
      <div class='col-12' style='margin-top: 1.34375em'>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='onSave()' [disabled]='formControl.invalid'>
          {{button}}
        </button>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='close()'>
          {{'campaign-email-marketing.cancel' | translate}}
        </button>
      </div>
    </form>
  </mat-card>
</div>
