<div fxLayout="row wrap" class="matero-row group-call-out">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <mat-panel-title>
          {{"group_call_out.add_new_group"|translate}}
        </mat-panel-title>
      </mat-card-header>
      <mat-card-content class="card-body">
        <form [formGroup]="form" #ngForm="ngForm">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{"group_call_out.enter_group_name"|translate}} *</mat-label>
                <input autocomplete="off" matInput formControlName="name">
                <mat-error
                  *ngIf="form.controls['name'].invalid">{{form.controls['name']|formErrorMessage: ('group_call_out.group_name'|translate) }}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3 pt-1">
              <button class="btn btn-primary mr-3" type="submit" (click)="create()">{{"Add_new"|translate}}</button>
              <button class="btn btn-primary" type="button" [disabled]="isDisabled"
                      (click)="submit()">{{"group_call_out.Update"|translate}}</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-1">list_alt
            </mat-icon>
            {{ 'group_call_out.list_group' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'common.button.search'|translate}}</mat-label>
              <input matInput type="text" [(ngModel)]="searchWord" (keyup)="filterSearch()">
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 custom-align-grid">
          <mtx-grid [data]="dataSource"
                    [columns]="columns"
                    [rowHover]="true"
                    [pageSizeOptions]="pageSizeList"
                    [loading]="isLoading"
                    [pageIndex]="0"
                    [pageSize]="pageSize"
                    [headerTemplate]="header1Tpl"
                    [noResultText]="'common.notify.no-record-result' | translate"
                    [pageOnFront]="false"
                    (page)="onPageChange($event)"
                    [length]="totalPage"
                    [cellTemplate]="{
                    no: index,
                    options: button
                    }"
                    style="text-align: center">
          </mtx-grid>
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #index let-row let-index="index">
            <div>
              <span>{{index + 1 + page * pageSize}}</span>
            </div>
          </ng-template>

          <ng-template #button let-row let-index="index">
            <div class="text-center">
              <button mat-icon-button
                      class="icon-button-small mr-1"
                      color='primary'
                      matTooltip="{{'group_call_out.detail' | translate}}"
                      (click)="detail(row)">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button
                      class="icon-button-small mr-1"
                      color='primary'
                      matTooltip="{{'common.button.edit' | translate}}"
                      (click)="update(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button
                      class="icon-button-small mr-1"
                      color='warn'
                      matTooltip="{{'common.button.delete' | translate}}"
                      (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
