<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <span *ngIf="!isView" class="title">{{dataDialog?.data?.id ? ('kms-management.post.editPost'|translate) : ('kms-management.post.newPost'|translate)}}</span>
        <span *ngIf="isView" class="title">{{'kms-management.post.viewPost'|translate}}</span>
        <mat-icon (click)="onDismiss()" class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content style="height: 84vh;max-height: 84vh;overflow-y: auto;padding: 5px;overflow-x: hidden">
    <form *ngIf="!isView" class="row" [formGroup]="formGroup">
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'kms-management.post.documentPath'|translate}}</mat-label>
          <input matInput type="text" readonly formControlName="documentPath">
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.documentPath" [message]="'kms-management.post.documentPath'"></app-inline-message-advance>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'kms-management.post.documentId'|translate}}</mat-label>
          <app-tree-select (selectChange)="changeDocument($event)" [dataSource]="dataSource" [documents]="documents" [form]="formGroup" [controlName]="'documentId'"></app-tree-select>
          <input matInput type="text" [hidden]="true" formControlName="documentId">
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.documentId" [message]="'kms-management.post.documentId'"></app-inline-message-advance>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12" >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'kms-management.post.titleCreate'|translate}}</mat-label>
          <input type="text" matInput trim="blur" formControlName="title" [maxLength]="500">
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.title" [message]="'kms-management.post.titleCreate'"></app-inline-message-advance>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12" >
<!--        <mat-form-field appearance="outline" class="w-100">-->
          <label>{{'kms-management.post.content'|translate}}</label>
          <ejs-richtexteditor class="mt-1 mb-2" [toolbarSettings]='tools' height='27vh' formControlName='content' [maxLength]="2000">
          </ejs-richtexteditor>
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.content" [message]="'kms-management.post.content'"></app-inline-message-advance>
          </mat-error>
<!--        </mat-form-field>-->
      </div>
      <div class="col-12" >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'kms-management.post.tags'|translate}}</mat-label>
<!--          <input type="text" matInput trim="blur" formControlName="tags" [maxLength]="255">-->
          <mat-chip-list #chipList aria-label="Fruit selection" formControlName="tags">
            <mat-chip *ngFor="let tag of tags;let i = index" [selectable]="true"
                      [removable]="true" (removed)="remove(i)">
              {{tag}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input #chipInput
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="false"
                   (matChipInputTokenEnd)="add($event, chipInput)">
          </mat-chip-list>
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.tags" [message]="'kms-management.post.tags'"></app-inline-message-advance>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12">
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'file' | translate }}</mat-label>
              <mat-toolbar style="height: auto !important; background: transparent">
                <ngx-mat-file-input #removableInput multiple (change)="onChangeFileRequest($event, removableInput)"
                                    [accept]="'.jpg,.jpeg,.png,.bmp,.tiff,.xls,.xlsx,.doc,.docx'"
                                    [value]="fileSave"></ngx-mat-file-input>
                <button style="position: absolute;right: 0;bottom: 8px" matSuffix type="button" mat-flat-button>{{'kms-management.post.button.fileSelect'|translate}}</button>
              </mat-toolbar>
            </mat-form-field>
          </div>
        <div class="col-12">
          <mtx-grid [showColumnMenuButton]="false" [data]="listFile"
                    [columns]="columnsRequestAttachment"
                    [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                    [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                    [columnMovable]="true"
                    [loading]="isLoading"
                    [showPaginator]="false" [pageSizeOptions]="pageSizeList"
                    [pageIndex]="0" [pageSize]="pagesize" (page)="onPageChangeRequest($event)"
                    [length]="listFile?.length"
                    [headerTemplate]="header1Tpl"
                    [cellTemplate]="{options: button, createDatetime: createTime , downloadTotal: downloadTotal, capacity: capacity, no: templateOrderNumber}"
                    [noResultText]="'common.notify.no-record-result' | translate"
                    [pageOnFront]="false"
                    style="text-align: center; width: 100%">
          </mtx-grid>
          <ng-template #header1Tpl let-header>
            <div>
              {{header?.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #templateOrderNumber let-row let-index="index">
            <div class="text-center">{{index + 1}}</div>
          </ng-template>
          <ng-template #downloadTotal let-row>
            <div>
              {{row?.downloadTotal}}
            </div>
          </ng-template>
          <ng-template #capacity let-row>
            <div>
              {{row?.capacity | byteFormat}}
            </div>
          </ng-template>
          <ng-template #button let-row let-index="index">
            <button mat-button color="warn" title="{{'Delete'|translate}}" (click)="deleteProcessAttachment(row, index)"><mat-icon>delete</mat-icon></button>
          </ng-template>
          <ng-template #createTime let-row let-index="index">
            {{row.createDatetime |date: 'dd/MM/yyyy HH:mm:ss'}}
          </ng-template>
        </div>
      </div>
    </form>
    <div *ngIf="isView">
      <div class="col-12">
        <label style="font-size: 16px;">{{formGroup?.value?.documentPath}}</label>
      </div>
      <div class="col-12">
        <label style="font-weight: bolder;font-size: 16px;">{{'kms-management.post.title'|translate}}: {{dataDialog?.data?.title}}</label>
      </div>
      <div class="col-12" [innerHTML]="dataDialog?.data?.content" style="max-height: 50vh;overflow-y: auto">
      </div>
      <div class="col-12 mt-2">
        <button style="min-width: 100px;" class="btn btn-primary mr-3"
                (click)="bookmarkPost(dataDialog?.data?.id)">{{isBookmarks ? ('kms-management.post.unBookmark' |translate): ('kms-management.post.bookmark' |translate)}}</button>
        <button style="min-width: 100px;" class="btn btn-primary mr-3"
                (click)="isView= !isView">{{'common.button.edit'|translate}}</button>
        <button style="min-width: 100px;" class="btn btn-primary mr-3"
                (click)="delete(formGroup.value)">{{'common.button.stop'|translate}}</button>
        <label class="ml-2"> <span style="font-weight: bolder"> {{'kms-management.post.tags'|translate}}:</span> {{dataDialog?.data?.tags}}</label>
      </div>
      <div class="col-12 mt-2">
        <mtx-grid [showColumnMenuButton]="false" [data]="listFile"
                  [columns]="columnsRequestAttachmentView"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                  [columnMovable]="true"
                  [loading]="isLoading"
                  [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                  [pageIndex]="0" [pageSize]="pagesize" (page)="onPageChangeRequest($event)"
                  [length]="listFile?.length"
                  [headerTemplate]="header1Tpl"
                  [cellTemplate]="{options: button, createDatetime: createTime , downloadTotal: downloadTotal, capacity: capacity}"
                  [noResultText]="'common.notify.no-record-result' | translate"
                  [pageOnFront]="false"
                  style="text-align: center; width: 100%">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header?.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #downloadTotal let-row>
          <div>
            {{row?.downloadTotal}}
          </div>
        </ng-template>
        <ng-template #capacity let-row>
          <div>
            {{row?.capacity | byteFormat}}
          </div>
        </ng-template>
        <ng-template #button let-row let-index="index">
          <button mat-button color="warn" title="{{'Delete'|translate}}" (click)="deleteProcessAttachment(row, index)"><mat-icon>delete</mat-icon></button>
        </ng-template>
        <ng-template #createTime let-row let-index="index">
          {{row.createDatetime |date: 'dd/MM/yyyy HH:mm:ss'}}
        </ng-template>
      </div>

    </div>
  </mat-card-content>
  <mat-card-header class="custom-card-footer" fxLayout="row" fxLayoutAlign="left center" style="margin-top: -12px !important;">
    <button *ngIf="!isView" style="min-width: 100px;" class="btn btn-primary mr-3"
            (click)="save()">{{dataDialog?.data?.id ? ('common.button.edit'|translate) : ('common.button.insert'|translate)}}</button>
    <button style="min-width: 100px;" class="btn btn-primary mr-3"
            (click)="onDismiss()">{{'common.button.cancle'|translate}}</button>
  </mat-card-header>
</mat-card>
