<mat-card style="margin-bottom: 0">
  <mat-card-header class="padding-left-0">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <mat-icon>assignment</mat-icon>
        <span
          class="custom-title"> {{'role-users.title'|translate}}:&nbsp;{{input.name}}</span>
        <mat-icon mat-dialog-close class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="mb-0">
    <form [formGroup]="formSave">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <mat-form-field appearance='outline' class='w-100'>
            <mat-label>{{'role-users.label.user-add' | translate}}</mat-label>
            <mat-select formControlName="userIdList" id="userIdList" multiple>
              <mat-option *ngFor='let item of userList' [value]='item.id'>{{item.login}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="formSave.get('userIdList').getError('required')">{{'validation.MSG0006' | translate}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <button mat-raised-button color='primary' style='min-width: 7vw'
                  (click)="onAdd()"
                  [disabled]="isAdding || !formSave.value.userIdList">{{'common.button.insert' | translate}}</button>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-content class="mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'role-users.label.username' | translate}}</mat-label>
          <input matInput type="text" [(ngModel)]="searchName" id="searchName"/>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <button mat-raised-button color='primary' style='min-width: 7vw' class="mr-2"
                (click)="onSearch()" [disabled]="isSearching">{{'common.button.search' | translate}}</button>
      </div>
      <div class="col-12 mt-2">
        <mtx-grid [showColumnMenuButton]="false" [data]="dataList" [columns]="columns"
                  [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                  [columnHideable]="true" [columnMovable]="true" [showPaginator]="true"
                  [pageSizeOptions]="pageSizeList" [loading]="isLoading"
                  [pageIndex]="pageIndex" [pageSize]="pageSize"
                  [headerTemplate]="header1Tpl" [length]="totalRecord"
                  [cellTemplate]="{no: templateOrderNumber, tools: toolsTpl, numberData: numberDataTpl}"
                  [noResultText]="'common.notify.no-record-result' | translate" (page)="onPageChange($event)"
                  [pageOnFront]="false">
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #templateOrderNumber let-index='index'>
            <span>{{index + 1 + pageSize * pageIndex}}</span>
          </ng-template>
          <ng-template #toolsTpl let-row>
            <div class="text-center">
              <button mat-icon-button color="primary" aria-label=""
                      matTooltip="{{'role-users.button.remove' | translate}}" (click)="openRolesGroupsUserDeleteDialog(row)">
                <mat-icon>person_add_disabled</mat-icon>
              </button>
            </div>
          </ng-template>
          <ng-template #numberDataTpl let-row>
            <div class="text-right">{{row.numberData ? row.numberData : 0}}</div>
          </ng-template>
        </mtx-grid>
      </div>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>{{'common.button.close'|translate}}</button>
  </mat-dialog-actions>
</mat-card>
