<ng-container [formGroup]="form">
  <mat-select class="w-100" [formControlName]="controlName" #matSelect [disabled]="disable">
  <!--            <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>-->
  <mat-option *ngFor="let data of documents" [value]="data?.id" [hidden]="true">
    {{data?.name}}
  </mat-option>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <!-- use a disabled button to provide padding for tree leaf -->
<!--        <button mat-icon-button disabled></button>-->
        <div style="cursor: pointer;margin-left: 18px" (click)="selectParent(node)">
          {{node.name}}
        </div>
      </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'indeterminate_check_box' :  'add_box' }}
            </mat-icon>
          </button>
          <div style="cursor: pointer;" (click)="selectParent(node)">
            {{node.name}}
          </div>
        </div>
        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</mat-select>
</ng-container>
