.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
li.mat-tree-node:after {
  position: absolute;
  width: 20px;
  height: 14px;
  margin-left: -8px;
  margin-bottom: 11px;
  border-bottom: 1px dashed #8a8484;
  content: " ";
}
