<div fxLayout='row wrap' class='matero-row '>
  <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon style='margin-right: 8px'>email</mat-icon>
    {{'menu.campaign-sms-marketing' | translate}}
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <form [formGroup]='formSearch' class='row card-body'>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.campaign-name' | translate}}</mat-label>
          <mat-select formControlName='name'>
            <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of lstCampaignSMSNameSearch' [value]='item.id'>
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.start-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='startDate' formControlName='startDate'>
          <mat-datepicker-toggle matSuffix [for]='startDate'></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-sms-marketing.end-date' | translate}}</mat-label>
          <input matInput [matDatepicker]='endDate' formControlName='endDate'>
          <mat-datepicker-toggle matSuffix [for]='endDate'></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class='col-12'>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='search()'>
          <mat-icon>search</mat-icon>
          {{'campaign-sms-marketing.search' | translate}}
        </button>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='new()'>
          <mat-icon>add</mat-icon>
          {{'campaign-sms-marketing.add' | translate}}
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card fxFlex='100' fxFlex.lt-sm='100' style='margin-top: -15px'>
    <form [formGroup]='formImport' class='row card-body'>
      <div class='col-4'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'campaign-sms-marketing.campaign-name' | translate}}</mat-label>
          <mat-select formControlName='name'>
            <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of lstCampaignSMSName' [value]='item.id'>
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class='col-4'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'campaign-sms-marketing.duplicate-filter' | translate}}</mat-label>
          <mat-select formControlName='duplicateFilter'>
            <mat-option *ngFor='let item of distinct' [value]='item.value'>
              {{item.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class='col-4'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'campaign-sms-marketing.file-data' | translate}}</mat-label>
          <ngx-mat-file-input formControlName='file'
                              [accept]="'application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                              #removableInput [(ngModel)]='file'>
          </ngx-mat-file-input>
        </mat-form-field>
      </div>
      <div class='col-12'>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='downloadTemplate()'>
          {{'campaign-sms-marketing.download-template' | translate}}
        </button>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='doImport()'>
          {{'campaign-sms-marketing.import' | translate}}
        </button>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='doCancel(); removableInput.clear($event)'>
          {{'campaign-sms-marketing.cancel' | translate}}
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <div class='row card-body'>
      <div class='col-12'>
        <mtx-grid [showColumnMenuButton]='false' [data]='lst' [columns]='columns'
                  [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                  [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
                  [pageSizeOptions]='pageSizeList' [loading]='isLoading'
                  [pageIndex]='pageIndex' [pageSize]='pageSize'
                  [headerTemplate]='header1Tpl' [cellTemplate]='{no: templateOrderNumber, createDateTimeView: createDateTime, options: options, totalData: totalData, status: status}'
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]='false'
                  (page)='onPageChange($event)' [length]='totalRecord'>
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #templateOrderNumber let-row let-index='index'>
            <span>{{index + 1 + pageSize * pageIndex}}</span>
          </ng-template>
          <ng-template #createDateTime let-row let-index='index'>
            <div class='text-center'>
              <span>{{row.createDateTimeView}}</span>
            </div>
          </ng-template>
          <ng-template #totalData let-row let-index='index'>
            <span>{{row.totalData}}</span>
          </ng-template>
          <ng-template #status let-row let-index='index'>
            <span>
              {{row.status === '1' ? statusActive : statusInactive}}
            </span>
          </ng-template>
          <ng-template #options let-row let-index='index'>
            <div class='text-center'>
              <button mat-icon-button class="icon-button-small mr-1" color='primary' matTooltip="{{'common.button.edit' | translate}}" (click)='edit(row)'><mat-icon>edit</mat-icon></button>
              <button mat-icon-button class="icon-button-small mr-1" color='warn'  matTooltip="{{'common.button.delete' | translate}}" (click)='delete(row)'><mat-icon>delete</mat-icon></button>
            </div>
          </ng-template>
        </mtx-grid>
      </div>
    </div>
  </mat-card>
</div>
