<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Capacity</p>
              <p class="card-title">150GB
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Revenue</p>
              <p class="card-title">$ 1,345
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Last day
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Errors</p>
              <p class="card-title">23
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-clock-o"></i> In the last hour
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Followers</p>
              <p class="card-title">+45K
              <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update now
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <!--        <canvas id=chartHours width="400" height="100"></canvas>-->
        <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis'>
          <e-series-collection>
            <e-series [dataSource]='chartData' type='Column' xName='month' yName='sales' name='Sales'></e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <div id="action-description">
          <p>
            This sample demonstrates pie chart for mobile browser usage statistics. Datalabel shows the Information
            about the points.
            While hovering on the slice, border will be highlighted.
          </p>
        </div>
        <div class="control-section">
          <div class="row">
            <div class="col-md-8">
              <ejs-accumulationchart id="container" #pie style='display:block;  width: 92%'
                                     [legendSettings]="legendSettings" [tooltip]="tooltip" [title]="title"
                                     (load)='load($event)' [enableAnimation]='enableAnimation' [center]='center'>
                <e-accumulation-series-collection>
                  <e-accumulation-series name='Browser' [dataSource]='data' xName='x' yName='y'
                                         [startAngle]="startAngle" [endAngle]="endAngle" innerRadius="0%" radius="70%"
                                         [dataLabel]="dataLabel" [explode]='explode' explodeOffset='10%'
                                         [explodeIndex]='0'>
                  </e-accumulation-series>
                </e-accumulation-series-collection>
              </ejs-accumulationchart>
            </div>
            <div class="col-md-4 property-section">
              <div class="property-panel-section">
                <div class="property-panel-header">Properties</div>
                <div class="property-panel-content">
                  <table id="property" class="property-panel-table" title="Properties" style="width: 100%">
                    <tr style="height: 50px">
                      <td style="width: 30%">
                        <div>Pie Angle
                        </div>
                      </td>
                      <td style="width: 70%;">
                        <div data-role="rangeslider">
                          <input type="range" name="range-min" value="0" min="0" max="360"
                                 (touchmove)='pieangle($event)' (pointermove)='pieangle($event)'
                                 (change)='pieangle($event)' autocomplete="off" id="pieangle" style="margin-left: -5px">
                        </div>
                      </td>
                      <td style="width: 60%;">
                        <p id="pieangleText" style="font-weight: normal; padding-top: 15px">0</p>
                      </td>
                    </tr>
                    <tr style="height: 50px">
                      <td style="width: 30%">
                        <div>Outer Radius
                        </div>
                      </td>
                      <td style="width: 70%;">
                        <div data-role="rangeslider">
                          <input type="range" name="range-min" id="pieradius" value="70" min="0" max="70"
                                 (touchmove)='pieradius($event)' (pointermove)='pieradius($event)'
                                 (change)='pieradius($event)' autocomplete="off" style="margin-left: -5px">
                        </div>
                      </td>
                      <td style="width: 60%;">
                        <p id="pieradiusText" style="font-weight: normal; padding-top: 15px">0.7</p>
                      </td>
                    </tr>
                    <tr style="height: 50px">
                      <td style="width: 30%">
                        <div>Explode Radius
                        </div>
                      </td>
                      <td style="width: 70%;">
                        <div data-role="rangeslider">
                          <input type="range" name="range-min" id="pieexploderadius" value="10" min="0" max="40"
                                 (touchmove)='pieexploderadius($event)' (pointermove)='pieexploderadius($event)'
                                 (change)='pieexploderadius($event)' autocomplete="off" style="margin-left: -5px">
                        </div>
                      </td>
                      <td style="width: 60%;">
                        <p id="pieexploderadiusText" style="font-weight: normal; padding-top: 15px">0.10</p>
                      </td>
                    </tr>
                    <tr style="height: 50px">
                      <td style="width: 30%">
                        <div>Explode Index
                        </div>
                      </td>
                      <td style="width: 70%;">
                        <div data-role="rangeslider">
                          <input type="range" name="range-min" id="pieexplodeindex" value="0" min="0" max="6"
                                 (touchmove)='pieexplodeindex($event)' (pointermove)='pieexplodeindex($event)'
                                 (change)='pieexplodeindex($event)' autocomplete="off" style="margin-left: -5px">
                        </div>
                      </td>
                      <td style="width: 60%;">
                        <p id="pieexplodeindexText" style="font-weight: normal; padding-top: 15px">0</p>
                      </td>
                    </tr>
                    <tr style="height: 50px">
                      <td style="width: 30%">
                        <div>
                          Center X
                        </div>
                      </td>
                      <td style="width: 70%;">
                        <div data-role="rangeslider">
                          <input type="range" name="range-min" id="x" value="50" min="0" max="100" style="width:90%"
                                 (touchmove)='piecenterx($event)' (pointermove)='piecenterx($event)'
                                 (change)='piecenterx($event)' autocomplete="off">
                        </div>
                      </td>
                      <td style="width: 60%;">
                        <div data-role="rangeslider">
                          <p id="xvalue" style="font-weight: normal;padding-top:10px;">50%</p>
                        </div>
                      </td>
                    </tr>
                    <tr style="height: 50px">
                      <td style="width: 30%">
                        <div>
                          Center Y
                        </div>
                      </td>
                      <td style="width: 70%;">
                        <div data-role="rangeslider">
                          <input type="range" name="range-min" id="y" value="50" min="0" max="100" style="width:90%"
                                 (touchmove)='piecentery($event)' (pointermove)='piecentery($event)'
                                 (change)='piecentery($event)' autocomplete="off">
                        </div>
                      </td>
                      <td style="width: 60%;">
                        <div data-role="rangeslider">
                          <p id="yvalue" style="font-weight: normal;padding-top:10px;">50%</p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
