<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <div fxLayout="row wrap" fxLayoutGap="8px grid">
      <div fxFlex="10" fxFlexOffset="90">
        <button mat-dialog-close style="margin-left: 38px;margin-bottom: 10px;" mat-stroked-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ 'customer.searchDev' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="formSearch" class="form-field-full">

          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.staffCode' | translate }}</mat-label>
                <input matInput formControlName="staffCode"/>
                <mat-error>
                  <app-inline-message [formName]="formSearch.get('staffCode')"
                                      [message]="'customer.staffCode'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex.lt-sm="100">
              <mat-form-field appearance="outline">
                <mat-label>{{ 'customer.staffName' | translate }}</mat-label>
                <input matInput formControlName="name"/>
                <mat-error>
                  <app-inline-message [formName]="formSearch.get('name')"
                                      [message]="'customer.staffName'"></app-inline-message>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px"
               fxLayoutGap.xs="0">
            <button mat-raised-button color="primary" style="margin-right: 8px;" (click)="search()"
                    type="submit">{{ 'common.button.search' | translate }}</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div fxLayout fxLayoutAlign="end">
      <button mat-raised-button color="primary" mat-dialog-close
              style="margin-bottom: 10px;margin-right: 15px">{{ 'common.button.close' | translate }}</button>
    </div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ ('customer.listDev' | translate) + '(' + totalRecord + ')'}}
        </mat-card-title>
      </mat-card-header>

      <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns"
                [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                [loading]="isLoading" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [headerTemplate]="header1Tpl"
                [cellTemplate]="{no: templateOrderNumber}"
                [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                (page)="pageChange($event)" [length]="totalRecord">
      </mtx-grid>
      <ng-template #header1Tpl let-header>
        {{header.i18n | translate}}
      </ng-template>
      <ng-template #templateOrderNumber let-row let-index="index">
        <span>{{index + 1 + pageIndex * pageSize}}</span>
      </ng-template>
    </mat-card>
  </div>
</div>
