<div fxLayout="row wrap" class="matero-row cp-brand-search" xmlns="http://www.w3.org/1999/html">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form action="" [formGroup]="form">
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'exchangeContent' | translate }}</mat-label>
                    <textarea name="exchangeContent" formControlName="content"
                              [readonly] = "isDisableForm() || isOverride"
                              style="width: 100%; height: 120px" matInput>
                    </textarea>
                    <mat-error *ngIf="form.controls.content.errors">
                      {{ 'validation.content.require' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <mat-label>{{ 'historyConfirm' | translate }}</mat-label>
                  <br>
                  <span *ngFor="let his of dataGetHistory">
                    -{{his.departmentName}} &nbsp; {{his.userName}} &nbsp; ({{his.createDatetime | date: 'dd/MM/yyyy hh:mm'}}) : {{his.content}}
                    <br>
                  </span>
                  <br>
                </div>
              </div>
              <div class="col-6">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'dateConfirm' | translate }}</mat-label>
                    <input readonly type="text" name="datConfirm" matInput formControlName="confirmDeadline"/>
                  </mat-form-field>
                </div>
                <div class="col-12">
                  <div class="row" style="margin-left: unset;margin-right: unset">
                    <div class="col-9">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'file' | translate }}</mat-label>
                        <mat-toolbar style="height: auto !important; background: transparent">
                          <ngx-mat-file-input
                            [disabled]="isDisableForm() || isOverride" multiple
                            (change)="onChangeFile($event)"></ngx-mat-file-input>
                          <button [disabled]="isDisableForm()"
                                  type="button" mat-flat-button>Chọn file
                          </button>
                        </mat-toolbar>
                      </mat-form-field>
                    </div>
                    <div class="col-3" style="padding-top: 5px">
                      <button [disabled]="isDisableForm() || isOverride"
                              mat-raised-button color="success" class="mr-2"
                              type="button" (click)="insertFile()">
                        <img class="matero-avatar" src="../../../../assets/images/upload.png" width="25" alt="upload"/>
                        {{'common.button.insert' | translate}}
                      </button>
                    </div>
                  </div>
                  <div class="col-12">
                    <mtx-grid [showColumnMenuButton]="false" [data]="dataListAttachmentConfirmPagible"
                              [columns]="columnsConfirmAttachment"
                              [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
                              [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                              [headerTemplate]="header1Tpl"
                              [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                              [pageIndex]="0" [pageSize]="pagesize" (page)="onPageChangeConfirm($event)"
                              [length]="totalAttachmentConfirm"
                              [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                              style="text-align: center; width: 100%">
                    </mtx-grid>

                    <ng-template #header1Tpl let-header>
                      <div>
                        {{header.i18n | translate}}
                      </div>
                    </ng-template>
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>{{ 'level' | translate }}</mat-label>
                      <mat-select [disabled]="isDisableForm() || isOverride"
                                  name="level" formControlName="level" (selectionChange)="changeLevel($event)">
                        <mat-option [value]="">{{'common.select' | translate}}</mat-option>
                        <mat-option *ngFor="let c of level" [value]="c.code">
                          {{c.name}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="form.controls.level.errors">
                        {{ 'validation.level.require' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>


              <!--              <div class="col-5">-->
              <!--                <mat-form-field appearance="outline" class="w-100">-->
              <!--                  <mat-label>{{ 'file' | translate }}</mat-label>-->
              <!--                  <mat-toolbar style="height: auto !important; background: transparent">-->
              <!--                    <ngx-mat-file-input multiple (change)="onChangeFile($event)"></ngx-mat-file-input>-->
              <!--                    <button type="button" mat-flat-button>Chọn file</button>-->
              <!--                  </mat-toolbar>-->
              <!--                </mat-form-field>-->
              <!--              </div>-->
              <!--              <div class="col-1" style="padding-top: 5px">-->
              <!--                <button mat-raised-button color="success" class="mr-2"-->
              <!--                        type="button" (click)="insertFile()" [disabled] = 'isDisabled'>-->
              <!--                  <img class="matero-avatar" src="../../../../assets/images/upload.png" width="25" alt="upload"/>-->
              <!--                  {{'common.button.insert' | translate}}-->
              <!--                </button>-->
              <!--              </div>-->
              <!--              <div class="col-6"></div>-->
              <!--              <div class="col-6">-->
              <!--                <mtx-grid [showColumnMenuButton]="false" [data]="listConfirmTicketAttachmentDTOs"-->
              <!--                          [columns]="columnsRequestAttachment"-->
              <!--                          [multiSelectable]="true" [rowHover]="true" [rowStriped]="true" [showToolbar]="false"-->
              <!--                          [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"-->
              <!--                          [headerTemplate]="header1Tpl"-->
              <!--                          [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"-->
              <!--                          [length]="100" style="text-align: center; width: 100%">-->
              <!--                </mtx-grid>-->

              <!--                <ng-template #header1Tpl let-header>-->
              <!--                  <div>-->
              <!--                    {{header.i18n | translate}}-->
              <!--                  </div>-->
              <!--                </ng-template>-->
              <!--                <mat-form-field appearance="outline" class="w-100">-->
              <!--                  <mat-label>{{ 'level' | translate }}</mat-label>-->
              <!--                  <mat-select  name="level" formControlName="level" (selectionChange)="changeLevel($event)">-->
              <!--                    <mat-option [value]="">{{'common.select' | translate}}</mat-option>-->
              <!--                    <mat-option *ngFor="let c of level" [value]="c.code" >-->
              <!--                      {{c.level}}-->
              <!--                    </mat-option>-->
              <!--                  </mat-select>-->
              <!--                </mat-form-field>-->
              <!--              </div>-->
            </div>
            <div class="row">
              <div class="col-4">
              </div>
              <div class="col-4">
                <button mat-raised-button color="primary" class="mr-2"
                        type="submit"
                        [disabled]="isDisableForm() || isOverride"
                        (click)="form.valid ? closeEvent() : null">
                  {{'closeEvent' | translate}}
                </button>
                <button mat-raised-button color="primary" class="mr-2" type="submit"
                        [disabled]="isDisableForm() || isOverride"
                        (click)="form.valid ? createConfirmTicket() : null">
                  {{'saveConfirm' | translate}}
                </button>
              </div>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
