<div class="login-form" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card" fxFlex="30">
    <mat-card-header fxLayoutAlign="center">
      <mat-card-title>CRM</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" class="login" fxLayout="column" (ngSubmit)="login()" style="margin-bottom: 20px;">
        <div fxLayout="row" fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>{{"login.username" | translate}}</mat-label>
            <input matInput [autoFocus]="true" formControlName="username">
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error>
              <app-inline-message [formName]="loginForm.get('username')" [message]="'Username'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex="100">
          <mat-form-field appearance="outline">
            <mat-label>{{"login.password" | translate}}</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error>
              <app-inline-message [formName]="loginForm.get('password')" [message]="'Password'"></app-inline-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button style="width: 100%;" color="primary" type="submit" [disabled]="loginForm.invalid">{{"login.login" | translate}}</button>
        </div>
      </form>
      <a [routerLink]="['/forget-password']">{{"login.forgetPassword" | translate}}</a>
    </mat-card-content>
  </mat-card>
</div>

