


.page-item:focus {
  background: #0078A8 !important;
}
.page-item:hover {
  background: #0078A8 !important;
}
.page-link:focus{
  background: #0078A8 !important;
}
.page-link:hover{
  background: #0078A8 !important;
}

.statusTest {
  height: 45px !important;
  background-color:green ;
}

