<mat-card>
<mat-card-header>
  <h5>{{'email_config.titleName'|translate}}</h5>
</mat-card-header>
<mat-card-content [formGroup]="emailConfigForm">
  <div class="row justify-content-center align-content-center">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><b>Host</b><span style="color: red">(*)</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Host" formControlName="host">
          <app-inline-message [formName]="emailConfigForm.get('host')"
                              [message]="'Host'|translate"></app-inline-message>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><b>Port</b><span style="color: red">(*)</span></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Port" formControlName="port">
          <app-inline-message [formName]="emailConfigForm.get('port')"
                              [message]="'Port'|translate"></app-inline-message>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><b>Email</b><span style="color: red">(*)</span></label>
        <div class="col-sm-10">
          <input type="email" class="form-control" placeholder="Email" formControlName="email">
          <app-inline-message [formName]="emailConfigForm.get('email')"
                              [message]="'Email'|translate"></app-inline-message>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><b>Password</b><span style="color: red">(*)</span></label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <app-inline-message [formName]="emailConfigForm.get('password')"
                              [message]="'Password'|translate"></app-inline-message>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label"><b>Enable SSl</b></label>
        <div class="col-sm-10" style="padding-top: 6px">
          <mat-checkbox (change)="onCheckBoxChange($event)" [checked]="checked" class="p-4"></mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button mat-raised-button color="primary" class="mr-2"
                  type="button" (click)="save()">
            {{'common.button.save' | translate}}
          </button>
          <button mat-raised-button color="primary" class="mr-2"
                  type="button" (click)="cancel()">
            {{'common.button.back' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card-content>
</mat-card>
