.modal .modal-content {

}

.modal-content .modal-header{
  background: #7367f0;
}

.modal-header .modal-title{
  width: 100%;
  text-align: center;
  color: white;
}

/*---------------------------------------------------*/

.modal-content .modal-body{
  padding-bottom: 0;
}

.modal-body .form-group{
  height: 37px;
}

.modal-body label{
  width: 30%;
  height: 37px;
  line-height: 37px;
  float: left;
  text-align: right;
  margin-right: 2%;
}

.modal-body .form-control{
  width: 65%;
  float: right;
}

/*---------------------------------------------------*/

.modal-content .modal-footer{
  clear: both;
}

.modal-footer .spin{
  text-align: center;
  width: 45%;
}

.modal-footer .btn-modal{
  width: 25%;
}

.modal-footer .btn-modal::after{
  content: none;
}

