.card .card-header .title-account {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.card-body .row col-xs-12 {
  margin: 0 auto;
}

.card-body .account-avatar {
  height: 196px;
  width: 33.33%;
  float: left;
  border: 1px solid white;
  border-radius: 100%;
  box-sizing: border-box;
  padding: 0;
}

.account-avatar .row{
  position: relative;
  margin: 0;
}

.account-avatar .row .input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.account-avatar .row .input-file + .lable-for-file {
  font-size: 10px;
  font-weight: 700;
  padding: 5px;
  color: white;
  background-color: grey;
  display: inline-block;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 50%;
}

.account-avatar .row .lable-for-file {
  width: 28%;
  text-align: center;
  position: absolute;
  bottom: 1px;
  left: 36%;
}

.account-avatar .row .input-file:focus + .lable-for-file,
.input-file + .lable-for-file:hover {
  background-color: #1ab7ea;
  border-color: #1ab7ea;
}

.account-avatar img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  margin: 0 auto;
}

.account-avatar svg{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}


/*---------------------------------------------------*/
.card-body .account_info {
  width: 66.67%;
  float: right;
  padding: 15px 0 0 20px;
}

.card-body .account_info .row{
  margin: 0 0 15px 0;
}

.card-body .account_info .row button{
  margin-right: 14%;
}

.card-body .account_info .row button::after{
  content: none;
}

.card-body .account_info .row .spinner-border{
  margin-top: 5px;
}
