

/*.container-fluid .content{*/
  /*border: 2px solid aliceblue;*/
  /*padding: 15px 20px;*/
  /*border-radius: 10px;*/
  /*box-shadow: 5px 8px 8px 8px #888888;*/
  /*margin-left: 0;*/
/*}*/

/*.content .title{*/
  /*padding: 0 0 40px 0;*/
/*}*/

/*.title h3{*/
  /*width: 100%;*/
  /*text-align: center;*/
/*}*/

/*.content .formContent{*/

/*}*/

/*.formContent form{*/
  /*width: 100%;*/
/*}*/

/*.formContent form label{*/
  /*height: 38px;*/
  /*line-height: 38px;*/
/*}*/

/*.formContent form .row:last-child{*/
  /*margin-top: 15px;*/
/*}*/

/*.formContent form .row a{*/
  /*line-height: 39px;*/
/*}*/

/*.formContent form .row a:hover{*/
  /*color: red;*/
  /*font-weight: bold;*/
/*}*/

/*.formContent form .row button{*/
  /*width: 80%;*/
  /*margin-left: 20%;*/
/*}*/

/*.formContent form .row .spin{*/
  /*text-align: center;*/
  /*padding-top: 6px;*/
/*}*/
