.container-fluid{

}

.container-fluid .title-topic{
  padding: 0 5%;
}

.container-fluid .content{
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

.content .topic-item{
  text-align: center;
  margin-bottom: 40px;
  padding: 21px 0;
}

.topic-item a{
  color: black;
  background: #ceeaf6;
  text-decoration: none;
  padding: 8% 20%;
  border: 2px dashed #169bd5;
  border-radius: 20px;
}

.topic-item a:hover{
  color: #3f9bd5;
}
