:host ::ng-deep {
  .mat-form-field-wrapper {
    margin-top: 0 !important;
  }

  .mtx-grid-layout {
    max-height: 350px !important;
  }

  .mat-checkbox-mixedmark {
    background-color: #f48833;
  }
}

.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.customers td, .customers th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #ffffff;
}

.customers tr:hover {
  background-color: #f2f2f2;
}

.customers th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

.table-container {
  display: inline-block;
  width: 100%;
}

