<mat-card style="margin-bottom: 0">
  <mat-card-header class="card-header-custom">
    <mat-icon>assignment</mat-icon>
    <span class="card-title-font">{{'role-category.title' | translate}}</span>
  </mat-card-header>
  <mat-card-content class="mt-4">
    <div class="row">
      <div class="col-6">
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'role-config.label.menu' | translate}}</mat-label>
          <mat-select [(ngModel)]="menuId" id="menuId" (ngModelChange)="onGetMenuDetail($event)">
            <mat-option *ngFor='let item of menuList'
                        [value]='item.id'>{{'menu.' + item.menuName | translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <div class="table-container">
          <table class="w-100 customers">
            <ng-container *ngFor='let menuItem of menuItemsList; let i= index;'>
              <tr [id]="menuItem.id.toString()">
                <td class="text-center" style="width: 10%">
                  <button mat-icon-button *ngIf="menuItem.roles" color="primary"
                          (click)="menuItem.expanded = !menuItem.expanded">
                    <span class="material-icons-outlined" *ngIf="!menuItem.expanded" style="font-size: 40px">arrow_drop_up</span>
                    <span class="material-icons-outlined" *ngIf="menuItem.expanded" style="font-size: 40px">arrow_drop_down</span>
                  </button>
                </td>
                <td style="width: 90%">
                  <button mat-icon-button color="primary" (click)="openActionManagementDialog({}, menuItem)">
                    <span class="material-icons-outlined">add_circle</span>
                  </button>
                  <strong>{{'menu.' + menuItem.name | translate}}
                  </strong>
                </td>
              </tr>
              <ng-container *ngFor='let role of menuItem.roles; let j= index;'>
                <tr *ngIf="menuItem.expanded">
                  <td colspan="2">
                    <span style="margin-left: 15%">
                      <button mat-icon-button color="warn" (click)="openActionRemoveConfirmDialog(role)">
                       <span class="material-icons-outlined">remove_circle</span>
                      </button>
                      <span (click)="openActionManagementDialog(role, menuItem)">{{role.name | translate}}</span>
                    </span>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
