<form [formGroup]="form">
    <mat-select (click)="ngControl.control.markAsTouched()" #select formControlName="selectValue">
        <input class="input-filter" (keyup)="filter($event.target.value)" [placeholder]="placeholder" autocomplete="off"
            matInput />
        <mat-option *ngFor="let item of items" [value]="item[valueField]">{{item[labelField]}}</mat-option>
    </mat-select>
</form>