<mat-card style="width: 40vw; margin: 0 ">
  <form [formGroup]="form">
    <mat-card-header>
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>
            <mat-icon>edit</mat-icon>
            {{"config_auto_email.edit_configuration_information"|translate}}</h5>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="card-body">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'email_blacklist.Campaign' | translate }} *</mat-label>
            <mat-select formControlName="campaignEmailId">
              <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
              <mat-option *ngFor="let item of lstCampaignEmailMarketing" [value]="item.id">{{item.name}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="form.controls['campaignEmailId'].invalid">{{form.controls['campaignEmailId']
              |formErrorMessage: ('email_blacklist.Campaign'|translate) }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{"config_auto_email.configuration_auto_name"|translate}} *</mat-label>
            <input matInput formControlName="name">
            <mat-error
              *ngIf="form.controls['name'].invalid">{{form.controls['name']|formErrorMessage: ('config_auto_email.configuration_auto_name'|translate) }}</mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'config_auto_email.time_type' | translate }} *</mat-label>
            <mat-select (selectionChange)="changeTimeType()" formControlName="timeType">
              <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
              <mat-option *ngFor="let item of lstTimeType" [value]="item['code']">{{item["value"]}}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="form.controls['timeType'].invalid">{{form.controls['timeType']
              |formErrorMessage: ('config_auto_email.time_type'|translate) }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6" *ngIf="form.get('timeType').value === 'W'">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'config_auto_email.Weekdays' | translate }} *</mat-label>
            <mat-select formControlName="dateOfWeekArray" multiple>
              <mat-option *ngFor="let item of lstDateOfWeek" [value]="item['code']">{{item["value"]}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6" *ngIf="form.get('timeType').value === 'O'">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'config_auto_email.sent_date' | translate }} *</mat-label>
            <input [readonly]="true"
                   matInput
                   [matDatepicker]="date"
                   formControlName="dateSend"
                   [min]="today"
            >
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"><h6>{{"config_auto_email.sending_time"|translate}} *</h6></div>
        <div class="col-md-6"><h6>{{"config_auto_email.Status"|translate}}: </h6></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="w-100" appearance="outline">
            <input style="display: none" matInput [ngxTimepicker]="time" readonly>
            <mat-error
              *ngIf="form.controls['timeSend'].invalid">{{form.controls['timeSend']
              |formErrorMessage: ('config_auto_email.sending_time'|translate) }}</mat-error>
            <ngx-timepicker-field #time [format]="24" formControlName="timeSend"
                                  [controlOnly]="true"></ngx-timepicker-field>
          </mat-form-field>
        </div>
        <div class="col-md-6 pt-2">
          <mat-checkbox class="custom-mat-checkbox mt-3" formControlName="status" name="fcr">
            <span class="text-success"
                  *ngIf="form.get('status').value">{{ 'config_auto_email.Activate' | translate }}</span>
            <span *ngIf="!form.get('status').value">{{ 'config_auto_email.Inactive' | translate }}</span>
          </mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <div class="row">
      <div class="col-md-12 text-center">
        <button (click)="save()" type="submit" class="btn btn-success mr-3">
          {{"Save"|translate}}
        </button>
        <button (click)="cancel()" type="button" class="btn btn-danger">
          {{"Cancel"|translate}}
        </button>
      </div>
    </div>
  </form>
</mat-card>
