<mat-card>
  <mat-card-header>
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
      <div fxFlex="100" fxFlex.lt-sm="100">
        <span class="title">{{'kms-management.category.move'|translate}}</span>
        <mat-icon (click)="onDismiss()" class="icon-close">close</mat-icon>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form class="row" [formGroup]="formGroup">
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'kms-management.category.moveFrom'|translate}}</mat-label>
          <app-tree-select [dataSource]="dataSource" [documents]="documents" [form]="formGroup" [controlName]="'id'"></app-tree-select>
          <input matInput type="text" [hidden]="true" formControlName="id">
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.id" [message]="'kms-management.category.moveFrom'"></app-inline-message-advance>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{'kms-management.category.moveTo'|translate}}</mat-label>
          <app-tree-select [dataSource]="dataDes" [documents]="documentsDes" [form]="formGroup" [controlName]="'newParentId'"></app-tree-select>
          <input matInput type="text" [hidden]="true" formControlName="newParentId">
          <mat-error>
            <app-inline-message-advance [formName]="formGroup.controls.newParentId" [message]="'kms-management.category.moveTo'"></app-inline-message-advance>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-header class="custom-card-footer" fxLayout="row" fxLayoutAlign="center center">
    <button style="min-width: 100px;margin-left: auto" class="btn btn-primary mr-3"
            (click)="save()">{{'kms-management.category.moveSave'|translate}}</button>
  </mat-card-header>
</mat-card>
