<div fxLayout='row wrap' class='matero-row '>
  <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon style='margin-right: 8px'>email</mat-icon>
    {{'menu.campaign-email-marketing' | translate}}
  </div>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <form [formGroup]='formSearch' class='row card-body'>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-email-marketing.campaign-name' | translate}}</mat-label>
          <mat-select formControlName='name'>
            <mat-option value=''>{{'campaign-email-marketing.select-all' | translate}}</mat-option>
            <mat-option *ngFor='let item of lstCampaignEmailNameSearch' [value]='item.id'>
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-email-marketing.from-date' | translate}}</mat-label>
          <input matInput dateInput [matDatepicker]='fromDate' formControlName='fromDate' [max]='maxFromDate' (ngModelChange)='onChangeFromDate($event)' (change)='onChangeFromDate($event)'>
          <mat-datepicker-toggle matSuffix [for]='fromDate'></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
          <mat-error
            *ngIf="formSearch.get('fromDate').value > maxFromDate">
            {{'campaign-email-marketing.validate.max-from-date' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-4'>
        <mat-form-field appearance='outline' class='w-100'>
          <mat-label>{{'campaign-email-marketing.to-date' | translate}}</mat-label>
          <input matInput dateInput [matDatepicker]='toDate' formControlName='toDate' [min]='minToDate' (ngModelChange)='onChangeToDate($event)' (change)='onChangeToDate($event)'>
          <mat-datepicker-toggle matSuffix [for]='toDate'></mat-datepicker-toggle>
          <mat-datepicker #toDate></mat-datepicker>
          <mat-error>
            <app-inline-message [formName]="formSearch.get('toDate')">
            </app-inline-message>
          </mat-error>
          <mat-error
            *ngIf="formSearch.get('toDate').value < minToDate">
            {{'campaign-email-marketing.validate.min-to-date' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-12'>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='search()'>
          <mat-icon>search</mat-icon>
          {{'campaign-email-marketing.search' | translate}}
        </button>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw' (click)='new()'>
          <mat-icon>add</mat-icon>
          {{'campaign-email-marketing.add' | translate}}
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card fxFlex='100' fxFlex.lt-sm='100' style='margin-top: -15px'>
    <form [formGroup]='formImport' class='row card-body'>
      <div class='col-3'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'campaign-email-marketing.campaign-name' | translate}}<span class='text-danger'>*</span></mat-label>
          <mat-select formControlName='name'>
            <mat-option value=''>{{'campaign-resource.select' | translate}}</mat-option>
            <mat-option *ngFor='let item of lstCampaignEmailName' [value]='item.id'>
              {{item.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            <app-inline-message [formName]="formImport.get('name')"></app-inline-message>
          </mat-error>
        </mat-form-field>
      </div>
      <div class='col-3'>
        <mat-form-field class='w-100' appearance='outline'>
          <mat-label>{{'campaign-email-marketing.duplicate-filter' | translate}}</mat-label>
          <mat-select formControlName='duplicateFilter'>
            <mat-option *ngFor='let item of distinct' [value]='item.value'>
              {{item.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class='col-6'>
        <mat-form-field class='w-75' appearance='outline'>
          <mat-label>{{'campaign-email-marketing.file-data' | translate}}<span class='text-danger'>*</span></mat-label>
          <ngx-mat-file-input formControlName='file'
                              [accept]="'application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                              (change)='fileChange()' (ngModelChange)='fileChange()' #removableInput>
          </ngx-mat-file-input>
          <mat-error>
            <app-inline-message [formName]="formImport.get('file')"></app-inline-message>
          </mat-error>
        </mat-form-field>
        <button class='w-25' mat-raised-button color='primary' style='margin-top: -4px;' (click)='downloadTemplate()'
                id='button'>
          <mat-icon>cloud_download</mat-icon>
          {{'campaign-email-marketing.download-template' | translate}}
        </button>
      </div>
      <div class='col-12'>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw'
                (click)='doImport()'>
          <mat-icon>cloud_upload</mat-icon>
          {{'campaign-email-marketing.import' | translate}}
        </button>
        <button mat-raised-button color='primary' type='button' class='mr-2' style='min-width: 7vw'
                (click)='doCancel(); removableInput.clear($event)'>
          {{'campaign-email-marketing.cancel' | translate}}
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card fxFlex='100' fxFlex.lt-sm='100'>
    <div class='row card-body'>
      <div class='col-12'>
        <mtx-grid [showColumnMenuButton]='false' [data]='lst' [columns]='columns'
                  [multiSelectable]='true' [rowHover]='true' [rowStriped]='true' [showToolbar]='false'
                  [columnHideable]='true' [columnMovable]='true' [showPaginator]='true'
                  [pageSizeOptions]='pageSizeList' [loading]='isLoading'
                  [pageIndex]='pageIndex' [pageSize]='pageSize'
                  [headerTemplate]='header1Tpl'
                  [cellTemplate]='{no: templateOrderNumber, name: name, title: title, totalData: totalData, createDateTimeView: createDateTime, options: options}'
                  [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]='false'
                  (page)='onPageChange($event)' [length]='totalRecord'>
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #templateOrderNumber let-row let-index='index'>
            <span>{{index + 1 + pageSize * pageIndex}}</span>
          </ng-template>
          <ng-template #name let-row let-index='index'>
            <span>
              {{row.name.length > 50 ? row.name.substring(0, 50).concat('...') : row.name}}
            </span>
          </ng-template>
          <ng-template #title let-row let-index='index'>
            <span>
              {{row.title.length > 50 ? row.title.substring(0, 50).concat('...') : row.title}}
            </span>
          </ng-template>
          <ng-template #totalData let-row let-index='index'>
            <div class='text-right'>
              <span>{{row.totalData}}</span>
            </div>
          </ng-template>
          <ng-template #createDateTime let-row let-index='index'>
            <div class='text-center'>
              <span>{{row.createDateTimeView}}</span>
            </div>
          </ng-template>
          <ng-template #options let-row let-index='index'>
            <div class='text-center'>
              <button mat-icon-button class='icon-button-small mr-1' color='primary'
                      matTooltip="{{'common.button.edit' | translate}}" (click)='edit(row)'>
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class='icon-button-small mr-1' color='warn'
                      matTooltip="{{'common.button.delete' | translate}}" (click)='delete(row)'>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-template>
        </mtx-grid>
      </div>
    </div>
  </mat-card>
</div>
