<div>
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
          <div class="card-body">
            <div class="row">
              <mat-panel-title>
                {{'campain-script.management-script' | translate}}
              </mat-panel-title>
              <mat-icon style="float: right; cursor: pointer" (click)="closeDialog()">close</mat-icon>
            </div>
          </div>
    </div>

  </div>
  <mat-tab-group  mat-align-tabs = "end" headerPosition="above" [selectedIndex]="2">
    <mat-tab label="{{'campain-script.anwser'|translate}}" [disabled]="d.checkTab">
      <app-campaign-script-anwser [dataAnwser]="d.dataAnswer" [tabType]="1"></app-campaign-script-anwser>
    </mat-tab>
    <mat-tab label="{{'campain-script.question.question'|translate}}">
      <app-campaign-script-question [data]="d.data" [tabType]="2"></app-campaign-script-question>
    </mat-tab>
  </mat-tab-group>
</div>
