<div fxLayout="row wrap" class="matero-row">
  <div fxFlex="25" fxFlex.lt-sm="25" class="matero-col">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-panel-title>
            <mat-icon class="custom-icon" mat-list-icon>assignment</mat-icon>
            <div mat-line>{{'kms-management.title.category'|translate}}</div>
          </mat-panel-title>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-category-tree id="treeComponent" [dataSource]="dataSource" (searchChange)="search()"></app-category-tree>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-1" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-panel-title>
            <mat-icon class="custom-icon" mat-list-icon>assignment</mat-icon>
            <div mat-line>{{'kms-management.title.mostView'|translate}}</div>
          </mat-panel-title>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="custom-list">
        <mat-list-item *ngFor="let post of mostViewPosts" [title]="post?.title" (click)="viewPost(post)">
          <mat-icon mat-list-icon>insert_drive_file</mat-icon>
          <div mat-line><a>{{post?.title}} ({{post?.viewTotal || 0}} Lượt xem) </a></div>
<!--          <div mat-line></div>-->
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-1" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-panel-title>
            <mat-icon class="custom-icon" mat-list-icon>assignment</mat-icon>
            <div mat-line>{{'kms-management.title.newNest'|translate}}</div>
          </mat-panel-title>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="custom-list">
      <mat-list-item *ngFor="let post of newNests" [title]="post?.title" (click)="viewPost(post)">
        <mat-icon mat-list-icon>insert_drive_file</mat-icon>
        <div mat-line><a>{{post?.title}} ({{post?.viewTotal || 0}} Lượt xem) </a></div>
      </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-1" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-panel-title>
            <mat-icon class="custom-icon" mat-list-icon>assignment</mat-icon>
            <div mat-line>{{'kms-management.title.bookmark'|translate}}</div>
          </mat-panel-title>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="custom-list">
      <mat-list-item *ngFor="let post of bookmarks" [title]="post?.title" (click)="viewPost(post)">
        <mat-icon mat-list-icon>insert_drive_file</mat-icon>
        <div mat-line><a>{{post?.title}} ({{post?.viewTotal || 0}} Lượt xem) </a></div>
      </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-1" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-panel-title>
            <mat-icon class="custom-icon" mat-list-icon>assignment</mat-icon>
            <div mat-line>{{'kms-management.title.notApprove'|translate}}</div>
          </mat-panel-title>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="custom-list">
        <mat-list-item *ngFor="let post of notApps; let i = index" [title]="post?.title" (click)="viewPost(post)">
          <mat-icon mat-list-icon>insert_drive_file</mat-icon>
          <div mat-line><a>{{post?.title}} ({{post?.viewTotal || 0}} Lượt xem) </a></div>
        </mat-list-item>
      </mat-nav-list>
      <button class="float-right" mat-raised-button color="primary" style="margin-top: 5px" (click)="viewApprove()"
              type="button">
        Xem
      </button>
    </mat-expansion-panel>
  </div>
  <div fxFlex="75" fxFlex.lt-sm="75" class="matero-col">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="custom-icon" mat-list-icon>assignment</mat-icon>
          <div mat-line>{{'kms-management.title.post'|translate}}</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-post-search (searchChange)="changeSearch($event)" #postSearchComponent></app-post-search>
    </mat-expansion-panel>
  </div>
</div>
