:host ::ng-deep {
  .custom-list {
    .mat-list-item-content {
      padding: unset !important;
    }
    .mat-list-item {
      height: auto !important;
      margin-top: 5px;
      //background: #e6e6e6;
    }
    .mat-list-text {
      padding-left: 5px !important;
    }
  }
  .mat-list-base .mat-list-item .mat-line {
    white-space: normal !important;
  }
  .custom-icon {
    font-size: 19px !important;
  }
  a {
    text-decoration: underline!important;
    color: #2979ff!important;
  }

}
