<div fxLayout="row wrap" class="matero-row cp-brand-search">
    <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <h2>{{'Thay đổi trạng thái' | translate}}</h2>

                <form>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 btn-group">
                                <button mat-raised-button color="primary" class="mr-2" type="reset" (click)="close()">
                  {{'common.button.cancle' | translate}}</button>
                                <button mat-raised-button color="primary" class="mr-2" type="submit" (click)="delete()">
                  {{'common.button.ok' | translate}}</button>

                            </div>
                        </div>
                    </div>
                </form>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>