<div fxLayout='row wrap' class='matero-row'>
  <div fxFlex='100' fxFlex.lt-sm='100'>
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>assignment</mat-icon>
        <span class="card-title-font">{{'evaluate-call.call-info.title' | translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class='row'>
          <div class='col-12'>
            <mat-card>
              <div class="row">
                <div class="col-6">
                  <div style="float: right; width: fit-content">
                    <audio controls id="audio">
                    </audio>
                    <p style="color: #007bff; text-align: center">
                      Chuột phải -> Chọn Save audio as... để tải về
                    </p>
                  </div>
                </div>
                <div class="col-6" style="margin-top: 12px">
                  <div><strong>{{'evaluate-call.call-info.title'|translate}}:</strong>&nbsp;<span>Gọi ra ngày ghi âm 2021-12-12</span>
                  </div>
                  <div><strong>{{'evaluate-call.call-info.time'|translate}}
                    :</strong>&nbsp;<span>2021-12-12 00:00:00</span></div>
                </div>
              </div>
            </mat-card>
          </div>
          <div class='col-2_4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.call-info.evaluater'|translate}}</mat-label>
              <input matInput type="text" [value]="evaluateResult?.evaluaterName" disabled/>
            </mat-form-field>
          </div>
          <div class='col-2_4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.call-info.channel'|translate}}</mat-label>
              <input matInput type="text" [value]="evaluateResult?.channelName" disabled/>
            </mat-form-field>
          </div>
          <div class='col-2_4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.call-info.duration'|translate}}</mat-label>
              <input matInput type="number" [value]="evaluateResult?.durations" disabled/>
            </mat-form-field>
          </div>
          <div class='col-2_4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.call-info.phone'|translate}}</mat-label>
              <input matInput type="text" [value]="evaluateResult?.phoneNumber" disabled/>
            </mat-form-field>
          </div>
          <div class='col-2_4'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.call-info.evaluated'|translate}}</mat-label>
              <input matInput type="text" [value]="evaluateResult?.evaluatedName" disabled/>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex='100' fxFlex.lt-sm='100'>
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>assignment</mat-icon>
        <span class="card-title-font">{{'evaluate-call.criteria.title'|translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12 text-center mb-3">
            <mat-accordion>
              <strong>{{'evaluate-call.criteria.total-score'|translate}}:</strong>&nbsp;<strong
              style="color: orangered">{{evaluateResult?.totalScores}}/{{totalScoreLimit}}</strong>
            </mat-accordion>
            <mat-divider></mat-divider>
          </div>
          <div class="col-12 mb-3" *ngFor="let group of criteriaGroupList"
               (click)="scrollToCriteria(group.id.toString())">
            <div class="btn-link" style="width: fit-content">
              {{group.name}}:&nbsp;{{group.score ? group.score : 0}}
              /{{group.scores}}&nbsp;{{'evaluate-call.criteria.score'|translate}}
            </div>
          </div>
        </div>
        <table class='w-100 customers'>
          <ng-container *ngFor='let group of criteriaGroupList; let i= index;'>
            <tr style="background: #97ef84" [id]="group.id.toString()">
              <td>
              </td>
              <td colspan="2"><strong>{{group.name}}</strong></td>
              <td class="text-center"><strong>{{'evaluate-call.criteria.total-score'|translate}}:</strong>&nbsp;<strong
                style="color: orangered">{{group.score ? group.score : 0}}/{{group.scores}}</strong></td>
              <td class="text-center"></td>
            </tr>
            <ng-container *ngFor='let criteria of group.lstCriteriaDTO; let j= index;'>
              <tr style="background: #e5f9dd">
                <td class="text-center"><strong>{{j + 1}}.</strong></td>
                <td colspan="2">{{criteria.name}}</td>
                <td class="text-center"><strong>{{'evaluate-call.criteria.score'|translate}}:</strong>&nbsp;<strong
                  style="color: orangered">{{criteria.score ? criteria.score : 0}}/{{criteria.scores}}</strong></td>
                <td></td>
              </tr>
              <ng-container *ngFor='let item of criteria.criteriaDetailDTOList; let k= index;'>
                <tr>
                  <td class="text-center" style="width: 5%"></td>
                  <td class="text-center" style="width: 5%">
                    <mat-checkbox [(ngModel)]="item.checked" (change)="onCheckCriteria(item, criteria, group)">
                    </mat-checkbox>
                  </td>
                  <td style="width: 40%">
                    <div style="display: flex; margin-top: 25px">
                      <div>{{k + 1}}.&nbsp;</div>
                      <p [innerHTML]="item.content"></p>
                    </div>
                  </td>
                  <td class="text-center" style="width: 20%">
                    {{item.scores}}&nbsp;{{'evaluate-call.criteria.score'|translate}}
                  </td>
                  <td style="width: 30%">
                    <textarea matInput
                              style="padding: 2px 4px; border: solid 1px rgba(0, 0, 0, 0.12) !important; border-radius: 4px"
                              maxlength="1000" [(ngModel)]="item.note">
                    </textarea>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex='100' fxFlex.lt-sm='100'>
    <mat-card>
      <mat-card-header class="card-header-custom">
        <mat-icon>assignment</mat-icon>
        <span class="card-title-font">{{'evaluate-call.rating.title'|translate}}</span>
      </mat-card-header>
      <mat-card-content>
        <div class='row'>
          <div class='col-lg-3 col-md-3 col-sm-6'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.rating.rating'|translate}}</mat-label>
              <mat-select [(ngModel)]="evaluateResult.criteriaRatingId" disabled>
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of criteriaRatingList' [value]='item.id'>{{item.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-md-3 col-sm-6'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.rating.score'|translate}}</mat-label>
              <input matInput type="text" [value]="evaluateResult.totalScores" disabled/>
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-md-3 col-sm-6'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.rating.error-1'|translate}}</mat-label>
              <mat-select [(ngModel)]="evaluateResult.error1">
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of specializeList' [value]='item.code'>{{item.groupName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class='col-lg-3 col-md-3 col-sm-6'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.rating.error-2'|translate}}</mat-label>
              <mat-select [(ngModel)]="evaluateResult.error2">
                <mat-option>{{'common.select.select' | translate}}</mat-option>
                <mat-option *ngFor='let item of majorList' [value]='item.code'>{{item.groupName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class='col-12'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.rating.content'|translate}}</mat-label>
              <textarea matInput rows="4" [(ngModel)]="evaluateResult.content" maxlength="2000"></textarea>
            </mat-form-field>
          </div>
          <div class='col-12'>
            <mat-form-field appearance='outline' class='w-100'>
              <mat-label>{{'evaluate-call.rating.suggest'|translate}}</mat-label>
              <textarea matInput rows="4" [(ngModel)]="evaluateResult.suggest" maxlength="2000"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 text-center">
          <button mat-raised-button (click)="onGoBack()" class="mr-2">{{'common.button.back'|translate}}</button>
          <button mat-raised-button color="primary" (click)="doRedo()" *ngIf="evaluateResult">{{'common.button.evaluate'|translate}}</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
