<div fxLayout="row wrap" class="matero-row call-information-for-evaluation">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-1">search</mat-icon>
            {{ 'call_info_evaluation.call_info_search' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form class="card-body" [formGroup]="form">
          <div class="row">
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>{{ 'search_work_list.column.reception' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="channelId">
                <mat-option [value]="1">{{"evaluate-assignment.in-call"|translate}}</mat-option>
                <mat-option [value]="2">{{"evaluate-assignment.out-call"|translate}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>{{ 'campaign_perform_information.Operator' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="operator">
                <mat-option *ngFor="let item of lstAccountTDV"
                            [value]="item['id']">{{item["fullName"]}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>{{ 'campaign_perform_information.phone_number' | translate }}</mat-label>
              <input matInput autocomplete="off" type="number" formControlName="phoneNumber">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>{{ 'call_info_evaluation.call_duration' | translate }}</mat-label>
              <input matInput autocomplete="off" type="number" formControlName="callDuration">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>{{ 'campaign_perform_information.calling_date_from' | translate }}</mat-label>
              <input [readonly]="true"
                     formControlName="startDate"
                     matInput
                     [matDatepicker]="fromDate"
              >
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-md-3">
              <mat-label>{{ 'campaign_perform_information.calling_date_to' | translate }}</mat-label>
              <input [readonly]="true"
                     formControlName="endDate"
                     matInput
                     [matDatepicker]="toDate"
              >
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="row text-center">
            <div class="col-md-12" style="margin-top: 3.5px">
              <button (click)="search()" class="btn btn-primary mr-3">
                {{"Search"|translate}}
              </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="mr-1">list_alt
            </mat-icon>
            {{ 'call_info_evaluation.call_duration' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="col-12">
          <mtx-grid [showColumnMenuButton]="false"
                    [data]="lstSource"
                    [columns]="columns"
                    [rowHover]="true"
                    [toolbarTitle]="'filter.listKeyWord' | translate | uppercase"
                    [pageSizeOptions]="pageSizeList"
                    [pageIndex]="0"
                    [pageSize]="pageSize"
                    [headerTemplate]="header1Tpl"
                    [noResultText]="'common.notify.no-record-result' | translate"
                    [pageOnFront]="false"
                    (page)="onPageChange($event)"
                    [length]="totalPage"
                    [cellTemplate]="{
                    no: index, evaluateStatus: evaluateStatusTpl
                    }"
                    style="text-align: center">
          </mtx-grid>
          <ng-template #header1Tpl let-header>
            <div>
              {{header.i18n | translate}}
            </div>
          </ng-template>
          <ng-template #index let-row let-index="index">
            <div>
              <span>{{index + 1}}</span>
            </div>
          </ng-template>
          <ng-template #evaluateStatusTpl let-row>
            <div class='text-center'>
              <button mat-icon-button color="primary" aria-label=""
                      matTooltip="{{'evaluate-assignment.update-button' | translate}}" (click)="doEvaluate(row)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </ng-template>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
