<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <form class="row card-body" [formGroup]="reportDetailForm">
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'cp-ticket.no-process-and-processing-ticket.column.chanelType' | translate }}</mat-label>
              <mat-select class="w-100" formControlName="channel">
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let data of chanelTypes" [value]="data?.code">
                  {{data?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'cp-ticket.no-process-and-processing-ticket.column.phoneNumber' | translate }}</mat-label>
              <input matInput formControlName="phone" type="text" [maxLength]="15">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'cp-ticket.no-process-and-processing-ticket.column.email' | translate }}</mat-label>
              <input matInput formControlName="emails" type="email">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'cp-ticket.no-process-and-processing-ticket.column.userName' | translate }}</mat-label>
              <input matInput formControlName="receiveUser" type="text" [maxLength]="255" trim="blur">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'cp-ticket.no-process-and-processing-ticket.column.idCode' | translate }}</mat-label>
              <input matInput formControlName="idCode" [maxLength]="12">
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'cp-ticket.no-process-and-processing-ticket.column.fromDate' | translate }}</mat-label>
              <input [readonly]="true" matInput [matDatepicker]="fromDate" formControlName="fromDate"
                [max]="reportDetailForm.value.toDate || today">
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
              <mat-error>
                <app-inline-message-advance [formName]="reportDetailForm.controls.fromDate"
                  [message]="'cp-ticket.no-process-and-processing-ticket.column.fromDate'"></app-inline-message-advance>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'cp-ticket.no-process-and-processing-ticket.column.toDate' | translate }}</mat-label>
              <input [readonly]="true" matInput [matDatepicker]="toDate" formControlName="toDate"
                [min]="reportDetailForm.value.fromDate " [max]="today">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
              <mat-error>
                <app-inline-message-advance [formName]="reportDetailForm.controls.toDate"
                  [message]="'cp-ticket.no-process-and-processing-ticket.column.toDate'"></app-inline-message-advance>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{'cp-ticket.no-process-and-processing-ticket.column.ticketStatus'|translate}}</mat-label>
              <mat-select class="w-100" formControlName="status" >
                <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                <mat-option *ngFor="let item of ticketStatusCombobox" [value]="item.code">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12">
            <button mat-raised-button color="primary" class="mr-2" type="button" (click)="search(true)">
              {{'common.button.search' | translate}}
            </button>
            <button mat-raised-button color="primary" class="mr-2" type="button" (click)="export()">
              {{'common.button.exportExcel' | translate}}
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'cp-ticket.no-process-and-processing-ticket.title' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mtx-grid [showColumnMenuButton]="false" [data]="data" [columns]="columns" [multiSelectable]="true"
          [rowHover]="true" [rowStriped]="true" [showToolbar]="false"
          [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true" [columnMovable]="true"
          [showPaginator]="true" [pageSizeOptions]="pageSizeList" [loading]="isLoading" [pageIndex]="offset"
          [pageSize]="pagesize" [headerTemplate]="header1Tpl"
          [cellTemplate]="{index: templateOrderNumber, ticketCode: ticketTemplate, ticketRequestStatus: processStatusTpl}"
          [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
          (page)="onPageChange($event)" [length]="total" style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #templateOrderNumber let-row let-index="index">
          <div class="text-center">{{index + 1 + offset * pagesize}}</div>
        </ng-template>
        <ng-template #ticketTemplate let-row let-index="index">
          <a (click)="navigate(row?.ticketId)">{{row.ticketCode}}</a>
        </ng-template>
        <ng-template #processStatusTpl let-row let-index="index">
          <div >{{row.ticketRequestStatus==="1"?('cp-ticket.no-process-and-processing-ticket.processing-time'|translate):('cp-ticket.no-process-and-processing-ticket.processing-overdue'|translate)}}</div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>