<mat-card>
  <mat-card-header>
    <h5>{{'campaign_sms_resource.name'|translate}}</h5>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion [formGroup]="searchForm">
      <mat-expansion-panel [expanded]="true">
        <div class="row" style="padding-top: 10px">
          <div class="col-md-3"><b>{{'campaign_email_resource.campaign'|translate}}</b></div>
          <div class="col-md-3"><b>{{'campaign_email_resource.sendStatus'|translate}}</b></div>
          <div class="col-md-3"><b>{{'campaign_email_resource.sendDate'|translate}}</b></div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100 h-50">
              <mat-select class="w-100" formControlName="campaignSmsMarketingId">
                <mat-option [value]="null">{{'common.select'|translate}}</mat-option>
                <mat-option *ngFor="let sms of lstSmsMarketing" [value]="sms.id">{{sms.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100 h-50">
              <mat-select class="w-100" formControlName="status">
                <mat-option [value]="null">{{'common.select'|translate}}</mat-option>
                <mat-option *ngFor="let status of lstStatus" [value]="status.value">{{status.label}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100 h-50">
              <input matInput [matDatepicker]='date' formControlName='sendDate' readonlys>
              <mat-datepicker-toggle matSuffix [for]='date'></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12">
          <button mat-raised-button style="background-color: #28a745;color: white" class="mr-2"
                  type="button" (click)="search()">
            {{'common.button.search' | translate}}
          </button>
          <button mat-raised-button style="background-color: #0b5ed7;color: white" class="mr-2"
                  type="button" (click)="save()">
            {{'campaign_sms_resource.sendSms' | translate}}
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout="row wrap" class="matero-row cp-brand-search">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>list_alt</mat-icon>&nbsp;{{'campaign_blacklist.searchResult'|translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mtx-grid [showColumnMenuButton]="false" [data]="lstCampaignSmsResource"
                      [columns]="campaignSmsResourceTable"
                      [multiSelectable]="true" [rowHover]="true" [showToolbar]="false"
                      [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                      [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                      [loading]="isLoading" [pageIndex]="0" [pageSize]="pageSize"
                      [headerTemplate]="header1Tpl"
                      [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                      (page)="onPageChange($event)" style="text-align: center; width: 100%"
                      [cellTemplate]="{no: templateOrderNumber,options:button,sendDate: sendDate,sendStatus:sendStatus}"
                      [rowSelectable]="true" (rowSelectionChange)="onRowSelect($event)" [length]="total">
            </mtx-grid>
            <ng-template #header1Tpl let-header>
              <div>
                {{header.i18n | translate}}
              </div>
            </ng-template>
            <ng-template #templateOrderNumber let-row let-index='index'>
              <span>{{index + 1 + pageSize * pageIndex}}</span>
            </ng-template>
            <ng-template #button let-row let-index="index">
              <button [disabled]="row.sendStatus==='2'" mat-button color="primary" title="{{'Delete'|translate}}"
                      (click)="delete(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
            <ng-template #sendStatus let-row let-index="index">
              <div *ngIf="row.sendStatus">
                <span>{{row.sendStatus|valueToText:lstStatus:'label':'value'}}</span>
              </div>
            </ng-template>
            <ng-template #sendDate let-row let-index="index">
              <div *ngIf="row.sendDate">
                <span>{{row.sendDate | date : 'dd/MM/yyyy'}}</span>
              </div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
</mat-card>
