<button mat-icon-button class="matero-toolbar-button" [matMenuTriggerFor]="menu" [ngSwitch]="langSelected">
    <mat-icon svgIcon="ic_TiengViet" *ngSwitchCase="'vi-VN'"></mat-icon>
    <mat-icon svgIcon="ic_TiengAnh" *ngSwitchCase="'en-US'"></mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let lang of langs | keyvalue" (click)="useLanguage(lang.key)" [ngSwitch]="lang.key">
        <mat-icon svgIcon="ic_TiengViet" *ngSwitchCase="'vi-VN'"></mat-icon>
        <mat-icon svgIcon="ic_TiengAnh" *ngSwitchCase="'en-US'"></mat-icon>
        <span>{{ lang.value | translate }} </span>
    </button>
</mat-menu>
