<button mat-button class="matero-toolbar-button matero-avatar-button" href="javascript:void(0)"
    [matMenuTriggerFor]="menu">
    <img class="matero-avatar" src="assets/images/avatar.jpg" width="32" alt="avatar" />
    <span class="matero-username" fxHide.lt-sm>{{userName}}</span>
</button>

<mat-menu #menu="matMenu">
    <a [routerLink]="['/profile']" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>{{ 'user.management.profile' | translate }}</span>
    </a>
    <a [routerLink]="['/change-password']" mat-menu-item>
        <mat-icon>lock</mat-icon>
        <span>{{ 'common.changePassword' | translate }}</span>
    </a>
    <a (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'user.logout' | translate }}</span>
    </a>
</mat-menu>