/* You can add global styles to this file, and also import other style files */
@import 'styles/themes';
@import 'styles/grid';
@import 'styles/helpers';
@import 'styles/plugins';
@import 'styles/custom';
@import "~bootstrap/dist/css/bootstrap.css";

.mat-error-custom {
  font-size: 12px;
  padding: 0px 12px;
  color: red;
  margin-top: -10px;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}

.close-dialog {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  border-left: 1px solid rgba(0, 0, 0, .15);
}

.mat-header-cell-inner {
  display: flex;
  justify-content: center;
}

.mat-cell {
  border-left: 1px solid rgba(0, 0, 0, .15);
}

.update-dialog {
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #807f7f;
}

.sms-custom-button {
  margin-bottom: 10px !important;
  margin-right: 25px !important;
}

mtx-grid {
  th, td {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
  }
}

.mat-dialog-container {
  padding: 0px !important;
}

.custom-title {
  position: absolute;
  padding-top: 4px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
}

.icon-close {
  position: absolute;
  right: 0;
  margin-right: 15px;
  cursor: pointer;
}

.notification {
  width: 420px !important;
  max-width: unset !important;
  max-height: 36vh !important;
}

.mat-paginator-outer-container > .mat-paginator-container {
  justify-content: flex-end !important;
}

.mat-nested-tree-node ul {
  margin-left: 18px !important;
  border-left: 1px dashed #8a8484;
  padding-left: 10px;
}

.filename {
  font-size: 16px;
  font-weight: normal;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.font-16px {
  font-size: 16px;
}

.card-title-font {
  margin-left: 4px;
  display: flex;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.card-header-custom {
  padding: 10px 0 !important;
}
