<mat-card>
  <mat-card-header>
    <div class="row justify-content-center">
      <h5 style="text-align: center">{{'campaign_blacklist.title'|translate}}</h5>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <div class="row">
          <div class="col-md-6">
            <h6>{{'campaign_blacklist.campaignId'|translate}}</h6>
          </div>
          <div class="col-md-6">
            <h6 style="display: inline">{{'campaign_blacklist.phoneNumber'|translate}}</h6><span
            style="display: inline;color: red">(cách nhau bởi ,)</span>
          </div>
        </div>
        <div class="row" [formGroup]="campaignBlackListForm">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <mat-form-field appearance="outline" class="w-100 h-50">
                  <mat-select class="w-100" formControlName="campaignId">
                    <mat-option [value]="null">{{'common.select'|translate}}</mat-option>
                    <mat-option *ngFor="let campaign of lstCampaign"
                                [value]="campaign.id">{{campaign.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <app-inline-message [formName]="campaignBlackListForm.get('campaignId')"
                                    [message]="'campaign_blacklist.campaignId'|translate"></app-inline-message>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="example-full-width" class="w-75 h-50">
              <input matInput type="text" placeholder="Nhập số điện thoại" formControlName="phoneNumber">
            </mat-form-field>
            <app-inline-message [formName]="campaignBlackListForm.get('phoneNumber')"
                                [message]="'campaign_blacklist.phoneNumber'|translate"></app-inline-message>
          </div>
        </div>
        <div class="col-12">
          <button mat-raised-button color="primary" class="mr-2"
                  type="button" (click)="search()">
            {{'common.button.search' | translate}}
          </button>
          <button mat-raised-button color="warn" class="mr-2"
                  type="button" (click)="deleteAll()">
            {{'common.button.delete' | translate}}
          </button>
          <button mat-raised-button style="background-color: #28a745;color: white" class="mr-2"
                  type="button" (click)="save()">
            {{'common.add' | translate}}
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout="row wrap" class="matero-row cp-brand-search">
      <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>list_alt</mat-icon>&nbsp;{{'campaign_blacklist.searchResult'|translate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mtx-grid [showColumnMenuButton]="false" [data]="lstCampaignBlackList" [columns]="campaignBlackListTable"
                      [multiSelectable]="true" [rowHover]="true" [showToolbar]="false"
                      [toolbarTitle]="'filter.listKeyWord' | translate | uppercase" [columnHideable]="true"
                      [columnMovable]="true" [showPaginator]="true" [pageSizeOptions]="pageSizeList"
                      [loading]="isLoading"  [pageIndex]="0" [pageSize]="pagesize"
                      [headerTemplate]="header1Tpl"
                      [noResultText]="'common.notify.no-record-result' | translate" [pageOnFront]="false"
                      (page)="onPageChange($event)" [length]="100" style="text-align: center; width: 100%"
                      [cellTemplate]="{no: templateOrderNumber,createDate: createDate,campaignId:campaignId}"
                      [rowSelectable]="true" (rowSelectionChange)="onRowSelect($event)" [length]="total">
            </mtx-grid>
            <ng-template #header1Tpl let-header>
              <div>
                {{header.i18n | translate}}
              </div>
            </ng-template>
            <ng-template #templateOrderNumber let-row let-index='index'>
              <span>{{index + 1 + pagesize * offset}}</span>
            </ng-template>
            <ng-template #campaignId let-row let-index="index">
              <div *ngIf="row.campaignId">
                <span>{{row.campaignId|valueToText:lstCampaign:'name':'id'}}</span>
              </div>
            </ng-template>
            <ng-template #createDate let-row let-index="index">
              <div *ngIf="row.createDate">
                <span>{{row.createDate | date : 'dd-MM-yyyy hh:mm'}}</span>
              </div>
            </ng-template>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
</mat-card>
