<mat-card>
  <mat-card-header>
    <mat-icon>list_alt</mat-icon>
    <h5>{{'send_email_one.sendEmail'|translate}}</h5>
  </mat-card-header>
  <mat-card-content [formGroup]="sendEmailForm">
    <div class="row">
      <div class="col-md-6">
        <h6>{{'send_email_one.title'|translate}}<span style="color: red">(*)</span></h6>
        <mat-form-field class="example-full-width" class="w-100">
          <input matInput type="text" formControlName="title">
        </mat-form-field>
        <app-inline-message [formName]="sendEmailForm.get('title')"
                            [message]="'send_email_one.title'|translate"></app-inline-message>
        <h6>To<span style="color: red">(*)</span></h6>
        <mat-form-field class="example-full-width" class="w-100">
          <input matInput type="text" formControlName="email">
        </mat-form-field>
        <app-inline-message [formName]="sendEmailForm.get('email')"
                            [message]="'To'|translate"></app-inline-message>
        <h6>CC</h6>
        <mat-form-field class="example-full-width" class="w-100">
          <input matInput type="text" formControlName="ccEmail">
        </mat-form-field>
        <h6>BCC</h6>
        <mat-form-field class="example-full-width" class="w-100">
          <input matInput type="text" formControlName="bccEmail">
        </mat-form-field>
        <h6>{{'send_email_one.content'|translate}}<span style="color: red">(*)</span></h6>
        <ckeditor tagName="textarea" [editor]="editor" formControlName="content" data="<p>Hello, world!</p>"></ckeditor>
        <app-inline-message [formName]="sendEmailForm.get('content')"
                            [message]="'send_email_one.content'|translate"></app-inline-message>
      </div>
    </div>
    <button mat-raised-button style="margin-top: 10px" color="primary" class="mr-2"
            type="button" (click)="sendEmail()">
      {{'send_email_one.sendEmail' | translate}}
    </button>
  </mat-card-content>
</mat-card>
