<div fxLayout='row wrap' class='matero-row'>
  <div fxLayout='row wrap' fxFlex='100' fxFlex.lt-sm='100' class='title_cus'>
    <mat-icon>receipt_long</mat-icon>&nbsp;{{"Blacklist_sending_emails"|translate}}
  </div>
  <div fxFlex='100' fxFlex.lt-sm='100'>
    <div fxFlex='30' fxFlex.lt-sm='100'>
      <mat-card style='min-height: 30vh; max-height: 30vh'>
        <mat-accordion>
          <div class='card-body'>
            <div class="row form-group">
              <div class="col-md-12">
                <mat-icon class="ml-3">backup</mat-icon>
                <label class='custom-title'>{{'campaign-resource.upload-title' | translate}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'email_blacklist.File' | translate }} *</mat-label>
                  <ngx-mat-file-input multiple (change)="changeFileUpload($event)"
                                      accept=".xlsx, .xls"></ngx-mat-file-input>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button (click)="uploadFile()" type="submit" mat-raised-button class="mr-3" color="primary">
                  {{"email_blacklist.Upload"|translate}}
                </button>
                <button mat-raised-button type="button" (click)="downloadTemplate()" color="primary">
                  {{"email_blacklist.Get_sample_files_file"|translate}}
                </button>
              </div>
            </div>
          </div>
        </mat-accordion>
      </mat-card>
    </div>
    <form [formGroup]="searchForm" #form="ngForm" fxFlex='70' fxFlex.lt-sm='100'>
      <mat-card style='min-height: 30vh; max-height: 30vh'>
        <mat-accordion>
          <div class='card-body'>
            <div class="row form-group">
              <div class="col-md-12">
                <mat-icon class="ml-3">edit</mat-icon>
                <label class='custom-title'>{{'email_blacklist.Enter_the_emailing_blacklist' | translate}}</label>
              </div>
            </div>
            <div class="row">
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{ 'email_blacklist.Campaign' | translate }} *</mat-label>
                <mat-select class="w-100" formControlName="campaignEmailId">
                  <mat-option [value]="null">{{'common.select.select'| translate}}</mat-option>
                  <mat-option *ngFor="let item of lstCampaignEmailMarketing"
                              [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="searchForm.controls['campaignEmailId'].invalid">
                  {{searchForm.controls['campaignEmailId']|formErrorMessage: ('email_blacklist.Campaign'|translate)}}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Email *</mat-label>
                <input matInput formControlName="email" type="email">
                <mat-error
                  *ngIf="searchForm.controls['email'].invalid">{{searchForm.controls['email']|formErrorMessage: 'Email' }}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>{{ 'email_blacklist.Full_name' | translate }}</mat-label>
                <input matInput formControlName="fullName">
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <button (click)="search(true)" type="button" color="primary" mat-raised-button class="mr-3">
                  {{"Search"|translate}}
                </button>
                <button (click)="create()" type="submit" mat-raised-button class="mr-3" color="primary">
                  {{"Add_new"|translate}}
                </button>
                <button class="mr-3" (click)="export()" type="button" mat-raised-button color="primary">
                  {{"Export_excel"|translate}}
                </button>
              </div>
            </div>
          </div>
        </mat-accordion>
      </mat-card>
    </form>
  </div>
</div>
<div fxLayout="row wrap" class="matero-row cp-brand-search">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>list_alt</mat-icon>&nbsp;{{ 'email_blacklist.Search_results' | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mtx-grid [data]="lstCampaignEmailBlackList"
                  [columns]="columns"
                  [rowHover]="true"
                  [pageSizeOptions]="pageSizeList"
                  [loading]="isLoading"
                  [pageIndex]="0"
                  [pageSize]="pageSize"
                  [headerTemplate]="header1Tpl"
                  [noResultText]="'common.notify.no-record-result' | translate"
                  [pageOnFront]="false"
                  (page)="onPageChange($event)"
                  [length]="totalPage"
                  [cellTemplate]="{no: index, options: button, time: createTime}"
                  style="text-align: center">
        </mtx-grid>
        <ng-template #header1Tpl let-header>
          <div>
            {{header.i18n | translate}}
          </div>
        </ng-template>
        <ng-template #index let-row let-index="index">
          <div>
            <span>{{index + 1 + page * pageSize}}</span>
          </div>
        </ng-template>
        <ng-template #button let-row let-index="index">
          <button mat-button color="warn" title="{{'Delete'|translate}}" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
        <ng-template #createTime let-row let-index="index">
          {{row.createDateTime |date: 'dd-MM-yyyy HH:mm:ss'}}
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
